azure-core
azure-identity
certifi
cffi
charset-normalizer
cryptography
Django
django-csp
django-extensions
django-mailer
django-simple-history
django-widget-tweaks
djangorestframework
dnspython
et-xmlfile
idna
josepy
lockfile
mozilla-django-oidc
msal
msal-extensions
msgraph-core
numpy
openpyxl
pandas
portalocker
py-topping
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
python-dateutil
python-ldap
pytz
#pywin32
requests
simplejson
six
sqlparse
typing_extensions
tzdata
urllib3
xlrd
Office365-REST-Python-Client
