asgiref==3.3.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
cryptography==3.2
Django==2.2.21
django-csp==3.5
django-debug-permissions==1.0.0
django-extensions==2.2.5
django-mailer==2.0
django-simple-history==2.7.3
django-widget-tweaks==1.4.8
djangorestframework==3.10.3
dnspython==1.16.0
idna==2.8
josepy==1.2.0
lockfile==0.12.2
mailer==0.8.1
mozilla-django-oidc==1.2.2
msal==1.6.0
numpy==1.18.3
Office365-REST-Python-Client==2.3.0.1
pandas==1.0.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
python-dateutil==2.8.1
python-ldap==3.2.0
pytz==2019.3
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
xlrd==1.2.0
