{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">System- og behandlingsoversikt for Oslo kommune</a></h1>
{% endblock %}

{% block nav-global %}
<style>

#header {
	background-color: #000;
}
.selector-chosen h2 {
	background: #112233;
}
.module caption {
	background-color: #202020;
	filter: invert(100%);
}
div.breadcrumbs {
	background-color: #202020;
}
body {
	padding-bottom: 50px;
}

.submit-row {
	position: fixed;
	width: 90%;
	max-width: 960px;
	bottom: 15px;
	border: 1px solid #e3e3e3;
	margin: 0 0 10px;
}

</style>




{% endblock %}