{% load static %}

<table class="table table-sm table-striped">
<thead>
<tr>
	<th></th>
	<th>Systemnavn</th>
	<th>Systembruk</th>
	<th>Systemtyper</th>
	<th>Tjenestenivå</th>
	<th>Systemeier</th>
	<th>Systemforvalter</th>
	<th>Systemeierskap</th>

	{% if perms.systemoversikt.change_system %}
	<th>Sikkerhetsnivå</th>
	<th>Livsløp</th>
	<th>Strategisk</th>
	<th></th>
	{% endif %}

</tr>
</thead>
<tbody>
{% for item in systemer %}
<tr>
	<td><a target="_blank" href="/admin/systemoversikt/system/{{ item.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>

	{% url "systemdetaljer" item.pk as url_systemdetaljer %}
	<td><a href="{{ url_systemdetaljer }}">{{ item.systemnavn }}</a></td>

	<td>{{ item.systembruk_system.count }}</td>

	<td>{% for systemtype in item.systemtyper.all %}<p>{{ systemtype }}</p>{% endfor %}</td>


	<td>{{ item.get_tjenestenivaa_display|default:'' }}</td>

	{% url "virksomhet" item.systemeier.pk as url_systemeier %}
	<td><a href="{{ url_systemeier }}">{{ item.systemeier.virksomhetsforkortelse|default:"" }}</a></td>

	{% url "virksomhet" item.systemforvalter.pk as url_systemforvalter %}
	<td><a href="{{ url_systemforvalter }}">{{ item.systemforvalter.virksomhetsforkortelse|default:"" }}</a></td>

	<td>{{ item.get_systemeierskapsmodell_display|default:"" }}</td>

		{% if perms.systemoversikt.change_system %}
	<td>{{ item.get_sikkerhetsnivaa_display|default:"" }}</td>
	<td>{{ item.get_livslop_status_display|default:"" }}</td>
	<td>{{ item.get_strategisk_egnethet_display|default:"" }}</td>
	<td><a target="_blank" href="/admin/systemoversikt/system/{{ item.pk }}/delete/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
		{% endif %}


</tr>
{% endfor %}
</tbody>
</table>
