{% extends "index.html" %}
{% load templatetags %}

{% block main_content %}

	<h4><img style="width: 25px;" src="/static/open-iconic/svg/circle-x.svg" alt="Kvalitet verifisert"> Denne informasjonen er beskyttet</h4>

	{% if not request.user.is_authenticated %}
		<p>Du er ikke logget inn. Fint om du logger på, så skal vi se om du har tilgang til dette!</p>

	{% else %}

		<p><i>Du mangler nødvendige tilganger for å se denne siden.<br>
		Tilgangsstyring skjer enten via IDA, eller ved at en virskomhetsadministrator har angitt deg som forvalter på et system eller angitt deg i en rolle knyttet til IKT, sikkerhet eller personvern.</i></p>

		{% for p in required_permissions %}
			{% group_from_permission p as groups %}
			{% for g in groups %}
				<li>{{ g }}</li>
			{% endfor %}
		{% endfor %}

		<br>

		Se <a href="{% url 'roller' %}">informasjonsside om rettigheter</a> for ytterligere detaljer om hva du trenger av tilganger i IDA.<br>


		<hr>
		{% if required_permissions %}
			Du manglet følgende rettigheter for å se denne siden:
				{% for p in required_permissions %}
				<li>{{ p }}</li>
				{% endfor %}
		{% endif %}
		<hr>
		{% if groups %}
			Dette er tilgangene du har:
				{% for group in groups.all %}
					<li>{{ group }}</li>
				{% empty %}
					<li>Ingen</li>
				{% endfor %}
		{% endif %}



	{% endif %}




{% endblock %}