{% extends "index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block underoverskrift %}
	Detaljer for bruker i AD
{% endblock underoverskrift %}

{% block main_content %}

{% for user in users %}

	<div class="card card-body">
		<h5>{{ user.attrs.displayName.0 }} ({{ user.attrs.cn.0 }})</h5>
		<p>Canonical Name: <br>{{ user.cn }}</p>
		<p>sAMAccountName:<br>{{ user.sAMAccountName}}</p>
		<p>ObjectClass: <br>{% for item in user.attrs.objectClass %} {{ item }} | {% endfor %}</p>
		<p>Brukernavn: {% for item in user.attrs.cn %} <br>{{ item }} {% endfor %}</p>
		<p>Fornavn: {% for item in user.attrs.givenName %} <br>{{ item }} {% endfor %}</p>
		<p>Etternavn: {% for item in user.attrs.sn %} <br>{{ item }} {% endfor %}</p>
		<p>Visningsnavn: {% for item in user.attrs.displayName %} <br>{{ item }} {% endfor %}</p>
		<p>Tittel: {% for item in user.attrs.title %} <br>{{ item }} {% endfor %}</p>
		<p>Beskrivelse: {% for item in user.attrs.description %} <br>{{ item }} {% endfor %}</p>
		<p>E-post: {% for item in user.attrs.mail %} <br>{{ item }} {% endfor %}</p>
		<p>Telefon mobile: {% for item in user.attrs.mobile %} <br>{{ item }} {% endfor %}</p>
		<p>Telefon other: {% for item in user.attrs.otherMobile %} <br>{{ item }} {% endfor %}</p>
		<p>Antall pålogginger: {% for item in user.attrs.logonCount %} <br>{{ item }} {% endfor %}</p>
		<p>Sist login: {% for item in user.attrs.lastLogonTimestamp %} <br>{{ item }} ({{ item|naturaltime }}) {% endfor %}</p>
		<p>Brukerkontotype: {% for item in user.attrs.userAccountControl %} <br>{{ item }} {% endfor %}</p>
		<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
			data-target="#collapse_{{ forloop.counter0 }}"
			aria-expanded="false"
			aria-controls="collapse_{{ forloop.counter0 }}">
			Tilgangsgrupper
		</button>
		<div class="collapse" id="collapse_{{ forloop.counter0 }}">
			<br>
			<ol>
			{% for item in user.attrs.memberOf %}
				<li>
				{% url 'ad_group_details' group=item.group as url_group %}
				<a target="_blank" href="{{ url_group }}">{{ item.group }}</a>:
				({{ item.cn }})</li>
			{% endfor %}
			</ol>
		</div>
	</div>

{% endfor %}


{% endblock main_content %}