{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}
{% load l10n %}

{% block overskrift %}
	Tilgangsgrupper i Active Directory
{% endblock overskrift %}

{% block ekstrajavascript %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}


{% block hovedinnhold %}

	<p>Data synkroniseres hver natt. Koden for import tar nå inn alle medlemmer, og er ikke begrenset til 5000 lenger.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppenavn inneholder" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>


	<table class="tablesorter excel">
		<thead>
			<tr>
				<th>Display name</th>
				<th>Gruppenavn</th>
				<th>PRK-valg?</th>
				<th>Distribusjonsadresse</th>
				<th>Antall direkte medlemmer</th>
			</tr>
		</thead>
		<tbody>
	{% for g in adgrupper %}
		<tr>
			<td>{{g.display_name|default:""}}</td>
			<td><a href="{% url 'adgruppe_detaljer' pk=g.pk %}">{{ g.short }}</a></td>
			<td>
				{% for prk_valg in g.prkvalg.all %}
					{{ prk_valg.skjemanavn.skjematype }} {{ prk_valg.skjemanavn.skjemanavn }} - {{ prk_valg.valgnavn }}<br>
				{% endfor %}
			</td>
			<td>{{g.mail|default:"-"}}</td>
			<td>{{g.member_count}}</td>
		</tr>
	{% empty %}
		<li>Ingen treff</li>
	{% endfor %}
		</tbody>
	</table>


{% endblock hovedinnhold %}