{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_ad %}
	<hr>
	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/adgroup/">/admin bla</a>
	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/adgroup/?membercount=0">/admin member=0</a>
	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/adgroup/?memberofcount=0">/admin memberof=0</a>
{% endblock ekstrameny_ad %}

{% block overskrift %}
	Søk i AD-grupper
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Merk at det er et tak på 5000 medlemmer vist i en gruppe.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppenavn inneholder" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>


	<table class="tablesorter">
		<thead>
			<tr>
				<th>Fult gruppenavn</th>
				<th>Antall direkte medlemmer</th>
			</tr>
		</thead>
		<tbody>
	{% for g in adgrupper %}
		<tr>
			<td><a href="{% url 'adgruppe_detaljer' pk=g.pk %}">{{ g.distinguishedname }}</a></td>
			<td>{{g.member_count}}</td>
		</tr>
	{% empty %}
		<li>Ingen treff</li>
	{% endfor %}
		</tbody>
	</table>


{% endblock hovedinnhold %}