{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	Analyse av AD-grupper
{% endblock overskrift %}

{% block hovedinnhold %}

	<p><b>{{antall_tomme}}</b> av {{antall_alle_grupper}} grupper har {{ maks }} (eller færre) medlemmer. Du kan endre på kriterie ved å endre på ?antall= i adressefeltet.</p>

	<table id="grupper_tomme" class="tablesorter excel">
	<thead>
	<tr>
		<th>Distinguishedname</th>
		<th>Display name</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
	{% for g in adgrupper_tomme %}
	<tr>
		<td>{{ g.distinguishedname }}</td>
		<td>{{ g.display_name }}</td>
		<td>{{ g.description }}</td>

	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}