{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Organisasjonsenheter i felles brukerkatalog (AD)
{% endblock underoverskrift %}

{% block main_content %}

	<a class="btn btn-sm btn-secondary" href="{% url 'alle_cmdbref' %}">CMDB-oversikt</a>
	<a class="btn btn-sm" href="{% url 'ad' %}">Søk i Active Directory</a>
	<a class="btn btn-sm btn-info" target="_blank" href="/admin/systemoversikt/adgroup/">Admin: AD-grupper</a>
	<a class="btn btn-sm btn-info" target="_blank" href="/admin/systemoversikt/adgroup/?membercount=0">Admin: grupper 0 medlemmer</a>
	<a class="btn btn-sm btn-info" target="_blank" href="/admin/systemoversikt/adgroup/?memberofcount=0">Admin: medlem i 0 grupper</a>

	<hr>

	<form action="{% url 'alle_adgrupper' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppe starter med (husk 'DS-')" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>
	<h3>{{ ou.cn }}</h3>
	Sist oppdatert {{ ou.sist_oppdatert }} (<a target="_blank" href="{% url 'ad_exact' name=ou.distinguishedname %}">Søk direkte i AD</a>)

	<hr>
	<h6>Overordnet organisasjonsenhet (OU)</h6>
	{% if parent %}
		<li><a href="{% url 'adorgunit_detaljer' pk=parent.pk %}">{{ parent.cn }}</a></li>
	{% else %}
		<li>Ingen</li>
	{% endif %}

	<hr>
	<h6>Underliggende organisasjonsenheter (OU)</h6>
	<ul style="column-count:3;">
	{% for c in children %}
		<li><a href="{% url 'adorgunit_detaljer' pk=c.pk %}">{{c.cn}}</a></li>
	{% empty %}
		<li>Ingen</li>
	{% endfor %}
	</ul>


	<hr>
	<h6>Brukere</h6>
	<ul style="column-count:3;">
	{% for u in users %}
		<li><a {% if not u.profile.from_prk %} style="background-color: #fdd6d6" {% endif %}
			href="{% url 'bruker_detaljer' pk=u.pk %}">{{ u }}</a></li>
	{% empty %}
		<li>Ingen</li>
	{% endfor %}
	</ul>

	<hr>
	<h6>Tilgangsgrupper (Security groups)</h6>
	<p>Antall medlemmer i parentes. En medlem kan både være en person og en annen gruppe med flere personer i. Rød bakgrunn dersom gruppen ikke stammer fra PRK.
	<ul style="column-count:3;">
	{% for g in groups %}
		<li><a {% if not g.from_prk %} style="background-color: #fdd6d6" {% endif %} href="{% url 'adgruppe_detaljer' pk=g.pk %}">{{ g.short }}</a> ({{ g.membercount }})</li>
	{% empty %}
		<li>Ingen</li>
	{% endfor %}
	</ul>



{% endblock main_content %}