{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	AD-gruppe: {{ gruppe.common_name }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="{% url 'alle_adgrupper' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppenavn inneholder" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<p>
		🆔 {{ gruppe.distinguishedname }}<br>
		{% if gruppe.parent %}
		📁<a href="{% url 'adorgunit_detaljer' pk=gruppe.parent.pk %}"> {{ gruppe.parent }}</a><br>
		{% endif %}
		{% for prkvalg in gruppe.PRKvalg_ad_group_ref.all %}
			📖<a href="{% url 'prk_skjema' skjema_id=prkvalg.skjemanavn.pk %}"> {{ prkvalg.skjemanavn.skjemanavn }} --> {{ prkvalg.valgnavn }}</a><br>
		{% endfor%}
	</p>
	<hr>
		<i>"{{ gruppe.description }}"</i> (Fra PRK {% include 'site_janeivetikke.html' with boolean=gruppe.from_prk %})
	<hr>
	Sist synkronisert {{ gruppe.sist_oppdatert }}
		<a href="{% url 'ad_exact' name=gruppe.distinguishedname %}">🔎 slå opp direkte</a><br>


	{% if memberof.groups %}
		{% for m in memberof.groups %}
		Er nøstet inn i: <a href="{% url 'adgruppe_detaljer' pk=m.pk %}">👥 {{ m }}</a><br>
		{% endfor %}
	{% endif%}
	<a href="{% url 'adgruppe_graf' pk=gruppe.pk %}">📈 Graf opp alle underliggende nøstede grupper</a><br>



	<hr>
	<h6>Medlemer i gruppen</h6>
	<table class="tablesorter">
	<thead>
		<tr>
			<th>Navn</th>
			<th>Brukernavn</th>
			<th>Fra PRK?</th>
			<th>Sist pålogget</th>
			<th>Passord utløpt?</th>
			<td>Passordutløp</td>
			<th width="35%">Beskrivelse</th>
		</tr>
	</thead>
	<tbodt>
	{% for m in member.groups %}
		<tr>
			<td>👥 <a href="{% url 'adgruppe_detaljer' pk=m.pk %}">{{ m }}</a></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}

	{% for m in member.users %}
		<tr>
			<td {% if m.profile.accountdisable %} style="text-decoration: line-through;"{% endif %}>👤 {{m.first_name}} {{m.last_name}}</td>
			<td>{{m.username}}</td>
			<td>{{m.profile.from_prk|yesno:"Ja,Nei,Vet ikke"}}</td>
			<td>{{ m.profile.lastLogonTimestamp|date:"Ym" }} ({{ m.profile.lastLogonTimestamp|timesince }})</td>
			<td>{{ m.profile.password_expired|yesno:"Passord har utløpt,Nei,Vet ikke" }}</td>
			<td>{{ m.profile.dont_expire_password|yesno:"Utløper aldri,Utløper,Vet ikke" }}</td>
			<td>{{m.profile.description}}</td>
		</tr>
	{% endfor %}

	{% for n in memberof.notfound %}
		<tr>
			<td>❓ {{ n }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}

	{% for n in member.notfound %}
		<tr>
			<td>❓ {{ n }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}

	</tbodt>
	</table>

{% endblock hovedinnhold %}