{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	AD-gruppe: {{ gruppe.common_name }} ({{gruppe.display_name}})
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="{% url 'alle_adgrupper' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppenavn inneholder" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<p>
		🆔 {{ gruppe.distinguishedname }}<br>
		{% if gruppe.parent %}
		📁<a href="{% url 'adorgunit_detaljer' pk=gruppe.parent.pk %}"> {{ gruppe.parent }}</a><br>
		{% endif %}
		{% for prkvalg in gruppe.prkvalg.all %}
			📖<a href="{% url 'prk_skjema' skjema_id=prkvalg.skjemanavn.pk %}"> {{ prkvalg.skjemanavn.skjemanavn }} --> {{ prkvalg.valgnavn }}</a><br>
		{% endfor%}
	</p>
	<hr>
		<i>"{{ gruppe.description }}"</i> (Fra PRK {% include 'site_janeivetikke.html' with boolean=gruppe.from_prk %})
	<hr>
	Sist synkronisert {{ gruppe.sist_oppdatert }}
		<a href="{% url 'ad_exact' name=gruppe.distinguishedname %}">🔎 slå opp direkte</a><br>


	{% if memberof %}
		{% for m in memberof.groups %}
		Er nøstet inn i: <a href="{% url 'adgruppe_detaljer' pk=m.pk %}">👥 {{ m }}</a><br>
		{% endfor %}
		{% for m in memberof.notfound %}
		Er nøstet inn i: 👥 {{ m }}<br>
		{% endfor %}
	{% endif%}

	<a href="{% url 'adgruppe_graf' pk=gruppe.pk %}">📈 Graf opp alle underliggende nøstede grupper</a><br>



	<hr>
	<h6>Medlemer i gruppen</h6>
	{% if rendered %}
		{% include 'cmdb_users_display_include.html' with member=member%}
	{% else %}
		<h4>Det er over {{ render_limit }} personer</h4>
		<p><a class="btn btn-link" href="?alt=ja">Vis alle</a> (kan ta lang tid)</p>
	{% endif %}


{% endblock hovedinnhold %}