{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_ad %}

{% endblock ekstrameny_ad %}

{% block overskrift %}
	Bla i Active Directory (Oslofelles)
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="{% url 'alle_adgrupper' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppe starter med (husk 'DS-')" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>
	<h5>{{ ou.cn }}</h5>
	Sist oppdatert {{ ou.sist_oppdatert }}<br>
	{% if parent %}
	Mormappe: <a href="{% url 'adorgunit_detaljer' pk=parent.pk %}">📁 {{ parent.cn }}</a><br>
	{% endif %}
	<a href="{% url 'ad_exact' name=ou.distinguishedname %}">🔎 Utfør direktesøk i AD</a>

	<hr>
	<h6>Underliggende objekter</h6>
	<p><span style="color: #dc3545;">Rød</span> bakgrunn indikerer at gruppen eller brukeren ikke kommer fra PRK. Viser ikke maskinobjekter.</p>
	<ul style="column-count:3;">
	{% for c in children %}
		<li><a href="{% url 'adorgunit_detaljer' pk=c.pk %}">📁 {{c.cn}}</a></li>
	{% endfor %}
	{% for u in users %}
		<li><a {% if not u.profile.from_prk %} style="background-color: #fdd6d6" {% endif %}
			href="{% url 'bruker_detaljer' pk=u.pk %}">👤 {{ u }}</a></li>
	{% endfor %}
	{% for g in groups %}
		<li><a {% if not g.from_prk %} style="color: #dc3545;" {% endif %} href="{% url 'adgruppe_detaljer' pk=g.pk %}">👥 {{ g.short }}</a> ({{ g.membercount }})</li>
	{% endfor %}
	</ul>

{% endblock hovedinnhold %}