{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	AD-gruppesøk
{% endblock underoverskrift %}

{% block main_content %}

	<a class="btn btn-sm btn-secondary" href="{% url 'alle_cmdbref' %}">CMDB-oversikt</a>
	<a class="btn btn-sm btn-info" target="_blank" href="/admin/systemoversikt/adgroup/">Admin: AD-grupper</a>
	<a class="btn btn-sm btn-info" target="_blank" href="/admin/systemoversikt/adgroup/?membercount=0">Admin: grupper 0 medlemmer</a>
	<a class="btn btn-sm btn-info" target="_blank" href="/admin/systemoversikt/adgroup/?memberofcount=0">Admin: medlem i 0 grupper</a>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="AD-gruppe starter med (husk 'DS-')" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>


	{% for g in adgrupper %}
		<li><a href="{% url 'adgruppe_detaljer' pk=g.pk %}">{{ g.cn }}</a></li>
	{% empty %}
		<li>Ingen treff</li>
	{% endfor %}

{% endblock main_content %}