{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Eksakt søk på brukere i Active Directory (on-prem)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Alle brukere synkroniseres hver natt mot AD.</p>

	<form action="{% url 'cmdb_ad_brukerlistesok' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<textarea rows="3" cols="50" style="width: 500px; height: 250px;" name="user_search_term"
			placeholder="Liste med brukernavn, et per linje" class="form-control form-control-sm">{{ user_search_term }}</textarea>
			<input style="margin-left: 10px;" type="submit" value="Slå opp" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th class="filter-false"></th>
		<th>Aktiv</th>
		<th>Navn</th>
		<th>Brukernavn</th>
		<th>E-post</th>
		<th>OU-path</th>
		<th>Priveligert?</th>
		<th>Trusted for delegation?</th>
		<th>Delegated?</th>
		<th>Don't require preauth</th>
		<th>Passordbytte aktiv?</th>
		<th>Sist passordbytte</th>
		<th>Opprettet</th>
		<th>Sist pålogget (ca)</th>
		<th>Beskrivelse</th>
	</tr>
	</thead>
	<tbody>
	{% for user in users %}

	<tr>
		<td>{{ forloop.counter }}</td>

		<td>{{ user.profile.accountdisable|yesno:"Nei,Ja,?" }}</td>
		{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}

		<td>{{user.first_name}} {{user.last_name}}</td>

		<td><a href="{{ url_ad_exact }}">🔍</a> {{user.username}}</td>

		<td>{{user.email }}</td>

		<td>{{ user.profile.ou_lesbar }}</td>

		<td>{{ user.profile.priveligert_bruker }}</td>
		<td>{{ user.profile.trusted_for_delegation|yesno:"Ja,Nei,?" }}</td>
		<td>{{ user.profile.not_delegated|yesno:"Ja,Nei,?" }}</td>
		<td>{{ user.profile.dont_req_preauth|yesno:"Ja,Nei,?" }}</td>
		<td>{{ user.profile.dont_expire_password|yesno:"Aldri,Ja,Vet ikke" }}</td>
		<td>{{ user.profile.pwdLastSet|date:"Y-m-d" }} ({{ user.profile.pwdLastSet|timesince }})</td>
		<td>{{ user.profile.whenCreated|date:"Y-m-d" }} ({{ user.profile.whenCreated|timesince }})</td>
		<td>{{ user.profile.lastLogonTimestamp|date:"Y-m-d" }} ({{ user.profile.lastLogonTimestamp|timesince }}) </td>
		<td>{{ user.profile.description|default:"Ingen beskrivelse" }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


	<hr>

	<p>Følgende brukernavn ble ikke funnet:</p>
	{% for user in not_users %}
		<li>{{ user }}</li>
	{% endfor %}


{% endblock hovedinnhold %}