{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søketreff fra Oslofelles Active Directory
{% endblock overskrift %}

{% block hovedinnhold %}

	<button class="btn btn-sm col-sm-3" type="button" data-toggle="collapse"
		data-target="#usercollapseTwo"
		aria-expanded="false"
		aria-controls="usercollapseTwo">
		Rå respons
	</button>
	<div class="collapse" id="usercollapseTwo">
		{{result.raw}}
	</div>
	<hr>


	{% for computer in result.computers %}
		<div class="card card-body">
			<h3>Computer</h3>
			<h5>{{ computer.attrs.cn.0 }}</h5>
			<p>Canonical Name: <br>{{ computer.cn }}</p>
			<p>ObjectClass: <br>{% for item in computer.attrs.objectClass %} {{ item }} | {% endfor %}</p>
			<p>Beskrivelse: {% for item in computer.attrs.description %} <br>{{ item }} {% endfor %}</p>
			<p>Operating System:<br> {% for item in computer.attrs.operatingSystem %} {{ item }} {% endfor %}</p>
			<p>Operating System Version:<br> {% for item in computer.attrs.operatingSystemVersion %} {{ item }} {% endfor %}</p>
			<p>DNS Hostname:<br> {% for item in computer.attrs.dNSHostName %} {{ item }} {% endfor %}</p>

		</div>
	{% endfor %}


	{% for user in result.users %}
		<div class="card card-body">
			<h3>Bruker</h3>
			<h5>{{ user.attrs.displayName.0 }} ({{ user.attrs.cn.0 }})</h5>
			<p>Canonical Name: {{ user.cn }}</p>
			<p>SID: {% for sid in user.objectSid %}{{ sid }}{% endfor %}</p>

			{% if user.attrs.thumbnailPhoto.0 %}
			<p>thumbnailPhoto-bilde:<br>
			<img style="width: 96px; height: 96px; margin: 5px; border: 1px solid grey;" src="data:image/jpeg;base64,{{user.attrs.thumbnailPhoto.0}}"/></p>
			{% endif %}

			<p>Brukernavn / sAMAccountName:<br>{% for item in user.attrs.sAMAccountName %} {{ item }} {% endfor %}</p>
			<p>ObjectClass: <br>{% for item in user.attrs.objectClass %} {{ item }} | {% endfor %}</p>
			<p>Fornavn: {% for item in user.attrs.givenName %} <br>{{ item }} {% endfor %}</p>
			<p>Etternavn: {% for item in user.attrs.sn %} <br>{{ item }} {% endfor %}</p>
			<p>Visningsnavn: {% for item in user.attrs.displayName %} <br>{{ item }} {% endfor %}</p>
			<p>Tittel: {% for item in user.attrs.title %} <br>{{ item }} {% endfor %}</p>
			<p>Beskrivelse: {% for item in user.attrs.description %} <br>{{ item }} {% endfor %}</p>

			<p>Opprettet: {% for item in user.attrs.whenCreated %} <br>{{ item }} ({{ item|naturaltime }}) {% endfor %}</p>

			<p>E-post: {% for item in user.attrs.mail %} <br>{{ item }} {% endfor %}</p>
			<p>Telefon mobile: {% for item in user.attrs.mobile %} <br>{{ item }} {% endfor %}</p>
			<p>Telefon other: {% for item in user.attrs.otherMobile %} <br>{{ item }} {% endfor %}</p>
			<p>Antall pålogginger: {% for item in user.attrs.logonCount %} <br>{{ item }} {% endfor %}</p>
			<p>Sist login: {% for item in user.attrs.lastLogonTimestamp %} <br>{{ item }} ({{ item|naturaltime }}) {% endfor %}</p>
			<p>Brukerkontotype: {% for item in user.attrs.userAccountControl %} <br>{{ item }} {% endfor %}</p>

			<button class="btn btn-sm col-sm-4" type="button" data-toggle="collapse"
				data-target="#usercollapse"
				aria-expanded="false"
				aria-controls="usercollapse">
				Tilgangsgrupper
			</button>
			<div class="collapse" id="usercollapse">
				<br>
				<ol>
				{% for item in user.attrs.memberOf %}
					<li>
					{% url 'ad_details' name=item.group as url_details %}
					<a href="{{ url_details }}">{{ item.group }}</a>:
					({{ item.cn }})</li>
				{% endfor %}
				</ol>
			</div>
		</div>
	{% endfor %}


	{% for group in result.groups %}
		<div class="card card-body">
			<h3>Gruppe</h3>
			<h5><a href="{% url 'alle_adgrupper' %}?search_term={{group.attrs.cn.0}}">{{ group.attrs.cn.0 }}</a></h5>
			<p>Canonical Name: (<a href="{% url 'alle_prk' %}?search_term={{group.attrs.cn.0}}">Søk i PRK</a>)<br>{{ group.cn }}</p>
			<p>Member Of (parent group): <br>
			{% for item in group.attrs.memberOf %}
				{% url 'ad_exact' name=item as url_details %}
				<a href="{{ url_details }}">{{ item }}</a><br>
			{% empty%}
			(ingen)
			{% endfor %}
			<p>ObjectClass: <br>{% for item in group.attrs.objectClass %} {{ item }} | {% endfor %}</p>
			<p>Beskrivelse: {% for item in group.attrs.description %} <br>{{ item }} {% endfor %}</p>

			<a style="width: 200px;" class="btn btn-primary btn-sm" href="{% url 'recursive_group_members' group=group.cn %}">Utfør rekursivt brukersøk</a>

			<hr>

			<button class="btn btn-sm col-sm-4" type="button" data-toggle="collapse"
				data-target="#groupcollapse"
				aria-expanded="true"
				aria-controls="groupcollapse">
				Medlemmer i gruppen
			</button>
			<div class="" id="groupcollapse">
				<br>
				<ol>
				{% for item in group.attrs.member %}
					<li>
					{% url 'ad_details' name=item.username as url_details %}
					<a href="{{ url_details }}">{{ item.username }}</a>:
					{{ item.user|default:"" }}
					({{ item.cn }})</li>
				{% empty %}
					Enten er gruppen tom, eller så er det veldig mange medlemmer.
					Sjekk "Rå respons" etter "member;range=0-4999".
				{% endfor %}
				</ol>
			</div>
		</div>
	{% endfor %}

{% endblock hovedinnhold %}