{% extends "index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block underoverskrift %}
	Detaljer AD-gruppe
{% endblock underoverskrift %}

{% block main_content %}

{% for group in groups %}

	<div class="card card-body">
		<h5>{{ group.attrs.cn.0 }}</h5>
		<p>Canonical Name: <br>{{ group.cn }}</p>
		<p>ObjectClass: <br>{% for item in group.attrs.objectClass %} {{ item }} | {% endfor %}</p>
		<p>Beskrivelse: {% for item in group.attrs.description %} <br>{{ item }} {% endfor %}</p>
		<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
			data-target="#collapse_{{ forloop.counter0 }}"
			aria-expanded="false"
			aria-controls="collapse_{{ forloop.counter0 }}">
			Medlemmer i gruppen
		</button>
		<div class="collapse" id="collapse_{{ forloop.counter0 }}">
			<br>
			<ol>
			{% for item in group.attrs.member %}
				<li>
				{% if not "OU=OK,DC=oslofelles,DC=oslo,DC=kommune,DC=no" in item.cn %}
					<img style="width: 15px;" src="/static/open-iconic/svg/circle-x.svg" alt="">
				{% endif %}
				{% url 'ad_user_details' username=item.username as url_username %}
				<a target="_blank" href="{{ url_username }}">{{ item.username }}</a>:
				{{ item.user|default:"Utenfor PRK" }}
				({{ item.cn }})</li>
			{% endfor %}
			</ol>
		</div>
	</div>

{% endfor %}

{% endblock main_content %}