{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Leverandørtilgang på Felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

<ul style="column-count:3;">
{% for kilde in leverandor_kilder %}
	{% url 'leverandortilgang' as base_url %}
	<li {%if kilde.gruppe == valgt_gruppe %} style="font-weight: 800; color: black";{%endif%}><a target="_blank" href="{{ base_url }}{{ kilde.gruppe }}/">{{ kilde.beskrivelse }} ({{ kilde.medlemmer }})</a></li>
{% endfor %}
</ul>


{% endblock hovedinnhold %}