{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	AD-gruppesøk etter tilhørende PRK-tilgangsskjema (felles IKT-plattform)
{% endblock underoverskrift %}

{% block main_content %}


	<a class="btn btn-sm btn-secondary" href="{% url 'alle_cmdbref' %}">Tilbake</a>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 950px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Skjema inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<p>Viser {{ skjemavalg.count }} PRK-valg</p>

	<table id="stickyheader" class="table table-sm tablesorter">
		<thead>
			<th>Skjema</th>
			<th>Skjematilgang</th>
			<th>For virksomhet?</th>
			<th>Gruppering</th>
			<th>Valg</th>
			<th>AD-gruppe</th>
			<th>Beskrivelse</th>
		</thead>
		<tbody>
		{% for valg in skjemavalg %}
			<tr>
				<td>{{valg.skjemanavn.skjemanavn}}</td>
				<td>{{valg.skjemanavn.skjematype|lower}}</td>
				<td>{% if valg.for_virksomhet %} <a href="{% url 'virksomhet' valg.for_virksomhet.pk %}">{{valg.for_virksomhet.virksomhetsforkortelse}}</a> {% endif %}</td>
				<td>{{valg.gruppering.feltnavn}}</td>
				<td>{{valg.valgnavn}}</td>
				<td><a href="{% url 'ad_exact' name=valg.gruppenavn %}" target="_blank">{{valg.gruppenavn}}</a></td>
				<td>{{valg.beskrivelse}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock main_content %}