{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block overskrift %}
	Rekursivt søk
{% endblock overskrift %}

{% block hovedinnhold %}


	<table class="table table-sm tablesorter">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Brukernavn</th>
				<th>Kommentar</th>
			</tr>
		</thead>
		<tbody>
		{% for user in result %}
			<tr>
				<td>
				{% for item in user.attrs.displayName %}
					{{ item }}
				{% endfor %}
				</td>
				<td>
				{% for item in user.attrs.cn %}
					<a href="{% url 'ad_details' name=item %}">{{ item }}</a>{% endfor %}
				</td>
				<td>
				{% for item in user.attrs.description %}
					{{ item }}
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}