{% extends "index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block underoverskrift %}
	Rekursivt søk
{% endblock underoverskrift %}

{% block main_content %}


<table id="stickyheader" class="table table-sm tablesorter">
	<thead>
		<tr>
			<th>Navn</th>
			<th>Brukernavn</th>
			<th>Kommentar</th>
		</tr>
	</thead>
	<tbody>
	{% for user in result %}
		<tr>
			<td>
			{% for item in user.attrs.displayName %}
				{{ item }}
			{% endfor %}
			</td>
			<td>
			{% for item in user.attrs.cn %}
				<a target="_blank" href="{% url 'ad_details' name=item %}">{{ item }}</a>{% endfor %}
			</td>
			<td>
			{% for item in user.attrs.description %}
				{{ item }}
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock main_content %}