{% extends "admin_index.html" %}
{% load static %}
{% load templatetags %}

{% block overskrift %}
	Statistikk over pålogging og endringer i Kartoteket
{% endblock overskrift %}

{% block ekstrajavascript %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="{{request.csp_nonce}}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" nonce="{{request.csp_nonce}}"></script>
	<script type="text/javascript" nonce="{{request.csp_nonce}}">
		Chart.register(ChartDataLabels);
	</script>
{% endblock ekstrajavascript %}

{% block hovedinnhold %}

<p>Pålogginger de siste {{ period }} dagene<h4>{{ auth_this_period }}</h4></p>

<hr>

<p>Pålogginger per måned over tid</p>
<canvas id="auth_timechart" style="max-height: 400px;"></canvas>


<script type="text/javascript" nonce="{{request.csp_nonce}}">
const data = {
	labels: [{% for month in auth_over_time %}"{{ month.year_month|date:'Y-m' }}",{% endfor %}],
	datasets: [{
		backgroundColor: 'rgb(255, 99, 132)',
		borderColor: 'rgb(255, 99, 132)',
		data: [{% for month in auth_over_time %}{{ month.count }},{% endfor %}],
	}]
};

const config = {
	type: 'line',
	data: data,
	options: {
		responsive: true,
		plugins: {
			datalabels: {
				display: false,
			},
			legend: false,
		},
		scales: {
			y: {
				beginAtZero: true
			}
		}
	},
};
const myChart = new Chart(
document.getElementById('auth_timechart'),
	config
);
</script>

<hr>

Antall unike personer pålogget, fordelt på virksomhet, siste {{ period }} dager

<canvas id="myPieChart"></canvas>

<script type="text/javascript" nonce="{{request.csp_nonce}}">

const backgroundColors = [
    '#A6CEE3', '#1F78B4', '#B2DF8A', '#33A02C', '#FB9A99',
    '#E31A1C', '#FDBF6F', '#FF7F00', '#CAB2D6', '#6A3D9A',
    '#FFFF99', '#B15928', '#8DD3C7', '#FFFFB3', '#BEBADA',
    '#FB8072', '#80B1D3', '#FDB462', '#B3DE69', '#FCCDE5',
    '#D9D9D9', '#BC80BD', '#CCEBC5', '#FFED6F', '#E41A1C',
    '#377EB8', '#4DAF4A', '#984EA3', '#FF7F00', '#FFFF33',
    '#A65628', '#F781BF', '#999999', '#66C2A5', '#FC8D62',
    '#8DA0CB', '#E78AC3', '#A6D854', '#FFD92F', '#E5C494',
    '#B3B3B3', '#8DD3C7', '#FFFFB3', '#BEBADA', '#FB8072',
    '#80B1D3', '#FDB462', '#B3DE69', '#FCCDE5', '#D9D9D9'
]

const myPieChartdata = {{ quarterly_usernames|safe }}
const myPieChartlabels = myPieChartdata.map(item => item.word);
const myPieChartcounts = myPieChartdata.map(item => item.count);

const ctx = document.getElementById('myPieChart').getContext('2d');
const myPieChart = new Chart(ctx, {
	type: 'doughnut',
	data: {
		labels: myPieChartlabels,
		datasets: [{
			data: myPieChartcounts,
			backgroundColor: backgroundColors,
			borderWidth: 1
		}]
	},
	options: {
		responsive: true,
		plugins: {
			datalabels: {
				display: true,
				color: '#fff',
				formatter: function(value, context) {
					return context.chart.data.labels[context.dataIndex];
				},
				font: {
					weight: 'bold'
				},
				anchor: 'end',
				align: 'start',
				offset: 10
			},
			legend: {
				display: true,
				position: 'right',
			},
			title: {
				display: false,
				text: ''
			}
		}
	}
});
</script>

<hr>

Antall redigeringer av data, fordelt på virksomhet, siste {{ period }} dager

<canvas id="myPieChart_edit"></canvas>

<script type="text/javascript" nonce="{{request.csp_nonce}}">

const myPieChartdata_edit = {{ editing_users_processed|safe }}
const myPieChartlabels_edit = myPieChartdata_edit.map(item => item.word);
const myPieChartcounts_edit = myPieChartdata_edit.map(item => item.count);

const ctx_edit = document.getElementById('myPieChart_edit').getContext('2d');
const myPieChart_edit = new Chart(ctx_edit, {
	type: 'doughnut',
	data: {
		labels: myPieChartlabels_edit,
		datasets: [{
			data: myPieChartcounts_edit,
			backgroundColor: backgroundColors,
			borderWidth: 1
		}]
	},
	options: {
		responsive: true,
		plugins: {
			datalabels: {
				color: '#fff',
				formatter: function(value, context) {
					return context.chart.data.labels[context.dataIndex];
				},
				font: {
					weight: 'bold'
				},
				anchor: 'end',
				align: 'start',
				offset: 10
			},
			legend: {
				display: true,
				position: 'right',
			},
			title: {
				display: true,
				text: ''
			}
		}
	}
});

</script>

{% endblock hovedinnhold %}