{% extends "index.html" %}

{% block sidemeny %}

	<h6>Admin</h6>

	{% url 'logger' as url_logger %}
	<a href="{{ url_logger }}" class="btn btn-sm btn-link {% if url_logger in request.path %}fremhev{% endif %}" >Logg over endringer</a>

	{% url 'logger_audit' as url_logger_audit %}
	<a href="{{ url_logger_audit }}" class="btn btn-sm btn-link {% if url_logger_audit in request.path %}fremhev{% endif %}" >Systemlogger</a>

	<a href="/admin/" class="btn btn-sm btn-link" >Adminpanelet</a>

	{% url 'ansvarlig_bytte' as url_ansvarlig_bytte %}
	<a href="{{ url_ansvarlig_bytte }}" class="btn btn-sm btn-link {% if url_ansvarlig_bytte in request.path %}fremhev{% endif %}" >Flytt ansvar</a>

	<br><a href="/api/" class="btn btn-sm btn-link">API</a>

	<hr>
	<h6>Valgbare kategorier</h6>

	<a href="/admin/systemoversikt/registrerte/" class="btn btn-sm btn-link" >Den registrerte</a>
	<a href="/admin/systemoversikt/personsonopplysningskategori/" class="btn btn-sm btn-link" >Kategorier personoppl.</a>
	<a href="/admin/systemoversikt/relasjonregistrert/" class="btn btn-sm btn-link" >Relasjoner</a>
	<a href="/admin/systemoversikt/behandlingsgrunnlag/" class="btn btn-sm btn-link" >Hjemmesgrunnlag</a>
	<a href="/admin/systemoversikt/database/" class="btn btn-sm btn-link" >Databasetyper</a>
	<a href="/admin/systemoversikt/autentiseringsteknologi/" class="btn btn-sm btn-link" >Påloggingstjenester</a>
	<a href="/admin/systemoversikt/autentiseringsmetode/" class="btn btn-sm btn-link" >Identifiseringsnivåer</a>
	<a href="/admin/systemoversikt/informasjonsklasse/" class="btn btn-sm btn-link" >Informasjonsklasser</a>
	<a href="/admin/systemoversikt/systemtype/" class="btn btn-sm btn-link" >Systemtyper</a>


	<hr>
	<h6>Min pålogging</h6>
	{% url 'minside' as url_minside %}
	<a href="{{ url_minside }}" class="btn btn-sm btn-link {% if url_minside in request.path %}fremhev{% endif %}">Min pålogging</a>

	{% url 'bytt_virksomhet' as url_bytt_virksomhet %}
	<a href="{{ url_bytt_virksomhet }}" class="btn btn-sm btn-link {% if url_bytt_virksomhet in request.path %}fremhev{% endif %}">Bytt representerer</a>

	{% url 'ansvarlig' pk=request.user.ansvarlig_brukernavn.pk as url_ansvarlig %}
	{% if url_ansvarlig %}
		<a href="{{ url_ansvarlig }}" class="btn btn-sm btn-link" >Mine ansvarsområder</a>
	{% else%}
		<a href="/admin/systemoversikt/ansvarlig/add/?brukernavn={{request.user.pk}}" class="btn btn-sm btn-link" >{% include 'site_edit_button.html' %} Opprett som ansvarlig</a>
	{% endif %}

	<a class="btn btn-sm btn-link" href="{{ OIDC_IDP_URL_BASE }}/auth/realms/{{ OIDC_IDP_REALM }}/account/">🌍 Administrer pålogging</a>


	<hr>
	<h6>Tilgangsstyring i Kartoteket</h6>
	{% url 'roller' as url_roller %}
	<a href="{{ url_roller }}" class="btn btn-sm btn-link {% if url_roller in request.path %}fremhev{% endif %}" >Om grupper og roller</a>

	{% url 'permissions' as url_permissions %}
	<a href="{{ url_permissions }}" class="btn btn-sm btn-link {% if url_permissions in request.path %}fremhev{% endif %}" >Kartotekbrukere</a>

	<a href="{{ url_roller }}?export=json" class="btn btn-sm btn-link {% if url_alle_systemer in request.path %}fremhev{% endif %}" >Eksporter rolleknytning</a>

	{% url 'import_group_permissions' as url_import_group_permissions %}
	<a href="{{ url_import_group_permissions }}" class="btn btn-sm btn-link {% if url_import_group_permissions in request.path %}fremhev{% endif %}" >⚙️ Importer rolleknytning</a>

{% endblock sidemeny %}

{% block main_content %}
	<h3></span> {% block overskrift %}{% endblock overskrift %}</h3>
	{% block hovedinnhold %}{% endblock hovedinnhold %}
{% endblock main_content %}