{% extends "index.html" %}

{% block sidemeny %}

	<a href="/admin/" class="btn btn-sm btn-link" >Adminpanelet</a><br>

	{% url 'databasestatistikk' as url_databasestatistikk %}
	<a href="{{ url_databasestatistikk }}" class="btn btn-sm btn-link {% if url_databasestatistikk in request.path %}fremhev{% endif %}">Tabellstørrelser</a><br>

	{% url 'admin_visitors' as url_admin_visitors %}
	<a href="{{ url_admin_visitors }}" class="btn btn-sm btn-link {% if url_admin_visitors in request.path %}fremhev{% endif %}">Bruksoversikt</a><br>

	<hr>
	<h6>Monitorering</h6>
	{% url 'top_slow_pages' as url_top_slow_pages %}
	<a href="{{ url_top_slow_pages }}" class="btn btn-sm btn-link {% if url_top_slow_pages in request.path %}fremhev{% endif %}">📖 Aksess: trege sider</a><br>

	{% url 'recent_errors' as url_recent_errors %}
	<a href="{{ url_recent_errors }}" class="btn btn-sm btn-link {% if url_recent_errors in request.path %}fremhev{% endif %}">📖 Aksess: feilsituasjoner</a><br>


	<hr>
	<h6>Logger</h6>
	{% url 'logger' as url_logger %}
	<a href="{{ url_logger }}" class="btn btn-sm btn-link {% if url_logger in request.path %}fremhev{% endif %}">📖 Redigeringslogg</a><br>

	{% url 'logger_audit' as url_logger_audit %}
	<a href="{{ url_logger_audit }}" class="btn btn-sm btn-link {% if url_logger_audit in request.path %}fremhev{% endif %}">📖 Systemlogg</a><br>

	{% url 'logger_autentisering' as url_logger_autentisering %}
	<a href="{{ url_logger_autentisering }}" class="btn btn-sm btn-link {% if url_logger_autentisering in request.path %}fremhev{% endif %}">📖 Pålogginger</a><br>

	{% url 'logger_api' as url_logger_api %}
	<a href="{{ url_logger_api }}" class="btn btn-sm btn-link {% if url_logger_api in request.path %}fremhev{% endif %}">📖 API-bruk</a><br>

	<hr>
	<h6>Kategorier</h6>
	{% url 'valgbarekategorier' as url_valgbarekategorier %}
	<a href="{{ url_valgbarekategorier }}" class="btn btn-sm btn-link {% if url_valgbarekategorier in request.path %}fremhev{% endif %}">Valgbare kategorier</a><br>


	<hr>
	<h6>Tilgangsstyring</h6>
	{% url 'minside' as url_minside %}
	<a href="{{ url_minside }}" class="btn btn-sm btn-link {% if url_minside in request.path %}fremhev{% endif %}">👤 Min pålogging</a><br>

	{% url 'roller' as url_roller %}
	<a href="{{ url_roller }}" class="btn btn-sm btn-link {% if url_roller in request.path %}fremhev{% endif %}">Kartotekets tilgangsstyring</a>

	{% url 'permissions' as url_permissions %}
	<a href="{{ url_permissions }}" class="btn btn-sm btn-link {% if url_permissions in request.path %}fremhev{% endif %}">Kartotekbrukere</a>


	<hr>
	<h6>Støttefunksjoner</h6>
	{% url 'ansvarlig_bytte' as url_ansvarlig_bytte %}
	<a href="{{ url_ansvarlig_bytte }}" class="btn btn-sm btn-link {% if url_ansvarlig_bytte in request.path %}fremhev{% endif %}">⚙️ Flytt ansvar</a><br>

	{% url 'system_til_programvare_indeks' as url_system_til_programvare_indeks %}
	<a href="{{url_system_til_programvare_indeks}}" class="btn btn-sm btn-link {% if url_system_til_programvare_indeks in request.path %}fremhev{% endif %}">⚙️ System til programvare</a>



{% endblock sidemeny %}

{% block main_content %}
	<h3></span> {% block overskrift %}{% endblock overskrift %}</h3>
	{% block hovedinnhold %}{% endblock hovedinnhold %}
{% endblock main_content %}