{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	{{ overskrift }} (Antall: {{ behandlinger.count }})
{% endblock underoverskrift %}

{% block main_content %}

<p>
	{% url 'all_bruk_for_virksomhet' pk=virksomhet.pk as url_all_bruk_for_virksomhet %}
	{% if user.is_authenticated %}
		<a class="btn btn-sm btn-primary" target="_blank" href='/admin/systemoversikt/behandlingerpersonopplysninger/add/?behandlingsansvarlig={{ virksomhet.pk }}'>Ny behandling</a>
	{% endif %}

	{% url 'all_bruk_for_virksomhet' pk=virksomhet.pk as url_all_bruk_for_virksomhet %}
	<a class="btn btn-sm btn-success" href="{{ url_all_bruk_for_virksomhet }}">Vår systembruk</a>

	{% url "databehandleravtaler_virksomhet" virksomhet.pk as databehandleravtaler_virksomhet_url %}
	<a class="btn btn-sm btn-success" href="{{ databehandleravtaler_virksomhet_url }}">Våre databehandleravtaler</a>

	{% url "alle_behandlinger" as alle_behandlinger_url %}
	<a class="btn btn-sm btn-secondary" href="{{ alle_behandlinger_url }}">Alle behandlinger (Oslo kommune)</a>
</p>

<p>I denne behandlingsprotokollen vises alle behandlinger {{ virksomhet.virksomhetsforkortelse }} har opprettet selv, samt behandlinger {{ virksomhet.virksomhetsforkortelse }} abonnerer på.<br>
Mekanismen for å abonnere på en behandling er å registrere bruk av et system og krysse av på "Abonner på felles behandlinger i systemet". Da vil alle behandlinger merket med "felles" for det aktuelle systemet vises her.<br>I tillegg er det mulig å bruke funksjonen "kopier behandling". Denne finner du på siden for systemdetaljer for systemer du benytter. Ved kopiering vil din virksomhet stå som eier av behandlingen.</p>

<p>Avdelinger / seksjoner:
{% for avdeling in interne_avdelinger %}
	{% url 'behandlinger_virksomhet_ansvarlig' pk=virksomhet.pk internt_ansvarlig=avdeling.internt_ansvarlig as url_internt_valg %}
	<a {% if internt_ansvarlig_valgt == avdeling.internt_ansvarlig %} style="color: white; background: #007bff;"{% endif %} href="{{ url_internt_valg }}">{{ avdeling.internt_ansvarlig|default:"Ukjent" }}</a> {% if not forloop.last %} | {% endif %}
{% endfor %}
</p>

{% include 'alle_behandlinger_include.html' %}

{% endblock main_content %}
