{% load static %}
{% load humanize %}

<table id="systemer" class="table table-sm">
<thead>
<tr>
	{% if perms.systemoversikt.change_system %}
		<th></th>
	{% endif %}
	<th>ID</th>
	<th>Systemnavn</th>
	<th>Systemeier</th>
	<th>Systemforvalter</th>
	<th>Driftes på</th>
</tr>
</thead>
<tbody>
{% for item in systemer %}
<tr>
	{% if perms.systemoversikt.change_system %}
	<td>
		<a target="_blank" href="/admin/systemoversikt/system/{{ item.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
	</td>
	{% endif %}

	<td>{{ item.pk }}</td>

	{% url "systemdetaljer" item.pk as url_systemdetaljer %}
	<td><a href="{{ url_systemdetaljer }}">{{ item.systemnavn }}</a></td>

	<td>
		{% url "virksomhet" item.systemeier.pk as url_systemeier %}
		<a href="{{ url_systemeier }}">{{ item.systemeier.virksomhetsforkortelse|default:"-" }}</a> ved

		{% include "vis_ansvarlige.html" with ansvarlige=item.systemeier_kontaktpersoner_referanse.all %}
	</td>

	<td>
		{% url "virksomhet" item.systemforvalter.pk as url_systemforvalter %}
		<a href="{{ url_systemforvalter }}">{{ item.systemforvalter.virksomhetsforkortelse|default:"-" }}</a> ved

		{% include "vis_ansvarlige.html" with ansvarlige=item.systemforvalter_kontaktpersoner_referanse.all %}
	</td>

	<td>{{ item.driftsmodell_foreignkey }}</td>

</tr>
{% endfor %}
</tbody>
</table>
