{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	PRK-tilgangsskjema på felles IKT-plattform
{% endblock underoverskrift %}

{% block main_content %}


	<a class="btn btn-sm btn-secondary" href="{% url 'alle_cmdbref' %}">Tilbake</a>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Skjema inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ skjemavalg.count }} PRK-valg</p>

	<table id="stickyheader" class="table table-sm tablesorter">
		<thead>
			<th>Skjema</th>
			<th>Skjematilgang</th>
			<th>For virksomhet?</th>
			<th>Gruppering</th>
			<th>Valg</th>
			<th>AD-gruppe</th>
			<th>Beskrivelse</th>
		</thead>
		<tbody>
		{% for valg in skjemavalg %}
			<tr>
				<td>{{valg.skjemanavn.skjemanavn}}</td>
				<td>{{valg.skjemanavn.skjematype|lower}}</td>

				{% if skjemavalg|length < 400 %}
					<td>{% if valg.for_virksomhet %} <a href="{% url 'virksomhet' valg.for_virksomhet.pk %}" target="_blank" >{{valg.for_virksomhet.virksomhetsforkortelse}}</a> {% endif %}</td>
				{% else %}
					<td>-</td>
				{% endif %}
				<td>{{valg.gruppering.feltnavn}}</td>
				<td>{{valg.valgnavn}}</td>
				{% if skjemavalg|length < 400 %}
					{% url 'ad_exact' name=valg.gruppenavn_full as url_ad %}
					<td><a href="{{url_ad}}" target="_blank">{{valg.gruppenavn_full}}</a></td>
				{% else %}
					<td>{{valg.gruppenavn_full}}</td>
				{% endif %}
				<td>{{valg.beskrivelse}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock main_content %}