{% extends "index.html" %}

{% block underoverskrift %}
	Systemoversikt
{% endblock underoverskrift %}

{% block main_content %}
	<div>
		{% if user.is_authenticated %}
			<a class="btn btn-sm btn-primary" target="_blank" href="/admin/systemoversikt/system/add/">Legg til nytt system</a>

			{% if request.user.profile.virksomhet %}
				{% url 'all_bruk_for_virksomhet' pk=request.user.profile.virksomhet.pk as url_systembruk %}
				<a href="{{ url_systembruk }}" class="btn btn-sm btn-success">Vår bruk av systemer</a>
			{% endif %}

			<a class="btn btn-sm btn-secondary" target="_blank" href="/admin/systemoversikt/system/">Avansert søk og filtrering</a>
		{% endif %}


		{% url "alle_driftsmodeller" as alle_driftsmodeller_url %}
		<a class="btn btn-sm" href="{{ alle_driftsmodeller_url }}" class="nav-link {% if alle_driftsmodeller_url in request.path %} active {% endif %}">Alle plattformer</a>


		{% url "alle_leverandorer" as alle_leverandorer_url %}
		<a href="{{ alle_leverandorer_url }}" class="btn btn-sm">Alle leverandører</a>
		<a href="{% url 'alle_systemkategorier' %}" class="btn btn-sm">Alle systemkategorier</a>
	</div>

	<hr>

	<div>
	Systemklassifisering:
	{% for klasse in kommuneklassifisering %}
		<a class="btn btn-sm" href="{% url 'systemklassifisering_detaljer' id=klasse.0 %}">{{klasse.1}}</a>
	{% endfor %}
		<a class="btn btn-sm btn-warning" href="{% url 'systemklassifisering_detaljer' id='__NONE__' %}">Mangler</a>
	</div>

	<div>
	Systemtype:
	{% for type in systemtyper %}
		<a class="btn btn-sm" href="{% url 'systemtype_detaljer' pk=type.pk %}">{{type}}</a>
	{% endfor %}
		<a class="btn btn-sm btn-warning" href="{% url 'systemtype_detaljer_mangler' %}">Mangler</a>
	</div>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Systemnavn inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ systemer.count }} systemer.</p>

	{% include "alle_systemer_include.html" %}

	{% if potensielle_systemer %}
	<hr>
	<p>Mente du? (basert på systembeskrivelser)</p>
	<ul style="column-count:5;">
	{% for system in potensielle_systemer %}
		<li><a href="{% url 'systemdetaljer' pk=system.pk %}">{{system.systemnavn}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

{% endblock main_content %}