{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Oversikt over alle ansvarlige
{% endblock underoverskrift %}

{% block main_content %}

<p>Systemer har eier og forvaltere, avtaler har avtaleoppfølger og behandlinger har navngitte personer som er ansvarlige for å holde informasjonen oppdatert. En ansvarlig er her en form for rolle som er koblet mot en konkret person representert ved en bruker i Active Directory. Når brukeren koblet til rollen slutter eller av annne grunn får sin bruker deaktivbert, vises navnet <span style="text-decoration: line-through;">gjennomstreket</span>. Status på brukere synkronieres hver natt. Dersom en annen person skal overta oppgavene kan man endre pekeren fra "ansvarlig" rollen over på en annen brukerID. {{ ansvarlige.count }} ansvarlige er opprettet.</p>

<ul style="column-count:4;">
{% for ansvarlig in ansvarlige %}
	{% url 'ansvarlig' pk=ansvarlig.pk as url_ansvarlig %}
	<li
	{% if ansvarlig.brukernavn.profile.accountdisable %}
		style="text-decoration: line-through;"
	{% endif %}
	>
		<a href="{{ url_ansvarlig }}">{{ ansvarlig }}</a>
	</li>
{% endfor %}
</ul>


{% endblock main_content %}