{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Alle kategorier
	<h6>
		{% if user.is_authenticated %}
		<a class="btn btn-sm btn-primary" style="position: -webkit-sticky; position: sticky; top: 115px; z-index: 9999;"
			target="_blank" href="/admin/systemoversikt/systemkategori/add/">Legg til ny kategori</a>
		{% endif %}
		<a class="btn btn-sm btn-secondary" href="{% url 'alle_hovedkategorier' %}">Alle hovedkategorier</a>
		<a class="btn btn-sm btn-secondary" href="{%url 'uten_systemkategorier' %}">Mangler subkategori</a>
	</h6>

<p>Dette er kategorier som forvaltes av UKE. De ble innført i forbindelse med systemkonsolideringsprosjektet. Alle systemer skal ha en eller flere kategorier. Viser {{ kategorier.count }} kategorier.</p>

{% endblock underoverskrift %}

{% block main_content %}

	<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th></th>
		{% endif %}
		<th>Hovedkategori</th>
		<th>Kategorinavn</th>
		<th>Antall programvarer i kategori</th>
		<th>Antall systemer i kategori</th>
		<th>Definisjon</th>
	</tr>
	</thead>
	<tbody>
	{% for kat in kategorier %}
	<tr>
		{% if user.is_authenticated %}
		<td><a target="_blank" href="/admin/systemoversikt/systemkategori/{{ kat.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		{% endif %}
		<td>{% for hovedkat in kat.systemhovedkategori_systemkategorier.all %} {{ hovedkat.hovedkategorinavn }}<br> {% endfor %}</td>
		{% url 'systemkategori' pk=kat.pk as url_systemkategori %}
		<td><a href="{{ url_systemkategori }}">{{ kat }}</a></td>
		<td>{{ kat.programvare_systemkategorier.count }}</td>
		<td>{{ kat.system_systemkategorier.count }}</td>
		<td>{{ kat.definisjon|default:'' }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}