{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Oslo kommunes webtjenester
	<div>
		{% if user.is_authenticated %}
		<a target="_blank" class="btn btn-sm btn-primary" href="/admin/systemoversikt/systemurl/add/">Legg til nytt domene</a>
		<a target="_blank" class="btn btn-sm btn-primary" href="/admin/systemoversikt/sikkerhetstester/add/">Registrer utført sikkerhetstest</a>
		{% endif %}
	</div>
{% endblock underoverskrift %}

{% block main_content %}
<p>Her vises domener (URL-er) til kommunens webtjenester. Det er {{ web_urler.count }} registrert i databasen. Domener utenfor oslo.kommune.no er merket med rød bakgrunnsfarge.</p>

{% include "alle_urler_include.html" %}

{% endblock main_content %}