
<table id="stickyheader" class="table table-sm tablesorter">
<thead>
<tr>
	<th>Dato opprettet</th>
	<th>Dato oppdatert</th>
	<th>Business Service-navn</th>
	<th>Service classification</th>
	<th>Antall servere</th>
	<th>Tilknyttet system</th>
	<th>I bruk</th>
	<th>B</th>
	{% comment %}<th>Kommentar</th>{% endcomment %}
	<th>Miljø</th>
	<th>Kritikalitet</th>
	{% comment %}<th>Type</th>{% endcomment %}
	<th>Portfolio</th>
	<th>Availability</th>
	<th>Operation factor</th>
	<th>Complexity</th>
	<th width="25%">Short description</th>
</tr>
</thead>
<tbody>
{% for item in cmdbref %}
<tr {% if item.operational_status == 0 %} style="color: #d6d6d6;" {% endif %}>
	<td>
		{% comment %}
		{% if user.is_authenticated %}
		<a target="_blank" href="/admin/systemoversikt/cmdbref/{{ item.pk }}/delete/">
			<img style="width: 8px; margin: 3px;"
			src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a>
		{% endif %}
		{% endcomment %}
		{{ item.opprettet|date:'Y-m-d' }}
	</td>
	<td>{{ item.sist_oppdatert|date:'Y-m-d' }}</td>
	<td>
		{% comment %}
		{% if user.is_authenticated %}
		<a target="_blank" href="/admin/systemoversikt/cmdbref/{{ item.pk }}/change/">
			<img style="width: 11px; margin: 3px;"
			src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
		{% endif %}
		{% endcomment %}
		<a href="{% url 'cmdbdevice' pk=item.pk %}">{{ item.navn }}</a>
	</td>
	<td>{{ item.service_classification|default:"" }}</td>
	<td>{{ item.ant_devices }}</td>
	<td>
		{% for system in item.system_cmdbref_prod.all %}
			{% url 'systemdetaljer' pk=system.pk as url_system %}
			<a href="{{ url_system }}">{{ system.systemnavn }}</a> (Produksjon)<br>
		{% endfor %}
		{% for system in item.system_cmdbref.all %}
			{% url 'systemdetaljer' pk=system.pk as url_system %}
			<a href="{{ url_system }}">{{ system.systemnavn }}</a> (Test)<br>
		{% endfor %}
	</td>
	<td>{{ item.get_operational_status_display|default:"-" }}</td>
	<td>{{ item.u_service_billable|yesno:"Ja,Nei,Ukjent" }}</td>
	{% comment %}<td>{{ item.comments|default:"-"|truncatewords:6 }}</td>{% endcomment %}
	<td>{{ item.get_environment_display|default:"-" }}</td>
	<td>{{ item.get_kritikalitet_display|default:"X ukjent" }}</td>
	{% comment %}<td>{{ item.get_cmdb_type_display }}</td>{% endcomment %}
	<td>{{ item.u_service_portfolio|default:"-" }}</td>
	<td {% if not item.u_service_availability %} style="color: red;" {% endif %}>
		{{ item.u_service_availability|default:"T?" }}
	</td>
	<td {% if not item.u_service_operation_factor %} style="color: red;" {% endif %}>
		{{ item.u_service_operation_factor|default:"D?" }}
	</td>
	<td {% if not item.u_service_complexity %} style="color: red;" {% endif %}>
		{{ item.u_service_complexity|default:"K?" }}
	</td>
	<td>{{ item.comments|default:"-" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
