{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Virksomheter i Oslo kommune ({{ virksomheter.count }} registrert)
{% endblock underoverskrift %}

{% block undermeny %}
	<p>Virksomhet definert som organisatorisk enhet med unikt organisasjonsnummer.</p>
	<h6>
		{% if user.is_authenticated %}
			<a href="{% url 'min_virksomhet' %}">Min virksomhet</a> |
			<a href="{% url 'sertifikatmyndighet' %}">Vis sertifikatmyndigheter</a> |
		{% endif %}

		{% url "alle_avtaler" as alle_avtaler_url %}
		<a href="{{ alle_avtaler_url }}">Alle avtaler</a> |

		{% url "alle_ansvarlige" as alle_ansvarlige_url %}
		<a href="{{ alle_ansvarlige_url }}">Alle ansvarlige</a> |

		{% url "alle_leverandorer" as alle_leverandorer_url %}
		<a href="{{ alle_leverandorer_url }}">Alle leverandører</a> |


		{% if perms.systemoversikt.add_virksomhet %}
			<a target="_blank" href="/admin/systemoversikt/virksomhet/add/">Legg til ny virksomhet</a>
		{% endif %}
	</h6>
{% endblock undermeny %}


{% block main_content %}
	<table id="virksomheter" class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th>Virksomhetsnavn</th>
		<th>Forkortelse</th>
		<th>Virksomhetsleder</th>
		<th>Systemer i bruk</th>
		<th>Antall ansatte</th>
		<th>Klientplattform</th>
		<th>Aut.bestillere InfoTorg</th>
		<th>Aut.bestillere mot UKE</th>
		<th>Personvernkoord.</th>
		<th>Info.sik.koord.</th>
		<th>IKT-hovedkontakt</th>
		<th>Kundeansvarlig fra UKE</th>
	</tr>
	</thead>
	<tbody>
	{% for vir in virksomheter %}
	<tr>
		{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
		<td>
			{% if user.is_authenticated %}
				<a target="_blank" href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
				<img style="width: 14px; margin: 3px;"
				src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
			{% endif %}
			<a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a>
		</td>
		<td>{{ vir.virksomhetsforkortelse }}</td>
		<td>
			{% for person in vir.leder.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>{{ vir.systembruk_brukergruppe.all.count }}</td>
		<td>{{ vir.ansatte|default:"Ukjent" }}</td>
		<td>{{ vir.get_resultatenhet_display }}</td>
		<td>
			{% for person in vir.autoriserte_bestillere_tjenester.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.autoriserte_bestillere_tjenester_uke.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.personvernkoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.informasjonssikkerhetskoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.ikt_kontakt.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.uke_kam_referanse.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}