{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Alle virksomheter
{% endblock underoverskrift %}

{% block undermeny %}
	<p>Virksomhet definert som organisatorisk enhet med unikt organisasjonsnummer. Det er registrert {{ virksomheter.count }} virksomheter.</p>
	<div>
		{% if user.is_authenticated %}
			<a target="_blank" class="btn btn-sm btn-primary" href="/admin/systemoversikt/virksomhet/add/">Legg til ny virksomhet</a>
			<a href="{% url 'min_virksomhet' %}" class="btn btn-sm btn-success">Min virksomhet</a>
			<a href="{% url 'sertifikatmyndighet' %}" class="btn btn-sm btn-secondary">Vis sertifikatmyndigheter</a>
		{% endif %}
	</div>
	<br>
{% endblock undermeny %}


{% block main_content %}
	<table id="virksomheter" class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th>Virksomhet</th>
		<th>Forkortelse</th>
		<th>Leder</th>
		<th>Antall systemer i bruk</th>
		<th>Antall ansatte</th>
		<th>Drift av klientplattform</th>
		<th>Autoriserte bestillere InfoTorget</th>
		<th>Autoriserte bestillere mot intern tjenesteleverandør</th>
		<th>Koordinator personvern</th>
		<th>Koordinator informasjonssikkerhet</th>
		<th>IKT-hovedkontakt</th>
		<th>Kundeansvarlig hos intern tjenesteleverandør</th>
	</tr>
	</thead>
	<tbody>
	{% for vir in virksomheter %}
	<tr {% if not vir.ordinar_virksomhet %} style="opacity: 0.33;" {% endif %}>
		{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
		<td>
			{% if user.is_authenticated %}
				<a target="_blank" href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
				<img style="width: 14px; margin: 3px;"
				src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
			{% endif %}
			<a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a>
		</td>
		<td>{{ vir.virksomhetsforkortelse }}</td>
		<td>
			{% for person in vir.leder.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>{{ vir.systembruk_brukergruppe.all.count }}</td>
		<td>{{ vir.ansatte|default:"-" }}</td>
		<td>{{ vir.get_resultatenhet_display|default:"-" }}</td>
		<td>
			{% for person in vir.autoriserte_bestillere_tjenester.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.autoriserte_bestillere_tjenester_uke.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.personvernkoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.informasjonssikkerhetskoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.ikt_kontakt.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.uke_kam_referanse.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}