{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}

	{% url 'virksomhet' virksomhet.pk as url_virksomhet %}
	<a href="{{ url_virksomhet }}">{{ virksomhet }}</a> sin bruk av systemer
	{% if user.is_authenticated %}
	<h6>
		<a class="btn btn-sm btn-primary" target="_blank" href="/admin/systemoversikt/systembruk/add/?brukergruppe={{ virksomhet.pk }}">Registrer ny bruk av system</a>
	</h6>
	{% endif %}
{% endblock underoverskrift %}

{% block main_content %}
	<p>Systemer som er felles- eller sektorsystemer har her grønn bakgrunn. Merk at det som vises under systemeierskapsmodell her faktisk er det som er satt på bruken, og ikke systemet. Det er derfor ikke nødvendigivs samsvar. Linken under bruksdetaljer er linken til selve bruken av systemet. Klikk på link under system for å komme til systemets detaljeside. Det er registrert {{ all_bruk.count }} systemer i bruk av virksomheten.</p>

	{% include "alle_systembruk_include.html" %}

{% endblock main_content %}