{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	{{ overskrift }} (Viser {{ tjenester.count }})
	{% if user.is_authenticated %}
	<h6>
		<a target="_blank" href="/admin/systemoversikt/tjeneste/add/">Legg til ny tjeneste</a>
	</h6>
	{% endif %}
{% endblock underoverskrift %}

{% block main_content %}
	<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th></th>
		{% endif %}
		<th>Virksomhet</th>
		<th>Tjenestenavn</th>
		<th>Tjenestebeskrivelse</th>
		<th>Systemer benyttet</th>
		<th>Tjenesteleder</th>
		{% if user.is_authenticated %}
		<th></th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for t in tjenester %}
	<tr>
		{% if user.is_authenticated %}
		<td><a target="_blank" href="/admin/systemoversikt/tjeneste/{{ t.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		{% endif %}
		{% url 'virksomhet' t.tjenesteleverandor.pk as url_virksomhet %}
		<td><a href="{{ url_virksomhet }}">{{ t.tjenesteleverandor.virksomhetsforkortelse|default:"-" }}</a></td>

		{% url 'tjenestedetaljer' t.pk as url_tjenestedetaljer %}
		<td><a href="{{ url_tjenestedetaljer }}">{{ t.tjenestenavn }}</a></td>
		<td>{{ t.beskrivelse }}</td>
		<td>
		{% for system in t.systemer.all %}
			{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
			<a href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a><br>
		{% endfor %}
		</td>
		<td>{% for person in t.tjenesteleder.all %} <a href="{% url 'ansvarlig' person.pk %}">{{ person }}</a><br> {% endfor %}</td>
		{% if user.is_authenticated %}
		<td><a target="_blank" href="/admin/systemoversikt/tjeneste/{{ t.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}