{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Behandlinger av personopplysninger (viser {{ behandlinger.count }})
{% endblock underoverskrift %}


{% block main_content %}
	<h6>
		<a href='/admin/systemoversikt/behandlingerpersonopplysninger/add/?behandlingsansvarlig={{ virksomhet }}'>Registrer ny behandling</a> | <a target="_blank" href="/admin/systemoversikt/behandlingerpersonopplysninger/">Søk og filtrer</a>
	</h6>
	<table id="behandlinger" class="table table-sm table-striped">
	<thead>
	<tr>
		<th>Sist oppdatert</th>
		<th>Fellesbehandling</th>
		<th>Registrert av</th>
		<th>Intern avdeling</th>
		<th>Funksjonsområde</th>
		<th>Behandlingen</th>
		<th>Formål</th>
		<th>Den registrerte</th>
		<th>hoy_personvernrisiko / DPIA</th>
		<th>Programvare(r)</th>
		<th>System(er)</th>
		<th>Databehandler(e)</th>
		<th>Behandlingsgrunnlag</th>
		<th>behandlingsgrunnlag_utdyping</th>
		<th>den_registrerte_detaljer</th>
		<th>informering_til_registrerte</th>
		<th>kategorier_personopplysninger</th>
		<th>personopplysninger_utdyping</th>
		<th>opplysningskilde</th>
		<th>utlevering_ekstern_myndighet</th>
		<th>utlevering_registrerte_samtykke</th>
		<th>utlevering_utenfor_EU</th>
		<th>databehandleravtale_status_boolean</th>
		<th>databehandleravtale_status</th>
		<th>sikkerhetstiltak</th>
		<th>planlagte_slettefrister</th>
		<th>oppbevaringsplikt</th>
		<th>sist_gjennomforing_dpia</th>
		<th>referanse_siste_dpia</th>
		<th>dato_sist_ros</th>
	</tr>
	</thead>
	<tbody>
	{% for item in behandlinger %}
	<tr>
		<td>{{ item.sist_oppdatert|date:'Y-m-d' }}</td>
		<td>{{ item.fellesbehandling|yesno:"Ja,Nei" }}</td>
			{% url "virksomhet" item.behandlingsansvarlig.pk as url_virksomhet %}
		<td><a href="{{ url_virksomhet }}">{{ item.behandlingsansvarlig.virksomhetsforkortelse }}</a></td>
		<td>{{ item.internt_ansvarlig|default:"?" }}</td>
		<td>{{ item.funksjonsomraade|default:"?" }}</td>
			{% url "behandlingsdetaljer" item.pk as url_behandlingsdetaljer %}
		<td><a href="{{ url_behandlingsdetaljer }}">{{ item.behandlingen }}</td>
		<td>{{ item.formaal }}</td>
		<td>
			<ul>
			{% for reg in item.den_registrerte.all %}
				<li>{{ reg.kategorinavn }}</li>
			{% endfor %}
			</ul>
			</td>
		<td>{{ item.hoy_personvernrisiko|yesno:"Ja,Nei" }}</td>
		<td>
			{% for program in item.programvarer.all %}
			{% url "programvaredetaljer" program.pk as url_systemdetaljer %}
			<a href="{{ url_systemdetaljer }}">{{ program }}</a><br>
			{% endfor %}
			</td>
		<td>
			{% for system in item.systemer.all %}
			{% url "systemdetaljer" system.pk as url_programvaredetaljer %}
			<a href="{{ url_programvaredetaljer }}">{{ system }}</a><br>
			{% endfor %}
			</td>
		<td>
			{% for databehandler in item.navn_databehandler.all %}
				{% url "leverandor" databehandler.pk as url_leverandor %}
				<a href="{{ url_leverandor }}">{{ databehandler }}</a><br>
			{% endfor %}
			</td>
		<td><ul>
			{% for g in item.behandlingsgrunnlag_valg.all %}
			<li>{{ g }}</li>
			{% endfor %}
			</ul></td>
		<td>{{ item.behandlingsgrunnlag_utdyping|default:"-" }}</td>
		<td>{{ item.den_registrerte_detaljer|default:"-" }}</td>
		<td>{{ item.informering_til_registrerte|default:"-" }}</td>
		<td><ul>
			{% for kategori in item.kategorier_personopplysninger.all %}
			<li>{{ kategori }}</li>
			{% endfor %}
			</ul></td>
		<td>{{ item.personopplysninger_utdyping|default:"-" }}</td>
		<td>{{ item.opplysningskilde|default:"-" }}</td>
		<td>{{ item.utlevering_ekstern_myndighet|yesno:"Ja,Nei" }}, {{ item.utlevering_ekstern_myndighet_utdyping|default:"-" }}</td>
		<td>{{ item.utlevering_registrerte_samtykke|yesno:"Ja,Nei" }}, {{ item.utlevering_registrerte_samtykke_utdyping|default:"-" }}</td>
		<td>{{ item.utlevering_utenfor_EU|yesno:"Ja,Nei" }}, {{ item.garantier_overforing|default:"-" }}</td>
		<td>{{ item.databehandleravtale_status_boolean|yesno:"Ja,Nei" }}</td>
		<td>{{ item.databehandleravtale_status|default:"-" }}</td>
		<td>{{ item.sikkerhetstiltak|default:"-" }}</td>
		<td>{{ item.planlagte_slettefrister|default:"-" }}</td>
		<td>{{ item.oppbevaringsplikt|default:"-" }}</td>
		<td>{{ item.sist_gjennomforing_dpia|date:'Y-m-d'|default:"-" }}</td>
		<td>{{ item.referanse_siste_dpia }}</td>
		<td>{{ item.dato_sist_ros|date:'Y-m-d'|default:"-" }}</td>


	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}