{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	CMDB Business Services (Felles IKT-plattform)
	<div>
		{% if user.is_authenticated %}
			<a class="btn btn-sm btn-secondary" href="{% url 'alle_servere' %}">Alle servere</a>
			<a class="btn btn-sm btn-secondary" href="{% url 'alle_klienter' %}">Alle klienter</a>
			<a class="btn btn-sm btn-secondary" href="{% url 'alle_databaser' %}">Alle databaser</a>
			<a class="btn btn-sm btn-info" target="_blank" href="https://confluence.oslo.kommune.no/x/34MWBg">CMDB nivåer</a>
			<a class="btn btn-sm btn-info" target="_blank" href="https://confluence.oslo.kommune.no/x/R1KQBg">Om CMDB-dataene</a>

		{% endif %}
	</div>
{% endblock underoverskrift %}

{% block main_content %}

	<p>CMDB står for "Configuration management database" og er i denne kontekst en import av det Sopra Steria kaller "Business Services". Gruppene brukes for fakturering og er ofte knyttet til et system. Dette er de samme kategoriene som benyttes i Kompass ved bestillinger. Importen av data skjer manuelt typisk en gang per måned. Det er nå {{ cmdbref.count }} grupper.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="filter"
			placeholder="Business service inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?filter=__all__">Vis alt</a>
		</div>
	</form>


	{% include "alle_cmdb_include.html" with cmdbref=cmdbref %}

{% endblock main_content %}