{% load static %}

<table id="systemoversikt" class="table table-sm table-striped">
<thead>
<tr>
	{% if perms.systemoversikt.change_system %}
		<th>Rediger</th>
	{% endif %}
	<th>Systemnavn</th>
	{% comment %}<th>Behandlinger</th>{% endcomment %}
	<th>Systemkategori</th>
	<th>Leverandører</th>
	<th>Systemtype</th>
	{% comment %}<th>Tjenestenivå UKE</th>{% endcomment %}
	<th>Driftsdokumentasjon</th>
	<th>Systemeier</th>
	<th>Systemforvalter</th>
	<th>Superbrukere</th>
	<th>Nøkkelpersonell</th>
	<th>Systemklassifisering</th>
	{% comment %}<th>Driftsplattform</th>{% endcomment %}
	{% comment %}<th>Leveransemodell (<a href="https://confluence.oslo.kommune.no/pages/viewpage.action?pageId=86945529">definisjon</a>)</th>{% endcomment %}

	{% if perms.systemoversikt.change_system %}
		<th>Sikkerhetsnivå</th>
		<th>Livsløp</th>
	{% endif %}

</tr>
</thead>
<tbody>
{% for item in systemer %}
<tr {% if item.ibruk == False %} style="text-decoration: line-through; opacity: 30%;" {% endif %}
	{% comment %}{% if item.felles_sektorsystem %} style="background-color: #0779002b;" {% endif %}{% endcomment %}
	>
	{% if perms.systemoversikt.change_system %}
		<td><a target="_blank" href="/admin/systemoversikt/system/{{ item.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" title="rediger"></a></td>
	{% endif %}

	{% url "systemdetaljer" item.pk as url_systemdetaljer %}
	<td>
		{% if item.informasjon_kvalitetssikret is False %}
		<img style="width: 14px;" src="{% static 'open-iconic/svg/warning.svg' %}" title="Kvalitet ikke verifisert">
		{% endif %}

		<a href="{{ url_systemdetaljer }}">{{ item }}</a>
	</td>


	{% comment %}
	<td>{{ item.behandling_systemer.count }}</td>
	{% endcomment %}

	<td>
		{% for kategori in item.systemkategorier.all %}
			{% url 'systemkategori' kategori.pk as url_systemkategorier %}
			<a href="{{ url_systemkategorier }}">{{ kategori }}</a><br>
		{% endfor %}
	</td>

	<td>
		{% for lev in item.systemleverandor.all %}
			<a href="{% url 'leverandor' pk=lev.pk %}">{{ lev }}</a><br>
		{% endfor %}

		{% for lev in item.basisdriftleverandor.all %}
			<a href="{% url 'leverandor' pk=lev.pk %}">{{ lev }}</a><br>
		{% endfor %}

		{% for lev in item.applikasjonsdriftleverandor.all %}
			<a href="{% url 'leverandor' pk=lev.pk %}">{{ lev }}</a><br>
		{% endfor %}
	</td>

	<td>
		{% for systemtype in item.systemtyper.all %}
			{% url 'systemtype_detaljer' systemtype.pk as url_systemtype %}
			<a href="{{ url_systemtype }}">{{ systemtype }}</a><br>
		{% endfor %}
	</td>



	<td>
		{% if item.low_level_design_url %}
		<a href="{{ item.low_level_design_url }}">Driftsdokumentasjon</a>
		{% endif %}
	</td>

	<td>
		{% url "virksomhet" item.systemeier.pk as url_systemeier %}
		<b><a href="{{ url_systemeier }}">{{ item.systemeier.virksomhetsforkortelse|default:"?" }}</a></b>
	</td>

	<td>
		{% url "virksomhet" item.systemforvalter.pk as url_systemforvalter %}
		<b><a href="{{ url_systemforvalter }}">{{ item.systemforvalter.virksomhetsforkortelse|default:"?" }}</a></b>
	</td>


	<td>{{ item.superbrukere|default:"-" }}</td>
	<td>{{ item.nokkelpersonell|default:"-" }}</td>

	<td>
		{% url 'systemklassifisering_detaljer' item.systemeierskapsmodell as url_systemeierskapsmodell %}
		<a href="{{ url_systemeierskapsmodell }}">{{ item.get_systemeierskapsmodell_display|default:"" }}</a>
	</td>

	{% comment %}
	{% url 'detaljer_driftsmodell' item.driftsmodell_foreignkey.pk as url_driftsmodell_foreignkey %}
	<td><a href="{{ url_driftsmodell_foreignkey }}">{{ item.driftsmodell_foreignkey|default:"" }}</a></td>
	{% endcomment %}

	{% comment %}<td>{{ item.get_leveransemodell_fip_display|default:"-" }}</td>{% endcomment %}

	{% if perms.systemoversikt.change_system %}
		<td>{{ item.get_sikkerhetsnivaa_display|default:"" }}</td>
		<td>{{ item.get_livslop_status_display|default:"" }}</td>
	{% endif %}


</tr>
{% endfor %}
</tbody>
</table>
