{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}
	{% include 'virksomhet_detaljer_ekstrameny.html' %}
{% endblock ekstrameny %}

{% block overskrift %}
	Oversikt over ansvarlige hos {{ virksomhet.virksomhetsforkortelse }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Systemer har eier og forvaltere, avtaler har avtaleoppfølger og behandlinger har navngitte personer som er ansvarlige for å holde informasjonen oppdatert. En ansvarlig er her en form for rolle som er koblet mot en konkret person representert ved en bruker i Active Directory. Når brukeren koblet til rollen slutter eller av annne grunn får sin bruker deaktivert, vises navnet <span style="text-decoration: line-through;">gjennomstreket</span>. Status på brukere synkronieres hver natt. Dersom en annen person skal overta oppgavene kan man endre pekeren fra "ansvarlig" rollen over på en annen brukerID.<br>Viser {{ ansvarlige.count }} ansvarlige.</p>

	<table class="tablesorter excel">
	<thead>
	<tr>
		<th>Ansvarlig</th>
		<th>Virksomhet</th>
		<th>Bruker er slettet</th>
	</tr>
	</thead>
	<tbody>
	{% for ansvarlig in ansvarlige %}
	<tr>
		{% url 'bruker_detaljer' pk=ansvarlig.brukernavn.pk as url_ansvarlig %}

		<td>👤 <a href="{{ url_ansvarlig }}" style="{% if ansvarlig.brukernavn.profile.accountdisable %}text-decoration: line-through;{% endif %}">
			{{ ansvarlig }}</a>
		</td>

		<td>{{ ansvarlig.brukernavn.profile.virksomhet }}</td>

		<td>{{ ansvarlig.brukernavn.profile.accountdisable|yesno:"Ja, Nei" }}</td>


	</tr>
	{% endfor %}
	</tbody>
	</table>

	</ul>
{% endblock hovedinnhold %}