{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}
	{% include 'ansvarlig_sidemeny.html' %}
{% endblock ekstrameny %}

{% block overskrift %}
	Oversikt over ansvarlige
{% endblock overskrift %}

{% block hovedinnhold %}
	<h6>Ansvarlige {% if virksomhet %} hos {{ virksomhet.virksomhetsforkortelse }} {% else %} i Oslo kommune {% endif %}</h6>

	<p>Systemer har eier og forvaltere, avtaler har avtaleoppfølger og behandlinger har navngitte personer som er ansvarlige for å holde informasjonen oppdatert. En ansvarlig er her en form for rolle som er koblet mot en konkret person representert ved en bruker i Active Directory. Når brukeren koblet til rollen slutter eller av annne grunn får sin bruker deaktivert, vises navnet <span style="text-decoration: line-through;">gjennomstreket</span>. Status på brukere synkronieres hver natt. Dersom en annen person skal overta oppgavene kan man endre pekeren fra "ansvarlig" rollen over på en annen brukerID.<br>Viser {{ ansvarlige.count }} ansvarlige.</p>

	<ul style="column-count:5;">
		{% include "ansvarlig_include_vis.html" with ansvarlige=ansvarlige %}
	</ul>
{% endblock hovedinnhold %}