{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Avtaleoversikt
	<div>
		{% if user.is_authenticated %}
		<a target="_blank" class="btn btn-sm btn-primary" href="/admin/systemoversikt/avtale/add/">Legg til ny avtale</a>
		{% endif %}
		<a target="_blank" class="btn btn-sm btn-info" href="https://felles.intranett.oslo.kommune.no/anskaffelser/samkjopsavtaler/samkjopsavtaler-a-a/">Samkjøpsavtaler A-Å (intranett)</a>
	</div>
{% endblock underoverskrift %}

{% block main_content %}

<p>{{ utdypende_beskrivelse }} Det er {{ avtaler.count }} avtaler registrert.</p>

<span>Vis bare avtaler knyttet til:
{% for v in alle_virksomheter %}
	<a style="margin: 4px; {% if v.pk is virksomhet_pk %}color: white; background: #007bff;{% endif %}"
	href="{% url 'avtalervirksomhet' virksomhet=v.pk %}">{{ v.virksomhetsforkortelse }}</a>
{% endfor %}
</span>
<br><br>

{% include 'avtale_include.html' %}

{% endblock main_content %}