{% load static %}

<table class="tablesorter excel">
	<thead>
	<tr>
		<th>Avtalenavn</th>
		<th>Omfang</th>
		<td>Gyldighet</td>
		<th>Avtaleeier</th>
		<th>Avtaleforvaltere</th>
		<th>Avtalepart</th>
		<th>Avtalereferanse</th>
		<th>Beskrivelse</th>
	</tr>
	</thead>
	<tbody>
	{% for item in avtaler %}
	<tr {% if item.own_domain %} style="background-color: #fffee6;" {% endif %}>
		<td>
			{% url 'avtaledetaljer' item.pk as url_avtaledetaljer %}
			<a href="/admin/systemoversikt/avtale/{{ item.pk }}/change/">{{ item.kortnavn }}</a>
			<br>
			{{ item.get_avtaletype_display|default:"-" }}
		</td>
		<td>
			{% for system in item.for_system.all %}
				<li>{{ system }}</li>
			{% endfor %}
			{% for plattform in item.for_driftsmodell.all %}
				<li>{{ plattform }}</li>
			{% endfor %}
		</td>
		<td>
			Signert {{ item.dato_signert|date:"Y-m-d"|default:"-" }}<br>
			Fornyes {{ item.fornying_dato|default:"-" }}
			{% if item.fornying_dato %}
				({{ item.fornying_dato|timeuntil }})
			{% endif %}
		</td>
		<td>
			{% url 'virksomhet' pk=item.virksomhet.pk as url_virksomhet %}
			<a href="{{ url_virksomhet }}">{{ item.virksomhet.virksomhetsforkortelse }}</a>
			{% if item.avtaleansvarlig_seksjon %}
				ved {{ item.avtaleansvarlig_seksjon }}
			{% endif %}
		</td>
		<td>
			{% include "ansvarlig_include_vis.html" with ansvarlige=item.avtaleansvarlig.all %}
		</td>
		<td>
			{% url 'virksomhet' pk=item.leverandor_intern.pk as url_leverandor_intern %}
			<a href="{{ url_leverandor_intern }}">{{ item.leverandor_intern|default:"" }}</a>
			<br>
			{% url 'leverandor' pk=item.leverandor.pk as url_leverandor %}
			<a href="{{ url_leverandor }}">{{ item.leverandor|default:"" }}</a>
		</td>
		<td>
			{% if item.dokumenturl %}
				<a href="{{ item.dokumenturl }}">{{ item.avtalereferanse|default:"-" }}</a>
			{% else %}
				{{ item.avtalereferanse|default:"-" }}
			{% endif %}
		</td>
		<td>{{ item.beskrivelse|linebreaks }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
