{% extends "avtale_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}

	{% if virksomhet %}
		{% include 'virksomhet_detaljer_ekstrameny.html' %}

	{% else %}
		<hr>

	{% endif %}

{% endblock ekstrameny %}

{% block overskrift %}
	Avtaleoversikt {% if virksomhet %} for {{virksomhet.virksomhetsforkortelse}} {% endif %}
{% endblock overskrift %}


{% block hovedinnhold %}


	<p>
	Det er {{ avtaler.count }} avtaler registrert.
	</p>


	<a href="/admin/systemoversikt/avtale/add/{%if virksomhet %}?virksomhet={{virksomhet.pk}}{%endif%}" class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Registrer ny avtale</a>

	{% if request.user.profile.virksomhet %}
		{% url 'avtalervirksomhet' virksomhet=request.user.profile.virksomhet.pk as url_avtalervirksomhet %}
		<a class="btn btn-sm btn-link" href="{{ url_avtalervirksomhet }}">Våre avtaler</a>
	{% endif %}

	{% url "alle_avtaler" as alle_avtaler_url %}
	<a href="{{ alle_avtaler_url }}" class="btn btn-sm btn-link">Se alle avtaler</a>


	<a href="https://felles.intranett.oslo.kommune.no/anskaffelser/samkjopsavtaler/samkjopsavtaler-a-a/" target="_blank" class="btn btn-sm btn-link">🌍 Samkjøpsavtaler A-Å (intranett)</a>



	{% include 'avtale_include.html' %}

{% endblock hovedinnhold %}