{% extends "behandling_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny_behandling %}

{% endblock ekstrameny_behandling %}

{% block overskrift %}
	Alle behandlinger
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Viser ({{ behandlinger.count }} behandlinger</p>

	<table id="behandlinger" class="tablesorter">
	<thead>
		<tr>
			<th class="filter-false">Rediger</th>
			<th>Felles</th>
			<th>Registrert av</th>
			<th>Behandlingen</th>
			<th>Oppdateringsansvarlig</th>
			<th class="filter-false">Slett</th>
		</tr>
	</thead>
	<tbody>
		{% for item in behandlinger %}
		<tr>
			<td width="5%"><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>

			<td width="5%">{{ item.fellesbehandling|yesno:"Ja,Nei" }}</td>

			{% url "virksomhet" item.behandlingsansvarlig.pk as url_virksomhet %}
			<td width="10%"><a href="{{ url_virksomhet }}">{{ item.behandlingsansvarlig.virksomhetsforkortelse }}</a></td>

			<td width="40%">
				{% if item.informasjon_kvalitetssikret is True %}
				<img style="width: 11px; filter: invert(30%) sepia(150%) saturate(500%) hue-rotate(100deg);" src="{% static 'open-iconic/svg/circle-check.svg' %}" alt="Kvalitet verifisert">
				{% else %}
				<img style="width: 11px; filter: invert(30%) sepia(150%) saturate(500%) hue-rotate(300deg);" src="{% static 'open-iconic/svg/warning.svg' %}" alt="Kvalitet ikke verifisert">
				{% endif %}

				{% url "behandlingsdetaljer" item.pk as url_behandlingsdetaljer %}
				<a href="{{ url_behandlingsdetaljer }}">{{ item.behandlingen }}</a>
			</td>

			<td>
				{% include "ansvarlig_include_vis.html" with ansvarlige=item.oppdateringsansvarlig.all %}
			</td>

			<td width="5%"><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ item.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}