{% extends "behandling_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny_behandling %}

{% endblock ekstrameny_behandling %}

{% block overskrift %}
	Alle behandlinger
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Viser ({{ behandlinger.count }} behandlinger</p>

	<table id="behandlinger" class="tablesorter">
	<thead>
		<tr>
			<th class="filter-false">Rediger</th>
			<th>Fellesbehandling</th>
			<th>Eier (virksomhet)</th>
			<th>Behandlingen</th>
			<th>Kategorier personopplysninger</th>
			<th>Grupper registrerte</th>
			<th>Kvalitetssikret</th>
			<th>Behov for DPIA?</th>
			<th>Oppdateringsansvarlig</th>
		</tr>
	</thead>
	<tbody>
		{% for item in behandlinger %}
		<tr>
			<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>

			<td>
				{% include 'site_janeivetikke.html' with boolean=item.fellesbehandling %}
			</td>

			{% url "alle_behandlinger_virksomhet" item.behandlingsansvarlig.pk as url_virksomhet %}
			<td><a href="{{ url_virksomhet }}">{{ item.behandlingsansvarlig.virksomhetsforkortelse }}</a></td>

			<td>
				{% url "behandlingsdetaljer" item.pk as url_behandlingsdetaljer %}
				<a href="{{ url_behandlingsdetaljer }}">{{ item.behandlingen }}</a>
			</td>

			<td>
				<ul>
				{% for r in item.kategorier_personopplysninger.all %}
					<li>{{ r }}</li>
				{% endfor%}
				</ul>
			</td>

			<td>
				<ul>
				{% for r in item.den_registrerte.all %}
					<li>{{ r }}</li>
				{% endfor%}
				</ul>
			</td>

			<td>
				{% include 'site_janeivetikke.html' with boolean=item.informasjon_kvalitetssikret %}
			</td>

			<td>
				{{ item.behandling_behovdpia.behovforDPIA|default:"Vet ikke" }}
			</td>

			<td>
				{% include "ansvarlig_include_vis.html" with ansvarlige=item.oppdateringsansvarlig.all %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}