{% load static %}

<table id="behandlinger-enkel" class="table table-sm">
	<thead>
		<tr>
			{% if user.is_authenticated %}
			<th class="filter-false"></th>
			{% endif %}
			<th>Registrert av</th>
			<th>Intern avdeling</th>
			<th>Hovedoppgave / Hovedformål</th>
			<th>Behandlingen</th>
			<th>Formål</th>
			{% if user.is_authenticated %}
			<th class="filter-false"></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for item in behandlinger %}
		<tr>
			{% if user.is_authenticated %}
			<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
			{% endif %}

			{% url "virksomhet" item.behandlingsansvarlig.pk as url_virksomhet %}
			<td><a href="{{ url_virksomhet }}">{{ item.behandlingsansvarlig.virksomhetsforkortelse }}</a></td>

			<td>{{ item.internt_ansvarlig|default:"?" }}</td>
			<td>{{ item.funksjonsomraade|default:"?" }}</td>

			<td>
			{% if perms.systemoversikt.view_behandlingerpersonopplysninger %}
			{% url "behandlingsdetaljer" item.pk as url_behandlingsdetaljer %}
			<a href="{{ url_behandlingsdetaljer }}">{{ item.behandlingen }}
			{% else %}
			***
			{% endif %}
			</td>

			<td>
			{% if perms.systemoversikt.view_behandlingerpersonopplysninger %}
			{{ item.formaal }}
			{% else %}
			***
			{% endif %}
			</td>

			{% if user.is_authenticated %}
			<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ item.pk }}/delete/">❌</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
