{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Brukere i Active Directory (on-prem)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Alle brukere synkroniseres hver natt mot Active Directory. Her kan du søke på brukernavn, visningsnavn, e-postadresse eller SID. Dersom du skriver inn flere ord (fornavn, mellomnavn og etternavn), prøver vi å finne brukere som inneholder alle ordene. E-post må være eksakt lik, mens brukernavn må inneholde ordet du skriver inn. Du kan f.eks. søke på "HEL4" og få opp alle brukernavn som starter med dette.</p>

	<hr>

	<form action="{% url 'bruker_sok' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="55" style="width: 450px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Brukernavn, navn, e-post eller SID" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th class="filter-false"></th>
		<th>Aktiv</th>
		<th>Navn</th>
		<th>Brukernavn</th>
		<td>Tilhørighet</td>
		<th>Nærmeste leder</th>
		<th>Sist passordbytte</th>
		<th>Beskrivelse</th>
		<th>Opprettet</th>
		<th>Enheter</th>
	</tr>
	</thead>
	<tbody>
	{% for user in users %}

	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ user.profile.accountdisable|yesno:"Nei,Ja,?" }}</td>
		{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}
		<td><a href="{% url 'bruker_detaljer' pk=user.pk %}">{{user.first_name}} {{user.last_name}}</a></td>
		<td>{{user.username}}</td>
		<td>
			{{user.profile.virksomhet.virksomhetsforkortelse|default:"Ukjent"}} ({{ user.profile.usertype|default:"" }})<br>

			{% url 'enhet_detaljer' pk=user.profile.org_unit.pk as url_enhet %}
			{% if url_enhet %}
				<a href="{{url_enhet}}">{{ user.profile.org_unit|default:"Ukjent" }}</a>
			{% endif %}
		</td>
		<td>
			{% url 'bruker_detaljer' pk=user.profile.org_unit.leder.pk as url_leder %}
			{% if url_leder%}
			<a href="{{url_leder}}">{{ user.profile.org_unit.leder.profile.displayName|default:"Ukjent" }}</a>
			{% endif %}
		</td>
		<td>{{ user.profile.pwdLastSet|date:"Y-m-d" }} ({{ user.profile.pwdLastSet|timesince }})</td>
		<td>{{ user.profile.description|default:"Ingen beskrivelse" }}</td>
		<td>{{ user.profile.whenCreated|date:"Y-m-d" }} ({{ user.profile.whenCreated|timesince }})</td>
		<td>---</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}