{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Entra ID direktesøk
{% endblock overskrift %}

{% block hovedinnhold %}

<form action="" method="POST" autocomplete="off">
	{% csrf_token %}
	<div class="form-group form-inline">
		<input size="55" style="width: 450px;" type="search" value="{{ inndata }}" name="inndata"
			placeholder="E-postadresse eller brukerident" class="form-control form-control-sm">
		<input style="margin-left: 10px;" type="submit" value="Søk" class="btn btn-primary btn-sm">
	</div>
</form>


{% if metadata %}

	Display Name: <h5>{{ metadata.displayName }}</h5>
	Account Enabled: <h5>{{ metadata.accountEnabled|yesno:"Ja, Nei" }}</h5>

	User Principal Name: <h5>{{ metadata.userPrincipalName }}</h5>
	Mail: <h5>{{ metadata.mail }}</h5>
	On Premises Sam Account Name: <h5>{{ metadata.onPremisesSamAccountName }}</h5>

	Company Name: <h5>{{ metadata.companyName }}</h5>
	Department: <h5>{{ metadata.department }}</h5>
	Job Title: <h5>{{ metadata.jobTitle }}</h5>
	Employee Id: <h5>{{ metadata.employeeId }}</h5>

	Mobile Phone: <h5>{{ metadata.mobilePhone }}</h5>

	Extension Attributes:
	<ul>
		<li>EA1: <b>{{ metadata.onPremisesExtensionAttributes.extensionAttribute1 }}</b></li>
		<li>EA2: <b>{{ metadata.onPremisesExtensionAttributes.extensionAttribute2 }}</b></li>
		<li>EA3: <b>{{ metadata.onPremisesExtensionAttributes.extensionAttribute3 }}</b></li>
	</ul>

	<button class="btn btn-sm col-sm-3" type="button" data-toggle="collapse"
		data-target="#metadata"
		aria-expanded="false"
		aria-controls="metadata">
		Rå respons
	</button>
	<div class="collapse" id="metadata">
		<pre>{{raw_metadata}}</pre>
	</div>

{% endif %}


{% if groups %}
	<h5>Gruppemedlemskap: {{ groups|length }}</h5>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>odata_type</th>
		<th>onPremisesSyncEnabled</th>
		<th>displayName</th>
		<th>mailEnabled</th>
		<th>mailNickname</th>
		<th>description</th>
	</thead>
	<tbody>
	{% for group in groups %}
		<tr>
			<td>{{ group|get_odata_type }}</td>
			<td>{{ group.onPremisesSyncEnabled|yesno:"Ja, Nei, -" }}</td>
			<td>{{ group.displayName|default:"-" }}<br>{{ group.id }}</td>
			<td>{{ group.mailEnabled|yesno:"Ja, Nei" }}</td>
			<td>{{ group.mailNickname }}</td>
			<td>{{ group.description|default:"-" }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	<button class="btn btn-sm col-sm-3" type="button" data-toggle="collapse"
		data-target="#grupper"
		aria-expanded="false"
		aria-controls="grupper">
		Rå respons
	</button>
	<div class="collapse" id="grupper">
		<pre>{{raw_groups}}</pre>
	</div>

{% endif %}



{% endblock hovedinnhold %}