{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	Organisering, brukere og tilganger
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Her har vi samlet ulike oppslag mot organisering, brukeridenter og tilganger.</p>

<b>Aktive brukere</b>: {{ antall_aktive_brukere|intcomma }}<br>
<b>Inaktive brukere</b>: {{ antall_deaktive_brukere|intcomma }}<br><br>

<p>Disse tallene kan avvike noe fra AD grunnet at de synkroniseres nattlig, og at Kartoteket ikke sletter brukere som er knyttet til en rolle før rollen er gitt til en ny person. Sistnevnte påvirker bare antall inaktive brukere.</p>

Brukere som ikke har byttet passord siden 2023.11.24 utenom ordinære brukere: {{ ikke_byttet|intcomma }}.

{% endblock hovedinnhold %}

