{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	{{user.profile.displayName}} {% if user.profile.accountdisable %}(deaktivert){% endif%}
{% endblock overskrift %}

{% block hovedinnhold %}
	<b>Virksomhet:</b>
	{% if user.profile.usertype %} {{ user.profile.usertype }} {% endif %}
		{{user.profile.virksomhet|default:"Ukjent"}}
	{% url 'enhet_detaljer' pk=user.profile.org_unit.pk as url_enhet %}
	{% if url_enhet %}
		under <a href="{{url_enhet}}">{{ user.profile.org_unit|default:"Ukjent" }}</a>
	{% endif %}<br>

	<b>Beskrivelse</b>:{{ user.profile.description|default:"Ingen beskrivelse" }}<br>

	{% if url_leder%}
	{% url 'bruker_detaljer' pk=user.profile.org_unit.leder.pk as url_leder %}
		<b>Nærmeste leder:</b> <a href="{{url_leder}}">{{ user.profile.org_unit.leder.profile.displayName|default:"Ukjent" }}</a><br>
	{% endif %}

	<b>E-post:</b> {{ user.email }}<br>

	<b>On-prem brukernavn:</b> {{ user.username }}. Opprettet {{ user.profile.whenCreated|date:"Y-m-d" }}. {{ user.profile.whenCreated|timesince }} siden<br>

	<hr>

	<h6>Direkteoppslag mot brkerkataloger</h6>

	{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}
	<a class="btn btn-link" href="{{ url_ad_exact }}">🔍 slå opp direkte i AD</a>

	{% url 'entra_id_oppslag' as url_ad_exact %}
	<a class="btn btn-link" href="{{ url_ad_exact }}?inndata={{user.email}}">🔍 slå opp direkte i Entra ID</a>

	<hr>

	{% if user.ansvarlig_brukernavn %}

	<h6>{{user.profile.displayName}} er registrert med følgende roller og ansvar</h6>
	<a class="btn btn-link" href="/admin/systemoversikt/ansvarlig/{{ user.ansvarlig_brukernavn.pk }}/change/">{% include 'site_edit_button.html' %} flytt alle roller og ansvar til en annen person</a>

	<hr>

		{% if user.ansvarlig_brukernavn.virksomhet_ikt_kontakt %}
			<b>IKT-hovedkontakt:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_ikt_kontakt.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_personvernkoordinator %}
			<b>Personvernkoordinator (PKO):</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_personvernkoordinator.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_informasjonssikkerhetskoordinator %}
			<b>Informasjonssikkerhetskoordinator (ISK):</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_informasjonssikkerhetskoordinator.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if ansvarlig_detaljer.kam_for %}
			<b>Kundekontakt i UKE for:</b>
			{% for vir in ansvarlig_detaljer.kam_for %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}
		{% endif %}

		{% if ansvarlig_detaljer.autorisert_bestiller_for %}
			<b>Infotorg autorisert bestiller:</b>
			{% for vir in ansvarlig_detaljer.autorisert_bestiller_for %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}
		{% endif %}

		{% if ansvarlig_detaljer.autorisert_bestiller_uke_for %}
			<b>Autorisert bestiller av tjenester fra intern tjenesteleverandør for:</b>
			{% for vir in ansvarlig_detaljer.autorisert_bestiller_uke_for %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}
			<hr>
		{% endif %}

		{% if ansvarlig_detaljer.sertifikatbestiller_for %}
			<b>Autorisert sertifikatbestiller:</b>
			{% for vir in ansvarlig_detaljer.sertifikatbestiller_for %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}
			<hr>
		{% endif %}

		<table class="tablesorter">
			<thead>
			<tr>
				<th style="width: 200px;">Ansvarlig som</th>
				<th>Ansvarlig for</th>
			</tr>
			</thead>
			<tbody>
			{% for avtale in ansvarlig_detaljer.avtale_ansvarlig_for %}
			<tr>
				<td>Avtaleansvarlig</td>
				{% url 'avtaledetaljer' pk=avtale.pk as url_avtale %}
				<td><a href="{{ url_avtale }}">{{ avtale }}</a></td>
			</tr>
			{% endfor %}

			{% for system in ansvarlig_detaljer.system_innsynskontakt_for %}
			<tr>
				<td>Innsynskontakt for</td>
				{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
				<td><a href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a></td>
			</tr>
			{% endfor %}

			{% for bruk in ansvarlig_detaljer.systemforvalter_bruk_for %}
			<tr>
				<td>Lokal systemkontakt for</td>
				{% url 'bruksdetaljer' pk=bruk.pk as url_bruksdetaljer %}
				<td><a href="{{ url_bruksdetaljer }}">{{ bruk.system.systemnavn }}</a></td>
			</tr>
			{% endfor %}

			{% for programvarebruk in ansvarlig_detaljer.programvarebruk_kontakt_for %}
			<tr>
				<td>Lokal programvarekontakt for</td>
				{% url 'programvarebruksdetaljer' pk=programvarebruk.pk as url_programvarebruk %}
				<td>
					<a href="{{url_programvarebruk}}">{{ programvarebruk }}</a>
					{% if not forloop.last %}, {% endif %}
				</td>
			</tr>
			{% endfor %}

			{% for system in ansvarlig_detaljer.kompass_godkjent_bestiller_for %}
			<tr>
				<td>Godkjent bestiller i Kompass for</td>
				{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
				<td>
					<a href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a>
				</td>
			</tr>
			{% endfor %}


			</tbody>
		</table>

		{% if ansvarlig_detaljer.systemforvalter_for %}
			<h6>Systemer jeg forvalter</h6>
			<div style="display: grid; grid-template-columns: repeat(6, 1fr)">
			{% for system in ansvarlig_detaljer.systemforvalter_for %}
				{% include "system_include_vis_ikon.html" with system=system %}
			{% endfor %}
			</div>
		{% endif %}

		{% if ansvarlig_detaljer.systemeier_for %}
			<hr>
			<h6>Systemer jeg eier</h6>
			<div style="display: grid; grid-template-columns: repeat(6, 1fr)">
			{% for system in ansvarlig_detaljer.systemeier_for %}
				{% include "system_include_vis_ikon.html" with system=system %}
			{% endfor %}
			</div>
		{% endif %}

	{% endif %}


{% endblock hovedinnhold %}