{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	{{user.profile.displayName}} {% if user.profile.accountdisable %}(deaktivert){% endif%}
{% endblock overskrift %}

{% block hovedinnhold %}
	<b>Virksomhet:</b>
	{% if user.profile.usertype %} {{ user.profile.usertype }} i {% endif %}

	{% url 'virksomhet' pk=user.profile.virksomhet.pk as url_virksomhet %}
	{% if user.profile.virksomhet %}
		<a target="_blank" href="{{url_virksomhet}}">{{user.profile.virksomhet}}</a>
	{% else %}
		Ukjent
	{% endif %}

	{% url 'enhet_detaljer' pk=user.profile.org_unit.pk as url_enhet %}
	{% if url_enhet %}
		under <a target="_blank" href="{{url_enhet}}">{{ user.profile.org_unit|default:"Ukjent" }}</a>
	{% endif %}<br>

	<b>Beskrivelse</b>:{{ user.profile.description|default:"Ingen beskrivelse" }}<br>

	{% if url_leder%}
	{% url 'bruker_detaljer' pk=user.profile.org_unit.leder.pk as url_leder %}
		<b>Nærmeste leder:</b> <a target="_blank" href="{{url_leder}}">{{ user.profile.org_unit.leder.profile.displayName|default:"Ukjent" }}</a><br>
	{% endif %}

	<b>E-post:</b> {{ user.email }}<br>

	<b>On-prem brukernavn:</b> {{ user.username }}. Opprettet {{ user.profile.whenCreated|date:"Y-m-d" }}. {{ user.profile.whenCreated|timesince }} siden<br>

	<hr>

	<table class="table table-sm tablesorter excel">
		<thead>
		<tr>
			<th>Type bruker</th>
			<th>Brukernavn</th>
			<th>Navn</th>
			<th>Stilling</th>
			<th>O365-lisens</th>
			<th>2-faktor sist oppdatert</th>
			<th>SMS</th>
			<th>FIDO2</th>
			<th>Authenticator</th>
			<th>E-post</th>
			{% comment %}<th>Avdeling</th>{% endcomment %}
			<th>Seksjon</th>
			<th>Mail enabled groups</th>
			<th>Min leder</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>{{ user.profile.account_type }}</td>
			<td>{{ b.username }}</td>
			<td>{{ user.profile.displayName }}</td>
			<td>{{ user.profile.job_title|default:"-" }}</td>
			<td>{{ user.profile.ny365lisens|default:"Ingen" }}</td>
			<td>
				{{ user.profile.auth_methods_last_update|date:"Y-m-d"|default:"Aldri" }}<br>
				{% for method in user.profile.entra_id_auth %}{{ method }}{% if not forloop.last%}, {% endif%}{% endfor %}
			</td>
			<td>{{ user.profile.auth_sms|yesno:"🟢 Ja, 🔴 Nei, Ukjent" }}</td>
			<td>{{ user.profile.auth_fido2|yesno:"🟢 Ja, 🔴 Nei, Ukjent" }}</td>
			<td>{{ user.profile.auth_authenticator|yesno:"🟢 Ja, 🔴 Nei, Ukjent" }}</td>
			<td>{{ b.email }}</td>
			{% comment %}<td>{{ user.profile.avdeling|default:"-" }}</td>{% endcomment %}
			<td>{{ user.profile.org_unit|default:"-" }}</td>
			<td>
				{% for gruppe in user.profile.mail_enabled_groups.all %}<li>{{ gruppe }}</li>{% endfor %}
			</td>
			<td>{{ user.profile.min_leder|default:"-" }}</td>
		</tr>
	</tbody>
	</table>

	<hr>

	<h6>Direkteoppslag mot brukerkataloger</h6>

	{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}
	<a class="btn btn-link" href="{{ url_ad_exact }}">🔍 slå opp direkte i AD</a>

	{% url 'entra_id_oppslag' as url_ad_exact %}
	<a class="btn btn-link" href="{{ url_ad_exact }}?inndata={{user.email}}">🔍 slå opp direkte i Entra ID</a>

	<hr>

	{% if user.ansvarlig_brukernavn %}

		<h6>{{user.profile.displayName}} er registrert med følgende roller og ansvar</h6>
		<a class="btn btn-link" target="_blank" href="/admin/systemoversikt/ansvarlig/{{ user.ansvarlig_brukernavn.pk }}/change/">{% include 'site_edit_button.html' %} flytt alle roller og ansvar til en annen person</a>

		<hr>

		{% if user.ansvarlig_brukernavn.virksomhet_ikt_kontakt.all %}
			<b>IKT-hovedkontakt:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_ikt_kontakt.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_personvernkoordinator.all %}
			<b>Personvernkoordinator (PKO):</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_personvernkoordinator.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_informasjonssikkerhetskoordinator.all %}
			<b>Informasjonssikkerhetskoordinator (ISK):</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_informasjonssikkerhetskoordinator.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_arkitekturkontakter.all %}
			<b>Arkitekturkontakt for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_arkitekturkontakter.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}


		{% if user.ansvarlig_brukernavn.virksomhet_autoriserte_bestillere_tjenester.all %}
			<b>Administrator for søk i KS Fiks folkeregister portal for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_autoriserte_bestillere_tjenester.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_ks_fiks_ansvarlig.all %}
			<b>Autorisert bestiller i Infotorget for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_ks_fiks_ansvarlig.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}



		{% if user.ansvarlig_brukernavn.autorisertbestiller_person.all %}
			<b>Autorisert bestiller av sertifikater fra Buypass via Sopra Steria for:</b>
			{% for autorisertbestiller in user.ansvarlig_brukernavn.autorisertbestiller_person.all %}
				{% url 'virksomhet' pk=autorisertbestiller.person.brukernavn.profile.virksomhet.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ autorisertbestiller.person.brukernavn.profile.virksomhet.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_autoriserte_bestillere_tjenester_uke.all %}
			<b>Autorisert bestiller av tjenester fra UKE for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_autoriserte_bestillere_tjenester_uke.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_autoriserte_bestillere_sertifikater.all %}
			<b>Autorisert sertifikatbestiller for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_autoriserte_bestillere_sertifikater.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}
			<hr>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_uke_kam.all %}
			<b>Kundekontakt fra UKE for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_uke_kam.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}

		{% if user.ansvarlig_brukernavn.virksomhet_varslingsmottak_sikkerhet.all %}
			<b>Mottar sikkerhetsvarsler fra UKE for:</b>
			{% for vir in user.ansvarlig_brukernavn.virksomhet_varslingsmottak_sikkerhet.all %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<li><a target="_blank" href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
			{% endfor %}<br>
		{% endif %}


		<table class="tablesorter">
			<thead>
			<tr>
				<th style="width: 200px;">Rolle</th>
				<th>Ansvarlig for</th>
				<th>Ytterligere detaljer</th>
			</tr>
			</thead>

			<tbody>
			{% for avtale in user.ansvarlig_brukernavn.databehandleravtale_avtaleansvarlig.all %}
			<tr>
				<td>Avtaleansvarlig</td>
				{% url 'avtaledetaljer' pk=avtale.pk as url_avtale %}
				<td><a target="_blank" href="{{ url_avtale }}">{{ avtale }}</a></td>
				<td></td>
			</tr>
			{% endfor %}

			{% for avtale in user.ansvarlig_brukernavn.avtale_ekstra_varsling_utlop.all %}
			<tr>
				<td>Mottar varsel om avtaleutløp for</td>
				{% url 'avtaledetaljer' pk=avtale.pk as url_avtale %}
				<td><a target="_blank" href="{{ url_avtale }}">{{ avtale }}</a></td>
				<td></td>
			</tr>
			{% endfor %}


			{% comment %}
			{% for definisjon in user.ansvarlig_brukernavn.definisjon_ansvarlig.all %}
			<tr>
				<td>Begrepsansvarlig for</td>
				<td><a target="_blank" href="/admin/systemoversikt/definisjon/{{definisjon.pk}}/change/">{{ definisjon }}</a></td>
				<td></td>
			</tr>
			{% endfor %}
			{% endcomment %}

			{% for system in user.ansvarlig_brukernavn.system_kontaktperson_innsyn.all %}
			<tr>
				<td>Innsynskontakt for</td>
				{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
				<td><a target="_blank" href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a>
					{% if system.livslop_status == 1 %}<span style="color:green;"> (under innføring)</span>{% endif %}
					{% if system.livslop_status == 5 %}<span> (skal byttes ut)</span>{% endif %}
					{% if system.livslop_status == 6 %}<span style="color:red;"> (under avvikling)</span>{% endif %}
					{% if system.livslop_status == 7 %}<span style="color:red;"> (er avviklet)</span>{% endif %}

					{% if system.er_infrastruktur %}
						<br>Infrastrukturkomponent
					{% elif system.er_integrasjon %}
						<br>Integrasjonskomponent
					{% endif %}
				</td>
				<td>
					{% if system.driftsmodell_foreignkey %}<b>Plattform</b>: {{ system.driftsmodell_foreignkey }}{% endif %}
					{% if system.systemforvalter_avdeling_referanse %}<br><b>Seksjon</b>: {{ system.systemforvalter_avdeling_referanse }}{% endif %}
				</td>
			</tr>
			{% endfor %}

			{% for bruk in user.ansvarlig_brukernavn.systembruk_forvalter_for.all %}
			<tr>
				<td>Lokal systemforvalter for</td>
				{% url 'bruksdetaljer' pk=bruk.pk as url_bruksdetaljer %}
				<td><a target="_blank" href="{{ url_bruksdetaljer }}">{{ bruk.system.systemnavn }}</a>
					{% if bruk.system.livslop_status == 1 %}<span style="color:green;"> (under innføring)</span>{% endif %}
					{% if bruk.system.livslop_status == 5 %}<span> (skal byttes ut)</span>{% endif %}
					{% if bruk.system.livslop_status == 6 %}<span style="color:red;"> (under avvikling)</span>{% endif %}
					{% if bruk.system.livslop_status == 7 %}<span style="color:red;"> (er avviklet)</span>{% endif %}

					{% if bruk.system.er_infrastruktur %}
						<br>Infrastrukturkomponent
					{% elif bruk.system.er_integrasjon %}
						<br>Integrasjonskomponent
					{% endif %}
				</td>
				<td>
					{% if bruk.system.driftsmodell_foreignkey %}<b>Plattform</b>: {{ bruk.system.driftsmodell_foreignkey }}{% endif %}
					{% if bruk.system.systemforvalter_avdeling_referanse %}<br><b>Seksjon</b>: {{ bruk.system.systemforvalter_avdeling_referanse }}{% endif %}
				</td>
			</tr>
			{% endfor %}

			{% for bruk in user.ansvarlig_brukernavn.systembruk_systemeier_kontaktpersoner.all %}
			<tr>
				<td>Lokal systemeier for</td>
				{% url 'bruksdetaljer' pk=bruk.pk as url_bruksdetaljer %}
				<td><a target="_blank" href="{{ url_bruksdetaljer }}">{{ bruk.system.systemnavn }}</a>
					{% if bruk.system.livslop_status == 1 %}<span style="color:green;"> (under innføring)</span>{% endif %}
					{% if bruk.system.livslop_status == 5 %}<span> (skal byttes ut)</span>{% endif %}
					{% if bruk.system.livslop_status == 6 %}<span style="color:red;"> (under avvikling)</span>{% endif %}
					{% if bruk.system.livslop_status == 7 %}<span style="color:red;"> (er avviklet)</span>{% endif %}

					{% if bruk.system.er_infrastruktur %}
						<br>Infrastrukturkomponent
					{% elif bruk.system.er_integrasjon %}
						<br>Integrasjonskomponent
					{% endif %}
				</td>
				<td>
					{% if bruk.system.driftsmodell_foreignkey %}<b>Plattform</b>: {{ bruk.system.driftsmodell_foreignkey }}{% endif %}
					{% if bruk.system.systemforvalter_avdeling_referanse %}<br><b>Seksjon</b>: {{ bruk.system.systemforvalter_avdeling_referanse }}{% endif %}
				</td>
			</tr>
			{% endfor %}

			{% for programvarebruk in user.ansvarlig_brukernavn.programvarebruk_lokal_kontakt.all %}
			<tr>
				<td>Lokal programvarekontakt for</td>
				{% url 'programvarebruksdetaljer' pk=programvarebruk.pk as url_programvarebruk %}
				<td>
					<a target="_blank" href="{{url_programvarebruk}}">{{ programvarebruk }}</a>
					{% if not forloop.last %}, {% endif %}
				</td>
				<td></td>
			</tr>
			{% endfor %}

			{% for system in user.ansvarlig_brukernavn.system_godkjente_bestillere.all %}
			<tr>
				<td>Godkjent bestiller i Kompass for</td>

				{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
				<td><a target="_blank" href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a>
					{% if system.livslop_status == 1 %}<span style="color:green;"> (under innføring)</span>{% endif %}
					{% if system.livslop_status == 5 %}<span> (skal byttes ut)</span>{% endif %}
					{% if system.livslop_status == 6 %}<span style="color:red;"> (under avvikling)</span>{% endif %}
					{% if system.livslop_status == 7 %}<span style="color:red;"> (er avviklet)</span>{% endif %}

					{% if system.er_infrastruktur %}
						<br>Infrastrukturkomponent
					{% elif system.er_integrasjon %}
						<br>Integrasjonskomponent
					{% endif %}
				</td>
				<td>
					{% if system.driftsmodell_foreignkey %}<b>Plattform</b>: {{ system.driftsmodell_foreignkey }}{% endif %}
					{% if system.systemforvalter_avdeling_referanse %}<br><b>Seksjon</b>: {{ system.systemforvalter_avdeling_referanse }}{% endif %}
				</td>
			</tr>
			{% endfor %}

			{% for system in user.ansvarlig_brukernavn.system_forvalter_for.all %}
			<tr>
				<td>Systemforvalter for</td>

				{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
				<td><a target="_blank" href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a>
					{% if system.livslop_status == 1 %}<span style="color:green;"> (under innføring)</span>{% endif %}
					{% if system.livslop_status == 5 %}<span> (skal byttes ut)</span>{% endif %}
					{% if system.livslop_status == 6 %}<span style="color:red;"> (under avvikling)</span>{% endif %}
					{% if system.livslop_status == 7 %}<span style="color:red;"> (er avviklet)</span>{% endif %}

					{% if system.er_infrastruktur %}
						<br>Infrastrukturkomponent
					{% elif system.er_integrasjon %}
						<br>Integrasjonskomponent
					{% endif %}
				</td>
				<td>
					{% if system.driftsmodell_foreignkey %}<b>Plattform</b>: {{ system.driftsmodell_foreignkey }}{% endif %}
					{% if system.systemforvalter_avdeling_referanse %}<br><b>Seksjon</b>: {{ system.systemforvalter_avdeling_referanse }}{% endif %}
				</td>
			</tr>
			{% endfor %}



			{% for system in user.ansvarlig_brukernavn.system_eier_for.all %}
			<tr>
				<td>Systemeier for</td>

				{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
				<td><a target="_blank" href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a>
					{% if system.livslop_status == 1 %}<span style="color:green;"> (under innføring)</span>{% endif %}
					{% if system.livslop_status == 5 %}<span> (skal byttes ut)</span>{% endif %}
					{% if system.livslop_status == 6 %}<span style="color:red;"> (under avvikling)</span>{% endif %}
					{% if system.livslop_status == 7 %}<span style="color:red;"> (er avviklet)</span>{% endif %}

					{% if system.er_infrastruktur %}
						<br>Infrastrukturkomponent
					{% elif system.er_integrasjon %}
						<br>Integrasjonskomponent
					{% endif %}
				</td>
				<td>
					{% if system.driftsmodell_foreignkey %}<b>Plattform</b>: {{ system.driftsmodell_foreignkey }}{% endif %}
				</td>
			</tr>
			{% endfor %}

			{% comment %}
			{% for behandling in user.ansvarlig_brukernavn.behandling_kontaktperson.all %}
			<tr>
				<td>Behandlingsansvarlig for</td>
				<td><a target="_blank" href="/admin/systemoversikt/behandlingerpersonopplysninger/{{behandling.pk}}/change/">{{ behandling }}</a></td>
				<td></td>
			</tr>
			{% endfor %}
			{% endcomment %}

			</tbody>
		</table>

	{% endif %}


{% endblock hovedinnhold %}