{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	Organisering, brukere og tilganger
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Her finner du informasjon om organisering, brukeridenter og tilganger. Det er <b>{{ antall_aktive_brukere|intcomma }} aktive</b>, og <b>{{ antall_deaktive_brukere|intcomma }} deaktiverte</b> brukere i brukerkatelogen (AD). AD synkroniserer til Entra ID. Disse tallene kan avvike noe fra AD grunnet at de synkroniseres nattlig, og at Kartoteket ikke sletter brukere som er knyttet til en rolle før rollen er gitt til en ny person. Sistnevnte påvirker bare antall inaktive brukere.</p>


{% endblock hovedinnhold %}

