{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Business Sub Services (CMDB)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>CMDB står for "Configuration management database" og er i praksis en eller flere databaser med informasjon om hva et driftsmiljø består av. Sopra Steria har organisert servere, databaser, nettverksutstyr med mer i "Business Services". En business service er en gruppe, og består igjen av business sub services, typisk per miljø (test, produksjon, kurs..). I Kartoteket knytter vi business service til system. Kobling BSS til BS gjøres av Sopra Steria.</p>

	<p>Det er knyttet tilgjengelighetskrav til business sub services, som igjen dikterer SLA krav knyttet til bestillinger og feilmeldinger på underliggende systemer. Ler mer om SLA-nivåene på <a href="https://confluence.oslo.kommune.no/x/34MWBg" target="_blank">Confluence</a>.</p>

	<p>Importen av disse dataene skjer automatik hver natt</p>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Business service inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>


	{% include "cmdb_include.html" with cmdbref=cmdbref %}


	<h4>Business services uten kobling til et system</h4>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Business service</th>
		<th>Koble?</th>
	</tr>
	</thead>
	<tbody>
	{% for bs in bs_uten_system %}
	<tr>
		<td>
			{{ bs }}
		</td>
		<td>
			<a href="/admin/systemoversikt/cmdbbs/{{ bs.pk }}/change/">✎ koble</a>
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


	<h4>Systemer angitt å kjøre på felles IKT-plattform som ikke er koblet til en business service</h4>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Systemnavn</th>
		<th>Plattform</th>
		<th>Systemeier</th>
		<th>Systemforvalter</th>
	</tr>
	</thead>
	<tbody>
	{% for s in system_uten_bs %}
	<tr>
		<td>{{ s.systemnavn }}</td>
		<td>{{ s.driftsmodell_foreignkey }}</td>
		<td>{{ s.systemeier|default:"?" }}</td>
		<td>{{ s.systemforvalter|default:"?" }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


	<h4>Utfasede business services som fremdeles er koblet mot et system</h4>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Business service</th>
		<th>Koblet system</th>
	</tr>
	</thead>
	<tbody>
	{% for bs in utfasede_bs %}
	<tr>
		<td>{{ bs }}</td>
		<td>
			{% if bs.systemreferanse %}
				{{ bs.systemreferanse.systemnavn }}
				<a style="color: #ff2116;" href="/admin/systemoversikt/cmdbbs/{{ bs.pk }}/change/">✎ frakoble?</a>
			{% else %}
				Ikke koblet
			{% endif %}

		</td>
	</tr>
	{% endfor %}


{% endblock hovedinnhold %}