{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Nettverksdetaljer for {{ nettverk.comment }} - {{ nettverk.ip_address }}/{{ nettverk.subnet_mask }} {% if vlan.disabled %} (deaktivert) {% endif %}
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Fant {{network_ip_addresses|length}} enheter med IP-adresse og {{firewall_openings|length}} brannmuråpninger tilknyttet nettverket.</p>

	<hr>
	<h5>Enheter i nettverket</h5>
	<table class="table table-sm tablesorter excel">
	<thead>
		<th>IP-adresse</th>
		<th>Server</th>
		<th>VIP</th>
		<th>Pools</th>
		<th>DNS</th>
	</thead>
	<tbody>

	{% for ip in network_ip_addresses %}
		<tr>
			<td>{{ ip }}</td>
			<td>
			{% for server in ip.servere.all %}
				{% if server.device_active %}
					{% url 'cmdb_bss' pk=server.sub_name.pk as url_bss %}
					{{ server }} (<a href="{{ url_bss }}">{{ server.sub_name }}</a>)<br>
				{% endif %}
			{% endfor %}
			</td>
			<td>
			{% for vip in ip.viper.all %}
				{{ vip }}<br>
			{% endfor %}
			</td>
			<td>
			{% for pool in ip.vip_pools.all %}
				{{ pool }}
				{% for vip in pool.vip.all %}
					{% url 'detaljer_vip' pk=vip.pk as url_vip %}
					<a href="{{ url_vip }}">({{ vip.ip_address }}:{{ vip.port }})</a>
				{% endfor %}
				<br>
			{% endfor %}
			</td>
			<td>
			{% for dns in ip.dns.all %}
				{{ dns }}<br>
			{% endfor %}
			</td>
		</tr>


	{% endfor %}

	</tbody>
	</table>


	<hr>
	<h5>Brannmurregler knyttet til nettverket</h5>
	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Regel ID</th>
		<th>Regel aktiv?</th>
		<th>Virtuell brannmur</th>
		<th>Type åpning</th>
		<th>Kilde</th>
		<th>Destinasjon</th>
		<th>Protokoll</th>
		<th>Beskrivelse</th>
	</thead>
	<tbody>

	{% for opening in firewall_openings %}
		<tr>
			<td>{{ opening.regel_id }}</td>
			<td>{{ opening.active }}</td>
			<td>{{ opening.brannmur }}</td>
			<td>{{ opening.permit }}</td>
			<td>
			{% for source in opening.source_items %}
				<li
					{% if nettverk.ip_address in source %} style="background-color: #f7f779;"{% endif %}
					{% if network_ip_addresses|length < config_maximum_mark_server %}
						{% for ip in network_ip_addresses %}
							{% if ip.ip_address in source %} style="background-color: #79f787;"{% endif %}
						{% endfor %}
					{% endif %}
					>{{ source }}
				</li>
			{% endfor %}
			</td>
			<td>
			{% for dest in opening.destination_items %}
				<li
					{% if nettverk.ip_address in dest %} style="background-color: #f7f779;"{% endif %}
					{% if network_ip_addresses|length < config_maximum_mark_server %}
						{% for ip in network_ip_addresses %}
							{% if ip.ip_address in dest %} style="background-color: #79f787;"{% endif %}
						{% endfor %}
					{% endif %}
					>{{ dest }}
				</li>
			{% endfor %}
			</td>
			<td>
			{% for port in opening.protocol_items %}
				<li>{{ port }}</li>
			{% endfor %}
			</td>
			<td>{{ opening.comment }}</td>
		</tr>
	{% endfor %}

	</tbody>
	</table>

{% endblock hovedinnhold %}