{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Utfasede servere på Felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Når Kartotekets importfunksjon ikke finner en maskin som var med tidligere, markeres den som deaktivert. <br>
	Viser de {{ maskiner.count }} siste deaktiverte maskinene.</p>

	<table class="table table-sm tablesorter">
	<thead>
		<tr>
			<th>Sist oppdatert</th>
			<th>Maskinnavn</th>
			<th>Business service</th>
			<th>Portfolio</th>
			<th>Nettverk</th>
			<th>Operativsystem</th>
			<th>Tilhørende system</th>
			<th>DNS</th>
			<th>VLAN</th>
			<th>NAT</th>
			<th>VIP/BigIP</th>
		</tr>
	</thead>
	<tbody>
	{% for maskin in maskiner %}
	<tr>
		{% url 'ad_details' name=maskin.comp_name as url_ad %}
		<td>
			{{ maskin.sist_oppdatert }}
		</td>
		<td>
			<a href="{{ url_ad }}">{{ maskin.comp_name }}</a>
		</td>
		<td>
			{{ maskin.sub_name }}
		</td>
		<td>
			{{ maskin.bs_u_service_portfolio }}
		</td>
		<td>
			{{ maskin.comp_ip_address }}
		</td>
		<td>
			{{ maskin.comp_os|default:"Ukjent" }}
			{{ maskin.comp_os_version }}
			{{ maskin.comp_os_service_pack }}
		</td>
		<td>
			{{ maskin.sub_name.system|default:"-" }}
		</td>
		<td>
			{{ maskin.dns|default:"" }}
		</td>
		<td>
			{{ maskin.vlan|default:"" }}
		</td>
		<td>
			{{ maskin.nat|default:"" }}
		</td>
		<td>
			{{ maskin.vip|default:"" }}
		</td>

	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}