{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Miljø "{{ cmdbref.0.navn }}"
{% endblock overskrift %}

{% block ekstrajavascript %}
	<script src="{% static 'cytoscape/cytoscape.min.js@3.9.4' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/numeric.min.js@1.2.6' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/layout-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cose-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-layout-utilities.js@1.0.0' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-fcose.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block hovedinnhold %}

	{% if perms.systemoversikt.view_system %}

		<hr>

		<h6>Overordnet business Service:</h6>
		<h4>{{ cmdbref.0.parent_ref }}</h4>


		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h6>Totalt allokert minne</h6>
					<h3>{{ cmdbref.0.parent_ref.ram_allocated|filesizeformat }}</h3>
					<h6>Totalt allokert disk</h6>
					<h3>{{ cmdbref.0.parent_ref.san_allocated|filesizeformat }}</h3>
					<h6>Totalt ubrukt disk</h6>
					<h3>{{ cmdbref.0.parent_ref.san_unallocated|filesizeformat }}</h3>
					<h6>Total backupstørrelse</h6>
					<h3>{{ cmdbref.0.parent_ref.backup_size|filesizeformat }}</h3>
				</div>
				<div class="col-sm-9">
					<h6>Alle miljø</h6>
					{% for bss in cmdbref.0.parent_ref.cmdb_bss_to_bs.all %}
						{% url 'cmdb_bss' pk=bss.pk as url_cmdb_bss %}
						<a href="{{url_cmdb_bss}}">{{ bss.navn }}</a> {% if not forloop.last %} | {% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<hr>


		<h6>Beskrivelse fra Sopra Steria</h6>
		<p>{{cmdbref.0.comments|default:"-"}}</p>

		<div class="container">
			<div class="row">
				<div class="col-sm">
					<h6>Miljø allokert minne</h6>
					<h3>{{ cmdbref.0.ram_allocated|filesizeformat }}</h3>
				</div>
				<div class="col-sm">
					<h6>Miljø allokert disk</h6>
					<h3>{{ cmdbref.0.san_allocated|filesizeformat }}</h3>
				</div>
				<div class="col-sm">
					<h6>Miljø ubrukt disk</h6>
					<h3>{{ cmdbref.0.san_unallocated|filesizeformat }}</h3>
				</div>
				<div class="col-sm">
					<h6>Miljø backupstørrelse</h6>
					<h3>{{ cmdbref.0.backup_size|filesizeformat }}</h3>
				</div>
				<div class="col-sm">
					<h6>Miljø antall A-records</h6>
					<h3>{{ cmdbref.0.antall_dns_rec }}</h3>
				</div>
			</div>
		</div>

		{% include "cmdb_include.html" with cmdbref=cmdbref %}


		<hr>
		<div id="cy" style="width: 100%; height: 400px;"></div>

		<hr>

		<h6>Servere</h6>
		<table class="table table-sm tablesorter">
			<thead>
			<tr>
				<th>Computer name / hostname</th>
				<th>Aktiv?</th>
				<th>Service portfolio</th>
				<th>Antall CPU</th>
				<th>RAM (MB)</th>
				<th width="25%">Disk space</th>
				<th>Backup</th>
				<th>Nettverk</th>
				<th>DNS</th>
				<th>NAT</th>
				<th>VIP</th>
				<th>OS</th>
			</tr>
			</thead>
			<tbody>
			{% for item in cmdbdevices.all %}
			<tr {% if not item.device_active %} style="color: #d6d6d6;" {% endif %}>
				{% url 'cmdb_devicedetails' pk=item.pk as url_cmdb_devicedetails %}
				<td><a href="{{url_cmdb_devicedetails}}">{{ item.comp_name|default:"-" }}</a></td>
				<td>
					{% include 'site_janeivetikke.html' with boolean=item.device_active %}<br>
					{{ item.vm_poweredon|yesno:"Påskrudd, Avskrudd" }}
				</td>
				<td>{{ item.bs_u_service_portfolio|default:"-" }}</td>
				<td>{{ item.comp_cpu_core_count|default:"-" }}</td>
				<td>{{ item.comp_ram_byes|filesizeformat }}</td>
				<td>
					{{ item.comp_disk_space|filesizeformat }} (Type {{ item.vm_disk_tier }})
					<br>
					{% for disk in item.cmdbdisk_computer.all %}
						{% if disk.operational_status %}
							<li>
							{{ disk.file_system}} {{disk.free_space_bytes|filesizeformat}} of {{disk.size_bytes|filesizeformat}} ({{ disk.mount_point|truncatechars:35 }})</li>
						{% endif %}
					{% endfor %}

				</td>
				<td>
					{% for b in item.backup_size %}
						{{ b|filesizeformat }}<br>
					{% endfor %}
				</td>
				<td>
					IP: {{ item.comp_ip_address|default:"-" }}<br>
					{% for vlan in item.network_ip_address.all.0.vlan.all %}
						{% url 'nettverk_detaljer' pk=vlan.pk as url_network_details %}
						<li><a href="{{ url_network_details }}">{{ vlan.comment }} ({{ vlan }})</a></li>
					{% endfor %}
				</td>
				<td>{{ item.dns|default:"" }}</td>
				<td>{{ item.nat|default:"" }}</td>
				<td>
				{% for vip in item.network_ip_address.all.0.viper.all %}
					{% url 'detaljer_vip' pk=vip.pk as url_vip %}
					<a href="{{ url_vip }}">{{ vip.vip_name }}</a><br>
				{% endfor %}
				{% for pool in item.network_ip_address.all.0.vip_pools.all %}
					<li>{{ pool.pool_name }}</li>
				{% endfor %}
				</td>
				<td>
					{{ item.comp_os }}<br>
					{{ item.comp_os_version|default:"-" }}<br>
					{{ item.comp_os_service_pack|default:"-" }}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>


		<h6>Databaser</h6>
		<table class="table table-sm tablesorter">
			<thead>
			<tr>
				<th width="25%">Database</th>
				<th>Used for</th>
				<th>Version</th>
				<th>File size (kb)</th>
			</tr>
			</thead>
			<tbody>
			{% for db in databaser %}
			<tr {% if not db.db_operational_status %} style="color: #d6d6d6;" {% endif %}>
				<td>{{ db.db_database }}</td>
				<td>{{ db.db_used_for }}</td>
				<td>{{ db.db_version }}</td>
				<td>{{ db.db_u_datafilessizekb }} ({{ db.db_u_datafilessizekb|filesizeformat }})</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>

		<h6>Backup</h6>
		<table class="table table-sm tablesorter">
			<thead>
			<tr>
				<th>Backupnavn</th>
				<th>Størrelse</th>
				<th>Eksportdato fra import</th>
			</tr>
			</thead>
			<tbody>
			{% for b in backup_inst.all %}
			<tr>
				<td>{{ b.device_str }}</td>
				<td>{{ b.backup_size_bytes|filesizeformat }}</td>
				<td>{{ b.export_date }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>

		<h6>DNS-navn</h6>
		<table class="table table-sm tablesorter excel">
		<thead>
			<th>DNS-navn</th>
			<th>DNS-type</th>
			<th>IP adresse</th>
			<th>Alias mot</th>
			<th>Time to live (TTL)</th>
		</thead>
		<tbody>
		{% for dns in cmdbref.0.alle_dns %}
			<tr>
				<td>{{ dns.dns_name }}</td>
				<td>{{ dns.dns_type }}</td>
				<td>{{ dns.ip_address }}</td>
				<td>{{ dns.dns_target|default:"" }}</td>
				<td>{{ dns.ttl|default:"" }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>


	{% else %}
		<p>Du mangler tilgangen view_system (Vise systemdetaljer).</p>

	{% endif %}


{% endblock hovedinnhold %}

{% block script_append %}
<script type="text/javascript" nonce="{{request.csp_nonce}}">
	var cy = cytoscape({
		zoomingEnabled: true,
		panningEnabled: true,
		wheelSensitivity: 0.0,
		container: document.getElementById('cy'),
		elements: {
			nodes: [
				{% for node in graf_data.nodes %} {{ node|safe }},
				{% endfor %}
			],
			edges: [
				{% for edge in graf_data.edges %} {{ edge|safe }},
				{% endfor %}
			],
		},
		style: [
			{
				selector: 'node',
				style: {
					'shape': 'data(shape)',
					'background-color': 'data(color)',
					'label': 'data(name)',
					'font-size': '8px',
				},
			},
			{
				selector: 'node:selected',
				style: {
				},
			},
			{
				selector: 'edge',
				style: {
					'target-arrow-shape': 'triangle',
					'curve-style': 'bezier',
					'line-style': 'data(linestyle)',
				},
			},
			{
				selector: 'edge:selected',
				style: {
				},
			},
			{
				selector: ':parent',
				style: {
					'label': 'data(id)',
					'line-style': "solid",
					'background-color': '#ebf5fc',
				}
			},
		],
		layout: {
			name: 'fcose',
			animationDuration: 0, //ms
			idealEdgeLength: 150,
		},
	});
	cy.on('tap', 'node', function(){
		if (this.data('href')) {
			try { // your browser may block popups
				window.open( this.data('href'), "_self" );
			} catch(e){ // fall back on url change
				window.location.href = this.data('href');
			}
		}
	});

</script>
{% endblock script_append %}