{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Offerings som mangler systemkobling
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Service Offerings som ikke er skjult som ikke er koblet til noe. Alle bør være koblet til noe, og listen bør være tom.</p>
	<p>For å rette dette, må du søke opp systemet og registrere kobling til relevante business offerings fra systemets redigeringsside.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Business service (nivå 1)</th>
		<th>Business offering (nivå 2)</th>
		<th>Service classification</th>
		<th>Antall servere</th>
		<th>Antall databaser</th>
		<th>Tilgjengelighet</th>
		<th>Driftskompleksitet</th>
		<th>Kritikalitet</th>
	</tr>
	</thead>
	<tbody>
	{% for bs in bs_uten_system %}
	<tr>
		<td>{{ bs.parent_ref.navn|default:'?' }}</td>
		<a href="{% url 'cmdb_bss' pk=bs.pk %}">{{ bs.navn }}</a>
		<td>{{ bs.service_classification|default:"" }}</td>
		<td>{{ bs.ant_devices }}</td>
		<td>{{ bs.ant_databaser }}</td>
		<td {% if not bs.u_service_availability %} style="color: red;" {% endif %}>
			{{ bs.u_service_availability_text|default:"T?" }}
		</td>
		<td {% if not bs.u_service_operation_factor %} style="color: red;" {% endif %}>
			{{ bs.u_service_operation_factor_text|default:"D?" }}
		</td>
		<td {% if not bs.u_service_complexity %} style="color: red;" {% endif %}>
			{{ bs.u_service_complexity_text|default:"K?" }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}