{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Lastbalanserte tjenester
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Det er {{ alle_viper.count }} lastbalanserte tjenester i databasen.</p>

	<hr>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>VIP</th>
		<th>IP</th>
		<th>Domene</th>
		<th>Pool members</th>
		<th>Hit count</th>
	</thead>
	<tbody>
	{% for vip in alle_viper %}
		<tr>
			<td>{{vip.vip_name}}</td>
			<td>{{vip.ip_address}}:{{vip.port}}</td>
			<td>
				{% for ip in vip.network_ip_address.all %}
					{% if ip.dns.all|length > 25 %}
						Det er registrert {{ ip.dns.all|length }} DNS-alias.
					{% else %}
						{% for dnsrec in ip.dns.all %}
							{{ dnsrec.dns_full_name }}<br>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				<ul>
				{% for member in vip.pool_members.all %}
					<li>
						{{ member.ip_address }}:{{ member.port }}
						{% if member.server %}
							{% url 'cmdb_devicedetails' pk=member.server.pk as url_cmdb_devicedetails %}
							(<a href="{{url_cmdb_devicedetails}}">{{ member.server }}</a>)
						{% elif member.indirect_pool_members.all|length > 0 %}
							<br>Har indirekte medlemmer:<br>
							<ul>
							{% for member in member.indirect_pool_members.all %}
								<li>
									{{ member.ip_address }}:{{ member.port }}
									{% if member.server %}
										{% url 'cmdb_devicedetails' pk=member.server.pk as url_cmdb_devicedetails %}
										(<a href="{{url_cmdb_devicedetails}}">{{ member.server }}</a>)
									{% endif %}
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</td>
			<td>{{vip.hitcount}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}