{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Nettverksenheter
{% endblock overskrift %}

{% block hovedinnhold %}

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Enhetsnavn</th>
		<th>IP-adresse</th>
		<th>Modell</th>
		<th>Firmware</th>
	</thead>
	<tbody>
	{% for device in nettverksenehter %}
		<tr>
			<td>{{device.comp_name}}</td>
			<td>{{device.comp_ip_address}}</td>
			<td>{{device.comp_os}}</td>
			<td>{{device.comp_os_version}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}