{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	{{ device.comp_name }}
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Dette er en {{ device.device_type }}, sist oppdatert {{ device.sist_oppdatert }}. Den er merket som {{ device.device_active|yesno:"aktiv, deaktiv"}} i CMDB. Den er {{device.vm_poweredon|yesno:"påskrudd, avskrudd"}} i VMware.</p>

{% url 'cmdb_bss' pk=device.sub_name.pk as url_cmdb_bss %}
<p>Den er klassifisert under <a href="{{ url_cmdb_bss }}">{{ device.sub_name }}</a> og er {{ device.billable|yesno:"fakturerbar, ikke fakturerbar" }}.</p>
<p>Befinner seg på datasenter {{device.comp_location}}.</p>

<p>Beskrivelse:
	<li>"{{ device.description }}".</li>
	<li>"{{ device.comments }}".</li>
</p>

<p>
	Operativsystem er {{ device.comp_os_readable|default:"?" }}.<br>
	<hr>
	IP er {{ device.comp_ip_address|default:"?" }} som ligger under VLAN {{device.vlan|default:"?"}}<br>
	<hr>
	Har tildelt {{ device.comp_cpu_core_count|default:"?" }} CPU-kjerner / {{ device.comp_cpu_speed|default:"?" }} Mhz. {{device.cpu_usage}}% aktiv.<br>
	<hr>
	Tildelt {{ device.comp_disk_space|filesizeformat }} {{ device.vm_disk_tier }} disk. {{device.disk_usage_free}}% ledig.<br>
	{% for p in device.cmdbdisk_computer.all %}
		<li>{{p.mount_point}} {{p.file_system}} {{p.size_bytes|filesizeformat}} ({{p.free_space_bytes|filesizeformat}} ledig)</li>
	{% endfor %}
	<hr>
	Tildelt {{ device.comp_ram }} MB minne (RAM). {{ device.ram_usage }}% benyttes (ved sist eksport).
	<hr>
	Størrelse på backup: {% for b in device.backup_size %}	{{ b|filesizeformat }} {% if not forloop.last %} + {% endif %} {% endfor %}
</p>

{% if device.device_type == "SERVER" %}
<p>
	<hr>
	Registrert mot DNS:
	<li>{{device.dns|default:"Ingen"}}.</li>
	<hr>
	Registrert mot Lastbalansering:

	{% for pool in device.vip_pool.all %}
		<li>{{pool}}</li>
		<ul>
			{% for vip in pool.vip.all %}
				<li>Virtual IP: {{vip}}</li>
			{% endfor %}
		</ul>
	{% empty %}
		<li>Ingen</li>
	{% endfor %}

</p>
{% endif %}

{% if device.device_type == "KLIENT" %}

<p>
	Klienten er en {{ device.maskinadm_klienttype|default:"?" }} som er {{ device.maskinadm_status|default:"?" }} i PRK.<br>
	Det er en {{ device.model_id|default:"?" }}.<br>
	<hr>
	Ble sist logget inn av {{ device.last_loggedin_user|default:"?" }}.<br>
	Tilhører {{ device.maskinadm_virksomhet|default:"?" }} på lokasjon {{ device.maskinadm_lokasjon|default:"?" }}.<br>
	<hr>
	Merksom som sikkerhetssone {{ device.maskinadm_sone|default:"?" }}.<br>
	Sist sett {{ device.landesk_sist_sett|default:"?" }}.<br>
</p>

{% endif %}

{% endblock hovedinnhold %}