{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk i servere og klienter
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Servere er en egen import fra Sopra Sterias CMDB. Den inneholder servere, terminalservere og tykke klienter. Tynne klienter er ikke med da de ikke er medlem i Oslofelles-domene. Du kan søke opp tynne klienter i PRK-maskinadmin.</p>

	<p>Sopra Steria knytter servere til business sub services, og de har så langt auto-discovery virker informasjon om IP-adresse, operativsystem, disk, minne og cpu.</p>

	<hr>

	<p>Noen søkeforslag:
		<a class="btn btn-sm" href="?search_term=ws8">Tykke klienter (tar lang tid)</a>
		<a class="btn btn-sm" href="?search_term=xai">Terminalservere intern sone</a>
		<a class="btn btn-sm" href="?search_term=xas">Terminalservere sikker sone</a>
		<a class="btn btn-sm" href="?search_term=wsvis">VDI intern sone</a>
		<a class="btn btn-sm" href="?search_term=wsvss">VDI sikker sone</a>
		<a class="btn btn-sm" href="?search_term=mgmt">Managementservere</a>
		<a class="btn btn-sm" href="?search_term=web">Webservere</a>
		<a class="btn btn-sm" href="?search_term=app">Appservere</a>
		<a class="btn btn-sm" href="?search_term=fil">Filservere</a>
		<a class="btn btn-sm" href="?search_term=infra">Infra-servere</a>
		<a class="btn btn-sm" href="?search_term=print">Print-servere</a>
	</p>


	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="hostnavn / bs inneholder.." class="form-control form-control-sm">
			<input size="30" style="width: 250px;" type="search" value="{{ comp_os }}" name="comp_os"
			placeholder="Operativsystem er.." class="form-control form-control-sm">
			<input size="30" style="width: 250px;" type="search" value="{{ comp_os_version }}" name="comp_os_version"
			placeholder="Versjon er.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ maskiner.count }} maskiner.</p>

	<table class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>Maskinnavn</th>
		<th>Business service</th>
		<th>Portfolio</th>
		<th>Nettverk</th>
		<th>Operativsystem</th>
		<th>Tilhørende system</th>
		<th>DNS</th>
		<th>VLAN</th>
		<th>NAT</th>
		<th>VIP/BigIP</th>
	</tr>
	</thead>
	<tbody>
	{% for maskin in maskiner %}
	<tr {% if not maskin.active %} style="color: #d6d6d6;" {% endif %}>
		{% url 'ad_details' name=maskin.comp_name as url_ad %}
		<td><a href="{{ url_ad }}">{{ maskin.comp_name }}</a></td>
		<td>
			{% for cmdbref in maskin.sub_name.all %}
				{{ cmdbref }}<br>
			{% endfor %}
		</td>
		<td>{{ maskin.bs_u_service_portfolio }}</td>
		<td>{{ maskin.comp_ip_address }}</td>
		<td>{{ maskin.comp_os|default:"Ukjent" }} {{ maskin.comp_os_version }} {{ maskin.comp_os_service_pack }}</td>
		<td>{{ maskin.sub_name.system_cmdbref.all }}</td>
		<td>{{ maskin.dns|default:"" }}</td>
		<td>{{ maskin.vlan|default:"" }}</td>
		<td>{{ maskin.nat|default:"" }}</td>
		<td>{{ maskin.vip|default:"" }}</td>


	{% comment %}
			{% if user.is_authenticated %}
			<a href="/admin/systemoversikt/cmdbref/{{ item.pk }}/delete/">
				<img style="width: 8px; margin: 3px;"
				src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a>
			{% endif %}

			{{ item.opprettet|date:'Y-m-d' }}
		</td>
		<td>{{ item.sist_oppdatert|date:'Y-m-d' }}</td>
		<td>
			{% if user.is_authenticated %}
			<a href="/admin/systemoversikt/cmdbref/{{ item.pk }}/change/">
				<img style="width: 11px; margin: 3px;"
				src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
			{% endif %}
			<a href="{% url 'cmdbdevice' pk=item.pk %}">{{ item.navn }}</a>
		</td>
		<td>{{ item.ant_devices }}</td>
		<td>
			{% for system in item.system_cmdbref.all %}
				{% url 'systemdetaljer' pk=system.pk as url_system %}
				<a href="{{ url_system }}">{{ system.systemnavn }}</a><br>
			{% endfor %}
		</td>
		<td>{{ item.get_operational_status_display|default:"-" }}</td>
		<td>{{ item.comments|default:"-"|truncatewords:6 }}</td>
		<td>{{ item.get_environment_display|default:"-" }}</td>
		<td>{{ item.get_kritikalitet_display|default:"-" }}</td>
		<td>{{ item.get_cmdb_type_display }}</td>
		<td>{{ item.u_service_portfolio|default:"-" }}</td>
		<td>{{ item.u_service_availability|default:"-" }}</td>
		<td>{{ item.u_service_operation_factor|default:"-" }}</td>
		<td>{{ item.u_service_complexity|default:"-" }}</td>
		<td>{{ item.comments|default:"-" }}</td>
	{% endcomment %}
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}