{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Klienter
{% endblock overskrift %}

{% block hovedinnhold %}

	{% url 'maskin_sok' as url_maskin_sok %}
	<a href="{{url_maskin_sok}}" class="btn btn-sm btn-link {% if url_maskin_sok in request.path %}fremhev{% endif %}">Listesøk</a>

	<p>Klienter importeres fra Sopra Sterias CMDB hver natt.<br>Data fra PRK maskinadmin lastes inn ved behov, og utfyller dataene fra Sopra Steria med status på om klienten er innmeldt.<br>Ved behov for å få Maskinadm-data oppdatert kan du ta kontakt med UKE.</p>

	<b>{{ alle_maskinadm_klienter }}</b> aktive klienter i PRK.<br>
	<b>{{ alle_cmdb_klienter }}</b> aktive klienter i 2S CMDB.<br>
	<b>{{ innmeldt_prk_inaktiv_snow }}</b> innmeldt i PRK, inaktiv i 2S CMDB<br>
	<b>{{ utmeldtslettet_prk_aktiv_snow }}</b> utmeldt eller slettet i PRK, aktiv i 2S CMDB<br>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ device_search_term }}" name="device_search_term"
			placeholder="WS-nummer" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?device_search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ maskiner.count }} maskiner.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Maskinnavn</th>
		<th>Business service</th>
		<th>Beskrivelse</th>
		<th>Spesifikasjoner</th>
		<th>Nettverk</th>
		<th>Operativsystem</th>
		<th>Eierskap</th>
	</tr>
	</thead>
	<tbody>
	{% for maskin in maskiner %}
	<tr {% if not maskin.device_active %} style="color: #d6d6d6;" {% endif %}>
		<td>
			{% url 'cmdb_devicedetails' pk=maskin.pk as url_cmdb_devicedetails %}
			<a href="{{ url_cmdb_devicedetails }}">{{ maskin.comp_name }}</a><br>
			{% url 'ad_details' name=maskin.comp_name as url_ad %}
			<a href="{{ url_ad }}">Søk i AD</a>
		</td>
		<td>
			BS: {{ maskin.sub_name.parent_ref }} <br>
			{% url 'cmdbdevice' pk=maskin.sub_name.pk as url_bss %}
			BSS: <a href="{{ url_bss }}">{{ maskin.sub_name }}</a>
		</td>
		<td>
			{{ maskin.description|default:"-" }} <br>
			{{ maskin.comments|default:"-" }}
		</td>
		<td>
			Disk: {{ maskin.comp_disk_space|default:"-" }} GB <br>
			CPU: {{ maskin.comp_u_cpu_total|default:"-" }} Cores<br>
			RAM: {{ maskin.comp_ram|default:"-" }} MB<br>
		</td>
		<td>
			IP: {{ maskin.comp_ip_address }} <br>
			DNS: {{ maskin.dns|default:"" }} <br>
			VLAN: {{ maskin.vlan|default:"" }} <br>
			NAT: {{ maskin.nat|default:"" }} <br>
			VIP: {{ maskin.vip|default:"" }}<br>
		</td>
		<td>
			{{ maskin.comp_os|default:"Ukjent" }}
			{{ maskin.comp_os_version }}
			{{ maskin.comp_os_service_pack }}
		</td>
		<td>
			{% if maskin.landesk_login %}
				{{ maskin.landesk_login }}<br>{{maskin.maskinadm_status}}
			{% endif %}
		</td>

	</tr>
	{% endfor %}
	</tbody>
	</table>


	<table class="table table-sm tablesorter">
	<thead>
		<th>Operativsystem</th>
		<th>Antall</th>
	</thead>
	<tbody>
	{% for os in maskiner_stats %}
		<tr>
			<td><a href="{% url 'alle_klienter' %}?device_search_term={{os.comp_os_readable}}">{{ os.comp_os_readable|default:"Ukjent" }}</a></td>
			<td>{{ os.comp_os_readable__count }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}