{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Nettverk / VLANs
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Nettverksdata fra Infoblox. Her kan du finne detaljer på nettverkssegmenter</p>

	<form action="{% url 'alle_nettverk' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="55" style="width: 450px;" type="search" value="{{ vlan_search_term }}" name="search_term"
			placeholder="Søk på IP, nettverk, beskrivelse eller tilhørighet" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__ALL__">Vis alt</a>

		</div>
	</form>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Nettverk</th>
		<th>Beskrivelse</th>
		<th>Lokasjons ID</th>
		<th>Orgtilhørighet</th>
		<th>VLAN ID</th>
		<th>VRF</th>
		<th>Sone</th>
	</thead>
	<tbody>
	{% for nettverk in alle_nettverk %}
		<tr>
			<td>{{ nettverk.ip_address }}/{{ nettverk.subnet_mask }} {% if vlan.disabled %} (deaktivert) {% endif %}</td>
			{% url 'nettverk_detaljer' pk=nettverk.pk as url_nettverk %}
			<td><a href="{{ url_nettverk }}">{{ nettverk.comment }}</a></td>
			<td>{{ nettverk.locationid }}</td>
			<td>{{ nettverk.orgname }}</td>
			<td>{{ nettverk.vlanid }}</td>
			<td>{{ nettverk.vrfname }}</td>
			<td>{{ nettverk.network_zone|default:"ingen data" }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}