{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk på IP-adresser på felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Oversikt over ulike nettverksdata på felles IKT-plattform: VLAN, VIP-er i BigIP, NAT-adresser, samt sonefil fra DNS lastes inn i databasen. Alt dette skjer manuelt, men det jobbes med å automatisere.<br>Her kan du søke på IP-adresser, og du vil få treff fra de ulike kildene.</p>

	<p>Du kan lime inn tekst her og IP-adresser vil identifiseres automatisk.</p>

	<form action="{% url 'alle_ip' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<textarea rows="3" cols="50" style="width: 500px; height: 150px;" name="search_term"
			placeholder="Liste med IP-adresser, separert med space, semikolon eller komma. Annen tekst ignoreres..." class="form-control form-control-sm">{{ search_term }}</textarea>
			<input style="margin-left: 10px;" type="submit" value="Slå opp" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>IP-adresse</th>
		<th>Server</th>
		<th>DNS</th>
		<th>Nettverk / VLAN</th>
		<th>Nettverksutstyr</th>
		<th>Lastbalanserte tjenester (vip)</th>
		<th>Lastbalanserte tjenester (pools)</th>
	</thead>
	<tbody>
	{% for ip in matches %}
		<tr>
			<td>{{ip.ip_address}}</td>
			<td>
				{% for server in ip.servere.all %}
					{{ server }}<br>
				{% endfor %}
			</td>
			<td>
				{% for name in ip.dns.all %}
					{{ name.dns_name }}<br>
				{% endfor %}
			</td>
			<td>
				{% for vlan in ip.vlan.all %}
					<li>{{ vlan.comment }} ({{ vlan }}) {% if vlan.disabled %} (deaktivert) {% endif %}</li>
				{% endfor %}
			</td>
			<td>
				{% for netdevice in ip.networkdevices.all %}
					<li>{{ netdevice.model }}: {{ netdevice.name }}</li>
				{% endfor %}
			</td>
			<td>
				{% for vip in ip.viper.all %}
					{% url 'detaljer_vip' pk=vip.pk as url_vip %}
					<a href="{{ url_vip }}">{{ vip.vip_name }}</a><br>
				{% endfor %}
			</td>
			<td>
				{% for pool in ip.vip_pools.all %}
					<li>{{ pool.pool_name }}</li>
				{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% if not_ip_addresses %}
	<p>Følgende ting ble ikke funnet:
	<ul style="column-count:10;">
	{% for item in not_ip_addresses %}
		<li>{{item}}</li>
	{% endfor %}
	</ul>
{% endif %}


{% endblock hovedinnhold %}