{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Databaser på Felles IKT-plattform
{% endblock underoverskrift %}

{% block main_content %}


	<a class="btn btn-sm btn-secondary" href="{% url 'alle_cmdbref' %}">CMDB-oversikt</a>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="databasenavn / bs / versjon inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

<p>Viser {{ databaser.count }} databaser</p>

	<table id="stickyheader" class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>pk</th>
		<th>Opprettet</th>
		<th>db_database</th>
		<th>sub_name</th>
		<th>db_used_for</th>
		<th>db_version</th>
		<th>db_comments</th>
		<th>db_u_datafilessizekb</th>
	</tr>
	</thead>
	<tbody>
	{% for db in databaser %}
	<tr {% if not db.db_operational_status %} style="color: #d6d6d6;" {% endif %}>
		<td>{{ db.pk}} </td>

		<td>{{ db.opprettet|date:'Y-m-d'}} </td>

		<td>{{ db.db_database }}</td>
		<td>
			{% for subservice in db.sub_name.all %}
			<a href="{% url 'cmdbdevice' pk=subservice.pk %}">{{ subservice }}</a><br>
			{% endfor %}
		</td>
		<td>{{ db.db_used_for }}</td>
		<td>{{ db.db_version }}</td>
		<td><a href="{% url 'alle_maskiner' %}?search_term={{db.server_str}}">{{ db.db_comments }}</a></td>
		<td>{{ db.db_u_datafilessizekb }} ({{ db.db_u_datafilessizekb|filesizeformat }})</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}