{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk på IP-adresser på felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Oversikt over ulike nettverksdata på felles IKT-plattform: VLAN, VIP-er i BigIP, NAT-adresser, samt sonefil fra DNS lastes inn i databasen. Alt dette skjer manuelt, men det jobbes med å automatisere.<br>Her kan du søke på IP-adresser, og du vil få treff fra de ulike kildene.</p>

	<p>Du kan lime inn tekst her og IP-adresser vil identifiseres automatisk.</p>

	<form action="{% url 'alle_ip' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<textarea rows="3" cols="50" style="width: 500px; height: 150px;" name="search_term"
			placeholder="Liste med IP-adresser, separert med space, semikolon eller komma. Annen tekst ignoreres..." class="form-control form-control-sm">{{ search_term }}</textarea>
			<input style="margin-left: 10px;" type="submit" value="Slå opp" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>
	{% if host_matches|length > 0 %}
		<h5>Treff på hoster</h5>
		<table class="table table-sm tablesorter excel">
		<thead>
			<th>IP-adresse</th>
			<th>Server</th>
			<th>DNS</th>
			<th>Nettverk / VLAN</th>
			<th>Lastbalanserte tjenester (vip)</th>
			<th>Lastbalanserte tjenester (pools)</th>
		</thead>
		<tbody>
		{% for ip in host_matches %}
			<tr>
				<td>{{ip.ip_address}}</td>
				<td>
					{% for server in ip.servere.all %}
						<b>{{ server }}</b><br>
						{% for offering in server.service_offerings.all %}
							{% for system in offering.system.all %}
								{{ system }}<br>
								{{ system.get_sikkerhetsnivaa_display|default:"Ukjent sikkerhetsnivå"}}<br>
							{% endfor %}
						{% endfor %}
						<br>
					{% endfor %}
				</td>
				<td>
					{% for name in ip.dns.all %}
						{{ name.dns_name }}<br>
					{% endfor %}
				</td>
				<td>
					{% for vlan in ip.vlan.all %}
						<li>{{ vlan.comment }} ({{ vlan }}) {% if vlan.disabled %} (deaktivert) {% endif %}</li>
					{% endfor %}
				</td>
				<td>
					{% for vip in ip.viper.all %}
						{% url 'detaljer_vip' pk=vip.pk as url_vip %}
						<a href="{{ url_vip }}">{{ vip.vip_name }}</a><br>
					{% endfor %}
				</td>
				<td>
					{% for pool in ip.vip_pools.all %}
						<li>{{ pool.pool_name }}</li>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}

	{% if network_matches|length > 0 %}
	<h5>Treff på nettverk</h5>
	{% for network in network_matches %}
		{{ network.term }} gav treff i
		{% for n in network.matches %}
			<li>{{ n.ip_address }}/{{ n.subnet_mask }} som er <b>{{n.comment}}</b> ({{n.network_zone|default:"ukjent"}})</li>
		{% endfor%}
	{% endfor %}
	{% endif %}

{% if not_ip_addresses %}
	<hr>
	<h5>Ingen treff på</h5>
	<ul style="column-count:10;">
	{% for item in not_ip_addresses %}
		<li>{{item}}</li>
	{% endfor %}
	</ul>
{% endif %}


{% endblock hovedinnhold %}