{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Tjenester fordelt per virksomhet
{% endblock overskrift %}

{% block hovedinnhold %}

<hr>

<table class="table table-sm tablesorter">
	<thead>
		<th>Virksomhet</th>
		<th>Tjenesteeier</th>
		<th>Tjenesteforvalter</th>
	</thead>
	<tbody>
		{% for item in template_data %}
		<tr>
			<td>
				{{ item.virksomhet }}
			</td>
			<td>
				{% for bs in item.bs_eier %}
					<ul>
						<li>{{ bs }}</li>
						<ul>
							<li>Ram: {{ bs.ram_allocated|filesizeformat }}, Disk: {{ bs.san_used|filesizeformat }}, Backup: {{ bs.backup_size|filesizeformat }}</li>
							<li>Servere: {{ bs.ant_devices }}, Databaser: {{ bs.ant_databaser }}</li>
						</ul>
					</ul>
				{% endfor %}
			</td>
			<td>
				{% for bs in item.bs_forvalter %}
					<li>{{ bs }} </li>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<hr>

<h5>Tjenester uten eier</h5>
{% for bs in resterende_bs %}
	<ul>
		<li>{{ bs }}</li>
		<ul>
			<li>Ram: {{ bs.ram_allocated|filesizeformat }}</li>
			<li>Disk: {{ bs.san_used|filesizeformat }}</li>
			<li>Backup: {{ bs.backup_size|filesizeformat }}</li>
			<li>Servere: {{ bs.ant_devices }}</li>
			<li>Databaser: {{ bs.ant_databaser }}</li>
		</ul>
	</ul>
{% endfor %}



{% endblock %}


