{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Internetteksponerte servere
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Her vises alle servere som automatisk har blitt tagget som internett-eksponert. Dette skjer ved at vi laster ned Shodan-data hver natt for hele IP-adresseområdet til Oslo kommune 171.23.0.0/16. Så sjekker vi alle IP-adresser opp mot BigIP-dataene for å identifisere de bakenforliggende serverne i de lastbalanserte "pool"-ene og tagger disse. En server må ha vært sett eksponert nylig for å dukke opp her i denne listen.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Maskinnavn</th>
		<th>Eksponert via</th>
		<th>Tjeneste</th>
		<th>Sist sett</th>
	</tr>
	</thead>
	<tbody>
	{% for server in servere %}
	<tr>
		<td>{{server.comp_name}}</td>
		<td>
			{% for pool in server.vip_pool.all %}
				{% for vip in pool.vip.all %}
					{{vip}}<br>
				{% endfor %}
			{% endfor %}
		</td>
		<td>{% for offering in server.service_offerings.all %}{{offering}}{% if not forloop.last %}, {% endif %} {% endfor %}</td>
		<td>{{server.eksternt_eksponert_dato}}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}