{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Citrix-publiseringer
{% endblock overskrift %}

{% block hovedinnhold %}

	{% if not filter %}

		<p>Det er {{antall_apper_totalt}} citrixapper. {{citrixapps|length}} er aktive og vises her. Av disse mangler {{antall_apper_koblet}} ({{antall_apper_koblet_pct}}) kobling til et system. Se også <a href="{% url 'systemer_citrix' %}">oversikt over systemer koblet til citrix</a>.</p>

		<p style="background-color: {{ integrasjonsstatus.color }};">
			Citrix-apper ble sist synkronisert {{ integrasjonsstatus.dato_sist_oppdatert|date:"d.M Y"|default:"ukjent" }}</p>

		Unike siloer:
		<ul style="column-count:5;">
		{% for silo in unike_siloer %}
			{% if silo.citrix_desktop_group != None %}
			<li><a href="{% url 'citrix_desktop_group' %}?gruppe={{silo.citrix_desktop_group}}">{{silo.citrix_desktop_group}}</a></li>
			{% endif %}
		{% endfor %}
		</ul>

	{% endif %}

<table class="table table-sm tablesorter excel">
<thead>
	<th>Sone</th>
	<th>Terminalservergruppe<br>(DesktopGroup)</th>
	<th>Mappe<br>(AdminFolderName og ClientFolder)</th>
	<th>Applikasjonsnavn<br>(BrowserName og Application Name)</th>
	<th>Systemkoblet?</th>
	<th>Virksomhet</th>
	<td>Forvalter</td>
	<td>IKT-hovedkontakt</td>
	<th>Totalt antall unike medlemmer</th>
	<th>Hva som kjøres<br>(WorkingDirectory, CommandLineExecutable og CommandLineArguments)</th>
	<th>AssociatedUserFullNames</th>
	<th>Produksjon</th>
	<th>NHN-nettside</th>
	<th>vApp</th>
	<th>Nettleser</th>
	<th>Remote desktop</th>
	<th>EXE</th>
	<th>BAT</th>
	<th>VBS</th>
	<th>PS1</th>
	<th>CMD</th>
	<th>Har medlemmer</th>
	<th>Description</th>
	<th>Desktop og startmeny<br>(ShortcutAddedToDesktop, ShortcutAddedToStartMenu og StartMenuFolder)</th>
	<th>UserFilterEnabled</th>
	<td>Opprettet</td>
</thead>
<tbody>
	{% for app in citrixapps %}
	<tr>
		<td>{{app.sone}}</td>

		<td style="white-space: nowrap;">
			{% for name in app.publikasjon_json.AllAssociatedDesktopGroupUids_Name %}
			<a href="{% url 'citrix_desktop_group' %}?gruppe={{name}}">{{name}}</a><br>
			{% endfor %}
		</td>

		<td>
			<span style="color: grey;">{{app.publikasjon_json.AdminFolderName}}</span><br>
			{{app.publikasjon_json.ClientFolder|default:""}}
		</td>

		<td>
			<span style="color: grey;">{{app.publikasjon_json.BrowserName|default:"-"}}</span><br>
			{{app.publikasjon_json.ApplicationName|default:"-"}}
		</td>

		<td>
			{% for system in app.systemer.all %}
				{{ system }}<br>
			{% empty %}
				Ingen
			{% endfor %}
		</td>

		<td>
			{% for system in app.systemer.all %}
				{{ system.systemeier.virksomhetsforkortelse }}<br>
			{% empty %}
				Ingen
			{% endfor %}
		</td>

		<td>
			{% for system in app.systemer.all %}
				{{ system.kontakt_forvalter }}<br>
			{% empty %}
				Ingen
			{% endfor %}
		</td>

		<td>
			{% for system in app.systemer.all %}
				{{ system.kontakt_ikthoved }}<br>
			{% empty %}
				Ingen
			{% endfor %}
		</td>

		<td>{{app.cache_antall_publisert_til}}</td>

		<td>
			{{app.publikasjon_json.WorkingDirectory|default:"-"}}<br>
			{{app.publikasjon_json.CommandLineExecutable|default:"-"}}<br>
			{{app.publikasjon_json.CommandLineArguments|default:"-"}}
		</td>

		<td>
			{% for item in app.publikasjon_json.AssociatedUserFullNames %}
				{% url 'ad_details' item as url_ad_details %}
				<a href="{{url_ad_details}}">{{item}}</a><br>
			{% endfor %}
		</td>

		<td>{{app.type_produksjon|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_nhn|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_vApp|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_nettleser|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_remotedesktop|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_executable|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_bat|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_vbs|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_ps1|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_cmd|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.type_medlemmer|yesno:"🟢 Ja, 🔴 Nei"}}</td>

		<td>{{app.publikasjon_json.Description|default:"-"}}</td>

		<td>
			{{app.publikasjon_json.ShortcutAddedToDesktop|yesno:"Ja,-"}}<br>
			{{app.publikasjon_json.ShortcutAddedToStartMenu|yesno:"Ja,-"}}<br>
			{{app.publikasjon_json.StartMenuFolder|default:""}}
		</td>

		<td>{{app.publikasjon_json.UserFilterEnabled|yesno:"Ja, Nei"}}</td>
		<td>{{app.opprettet|date:"Y-m-d H:i"}}</td>

	</tr>
	{% endfor %}
</tbody>
</table>


{% endblock hovedinnhold %}