{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Configuration Management Database (CMDB) - Oversikt
{% endblock overskrift %}

{% block hovedinnhold %}

Noen typer informasjon hentes inn automatisk i Kartoteket:

<li>Active Directory OSLOFELLES via LDAP: Brukere, tilgangsgrupper, OU-stuktur. Helautomatisk hver natt.</li>
<li>PRK via REST API. Brukere, skjema. Helautomatisk hver natt.</li>
<li>Microsoft Azure via Graph. Enterprise Applications. Helautomatisk hver natt.</li>
<li><a target="_blank" href="https://www.digdir.no/informasjonsforvaltning/los-felles-vokabular-klassifisering-av-offentlige-tjenester-og-ressurser/2434">DigDir LOS</a> via publisert fil. Felles vokabular for klassifisering av offentlige tjenester og ressurser. Helautomatisk hver natt.</li>
<li><a target="_blank" href="https://soprasteria.service-now.com/navpage.do">ServiceNow</a>. Business services, subservices, servere, klienter, disker, databaser, lastbalanserte tjenester og nettverksutstyr. Helautomatisk hver natt.</li>
<li><a target="_blank" href="https://infoblox.oslo.kommune.no/ui/">Infoblox</a>. VLAN/subnet med beskrivelser. Manuelt uttrekk en gang i blant.</li>
<li>DNS-servere. DNS-alias og DNS-records. Manuelt uttrekk sjeldent.</li>
<li>CommVault. Backuppolicyer og backupstørrelser. Manuelt uttrekk sjeldent.</li>
<li>Cisco ASA. Brannmurregler. Manuelt uttrekk sjeldent.</li>

<hr>

<p>Sopra steria har dashboard i PowerBI som UKE forvaltere har tilgang på:</p>
<li><a href="https://app.powerbi.com/groups/me/dashboards/8581dcfc-d506-4c12-9905-85e4b9da86af?ctid=8b87af7d-8647-4dc7-8df4-5f69a2011bb5">Kapasitet: disk og backup</a></li>
<li><a href="https://app.powerbi.com/groups/me/dashboards/fa1963eb-f139-4bd2-b7a5-ae362c715a99?ctid=8b87af7d-8647-4dc7-8df4-5f69a2011bb5">Klienter, patchestatus, nettverksutstyr</a></li>
<li><a href="https://app.powerbi.com/groups/me/apps/e59dca37-410f-452a-92f1-b30fe32ee3bc/reports/84624215-fc73-4b3d-a2b2-0c5e7a03ea39/ReportSection6941b31b48df6cec0635?ctid=8b87af7d-8647-4dc7-8df4-5f69a2011bb5">Sikkerhetsdashboard: trusler og sårbarheter</a></li>


<hr>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>PRK skjema</h6>
			<h3>{{ count_prk_skjema }}</h3>
			<h6>PRK valg</h6>
			<h3>{{ count_prk_skjema_valg }}</h3>
			<h6>Antall grupper i Active Directory</h6>
			<h3>{{ count_ad_grupper }}</h3>
		</div>
		<div class="col-sm">
			<h6>Kontoer i AD</h6>
			<h3>{{ count_ad_users }}</h3>
			<h6>Deaktive kontoer i AD</h6>
			<h3>{{ count_inactive_accounts }}</h3>
			<h6>Kontoer utenfor OU=OK</h6>
			<h3>{{ count_utenfor_OK_accounts }}</h3>
			<h6>Brukere i PRK</h6>
			<h3>{{ count_prk_users }}</h3>
		</div>
		<div class="col-sm">
			<h6>Aktive driftbrukere</h6>
			<h3>{{ count_drift_accounts }}</h3>
			<h6>Aktive servicekontoer</h6>
			<h3>{{ count_service_accounts }}</h3>
			<h6>Aktive ressurser (møterom, postbokser..)</h6>
			<h3>{{ count_ressurs_accounts }}</h3>
		</div>
		<div class="col-sm">
			<h6>Office365 applikasjoner</h6>
			<h3>{{ count_office_ea }}</h3>
			<h6>Nøkler</h6>
			<h3>{{ count_office_ea_keys }}</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm">
			<h6>Business Services</h6>
			<h3>{{ count_bs }}</h3>
			<h6>Business Sub Services</h6>
			<h3>{{ count_bss }}</h3>
		</div>
		<div class="col-sm">
			<h6>Servere</h6>
			<h3>{{ count_server }}</h3>
			<h6>Klienter</h6>
			<h3>{{ count_klienter }}</h3>
		</div>
		<div class="col-sm">
			<h6>Nettverk (VLAN)</h6>
			<h3>{{ count_vlan }}</h3>
			<h6>Lastbalanserte tjenester</h6>
			<h3>{{ count_vip }}</h3>
			<h6>Pool-medlemmer</h6>
			<h3>{{ count_vip_pool }}</h3>
		</div>
		<div class="col-sm">
			<h6>DNS A-records</h6>
			<h3>{{ count_dns_arecords }}</h3>
			<h6>DNS CNames</h6>
			<h3>{{ count_dns_cnames }}</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm">
			<h6>Oracle-databaser</h6>
			<h3>{{ count_oracle }}</h3>
			<h6>MSSQL-databaser</h6>
			<h3>{{ count_mssql }}</h3>
		</div>
		<div class="col-sm">
			<h6>Diskbruk Oralce estimert</h6>
			<h3>{{ count_oracle_disk|filesizeformat }}</h3>
			<h6>Diskbruk MSSQL estimert</h6>
			<h3>{{ count_mssql_disk|filesizeformat }}</h3>
		</div>
		<div class="col-sm">
			<h6>Minnebruk servere estimert</h6>
			<h3>{{ count_mem|filesizeformat }}</h3>
			<h6>Diskbruk servere (fra Service Now)</h6>
			<h3>{{ count_disk|filesizeformat }}</h3>
			<h6>Backup totalt</h6>
			<h3>{{ count_backup|filesizeformat }}</h3>

		</div>
		<div class="col-sm">
			<h6>Sentralt nettverksutstyr</h6>
			<h3>{{ count_cisco }}</h3>
			<h6>BigIP-instanser</h6>
			<h3>{{ count_bigip }}</h3>
		</div>
	</div>
</div>

<hr>
<h3>AD-identnedbryting</h3>
<p>Fordeling av aktive AD-brukere per virksomhet. Inneholder både vanlige brukere og service-kontoer.</p>
<table class="tablesorter excel">
<thead>
<tr>
	<th>Virksomhet</th>
	<th>Antall brukere</th>
</tr>
</thead>
<tbody>
{% for v in ad_brukere_per_virksomhet %}
<tr>
	<td>{{v.virksomhet__virksomhetsforkortelse}}</td>
	<td>{{v.antall}}</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock hovedinnhold %}