{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Operativsystem på Felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<table class="table table-sm tablesorter">
	<thead>
		<th>OS hovedversjon</th>
		<th>OS versjonsnummer</th>
		<th>Antall</th>
	</thead>
	<tbody>
	{% for os in maskiner_stats %}
		<tr>
			<td>{{ os.major|default:"Ukjent" }}</td>
			<td>{{ os.minor|default:"Ukjent" }}</td>
			<td><a href="{% url 'alle_maskiner' %}?comp_os={{os.major}}&comp_os_version={{os.minor}}">{{ os.count }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}