{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Azure application: Nøkkelutløp {{text_header}}
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Merk at denne oversikten ikke viser nøkler hvor både key_type="AsymmetricX509Cert" samtidig som key_usage="Verify"</p>

<p>Det er {{keys.count}} treff på nøkler/sertifikater i databasen.<br>Data synkroniseres mot Azure Graph-API hver natt. Kobling system - EA skjer fra systemet.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Applikasjonsnavn</th>
		<th>System og eier</th>
		<th>Nøkkelnavn</th>
		<th>Dato for utløp</th>
		<th>Nøkkel ID</th>
		<th>Hint</th>
		<th>Nøkkeltype</th>
		<th>Bruksområde</th>
	</thead>
	<tbody>
	{% for k in keys %}
		<tr>
			<td>{{ k.applcaion_ref }}<br><span style="color: gray; font-style: italic;">{{ k.applcaion_ref.appId }}</span></td>
			<td>
				{% for system in k.applcaion_ref.systemreferanse.all %}
					{% include 'system_include_vis.html' with systemer=system %}
					({{ system.systemeier.virksomhetsforkortelse }})<br>
					{% for ansvarlig in system.systemforvalter_kontaktpersoner_referanse.all %}
						{{ ansvarlig.brukernavn.email }}<br>
					{% endfor %}
				{% endfor %}<br>
			</td>
			<td>{{ k.display_name }}</td>
			<td {% if k.expire %} style="background-color: #ed8080;" {% endif %}
				{% if k.expire_soon %} style="background-color: #f9b774;" {% endif %}>
				{{ k.end_date_time|date:"Y-m-d" }}</td>
			<td>{{ k.key_id }}</td>
			<td>{{ k.hint|default:"-" }}</td>
			<td>{{ k.key_type }}</td>
			<td>{{ k.key_usage }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}