{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Databaser på Felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Her vises databaser fra Sopra Steria CMDB. Vi har data om Oracle og MSSQL.<p>

<p>Oracle: Det er informasjon om databasenavn, server og tilknyttet BSS i 2S CMDB. Merk at det ikke følger med informasjon om størrelse på Oracledatabaser. De data som vises er importert fra en statisk fil hentet ut på et tidspunkt, og oppdateres IKKE jevnlig.</p>

<p>MSSQL: Det er informasjon om databasenavn, server, tilknyttet BSS og diskstørrelse i 2S CMDB. Alt dette oppdateres jevnlig.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="databasenavn / bs / versjon inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ databaser.count }} databaser (tar ikke hensyn til filter-funksjonen under)</p>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Opprettet</th>
		<th>Databasenavn</th>
		<th>Server</th>
		<th>Kobling BSS</th>
		<th>Miljø</th>
		<th>Type + versjon</th>
		<th>Kommentar</th>
		<th>Størrelse (bytes)</th>
		<th>Størrelse (lesbar)</th>
		<th>Billable</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	{% for db in databaser %}
	<tr {% if not db.db_operational_status %} style="color: #d6d6d6;" {% endif %}>
		<td>
			{{ db.opprettet|date:'Y-m-d'}}
		</td>
		<td>
			{{ db.db_database }}
		</td>
		<td>
			<a href="{% url 'alle_maskiner' %}?search_term={{ db.db_server }}">{{ db.db_server }}</a>
		</td>
		<td>
			{% url 'cmdbdevice' pk=db.sub_name.pk as url_bss %}
			<a href="{{ url_bss }}">{{ db.sub_name.navn }}</a>
		</td>
		<td>
			{{ db.db_used_for }}
		</td>
		<td>
			{{ db.db_version }}
		</td>
		<td>
			<a href="{% url 'alle_maskiner' %}?search_term={{db.server_str}}">{{ db.db_comments }}</a></td>
		<td>
			{{ db.db_u_datafilessizekb }}
		</td>
		<td>
			{{ db.db_u_datafilessizekb|filesizeformat }}
		</td>
		<td>
			{{ db.billable|yesno:"Ja, Nei, Vet ikke" }}
		</td>
		<td>
			{{ db.db_status }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}