{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	DNS-navn
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Det er {{ alle_dnsnavn.count }} navn/alias i databasen.</p>

	<hr>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>DNS-navn</th>
		<th>DNS-type</th>
		<th>IP adresse</th>
		<th>Alias mot</th>
		<th>Time to live (TTL)</th>
	</thead>
	<tbody>
	{% for dns in alle_dnsnavn %}
		<tr>
			<td>{{ dns.dns_name }}</td>
			<td>{{ dns.dns_type }}</td>
			<td>{{ dns.ip_address }}</td>
			<td>{{ dns.dns_target|default:"" }}</td>
			<td>{{ dns.ttl|default:"" }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}