{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Miljø "{{ cmdbref.0.navn }}"
{% endblock overskrift %}

{% block ekstrajavascript %}
	<script src="{% static 'cytoscape/cytoscape.min.js@3.9.4' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/numeric.min.js@1.2.6' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/layout-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cose-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-layout-utilities.js@1.0.0' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-fcose.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block hovedinnhold %}

	<h6>Beskrivelse fra Sopra Steria CMDB:</h6>
	<p>{{cmdbref.0.comments|default:"-"}}</p>

	<hr>

	<p>
		{% if cmdbref.0.system %}
			<h5>Koblet til system
				{% for system in cmdbref.0.system.all %}
					{% url 'systemdetaljer' pk=system.pk as url_system %}
					<a href="{{ url_system }}">{{ system }}</a>
					{% if not forloop.last %} og {% endif %}
				{% endfor %}
		{% else %}
			Mangler systemkobling.
		{% endif %}
	</p>

	<hr>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
				<h6>Operativ</h6>
				<h3>{% include 'site_janeivetikke.html' with boolean=cmdbref.0.operational_status %}</h3>
			</div>
			<div class="col-sm">
				<h6>Opprettet</h6>
				<h5>{{ cmdbref.0.opprettet|timesince }}</h5>
			</div>
			<div class="col-sm">
				<h6>Antall servere</h6>
				<h3>{{ cmdbdevices.all|length }}</h3>
			</div>
			<div class="col-sm">
				<h6>Antall databaser</h6>
				<h3>{{ databaser|length }}</h3>
			</div>
			<div class="col-sm">
				<h6>Totalt allokert minne</h6>
				<h3>{{ cmdbref.0.ram_allocated|filesizeformat }}</h3>
			</div>
			<div class="col-sm">
				<h6>Allokert disk</h6>
				<h3>{{ cmdbref.0.san_allocated|filesizeformat }}</h3>
			</div>
			<div class="col-sm">
				<h6>Ubrukt disk</h6>
				<h3>{{ cmdbref.0.san_unallocated|filesizeformat }}</h3>
			</div>
			<div class="col-sm">
				<h6>Backupstørrelse</h6>
				<h3>{{ cmdbref.0.backup_size|filesizeformat }}</h3>
			</div>
			<div class="col-sm">
				<h6>DNS-navn</h6>
				<h3>{{ cmdbref.0.antall_dns_rec }}</h3>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm">
				<h6>Type sub-service</h6>
				<p>{{ cmdbref.0.service_classification|default:"" }}</p>
			</div>
			<div class="col-sm">
				<h6>Business service</h6>
				<p>{{ cmdbref.0.parent_ref.navn|default:'?' }}</p>
			</div>
			<div class="col-sm">
				<h6>Tjenestemiljø</h6>
				<p>{{ cmdbref.0.get_environment_display|default:"-" }}</p>
			</div>
			{% comment %}
			<div class="col-sm">
				<h6>Business criticality</h6>
				<p>{{ cmdbref.0.get_kritikalitet_display|default:"Ikke definert" }}</p>
			</div>
			{% endcomment %}
			<div class="col-sm">
				<h6>Service availablity</h6>
				<p>{{ cmdbref.0.u_service_availability_text|default:"Ikke definert" }}</p>
			</div>
			<div class="col-sm">
				<h6>Service operation factor</h6>
				<p>{{ cmdbref.0.u_service_operation_factor_text|default:"Ikke definert" }}</p>
			</div>
			<div class="col-sm">
				<h6>Service complexity</h6>
				<p>{{ cmdbref.0.u_service_complexity_text|default:"Ikke definert" }}</p>
			</div>
		</div>
	</div>

	<hr>

	<h6>Graf med servere og databaser fordelt på VLAN</h6>

	<div id="cy" style="width: 100%; height: 700px;"></div>

	<h6>Tilknyttede VLAN</h6>
	{% for vlan in cmdbref.0.vlan %}
		<a href="{% url 'nettverk_detaljer' vlan.pk %}">{{ vlan.comment }}</a> ({{ vlan }})<br>
	{% endfor %}

	{% comment %}
		Lage en abstrahert figur som viser sammendrag av brannmuråpninger?
	{% endcomment %}

	<hr>

	<h6>Servere</h6>
	<table class="table table-sm tablesorter">
		<thead>
		<tr>
			<th>Computer name / hostname</th>
			<th>OS</th>
			<th>Antall CPU</th>
			<th>RAM (MB)</th>
			<th>Disk space</th>
			<th>Backup</th>
			<th>Backup frequency</th>
			<th>Ratio backup/disk</th>
			<th>Backup policy</th>
			<th>Nettverk</th>
			<th>DNS</th>
			<th>VIP</th>
		</tr>
		</thead>
		<tbody>
		{% for item in cmdbdevices.all %}
		<tr>
			{% url 'cmdb_devicedetails' pk=item.pk as url_cmdb_devicedetails %}
			<td><a href="{{url_cmdb_devicedetails}}">{{ item.comp_name|default:"-" }}</a></td>
			<td>
				{{ item.comp_os }} {{ item.comp_os_version|default:"-" }} {{ item.comp_os_service_pack|default:"-" }}
			</td>
			<td>{{ item.comp_cpu_core_count|default:"-" }}</td>
			<td>{{ item.comp_ram_byes|filesizeformat }}</td>
			<td>
				Allokert: {{ item.comp_disk_space|filesizeformat }} (Type {{ item.vm_disk_tier }})<br>
				Benyttet: {{ item.vm_disk_usage|filesizeformat }}<br>
			</td>
			<td>
				{% for b in item.backup_size %}
					{{ b|filesizeformat }}<br>
				{% endfor %}
			</td>
			<td>
				{% for backup in item.backup.all %}
					{{ backup.backup_frequency }}<br>
				{% endfor %}
			</td>
			<td>
				{{ item.ratio_backup_disk }}
			</td>
			<td>
				{% for backup in item.backup.all %}
					{{ backup.storage_policy }}
				{% endfor %}
			</td>
			<td>
				IP: {{ item.comp_ip_address|default:"-" }}<br>
				{% for vlan in item.network_ip_address.all.0.vlan.all %}
					{% url 'nettverk_detaljer' pk=vlan.pk as url_network_details %}
					<li><a href="{{ url_network_details }}">{{ vlan.comment }} ({{ vlan }})</a></li>
				{% endfor %}
			</td>
			<td>{{ item.dns|default:"" }}</td>
			<td>
			{% for vip in item.network_ip_address.all.0.viper.all %}
				{% url 'detaljer_vip' pk=vip.pk as url_vip %}
				<a href="{{ url_vip }}">{{ vip.vip_name }}</a><br>
			{% endfor %}
			{% for pool in item.network_ip_address.all.0.vip_pools.all %}
				<li>{{ pool.pool_name }}</li>
			{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>


	<h6>Databaser</h6>
	<table class="table table-sm tablesorter">
		<thead>
		<tr>
			<th width="25%">Database</th>
			<th>Used for</th>
			<th>Version</th>
			<th>File size (kb)</th>
		</tr>
		</thead>
		<tbody>
		{% for db in databaser %}
		<tr {% if not db.db_operational_status %} style="color: #d6d6d6;" {% endif %}>
			<td>{{ db.db_database }}</td>
			<td>{{ db.db_used_for }}</td>
			<td>{{ db.db_version }}</td>
			<td>{{ db.db_u_datafilessizekb }} ({{ db.db_u_datafilessizekb|filesizeformat }})</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<h6>Backup</h6>
	<table class="table table-sm tablesorter">
		<thead>
		<tr>
			<th>Backupnavn</th>
			<th>Størrelse</th>
			<th>Frekvens</th>
			<th>Policy</th>
		</tr>
		</thead>
		<tbody>
		{% for b in backup_inst.all %}
		<tr>
			<td>{{ b.device_str }}</td>
			<td>{{ b.backup_size_bytes|filesizeformat }}</td>
			<td>{{ b.backup_frequency }}</td>
			<td>{{ b.storage_policy }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<h6>DNS-navn</h6>
	<table class="table table-sm tablesorter">
	<thead>
		<th>DNS-navn</th>
		<th>DNS-type</th>
		<th>IP adresse</th>
		<th>Alias mot</th>
		<th>Time to live (TTL)</th>
	</thead>
	<tbody>
	{% for dns in cmdbref.0.alle_dns %}
		<tr>
			<td>{{ dns.dns_name }}</td>
			<td>{{ dns.dns_type }}</td>
			<td>{{ dns.ip_address }}</td>
			<td>{{ dns.dns_target|default:"" }}</td>
			<td>{{ dns.ttl|default:"" }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>



{% endblock hovedinnhold %}

{% block script_append %}
<script type="text/javascript" nonce="{{request.csp_nonce}}">
	var cy = cytoscape({
		zoomingEnabled: true,
		panningEnabled: true,
		wheelSensitivity: 0.1,
		container: document.getElementById('cy'),
		elements: {
			nodes: [
				{% for node in graf_data.nodes %} {{ node|safe }},
				{% endfor %}
			],
			edges: [
				{% for edge in graf_data.edges %} {{ edge|safe }},
				{% endfor %}
			],
		},
		style: [
			{
				selector: 'node',
				style: {
					'shape': 'data(shape)',
					'background-color': 'data(color)',
					'label': 'data(name)',
					'font-size': '9px',
				},
			},
			{
				selector: 'node:selected',
				style: {
				},
			},
			{
				selector: 'edge',
				style: {
					'target-arrow-shape': 'triangle',
					'curve-style': 'bezier',
					'line-style': 'data(linestyle)',
					'line-color': 'data(linecolor)',
					'target-distance-from-node': 25,
					'source-distance-from-node': 5,
					'width': 1,
				},
			},
			{
				selector: 'edge:selected',
				style: {
				},
			},
			{
				selector: ':parent',
				style: {
					'label': 'data(id)',
					'line-style': "solid",
					'background-color': '#F1F9FF',
				}
			},
		],
		layout: {
			name: 'fcose',
			animationDuration: 0, //ms
			idealEdgeLength: 100,
		},
	});
	cy.on('tap', 'node', function(){
		if (this.data('href')) {
			try { // your browser may block popups
				window.open( this.data('href'), "_self" );
			} catch(e){ // fall back on url change
				window.location.href = this.data('href');
			}
		}
	});
	cy.zoomingEnabled = false

</script>
{% endblock script_append %}