{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Brannmur
{% endblock overskrift %}

{% block hovedinnhold %}

	{% comment %}
	{% for line in debug %}
		<p>{{ line }}</p>
	{% endfor %}
	{% endcomment %}

	{% comment %}
	{{ named_port_groups }}
	{% endcomment %}

	<h5>Brannmurregler</h5>
	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Regel ID</th>
		<th>Regel aktiv?</th>
		<th>Virtuell brannmur</th>
		<th>Type åpning</th>
		<th>Kilde</th>
		<th>Destinasjon</th>
		<th>Protokoll</th>
		<th>Beskrivelse</th>
	</thead>
	<tbody>

	{% for id, opening in all_openings.items %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ opening.enabled }}</td>
			<td>{{ opening.firewall }}</td>
			<td>{{ opening.permit }}</td>
			<td>
			{% for s in opening.source %}
				<li>{{ s }}</li>
			{% endfor %}
			</td>
			<td>
			{% for d in opening.destination %}
				<li>{{ d }}</li>
			{% endfor %}
			</td>
			<td>
			{% for port in opening.service %}
				<li>{{ port }}</li>
			{% endfor %}
			</td>
			<td>{{ opening.beskrivelse }}</td>
		</tr>
	{% endfor %}

	</tbody>
	</table>

	{% comment %}
	<h5>Navngitte grupper</h5>
	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Gruppenavn</th>
		<th>Innhold</th>
	</thead>
	<tbody>

	{% for gruppe, innhold in named_network_groups.items %}
		<tr>
			<td>{{ gruppe }}</td>
			<td>
			{% for i in innhold %}
				<li>{{ i }}</li>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}

	</tbody>
	</table>
	{% endcomment %}


{% endblock hovedinnhold %}