{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Configuration Management Database (CMDB) - Oversikt
{% endblock overskrift %}

{% block hovedinnhold %}

Her finner du informasjon om IKT-driftsmiljøet på felles IKT-plattform. Kartoteket har oversikt over systemer. Via ulike integrasjoner henter Kartoteket automatisk inn tilknyttet informasjon slik som eksempelvis servere, nettverkskonfigurasjon og brukeridenter med tilhørende tilganger.

I tillegg har driftsleverandør dashboard i PowerBI som UKE sine forvaltere har tilgang på:</p>
<li><a target="_self" href="https://app.powerbi.com/groups/me/apps/c8aba74a-d4ed-465a-b7a6-37a565ef2004/reports/06b9956f-accf-4aab-b2a9-903b2dfead9a/ReportSection4925c3daed000c2e0148?ctid=8b87af7d-8647-4dc7-8df4-5f69a2011bb5&experience=power-bi">Kapasitet: disk og backup</a></li>
<li><a target="_self" href="https://app.powerbi.com/groups/me/dashboards/fa1963eb-f139-4bd2-b7a5-ae362c715a99?ctid=8b87af7d-8647-4dc7-8df4-5f69a2011bb5">Klienter, patchestatus, nettverksutstyr</a></li>
<li><a target="_self" href="https://app.powerbi.com/groups/me/apps/e59dca37-410f-452a-92f1-b30fe32ee3bc/reports/84624215-fc73-4b3d-a2b2-0c5e7a03ea39/ReportSection6941b31b48df6cec0635?ctid=8b87af7d-8647-4dc7-8df4-5f69a2011bb5">Sikkerhetsdashboard: trusler og sårbarheter</a></li>

<hr>
<h6>Nøkkeltall:</h6>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>PRK skjema</h6>
			<h3>{{ count_prk_skjema }}</h3>
			<h6>PRK valg</h6>
			<h3>{{ count_prk_skjema_valg }}</h3>
			<h6>Antall grupper i Active Directory</h6>
			<h3>{{ count_ad_grupper }}</h3>
		</div>
		<div class="col-sm">
			<h6>Kontoer i AD</h6>
			<h3>{{ count_ad_users }}</h3>
			<h6>Deaktive kontoer i AD</h6>
			<h3>{{ count_inactive_accounts }}</h3>
			<h6>Kontoer utenfor OU=OK</h6>
			<h3>{{ count_utenfor_OK_accounts }}</h3>
			<h6>Brukere i PRK</h6>
			<h3>{{ count_prk_users }}</h3>
		</div>
		<div class="col-sm">
			<h6>Aktive driftbrukere</h6>
			<h3>{{ count_drift_accounts }}</h3>
			<h6>Aktive servicekontoer</h6>
			<h3>{{ count_service_accounts }}</h3>
			<h6>Aktive ressurser (møterom, postbokser..)</h6>
			<h3>{{ count_ressurs_accounts }}</h3>
		</div>
		<div class="col-sm">
			<h6>Office365 Service Principals</h6>
			<h3>{{ count_office_ea }}</h3>
			<h6>Service Principal Secrets</h6>
			<h3>{{ count_office_ea_keys }}</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm">
			<h6>Business Services</h6>
			<h3>{{ count_bs }}</h3>
			<h6>Business Sub Services</h6>
			<h3>{{ count_bss }}</h3>
		</div>
		<div class="col-sm">
			<h6>Servere</h6>
			<h3>{{ count_server }}</h3>
			<h6>Minnebruk servere estimert</h6>
			<h3>{{ count_mem|filesizeformat }}</h3>
			<h6>Klienter</h6>
			<h3>{{ count_klienter }}</h3>
		</div>
		<div class="col-sm">
			<h6>Nettverk (VLAN)</h6>
			<h3>{{ count_vlan }}</h3>
			<h6>Lastbalanserte tjenester</h6>
			<h3>{{ count_vip }}</h3>
			<h6>Pool-medlemmer</h6>
			<h3>{{ count_vip_pool }}</h3>
		</div>
		<div class="col-sm">
			<h6>DNS A-records</h6>
			<h3>{{ count_dns_arecords }}</h3>
			<h6>DNS CNames</h6>
			<h3>{{ count_dns_cnames }}</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm">
			<h6>Oracle-databaser</h6>
			<h3>{{ count_oracle }}</h3>
			<h6>MSSQL-databaser</h6>
			<h3>{{ count_mssql }}</h3>
		</div>
		<div class="col-sm">
			<h6>Diskbruk Oralce estimert</h6>
			<h3>{{ count_oracle_disk|filesizeformat }}</h3>
			<h6>Diskbruk MSSQL estimert</h6>
			<h3>{{ count_mssql_disk|filesizeformat }}</h3>
		</div>
		<div class="col-sm">
			<h6>Diskbruk servere</h6>
			<h3>{{ count_disk|filesizeformat }}</h3>
			<h6>Backup servere</h6>
			<h3>{{ count_backup|filesizeformat }}</h3>

		</div>
		<div class="col-sm">
			<h6>Sentralt nettverksutstyr</h6>
			<h3>{{ count_cisco }}</h3>
			<h6>BigIP-instanser</h6>
			<h3>{{ count_bigip }}</h3>
		</div>
	</div>
</div>


{% endblock hovedinnhold %}