{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk i servere og klienter
{% endblock overskrift %}

{% block hovedinnhold %}

	{% url 'alle_klienter' as url_alle_klienter %}
	<a href="{{ url_alle_klienter }}" class="btn btn-sm btn-link {% if url_alle_klienter in request.path %}fremhev{% endif %}">PRK maskinadmin</a>

	{% url 'servere_utfaset' as url_servere_utfaset %}
	<a href="{{url_servere_utfaset}}" class="btn btn-sm btn-link {% if url_servere_utfaset in request.path %}fremhev{% endif %}">Utfasede servere</a>

	{% url 'maskin_sok' as url_maskin_sok %}
	<a href="{{url_maskin_sok}}" class="btn btn-sm btn-link {% if url_maskin_sok in request.path %}fremhev{% endif %}">Listesøk</a>

	<hr>

	<p>Servere er en egen import fra Sopra Sterias CMDB. Den inneholder servere, terminalservere og tykke klienter. Tynne klienter er ikke med da de ikke er medlem i Oslofelles-domene. Du kan søke opp tynne klienter i PRK-maskinadmin.</p>

	<p>Sopra Steria knytter servere til business sub services, og de har så langt auto-discovery virker informasjon om IP-adresse, operativsystem, disk, minne og cpu.</p>

	<hr>

	<p>Noen søkeforslag:
		<a class="btn btn-sm" href="?search_term=ws8">Tykke klienter (tar lang tid)</a>
		<a class="btn btn-sm" href="?search_term=xai">Terminalservere intern sone</a>
		<a class="btn btn-sm" href="?search_term=xas">Terminalservere sikker sone</a>
		<a class="btn btn-sm" href="?search_term=wsvis">VDI intern sone</a>
		<a class="btn btn-sm" href="?search_term=wsvss">VDI sikker sone</a>
		<a class="btn btn-sm" href="?search_term=mgmt">Managementservere</a>
		<a class="btn btn-sm" href="?search_term=web">Webservere</a>
		<a class="btn btn-sm" href="?search_term=app">Appservere</a>
		<a class="btn btn-sm" href="?search_term=fil">Filservere</a>
		<a class="btn btn-sm" href="?search_term=infra">Infra-servere</a>
		<a class="btn btn-sm" href="?search_term=print">Print-servere</a>
	</p>


	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="hostnavn / bs inneholder.." class="form-control form-control-sm">
			<input size="30" style="width: 250px;" type="search" value="{{ comp_os }}" name="comp_os"
			placeholder="Operativsystem er.." class="form-control form-control-sm">
			<input size="30" style="width: 250px;" type="search" value="{{ comp_os_version }}" name="comp_os_version"
			placeholder="Versjon er.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ maskiner.count }} maskiner.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Maskinnavn</th>
		<th>Business service</th>
		<th>Databaser på server</th>
		<th>Description</th>
		<th>Spesifikasjoner</th>
		<th>Nettverk</th>
		<th>Operativsystem</th>
		<th>Tilhørende system</th>
		<th>Eierskap</th>
	</tr>
	</thead>
	<tbody>
	{% for maskin in maskiner %}
	<tr {% if not maskin.device_active %} style="color: #d6d6d6;" {% endif %}>
		<td>
			{% url 'ad_details' name=maskin.comp_name as url_ad %}
			<a href="{{ url_ad }}">{{ maskin.comp_name }}</a>
		</td>
		<td>
			BS: {{ maskin.sub_name.parent_ref }} <br>
			{% url 'cmdbdevice' pk=maskin.sub_name.pk as url_bss %}
			BSS: <a href="{{ url_bss }}">{{ maskin.sub_name }}</a>
		</td>
		<td>
			{% for db in maskin.database_server.all %}
				<li>{{ db.db_database }}</li>
			{% endfor %}
		</td>
		<td>
			{{ maskin.description|default:"-" }} <br>
			{{ maskin.comments|default:"-" }}
		</td>
		<td>
			Disk: {{ maskin.comp_disk_space|default:"-" }} GB <br>
			CPU: {{ maskin.comp_u_cpu_total|default:"-" }} Cores<br>
			RAM: {{ maskin.comp_ram|default:"-" }} MB<br>
		</td>
		<td>
			IP: {{ maskin.comp_ip_address }} <br>
			DNS: {{ maskin.dns|default:"" }} <br>
			VLAN: {{ maskin.vlan|default:"" }} <br>
			NAT: {{ maskin.nat|default:"" }} <br>
			VIP: {{ maskin.vip|default:"" }}<br>
		</td>
		<td>
			{{ maskin.comp_os|default:"Ukjent" }}
			{{ maskin.comp_os_version }}
			{{ maskin.comp_os_service_pack }}
		</td>
		<td>
			{% if maskin.sub_name.parent_ref.systemreferanse %}
				{% url 'systemdetaljer' pk=maskin.sub_name.parent_ref.systemreferanse.pk as url_system %}
				<a href="{{ url_system }}">{{ maskin.sub_name.parent_ref.systemreferanse }}</a>
			{% endif %}
		</td>
		<td>
			{% if maskin.sub_name.parent_ref.systemreferanse %}
				{{maskin.sub_name.parent_ref.systemreferanse.systemeier_kontaktpersoner_referanse.all.0}}
			{% endif %}

			{% if maskin.landesk_login %}
				{{ maskin.landesk_login }}<br>{{maskin.maskinadm_status}}
			{% endif %}
		</td>

	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}