{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Personer med flere brukerkontoer i brukerkatalogen
{% endblock overskrift %}

{% block hovedinnhold %}

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h6>Antall aktive personer</h6>
				<h3>{{ ant_ansattnr_unike }}</h3>
			</div>
			<div class="col-sm">
				<h6>Antall kontoer</h6>
				<h3>{{ ant_ansattnr_totalt }}</h3>
			</div>
		</div>
	</div>

<hr>

	<div class="container">
		<div class="row">
			<div class="col-sm-2">

				<table class="table table-sm tablesorter excel">
				<thead>
				<tr>
					<th>Brukertype</th>
					<th>Antall</th>
				</tr>
				</thead>
				<tbody>
				{% for i in stat_brukertype %}
				<tr>
					<td>{{i.usertype}}</td>
					<td>{{i.count}}</td>
				</tr>
				{% endfor %}
				</tbody>
				</table>

			</div>
			<div class="col-sm-3">

				<table class="table table-sm tablesorter excel">
				<thead>
				<tr>
					<th>Virksomhet</th>
					<th>Antall</th>
				</tr>
				</thead>
				<tbody>
				{% for i in stat_virksomhet %}
				<tr>
					<td>{{i.virksomhet}}</td>
					<td>{{i.count}}</td>
				</tr>
				{% endfor %}
				</tbody>
				</table>

			</div>

			<div class="col-sm-3">

				<table class="table table-sm tablesorter excel">
				<thead>
				<tr>
					<th>Org.enhet</th>
					<th>Antall</th>
				</tr>
				</thead>
				<tbody>
				{% for i in stat_ou %}
				<tr>
					<td>{{i.ou}}</td>
					<td>{{i.count}}</td>
				</tr>
				{% endfor %}
				</tbody>
				</table>

			</div>

			<div class="col-sm-2">
				<table class="table table-sm tablesorter excel">
					<thead>
						<tr>
							<th>Ansattnr</th>
							<th>Antall</th>
						</tr>
					</thead>
					<tbody>
					{% for i in raw %}
						<tr>
							<td>{{i.anr}}</td>
							<td>{{i.count}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>


		</div>
	</div>



{% endblock hovedinnhold %}