{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Oversikt over backup-forbruk
{% endblock overskrift %}

{% block hovedinnhold %}


<hr>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>Backup totalt</h6>
			<h3>{{ count_backup|filesizeformat }} (binær)</h3>
			<p>{{ count_backup }} bytes</p>
		</div>
		<div class="col-sm">
			<h6>Backup uten kobling til business service</h6>
			<h3>{{ count_backup_ukjent|filesizeformat }} (binær)</h3>
			<p>{{ count_backup_ukjent }} bytes<br><a href="/admin/systemoversikt/cmdbbackup/?o=-6&source_type=OTHER">detaljer</a></p>

		</div>
	</div>
</div>
<hr>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>Servere prod (D30)</h6>
			<h3>{{ volum_servere_d30|filesizeformat }}</h3>
			<h5>{{pct_servere_d30_prod}}%</h5>
			<br><h6>Servere test/preprod</h6>
			<h3>{{ volum_servere_d30_test|filesizeformat }}</h3>
			<h5>{{pct_servere_d30}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Oracle prod (D40)</h6>
			<h3>{{ volum_oracle_d40|filesizeformat }}</h3>
			<h5>{{pct_oracle_d40_prod}}%</h5>
			<br><h6>Oracle test/preprod</h6>
			<h3>{{ volum_oracle_d40_test|filesizeformat }}</h3>
			<h5>{{pct_oracle_d40}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Fil og exchange prod (D30-W13-M12-Y10)</h6>
			<h3>{{ volum_file_exch_DWMY|filesizeformat }}</h3>
			<h5>{{pct_file_exch_DWMY_prod}}%</h5>
			<br><h6>Fil og exchange test/preprod</h6>
			<h3>{{ volum_file_exch_DWMY_test|filesizeformat }}</h3>
			<h5>{{pct_file_exch_DWMY}}%</h5>
		</div>
		<div class="col-sm">
			<h6>MSSQL prod (D30-W13-M12-Y10)</h6>
			<h3>{{ volum_mssql_DWMY|filesizeformat }}</h3>
			<h5>{{pct_mssql_DWMY_prod}}%</h5>
			<br><h6>MSSQL test/preprod</h6>
			<h3>{{ volum_mssql_DWMY_test|filesizeformat }}</h3>
			<h5>{{pct_mssql_DWMY}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Test? prod (D60 og D30-M13-M12)</h6>
			<h3>{{ volum_d60_dmm|filesizeformat }}</h3>
			<h5>{{pct_ud60_dmm}}%</h5>
			<br><h6>Test? test/preprod</h6>
			<h3>{{ volum_d60_dmm_test|filesizeformat }}</h3>
			<h5>{{pct_ud60_dmm_test}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Ukjent policy prod</h6>
			<h3>{{ volum_ukjent|filesizeformat }}</h3>
			<h5>{{pct_ukjent_prod}}%</h5>
			<br><h6>Ukjent policy test/preprod</h6>
			<h3>{{ volum_ukjent_test|filesizeformat }}</h3>
			<h5>{{pct_ukjent}}%</h5>
		</div>
	</div>
</div>

<p>Kontroll: <b>{{pct_kontroll}}%</b>. Hvis denne ikke er 100%, er det innført nye ukjente policyer</p>
<hr>


<h4>Backup fordelt på Business Service</h4>
<h6>Totalt {{sum_offering_all|filesizeformat}}</h6>
<p>Her vises de {{num_offerings_show}} største tjenestene</p>
<table class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>Business service</th>
		<th>Systemknytning</th>
		<th>Total mengde backup</th>
	</tr>
	</thead>
	<tbody>
	{% for offering in offering_all %}
	<tr>
		<td>{{ offering }}</td>
		<td>
			{% for system in offering.system.all %}
			{{ system }}
			{% endfor %}
		</td>
		<td>{{ offering.backup_size }} ({{ offering.backup_size|filesizeformat }})</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<hr>

<h4>Backup uten knytning til server / business service</h4>
<p>Her vises de {{num_offerings_show}} største klientene (kildene)</p>
<table class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>Kilde</th>
		<th>Mengde backup</th>
		<th>Prosent av totalen</th>
	</tr>
	</thead>
	<tbody>
	{% for kilde in backup_uten_kobling %}
	<tr>
		<td>{{ kilde.device_str }}</td>
		<td>{{ kilde.backup_size_bytes }} ({{ kilde.backup_size_bytes|filesizeformat }})</td>
		<td>{{ kilde.pct }}%</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock hovedinnhold %}