{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk på IP-adresser på felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Driftsleverandør ved Telenor vedlikeholder en oversikt over alle VLAN på felles IKT-plattform, samt en oversikt over alle VIP-er i BigIP, samt en oversikt over adresser som er direkte NAT-et ut på Internett. I tillegg importeres sonefil fra DNS intern og ekstern av og til inn i Kartoteket. Alt dette skjer manuelt, men informasjonen endres svært sjeldent. Her kan du søke etter en IP, og du vil få treff fra de ulike kildene.</p>

	<p>Du kan i lime inn hva du vil her. Kartoteket vil identifisere IP-adresser automatisk.</p>

	<form action="{% url 'alle_ip' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<textarea rows="3" cols="50" style="width: 500px; height: 150px;" name="search_term"
			placeholder="Liste med IP-adresser, separert med space, semikolon eller komma. Annen tekst ignoreres..." class="form-control form-control-sm">{{ search_term }}</textarea>
			<input style="margin-left: 10px;" type="submit" value="Slå opp" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>
	<p>Oppslag kan ta lang tid dersom mange IP-adresser legges inn.

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>IP</th>
		<th>Host</th>
		<th>DNS intern</th>
		<th>DNS ekstern</th>
		<th>DNS oppslag (direkte)</th>
		<th>VLAN</th>
		<th>VIP</th>
	</thead>
	<tbody>
	{% for ip in ip_lookup %}
		<tr>
			<td>{{ip.address}}</td>
			<td>
				{% if ip.comp_name %}
					<a href="{% url 'alle_servere' %}?search_term={{ip.comp_name}}">{{ip.comp_name}}</a>
				{% endif %}
			</td>
			<td>{{ip.dns_i|default:"Ingen treff"}}</td>
			<td>{{ip.dns_e|default:"Ingen treff"}}</td>
			<td>{{ip.dns_live|default:"Ingen treff"}}</td>
			<td>{{ip.vlan|default:"Ingen treff"}}</td>
			<td>{{ip.vip|default:"Ingen treff"}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% if not_ip_addresses %}
	<p>Følgende ting er ikke IP-adresser:
	<ul style="column-count:10;">
	{% for item in not_ip_addresses %}
		<li>{{item}}</li>
	{% endfor %}
	</ul>
{% endif %}


{% endblock hovedinnhold %}