{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Business Sub Services (CMDB)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>CMDB står for "Configuration management database" og er i praksis en eller flere databaser med informasjon om hva et driftsmiljø består av. Sopra Steria har organisert servere og databaser under "miljø" som i  praksis er test/produksjon/kurs for et system. Hvert miljø er koblet til en kategori.

	I Kartoteket skal vi nå knytte systemet direkte til de miljø det består av. Denne knytningen vil skje fra systemets redigeringsside.</p>

	<p>Det er knyttet tilgjengelighetskrav til hvert miljø, som igjen dikterer SLA krav knyttet til bestillinger og håndtering av feil på underliggende systemer. Ler mer om SLA-nivåene på <a href="https://oslokommune.sharepoint.com/sites/abcff/SitePages/Kontinuit--og-beredskapsarbeid.aspx" target="_blank">SharePoint</a>.</p>

	<p>Importen av disse dataene skjer automatisk hver natt</p>

	<hr>
	Hopp til
	<a href="#anchor_uten_systemkobling" class="btn btn-sm btn-link">Uten systemkobling</a>
	<a href="#anchor_skjult" class="btn btn-sm btn-link">Skjult med databaser eller servere</a>
	<a href="#anchor_mangler" class="btn btn-sm btn-link">System uten kobling</a>
	<a href="#anchor_ukjent" class="btn btn-sm btn-link">Koblede systemer med ukjent plattform</a>
	<a href="#anchor_utfaset" class="btn btn-sm btn-link">Utfaset men systemkoblet</a>


	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Business service inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>


<table class="table table-sm tablesorter excel">
<thead>
<tr>
	<th>Nivå 1 Business Service (kategori)</th>
	<th>Nivå 2 Business Service Offering (miljø)</th>
	<th>Tilknyttet system</th>
	<th>Service classification</th>
	<th>Antall servere</th>
	<th>Antall databaser</th>
	<th>Mengde backup</th>
	<th>Miljø</th>
	{% comment %}
	<th>Kritikalitet</th>
	{% endcomment %}
	<th>Tilgjengelighet</th>
	<th>Driftskompleksitet</th>
	<th>Kritikalitet</th>
</tr>
</thead>
<tbody>
{% for item in cmdbref %}
	<tr {% if item.operational_status == 0 %} style="text-decoration: line-through; opacity: 30%;" {% endif %}>

		<td>{{ item.parent_ref.navn|default:'?' }}</td>
		<td>
			{% comment %}
				{% if user.is_authenticated %}
				<a href="/admin/systemoversikt/cmdbref/{{ item.pk }}/change/">
					✎</a>
				{% endif %}
			{% endcomment %}


			<a href="{% url 'cmdb_bss' pk=item.pk %}">{{ item.navn }}</a>
			{% if item.is_bss %}<span> (gruppe)</span>{% endif %}
		</td>
		<td>
			{% for system in item.system.all %}
				{% url 'systemdetaljer' pk=system.pk as url_system %}
				<a href="{{ url_system }}">{{ system }}</a>
				{% if not forloop.last %} og {% endif %}
			{% endfor %}
		</td>
		<td>
			{{ item.service_classification|default:"" }}
		</td>
		<td>{{ item.ant_devices }}</td>
		<td>{{ item.ant_databaser }}</td>
		<td>
			{{ item.backup_size|filesizeformat }}
		</td>

		<td>{{ item.get_environment_display|default:"-" }}</td>

		{% comment %}
		<td>{{ item.get_kritikalitet_display|default:"X ukjent" }}</td>
		{% endcomment %}

		<td {% if not item.u_service_availability %} style="color: red;" {% endif %}>
			{{ item.u_service_availability_text|default:"T?" }}
		</td>
		<td {% if not item.u_service_operation_factor %} style="color: red;" {% endif %}>
			{{ item.u_service_operation_factor_text|default:"D?" }}
		</td>
		<td {% if not item.u_service_complexity %} style="color: red;" {% endif %}>
			{{ item.u_service_complexity_text|default:"K?" }}
		</td>

	</tr>
{% endfor %}
</tbody>
</table>



	<h3 style="scroll-margin-top: 150px;" id="anchor_uten_systemkobling">Mangler systemkobling</h3>
	<p>Søk opp system og legg til kobling til business service fra systemets redigeringsside</p>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Business service</th>
	</tr>
	</thead>
	<tbody>
	{% for bs in bs_uten_system %}
	<tr>
		<td>
			{{ bs }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>



	<h3 style="scroll-margin-top: 150px;" id="anchor_skjult">Skjult men har databaser eller servere</h3>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Business service</th>
		<th>Endre</th>
	</tr>
	</thead>
	<tbody>
	{% for bs in skjult_server_db %}
	<tr>
		<td><a href="/cmdb/bs/?search_term={{bs.navn}}">{{ bs.navn }}</a></td>
		<td>
			<a href="/admin/systemoversikt/cmdbbs/{{ bs.pk }}/change/">✎ rediger</a>
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>



	<h3 style="scroll-margin-top: 150px;" id="anchor_mangler">Systemer angitt som felles IKT-plattform men mangler kobling</h3>
	<p>Viser ikke infrastrukturkomponenter</p>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Systemnavn</th>
		<th>Plattform</th>
		<th>Systemeier</th>
		<th>Systemforvalter</th>
	</tr>
	</thead>
	<tbody>
	{% for s in system_uten_bs %}
	<tr>
		<td><a href="{% url 'systemdetaljer' pk=s.pk %}">{{ s.systemnavn }}</a></td>
		<td>{{ s.driftsmodell_foreignkey }}</td>
		<td>{{ s.systemeier|default:"?" }}</td>
		<td>{{ s.systemforvalter|default:"?" }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>



	<h3 style="scroll-margin-top: 150px;" id="anchor_ukjent">Koblede systemer med ukjent plattform</h3>
	<p>Viser ikke infrastrukturkomponenter</p>
	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Systemnavn</th>
		<th>BS</th>
		<th>Plattform</th>
		<th>Systemeier</th>
		<th>Systemforvalter</th>
	</tr>
	</thead>
	<tbody>
	{% for s in bs_utenfor_fip %}
	<tr>
		<td><a href="{% url 'systemdetaljer' pk=s.pk %}">{{ s.systemnavn }}</a></td>
		<td><a href="/cmdb/bs/?search_term={{s.bs_system_referanse.navn}}">{{ s.bs_system_referanse.navn }}</a></td>
		<td>{{ s.driftsmodell_foreignkey }}</td>
		<td>{{ s.systemeier|default:"?" }}</td>
		<td>{{ s.systemforvalter|default:"?" }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>



	<h3 style="scroll-margin-top: 150px;" id="anchor_utfaset">Utfaset men er systemkoblet</h3>
	<a href="{% url 'cmdb_bs_disconnect' %}">Løskoble alle</a>
	<table class="table table-sm tablesorter excel">
		<thead>
		<tr>
			<th>Business service</th>
			<th>Koblet system</th>
		</tr>
		</thead>
		<tbody>
		{% for bs in utfasede_bs %}
		<tr>
			<td>{{ bs }}</td>
			<td>
				{% if bs.systemreferanse %}
					{{ bs.systemreferanse.systemnavn }}
					<a style="color: #ff2116;" href="/admin/systemoversikt/cmdbbs/{{ bs.pk }}/change/">✎ frakoble?</a>
				{% else %}
					Ikke koblet
				{% endif %}

			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>



{% endblock hovedinnhold %}