{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Driftleverandørs Business Offerings og Services (ServiceNow)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>CMDB står for Configuration Management DataBase og er en som navnet antyder en database med informasjon om hva et driftsmiljø består av. Sopra Steria har organisert servere og databaser under "miljø" de kaller "service offerings", typisk et for produksjon, preproduksjon og test. I Kartoteket knytter vi nå det enkelte system direkte til service offerings (miljø).</p>

	<p>Det er knyttet tilgjengelighetskrav til hvert miljø, som igjen dikterer SLA krav knyttet til bestillinger og håndtering av feil på underliggende systemer. Ler mer om SLA-nivåene på <a href="https://oslokommune.sharepoint.com/sites/abcff/SitePages/Kontinuit--og-beredskapsarbeid.aspx" target="_blank">SharePoint</a>.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Business service inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>


	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Miljø (Service Offering)</th>
		<th>Tilknyttet system</th>
		<th>Systemkategori</th>
		<th>Landingssone</th>
		<th>Forvalter</th>
		<th>Kategori (Business Service)</th>
		<th>Service classification</th>
		<th>Antall servere</th>
		<th>Antall databaser</th>
		<th>Mengde backup</th>
		<th>Miljø</th>
		<th>Tilgjengelighet</th>
		<th>Driftskompleksitet</th>
		<th>Kritikalitet</th>
	</tr>
	</thead>
	<tbody>
	{% for item in cmdbref %}
		<tr {% if item.operational_status == 0 %} style="text-decoration: line-through; opacity: 30%;" {% endif %}>

			<td>
				<a href="{% url 'cmdb_bss' pk=item.pk %}">{{ item.navn }}</a>
			</td>
			<td>
				{% for system in item.system.all %}
					{% url 'systemdetaljer' pk=system.pk as url_system %}
					<a href="{{ url_system }}">{{ system.systemnavn }}</a>
					{% if not forloop.last %} og {% endif %}
				{% endfor %}
			</td>
			<td></td>
			<td>
				{% for system in item.system.all %}
					{{ system.driftsmodell_foreignkey.navn }}
					{% if not forloop.last %} og {% endif %}
				{% endfor %}
			</td>
			<td>
				{% for system in item.system.all %}
					{{ system.systemforvalter.virksomhetsforkortelse }} ({{system.systemforvalter_avdeling_referanse.ou }})
					{% if not forloop.last %} og {% endif %}
				{% endfor %}
			</td>
			<td>{{ item.parent_ref.navn|default:'?' }}</td>
			<td>
				{{ item.service_classification|default:"" }}
			</td>
			<td>{{ item.ant_devices }}</td>
			<td>{{ item.ant_databaser }}</td>
			<td>
				{{ item.backup_size|filesizeformat }}
			</td>

			<td>{{ item.get_environment_display|default:"-" }}</td>

			<td>
				{{ item.u_service_availability_text|default:"-" }}
			</td>
			<td>
				{{ item.u_service_operation_factor_text|default:"-" }}
			</td>
			<td>
				{{ item.u_service_complexity_text|default:"-" }}
			</td>

		</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}