{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Oversikt over backup-forbruk
{% endblock overskrift %}

{% block hovedinnhold %}


<hr>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>Backup totalt</h6>
			<h3>{{ count_backup|filesizeformat }} (binær)</h3>
			<p>{{ count_backup }} bytes</p>
		</div>
		<div class="col-sm">
			<h6>Backup uten kobling til business service</h6>
			<h3>?</h3>
			<p>?</p>
		</div>
	</div>
</div>
<hr>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>Backup servere (D30)</h6>
			<h3>{{ volum_servere_d30|filesizeformat }}</h3>
			<h6>Test/preprod</h6>
			<h3>{{ volum_servere_d30_test|filesizeformat }}</h3>
			<h5>{{pct_servere_d30}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Backup oracle (D40)</h6>
			<h3>{{ volum_oracle_d40|filesizeformat }}</h3>
			<h6>Test/preprod</h6>
			<h3>{{ volum_oracle_d40_test|filesizeformat }}</h3>
			<h5>{{pct_oracle_d40}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Backup fil, exchange (D30-W13-M12-Y10)</h6>
			<h3>{{ volum_file_exch_DWMY|filesizeformat }}</h3>
			<h6>Test/preprod</h6>
			<h3>{{ volum_file_exch_DWMY_test|filesizeformat }}</h3>
			<h5>{{pct_file_exch_DWMY}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Backup mssql (D30-W13-M12-Y10)</h6>
			<h3>{{ volum_mssql_DWMY|filesizeformat }}</h3>
			<h6>Test/preprod</h6>
			<h3>{{ volum_mssql_DWMY_test|filesizeformat }}</h3>
			<h5>{{pct_mssql_DWMY}}%</h5>
		</div>
		<div class="col-sm">
			<h6>Backup ukjent policy</h6>
			<h3>{{ volum_ukjent|filesizeformat }}</h3>
			<h6>Test/preprod</h6>
			<h3>{{ volum_ukjent_test|filesizeformat }}</h3>
			<h5>{{pct_ukjent}}%</h5>
		</div>

	</div>
</div>
<hr>


<h6>Backup fordelt på Business Service</h6>
<h4>Totalt {{sum_offering_all|filesizeformat}}</h4>
<table class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>Business service</th>
		<th>Systemknytning</th>
		<th>Total mengde backup</th>
	</tr>
	</thead>
	<tbody>
	{% for offering in offering_all %}
	<tr>
		<td>{{ offering }}</td>
		<td>
			{% for system in offering.system.all %}
			{{ system }}
			{% endfor %}
		</td>
		<td>{{ offering.backup_size }} ({{ offering.backup_size|filesizeformat }})</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock hovedinnhold %}