{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Servere
{% endblock overskrift %}

{% block hovedinnhold %}

	{% url 'servere_utfaset' as url_servere_utfaset %}
	<a href="{{url_servere_utfaset}}" class="btn btn-sm btn-link {% if url_servere_utfaset in request.path %}fremhev{% endif %}">Utfasede servere</a>

	{% url 'maskin_sok' as url_maskin_sok %}
	<a href="{{url_maskin_sok}}" class="btn btn-sm btn-link {% if url_maskin_sok in request.path %}fremhev{% endif %}">Massesøk på servere</a>

	{% url 'cmdb_servere_disabled_poweredon' as url_cmdb_servere_disabled_poweredon %}
	<a href="{{url_cmdb_servere_disabled_poweredon}}" class="btn btn-sm btn-link {% if url_cmdb_servere_disabled_poweredon in request.path %}fremhev{% endif %}">Deaktiverte servere som står på</a>

	<hr>

	<p>Servere importeres fra Sopra Sterias CMDB automatisk hver natt. Sopra Steria knytter servere til business sub services. Servere oppdages og oppdateres med auto-discovery som samler inn IP-adresse, operativsystem, samt informasjon om disk, minne og cpu.</p>

	<p>Gå til <a href="{{url_maskin_sok}}" class="btn btn-sm btn-link {% if url_maskin_sok in request.path %}fremhev{% endif %}">Massesøk på servere</a> dersom du ønsker å søke på mange servere samtidig</p>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 450px;" type="search" value="{{ device_search_term }}" name="device_search_term"
			placeholder="Hostnavn, operativsystem eller business service" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?device_search_term=__all__">Vis alt</a>
			{% if not vis_detaljer %}
			<a class="btn btn-sm" href="{{ request.get_full_path }}&details=show">Vis databaser og disker</a>
			{% endif %}
		</div>
	</form>

	{% if maskiner %}
		<p>Fant {{ maskiner.count }} maskiner.</p>
	{% endif %}

	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th>Maskinnavn</th>
		<th>Business service</th>
		{% if vis_detaljer %}
		<th>Databaser på server</th>
		<th>Antall databaser</th>
		{% endif %}
		<th>Description</th>
		<th>Spesifikasjoner</th>
		<th>IP</th>
		<th>Nettverk</th>
		<th>Operativsystem</th>
		<th>Backup frekvens</th>
		<th>Backup policy</th>
		<th>Tilhørende system</th>
		<th>Eierskap</th>
	</tr>
	</thead>
	<tbody>
	{% for maskin in maskiner %}
	<tr {% if not maskin.device_active %} style="color: #d6d6d6;" {% endif %}>
		<td>
			{% url 'cmdb_devicedetails' pk=maskin.pk as url_devicedetails %}
			<a href="{{ url_devicedetails }}">{{ maskin.comp_name }}</a>

			{% url 'ad_details' name=maskin.comp_name as url_ad %}
			<br><a href="{{ url_ad }}">(søk AD)</a>
		</td>
		<td>
			{% url 'cmdb_bss' pk=maskin.sub_name.pk as url_bss %}
			<a href="{{ url_bss }}">{{ maskin.sub_name.navn }}</a>
		</td>
		{% if vis_detaljer %}
		<td>
			{% for db in maskin.database_server.all %}
				<li><a href="{% url 'alle_databaser' %}?search_term={{ db.db_database }}">{{ db.db_database }}</a></li>
			{% endfor %}
		</td>
		<td>{{ maskin.database_server.all.count }}</td>
		{% endif %}
		<td>
			{{ maskin.description|default:"-" }} <br>
			{{ maskin.comments|default:"-" }}
		</td>
		<td>
			CPU: {{ maskin.comp_u_cpu_total|default:"-" }} Cores<br>
			RAM: {{ maskin.comp_ram|default:"-" }} MB<br>
			Disk: {{ maskin.comp_disk_space|filesizeformat }}<br>
			{% if vis_detaljer %}
			{% for disk in maskin.cmdbdisk_computer.all %}
				{% if disk.operational_status %}
					<li>{{ disk.file_system}} {{disk.free_space_bytes|filesizeformat}} of {{disk.size_bytes|filesizeformat}} ({{ disk.mount_point|truncatechars:35 }})</li>
				{% endif %}
			{% endfor %}
			{% endif %}
		</td>
		<td>
			{{ maskin.comp_ip_address }}
		</td>
		<td>
			DNS: {{ maskin.dns|default:"" }} <br>
			VLAN: {{ maskin.vlan|default:"" }} <br>
			NAT: {{ maskin.nat|default:"" }} <br>
			VIP: {{ maskin.vip|default:"" }}<br>
		</td>
		<td>
			{{ maskin.comp_os|default:"Ukjent" }}
			{{ maskin.comp_os_version }}
			{{ maskin.comp_os_service_pack }}
		</td>
		<td>
			{% for policy in maskin.backup.all %}
				{{ policy.backup_frequency }}<br>
			{% endfor %}
		</td>
		<td>
			{% for policy in maskin.backup.all %}
				{{ policy.storage_policy }}
			{% endfor %}
		</td>
		<td>
			{% if maskin.sub_name.parent_ref.systemreferanse %}
				{% url 'systemdetaljer' pk=maskin.sub_name.parent_ref.systemreferanse.pk as url_system %}
				<a href="{{ url_system }}">{{ maskin.sub_name.parent_ref.systemreferanse }}</a>
			{% endif %}
		</td>
		<td>
			{% if maskin.sub_name.parent_ref.systemreferanse %}
				{{maskin.sub_name.parent_ref.systemreferanse.systemeier_kontaktpersoner_referanse.all.0}}
			{% endif %}
		</td>

	</tr>
	{% endfor %}
	</tbody>
	</table>

	<table class="table table-sm tablesorter">
	<thead>
		<th>OS</th>
		<th>Antall</th>
	</thead>
	<tbody>
	{% for os in maskiner_stats %}
		<tr>
			<td><a href="{% url 'alle_servere' %}?device_search_term={{os.comp_os_readable}}">{{ os.comp_os_readable|default:"Ukjent" }}</a></td>
			<td>{{ os.comp_os_readable__count }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}