{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk på hostnavn på felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="{% url 'maskin_sok' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<textarea rows="3" cols="50" style="width: 500px; height: 250px;" name="search_term"
			placeholder="Liste med server, en per linje" class="form-control form-control-sm">{{ query }}</textarea>
			<input style="margin-left: 10px;" type="submit" value="Slå opp" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Hostnavn</th>
		<th>Business Service</th>
		<th>System / Eierskap</th>
		<th>Nettverk</th>
		<th>Beskrivelse</th>
	</thead>
	<tbody>
	{% for server in hits %}
		<tr {% if server.device_active == False %} style="text-decoration: line-through; opacity: 60%;" {% endif %}>
			<td>{{server.comp_name}}</td>
			<td>{{server.sub_name.parent_ref}} <br> {{server.sub_name}} <br> {{server.sub_name.get_environment_display}}</td>
			<td>
				{% if server.sub_name.parent_ref.systemreferanse %}
					<b>{{server.sub_name.parent_ref.systemreferanse}}</b><br>
					{{server.sub_name.parent_ref.systemreferanse.systemeier_kontaktpersoner_referanse.all.0}}
				{% endif %}

				{% if server.landesk_login %}
					{{ server.landesk_login }}<br>
					{{ server.maskinadm_status }}<br>
					{{ server.landesk_os }} {{ server.landesk_os_release }}
				{% endif %}

			</td>
			<td>
				{{ server.comp_ip_address|default:"-" }}<br>
				{{ server.vlan|default:"-" }}
			</td>
			<td>
				{{ server.description|default:"-" }} <br>
				{{ server.comments|default:"-" }}
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% if misses %}
	<p>Fant ikke disse serverne:
	<ul>
	{% for miss in misses %}
		<li>{{miss}}</li>
	{% endfor %}
	</ul>
{% endif %}


{% endblock hovedinnhold %}