{% load humanize %}
{% load static %}

<table class="tablesorter excel">
<thead>
	<tr>
		<th>Navn</th>
		<th>Brukernavn</th>
		<th>Avdeling</th>
		<th>E-post</th>
		<th>Fra PRK?</th>
		<th>Opprettet</th>
		<th>Sist pålogget</th>
		<th width="25%">Beskrivelse</th>
		<th>Tilganger</th>
	</tr>
</thead>
<tbodt>
{% for m in member.groups %}
	<tr>
		<td>👥 <a href="{% url 'adgruppe_detaljer' pk=m.pk %}">{{ m }}</a></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
{% endfor %}

{% for m in member.users %}
	<tr {% if m.profile.accountdisable %} style="text-decoration: line-through;"{% endif %}>
		<td>👤 {{m.first_name}} {{m.last_name}}</td>
		<td>
			{{m.username}}
			{% if m.profile.accountdisable %}
				(konto er deaktivert)
			{% endif %}
		</td>
		<td>
			{% if member.users|length < 300 %}
				{{m.profile.avdeling}}
			{% else %}
				(fuksjon deaktivert)
			{% endif %}
		</td>
		<td>{{ m.email }}</td>
		<td>{{ m.profile.from_prk|yesno:"Ja,Nei,Vet ikke" }}</td>
		<td>{{ m.profile.whenCreated|date:"Ym" }}<br>({{m.profile.whenCreated|timesince }})</td>
		<td>{{ m.profile.lastLogonTimestamp|date:"Ym" }}<br>({{ m.profile.lastLogonTimestamp|timesince }})</td>
		<td>{{m.profile.description}}</td>
		<td>
			(fuksjon deaktivert)
			{% comment %}
			{% for system in m.profile.levtilgangprofil %}{{ system }}<br>{% empty %}{% endfor %}<br>
			{% if show_access_groups %}
				{% for gruppe in m.profile.adgrupper.all %}{{ gruppe }}<br>{% endfor%}
			{% endif %}
			{% endcomment %}
		</td>
	</tr>
{% endfor %}

{% for n in memberof.notfound %}
	<tr>
		<td>❓ {{ n }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
{% endfor %}

{% for n in member.notfound %}
	<tr>
		<td>❓ {{ n }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
{% endfor %}

</tbodt>
</table>