
<table class="table table-sm tablesorter excel">
<thead>
<tr>
	<th>Dato opprettet</th>
	<th>Dato oppdatert</th>
	<th>Aktiv?</th>
	<th>Business Service</th>
	<th>Business Sub Service</th>
	<th>Service classification</th>
	<th>Antall servere</th>
	<th>Antall databaser</th>
	<th>Tilknyttet system</th>
	<th>Antall systemer</th>
	<th>I bruk</th>
	{% comment %}<th>B</th>{% endcomment %}
	{% comment %}<th>Kommentar</th>{% endcomment %}
	<th>Miljø</th>
	<th>Kritikalitet</th>
	{% comment %}<th>Type</th>{% endcomment %}
	{% comment %}<th>Portfolio</th>{% endcomment %}
	<th>Availability</th>
	<th>Operation factor</th>
	<th>Complexity</th>
	{% comment %}<th width="25%">Short description</th>{% endcomment %}
</tr>
</thead>
<tbody>
{% for item in cmdbref %}
<tr {% if item.operational_status == 0 %} style="text-decoration: line-through; opacity: 30%;" {% endif %}>
	<td>
		{% comment %}
			{% if user.is_authenticated %}
			<a href="/admin/systemoversikt/cmdbref/{{ item.pk }}/delete/">
				<img style="width: 8px; margin: 3px;"
				src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a>
			{% endif %}
		{% endcomment %}
		{{ item.opprettet|date:'Y-m-d' }}
	</td>
	<td>{{ item.sist_oppdatert|date:'Y-m-d' }}</td>
	<td>{% include 'site_janeivetikke.html' with boolean=item.operational_status %}</td>
	<td>{{ item.parent_ref.navn|default:'?' }}</td>
	<td>
		{% comment %}
			{% if user.is_authenticated %}
			<a href="/admin/systemoversikt/cmdbref/{{ item.pk }}/change/">
				<img style="width: 11px; margin: 3px;"
				src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
			{% endif %}
		{% endcomment %}


		<a href="{% url 'cmdbdevice' pk=item.pk %}">{{ item.navn }}</a>
		{% if item.is_bss %}<span> (gruppe)</span>{% endif %}
	</td>
	<td>
		{{ item.service_classification|default:"" }}
	</td>
	<td>{{ item.ant_devices }}</td>
	<td>{{ item.ant_databaser }}</td>
	<td>
		{% if item.parent_ref.systemreferanse %}
			{% url 'systemdetaljer' pk=item.parent_ref.systemreferanse.pk as url_system %}
			<a href="{{ url_system }}">{{ item.parent_ref.systemreferanse.systemnavn }}</a>
		{% else %}
			<a style="color: #ff2116;" href="/admin/systemoversikt/cmdbbs/{{ item.parent_ref.pk }}/change/">✎ koble?</a>
		{% endif %}
	</td>
	<td>{{item.system_cmdbref.all|length}}</td>
	<td>{{ item.get_operational_status_display|default:"-" }}</td>
	{% comment %}<td>{{ item.u_service_billable|yesno:"Ja,Nei,Ukjent" }}</td>{% endcomment %}
	{% comment %}<td>{{ item.comments|default:"-"|truncatewords:6 }}</td>{% endcomment %}
	<td>{{ item.get_environment_display|default:"-" }}</td>
	<td>{{ item.get_kritikalitet_display|default:"X ukjent" }}</td>
	{% comment %}<td>{{ item.get_cmdb_type_display }}</td>{% endcomment %}

	{% comment %}<td>{{ item.u_service_portfolio|default:"-" }}</td>{% endcomment %}

	<td {% if not item.u_service_availability %} style="color: red;" {% endif %}>
		{{ item.u_service_availability|default:"T?" }}
	</td>
	<td {% if not item.u_service_operation_factor %} style="color: red;" {% endif %}>
		{{ item.u_service_operation_factor|default:"D?" }}
	</td>
	<td {% if not item.u_service_complexity %} style="color: red;" {% endif %}>
		{{ item.u_service_complexity|default:"K?" }}
	</td>

	{% comment %}<td>{{ item.comments|default:"-" }}</td>{% endcomment %}
</tr>
{% endfor %}
</tbody>
</table>
