{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Utfasede miljø koblet til systemkomponent
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Her vises miljøer (offerings) som er satt deaktiv av Sopra Steria, men som fremdeles er koblet til en systemkomponent. Denne listen skal helst være tom.</p>

	<a href="{% url 'cmdb_bs_disconnect' %}">Løskoble alle</a>
	<table class="table table-sm tablesorter excel">
		<thead>
		<tr>
			<th>Business service</th>
			<th>Koblet system</th>
		</tr>
		</thead>
		<tbody>
		{% for bs in utfasede_bs %}
		<tr>
			<td>{{ bs }}</td>
			<td>
				{% if bs.systemreferanse %}
					{{ bs.systemreferanse.systemnavn }}
					<a style="color: #ff2116;" href="/admin/systemoversikt/cmdbbs/{{ bs.pk }}/change/">✎ frakoble?</a>
				{% else %}
					Ikke koblet
				{% endif %}

			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>



{% endblock hovedinnhold %}