{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% load templatetags %}

{% block underoverskrift %}
	<a href="{{ web_url.domene }}">{{ web_url.domene }}</a>
{% endblock underoverskrift %}

{% block main_content %}



<div class="card">
	<div class="card-body">
		<b>{% get_verbose_field_name web_url "https" %}:</b> {{ web_url.https|yesno:"Ja,Nei" }}<br>

		<b>{% get_verbose_field_name web_url "maalgruppe" %}:</b> {{ web_url.get_maalgruppe_display|default:"-" }}<br>

		<b>{% get_verbose_field_name web_url "vurdering_sikkerhetstest" %}:</b> {{ web_url.get_vurdering_sikkerhetstest_display|default:"-" }}<br>

		<b>{% get_verbose_field_name web_url "kommentar" %}:</b> {{ web_url.kommentar|default:"-" }}<br>

		{% if web_url.registrar %}
			{% url 'leverandor' pk=web_url.registrar.pk as url_registrar %}
			<b>{% get_verbose_field_name web_url "registrar" %}: </b> <a href="{{ url_registrar }}">{{ web_url.registrar|default:"-" }}</a><br>
		{% endif %}

		{% if web_url.eier %}
			{% url 'virksomhet' pk=web_url.eier.pk as url_eier %}
			<b>{% get_verbose_field_name web_url "eier" %}: </b> <a href="{{ url_eier }}">{{ web_url.eier|default:"-" }}</a>
		{% endif %}

		{% if user.is_authenticated %}
		<hr>
		<a target="_blank" href="/admin/systemoversikt/systemurl/{{ web_url.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger">Rediger detaljer</a>
		{% endif %}
	</div>
</div>

<br>


<h4>Brukes mot følgende systemer:</h4>
<ul>
{% for item in systemer %}
	{% url 'systemdetaljer' pk=item.pk as url_systemdetaljer %}
	<li><a href="{{ url_systemdetaljer }}">{{ item.systemnavn }}</a></li>
{% endfor %}
</ul>


{% endblock main_content %}