{% extends "index.html" %}


{% block underoverskrift %}
	Systemer under kategorien "{{ kategori.kategorinavn }}"
{% endblock underoverskrift %}

{% block main_content %}

<p>
	<a class="btn btn-sm btn-secondary" href="{% url 'alle_systemkategorier' %}">Alle subkategorier</a>
</h6>

<p>For å legge til et system i denne kategorien må du velge kategorien fra systemets redigeringsside.</p>

<h5>Følgende {{ systemer.count }} systemer er registrert</h5>
{% include "alle_systemer_include.html" %}

<h5>Følgende {{ programvarer.count }} programvarer er registrert</h5>
{% include "alle_programvarer_include.html" %}

{% endblock main_content %}