{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	{{ ansvarlig }}
{% endblock underoverskrift %}

{% block main_content %}
<div>
	{% if user.is_authenticated %}
	<a class="btn btn-sm btn-primary" target="_blank" href="/admin/systemoversikt/ansvarlig/{{ ansvarlig.pk }}/change/">
		Rediger opplysningene</a>
	<a class="btn btn-sm btn-danger" href="{% url 'ad_details' name=ansvarlig.brukernavn.username %}">Slå opp i Active Directory</a>
	{% endif %}
	<a href="{% url 'alle_ansvarlige' %}" class="btn btn-sm btn-secondary">Se alle ansvarlige</a>
</div>
<br>

<p>Dersom en knytning til f.eks. et system, en behandling, virksomhetsrolle eller en avtale er feil eller mangler, må du inn å redigere på det spesifikke systemet/behandlingen/virksomheten/avtalen.</p>

<div class="card">
	<div class="card-body">

		{% if virksomhetsleder_for %}
			{% for vir in virksomhetsleder_for %}
				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<b>Direktør for: </b><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a>
			{% endfor %}
		<hr>
		{% endif %}

		{% if ikt_kontakt_for %}
		{% for vir in ikt_kontakt_for %}
			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<b>IKT-virksomhetskontakt for: </b><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a>
		{% endfor %}
		<hr>
		{% endif %}

		{% if personvernkoordinator_for %}
		{% for vir in personvernkoordinator_for %}
			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<b>Personvernkoordinator for: </b><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a>
		{% endfor %}
		<hr>
		{% endif %}

		{% if informasjonssikkerhetskoordinator_for %}
		{% for vir in informasjonssikkerhetskoordinator_for %}
			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<b>Informasjonssikkerhetskoordinator for: </b><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a>
		{% endfor %}
		<hr>
		{% endif %}

		{% if kam_for %}
		<b>Kundeansvarlig fra UKE for:</b>
		<ul>
		{% for vir in kam_for %}
			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<li><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
		{% endfor %}
		</ul>
		<hr>
		{% endif %}

		{% if autorisert_bestiller_for %}
		{% for vir in autorisert_bestiller_for %}
			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<b>Autorisert bestiller for: </b><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a>
		{% endfor %}
		<hr>
		{% endif %}

		{% if sertifikatbestiller_for %}
		{% for vir in sertifikatbestiller_for %}
			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<b>Autorisert sertifikatbestiller for: </b><a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn }}</a></li>
		{% endfor %}
		<hr>
		{% endif %}

		<b>E-post:</b> {{ ansvarlig.brukernavn.email }}<br>
		Bruker er {{ ansvarlig.brukernavn.is_active|yesno:"aktiv,deaktivert" }} i Kartoteket og {{ ansvarlig.brukernavn.profile.accountdisable|yesno:"deaktivert,aktiv" }} i Active Directory.<br>

		<hr>

		<b>Fritekstbeskrivelse:</b> {{ ansvarlig.kommentar|default:"-" }}<br>
	</div>
</div>

<br>


<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th>Ansvarlig som</th>
		<th>Ansvarlig for</th>
	</tr>
	</thead>
	<tbody>
	{% for avtale in avtale_ansvarlig_for %}
	<tr>
		<td>Avtaleansvarlig</td>
		{% url 'avtaledetaljer' pk=avtale.pk as url_avtale %}
		<td><a href="{{ url_avtale }}">{{ avtale }}</a></td>
	</tr>
	{% endfor %}
	{% for system in systemeier_for %}
	<tr>
		<td>Systemeier</td>
		{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
		<td><a href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a></td>
	</tr>
	{% endfor %}
	{% for system in systemforvalter_for %}
	<tr>
		<td>Systemforvalter</td>
		{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
		<td><a href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a></td>
	</tr>
	{% endfor %}
	{% for bruk in systemforvalter_bruk_for %}
	<tr>
		<td>Lokal systemforvalter</td>
		{% url 'bruksdetaljer' pk=systembruk.pk as url_bruksdetaljer %}
		<td><a href="{{ url_bruksdetaljer }}">{{ bruk.system.systemnavn }}</a></td>
	</tr>
	{% endfor %}
	{% for behandling in behandlinger_for %}
	<tr>
		<td>Oppdateringsansvarlig</td>
		{% url 'behandlingsdetaljer' pk=behandling.pk as url_behandlingsdetaljer %}
		<td><a href="{{ url_behandlingsdetaljer }}">{{ behandling.formaal|default:"mangler formål" }}</a> (knyttet til
			{% for system in behandling.systemer.all %}
				{{ system }}
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
			)
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock main_content %}