{% extends "system_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	Driftsplattformer (landingssoner)
{% endblock overskrift %}

{% block hovedinnhold %}
	En driftsplattform er en spesifikk infrastruktur hvor systemkomponenter kan driftes. Alle driftsplattformer skal kobles til ansvarlig virksomhet i kommunen, og alle systemer skal kobles mot en av disse driftsplattformene. Dersom systemet tilhører flere driftsmodeller, kan du velge den som er mest fremtrendende, eller splitte systemregistreringen inn i flere systemkomponenter fordelt riktig på driftsplattform. Trykk på en driftsplattform for å se alle systemer som er tilknyttet.</p>

	<table class="tablesorter excel">
		<thead>
		<tr>
			<th>Plattform/tenant</th>
			<th>Antall systemer</th>
			<th>Nivå</th>
			<th>Bygger på</th>
			<th>Forvaltet av</th>
			<th>Type</th>
			<th>Utvikling</th>
			<th>Kommentar</th>
		</tr>
		</thead>
		<tbody>
		{% for item in driftsmodeller %}
		<tr {% if item.own_domain %} style="background-color: #fffee6;" {% endif %}>

			<td>
				<a href="/admin/systemoversikt/driftsmodell/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a>
				{% url 'detaljer_driftsmodell' pk=item.pk as url_detaljer_driftsmodell %}
					<a href="{{ url_detaljer_driftsmodell }}">{{ item }}</a>
			</td>
			<td>
				{{ item.antall_systemer }}
			</td>
			<td>{{ item.plattform_nivaa }}</td>
			<td>
				{{ item.overordnet_plattform|default:"" }}
			</td>
			<td>
				{% url 'driftsmodell_virksomhet' pk=item.ansvarlig_virksomhet.pk as url_detaljer_virksomhet %}
					<a href="{{ url_detaljer_virksomhet }}">{{ item.ansvarlig_virksomhet|default:"-" }}</a>
			</td>
			<td>
				{{ item.get_type_plattform_display }}
			</td>
			<td>
				{{ item.utviklingsplattform|yesno:"Ja,Nei" }}
			</td>
			<td>
				{{ item.kommentar }}
			</td>

		</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}