{% extends "system_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_driftsmiljo %}
	{% if user.is_authenticated %}
	<a href="/admin/systemoversikt/driftsmodell/add/" class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Registrer nytt driftmiljø</a>
	{% endif %}
	<a href="{% url 'systemer_uten_driftsmodell' %}" class="btn btn-sm btn-link">Systemer uten driftmiljø</a>
{% endblock ekstrameny_driftsmiljo %}


{% block overskrift %}
	Landingssoner (datasenter)
{% endblock overskrift %}

{% block hovedinnhold %}
	<p>Her ser du en oversikt over alle {{ driftsmodeller.count }} driftsplattformer. Alle driftsplattformer skal kobles til ansvarlig virksomhet i kommunen.<br>
	Alle systemer bør kobles mot en av disse driftsplattformene. Dersom systemet tilhører flere driftsmodeller, velges den mest fremtrendende.<br>
	Klikk på en driftsplattform for å se generell informasjon samt alle systemer som er tilknyttet.</p>

	<table class="tablesorter excel">
		<thead>
		<tr>
			<th>Landingssone</th>
			<th>Forvaltet av</th>
			<th>Type</th>
			<th>Antall systemer</th>
			<th>Kommentar</th>
		</tr>
		</thead>
		<tbody>
		{% for item in driftsmodeller %}
		<tr {% if item.own_domain %} style="background-color: #fffee6;" {% endif %}>

			<td>
				<a href="/admin/systemoversikt/driftsmodell/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a>
				{% url 'detaljer_driftsmodell' pk=item.pk as url_detaljer_driftsmodell %}
					<a href="{{ url_detaljer_driftsmodell }}">{{ item.navn }}</a>
			</td>
			<td>
				{% url 'driftsmodell_virksomhet' pk=item.ansvarlig_virksomhet.pk as url_detaljer_virksomhet %}
					<a href="{{ url_detaljer_virksomhet }}">{{ item.ansvarlig_virksomhet|default:"-" }}</a>
			</td>
			<td>
				{{ item.get_type_plattform_display }}
			</td>
			<td>
				{{ item.antall_systemer }}
			</td>
			<td>
				{{ item.kommentar }}
			</td>

		</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}