{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	Organisering, brukere og tilganger
{% endblock overskrift %}

{% block hovedinnhold %}

Brukere som ikke har byttet passord siden {{dato}} utenom ordinære brukere: {{ ikke_byttet|length|intcomma }}.


	<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		<th class="filter-false"></th>
		<th>Aktiv</th>
		<th>Navn</th>
		<th>Brukernavn</th>
		<th>E-post</th>
		<th>OU-path</th>
		<th>privilegert?</th>
		<th>Trusted for delegation?</th>
		<th>Delegated?</th>
		<th>Don't require preauth</th>
		<th>Passordbytte aktiv?</th>
		<th>Sist passordbytte</th>
		<th>Opprettet</th>
		<th>Sist pålogget (ca)</th>
		<th>Beskrivelse</th>
		<th>SMS</th>
		<th>FIDO2</th>
		<th>Authenticator</th>
	</tr>
	</thead>
	<tbody>
	{% for user in ikke_byttet.all %}

	<tr>
		<td>{{ forloop.counter }}</td>

		<td>{{ user.profile.accountdisable|yesno:"Nei,Ja,?" }}</td>
		{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}

		<td>{{user.first_name}} {{user.last_name}}</td>

		<td><a href="{{ url_ad_exact }}">🔍</a> {{user.username}}</td>

		<td>{{user.email }}</td>

		<td>{{ user.profile.ou_lesbar }}</td>

		<td>{{ user.profile.privilegert_bruker }}</td>
		<td>{{ user.profile.trusted_for_delegation|yesno:"Ja,Nei,?" }}</td>
		<td>{{ user.profile.not_delegated|yesno:"Ja,Nei,?" }}</td>
		<td>{{ user.profile.dont_req_preauth|yesno:"Ja,Nei,?" }}</td>
		<td>{{ user.profile.dont_expire_password|yesno:"Aldri,Ja,Vet ikke" }}</td>
		<td>{{ user.profile.pwdLastSet|date:"Y-m-d" }} ({{ user.profile.pwdLastSet|timesince }})</td>
		<td>{{ user.profile.whenCreated|date:"Y-m-d" }} ({{ user.profile.whenCreated|timesince }})</td>
		<td>{{ user.profile.lastLogonTimestamp|date:"Y-m-d" }} ({{ user.profile.lastLogonTimestamp|timesince }}) </td>
		<td>{{ user.profile.description|default:"Ingen beskrivelse" }}</td>
		<td>{{ user.profile.auth_sms|yesno:"🟢 Ja, 🔴 Nei, Ukjent" }}</td>
		<td>{{ user.profile.auth_fido2|yesno:"🟢 Ja, 🔴 Nei, Ukjent" }}</td>
		<td>{{ user.profile.auth_authenticator|yesno:"🟢 Ja, 🔴 Nei, Ukjent" }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}

