{% load static %}
{% load templatetags %}


<header>
	<nav class="navbar navbar-light fixed-top" style="background-color: #fff; padding: 0; min-width: 950px;">

		<div style="width: 100%; padding-top: 5px; padding-bottom: 5px;">

			{% fellesinformasjon %}
			<a href="/"><img src="{% static 'Oslo-logo-morkeblaa-RGB.c2e496c6.svg' %}" style="float: left; margin: 10px 30px 10px 35px; height: 70px;"></a>

			<form action="{% url 'search' %}" autocomplete="off" style="float: left; overflow-wrap: ; padding: 35px 0 0 0;">
				<div class="form-group form-inline">
					<input style="width: 500px;" type="search" value="{{ search_term }}" name="search_term"
					placeholder="systemer, virksomhetsforkortelser, brukernavn, tilgangsgrupper, servere.." class="form-control form-control-sm">

					<input style="padding: 5px 10px 5px 10px; background-color: #e3e3e3;" type="submit" value="Søk" class="btn btn-sm">
				</div>
			</form>

			{% if user.is_authenticated %}
				<form method="post" action="{% url 'minside' %}" style="float: left; margin: 0 0 5px 0; padding: 35px 0 0 5px;">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button class="btn btn-sm" style="background-color: #dfe5d7; padding: 5px 10px 5px 10px;" type="submit">{{ request.user.first_name }} {{ request.user.last_name }}</button>
				</form>
				{% if TEST_ENV_NAME == 'test' %}
					{% url "logout" as url_logout %}
				{% else %}
					{% url "oidc_logout" as url_logout %}
				{% endif %}
				<form method="post" action="{{ url_logout }}" style="float: left; margin: 0 0 5px 0; padding: 35px 0 0 5px;">
					{% csrf_token %}
					<input class="btn btn-sm" style="color: black; background-color: #dc354536; padding: 5px 10px 5px 10px;" type="submit" name="Logg av" value="Logg av" />
				</form>
			{% else %}
				{% url "oidc_authentication_init" as url_login %}
				<form method="get" action="{{ url_login }}" style="float: left; margin: 0 0 5px 0; padding: 35px 0 0 5px;">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button id="login_button" style="background-color: #dc354536; padding: 5px 10px 5px 10px;" type="submit" class="btn btn-sm btn-link">Logg inn</button>
				</form>
			{% endif %}


		</div>

		<div style="width: 100%; min-width: 1100px; border: 1px solid;">

			<ul class="nav">

				<li class="hovedmeny">
					{% url "tjenester_oversikt" as tjenester_oversikt_url %}
					<a href="{{ tjenester_oversikt_url }}" class="nav-link {% if '/tjenester/' in request.path %} active {% endif %}">Tjenester</a>
				</li>

				<li class="hovedmeny">
					{% url "systemklassifisering_tom" as alle_systemer_url %}
					<a href="{{ alle_systemer_url }}" class="nav-link {% if '/systemer/' in request.path %} active {% endif %}">System</a>
				</li>

				<li class="hovedmeny">
					{% url "alle_programvarer" as alle_programvarer_url %}
					<a href="{{ alle_programvarer_url }}" class="nav-link {% if '/programvare/' in request.path %} active {% endif %}">Programvare</a>
				</li>

			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "alle_driftsmodeller" as alle_driftsmodeller_url %}
					<a href="{{ alle_driftsmodeller_url }}" class="nav-link {% if '/driftsmodell/' in request.path %} active {% endif %}">Plattformer</a>
				</li>
			{% endif %}

				<li class="hovedmeny">
					{% url "alle_virksomheter" as alle_virksomheter_url %}
					<a href="{{ alle_virksomheter_url }}" class="nav-link {% if '/virksomhet/' in request.path %} active {% endif %}">Virksomheter</a>
				</li>


			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "rapport_startside" as rapport_startside_url %}
					<a href="{{ rapport_startside_url }}" class="nav-link {% if '/rapport/' in request.path %} active {% endif %}">Rapporter</a>
				</li>

				<li class="hovedmeny">
					{% url "cmdb_statistikk" as cmdb_statistikk_url %}
					<a href="{{ cmdb_statistikk_url }}" class="nav-link {% if '/cmdb/' in request.path %} active {% endif %}">CMDB</a>
				</li>

				<li class="hovedmeny">
					{% url "brukere_startside" as brukere_startside_url %}
					<a href="{{ brukere_startside_url }}" class="nav-link {% if '/brukere/' in request.path %} active {% endif %}">Brukere</a>
				</li>
			{% endif %}


			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url 'logger' as url_logger %}
					<a href="{{ url_logger }}" class="nav-link {% if '/admin/' in request.path %} active {% endif %}">Admin</a>
				</li>
			{% endif %}

				<li class="hovedmeny">
					{% url 'tools_index' as url_tools %}
					<a href="{{ url_tools }}" class="nav-link {% if '/tools/' in request.path %} active {% endif %}">Verktøy</a>
				</li>

			</ul>
		</div>
	</nav>
</header>
