{% load static %}
{% load templatetags %}


<header>
	<nav class="navbar navbar-light fixed-top" style="background-color: #fff; padding: 0;">


		<div style="width: 100%; padding-top: 5px; padding-bottom: 5px;">

			{% fellesinformasjon %}
			<a href="/"><img src="{% static 'Oslo-logo-morkeblaa-RGB.c2e496c6.svg' %}" style="float: left; margin: 10px 30px 10px 65px; height: 70px;"></a>
			<div>
				<form action="{% url 'search' %}" autocomplete="off">
					<div class="form-group form-inline">
						<div style="margin-top: 30px;">
							<input style="width: 390px;" type="search" value="{{ search_term }}" name="search_term"
							placeholder="Virksomhet, brukernavn, system eller programvare" class="form-control form-control-sm">
							<input type="submit" value="Søk" class="btn btn-sm">
							<a style="font-weight: normal; padding-left: 10px;" href="{% static 'brukerveiledning.docx' %}">Brukerveiledning</a>
						</div>
					</div>
				</form>
			</div>

			{% if user.is_authenticated %}
				<form method="post" action="{% url 'minside' %}" style="position: absolute; right: 5px; top: 25px;">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button id="login_button" type="submit" class="btn btn-sm btn-link">{{ request.user.first_name }} {{ request.user.last_name }}</button>
				</form>
			{% else %}
				{% if TEST_ENV_NAME == 'test' %}
					{% url "login" as url_login %}
				{% else %}
					{% url "oidc_authentication_init" as url_login %}
				{% endif %}
				<form method="get" action="{{ url_login }}" style="position: absolute; right: 5px; top: 25px;">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button id="login_button" type="submit" class="btn btn-sm btn-link">Logg inn</button>
				</form>
			{% endif %}



		</div>

		<div style="width: 100%; min-width: 1100px; border: 1px solid;">
			<ul class="nav">
				<li class="hovedmeny">
					{% url "alle_virksomheter" as alle_virksomheter_url %}
					<a href="{{ alle_virksomheter_url }}" class="nav-link {% if alle_virksomheter_url in request.path %} active {% endif %}">Virksomheter</a>
				</li>

			{% if user.profile.virksomhet %}
				<li class="hovedmeny">
					{% url "dashboard_all" virksomhet=user.profile.virksomhet.pk as dashboard_url %}
					<a href="{{ dashboard_url }}" class="nav-link {% if dashboard_url in request.path %} active {% endif %}">Vårt dashboard</a>
				</li>
			{% endif %}

			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "alle_behandlinger" as alle_behandlinger_url %}
					<a href="{{ alle_behandlinger_url }}" class="nav-link {% if alle_behandlinger_url in request.path %} active {% endif %}">Behandlinger</a>
				</li>
			{% endif %}

			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "alle_driftsmodeller" as alle_driftsmodeller_url %}
					<a href="{{ alle_driftsmodeller_url }}" class="nav-link {% if alle_driftsmodeller_url in request.path %} active {% endif %}">Driftsplattformer</a>
				</li>
			{% endif %}

				<li class="hovedmeny">
					{% url "alle_systemer" as alle_systemer_url %}
					<a href="{{ alle_systemer_url }}" class="nav-link {% if alle_systemer_url in request.path %} active {% endif %}">Systemer</a>
				</li>

				<li class="hovedmeny">
					{% url "alle_programvarer" as alle_programvarer_url %}
					<a href="{{ alle_programvarer_url }}" class="nav-link {% if alle_programvarer_url in request.path %} active {% endif %}">Programvarer</a>
				</li>

				<li class="hovedmeny">
					{% url "alle_systemurler" as alle_systemurler_url %}
					<a href="{{ alle_systemurler_url }}" class="nav-link {% if alle_systemurler_url in request.path %} active {% endif %}">Domener</a>
				</li>

			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "cmdb_statistikk" as cmdb_statistikk_url %}
					<a href="{{ cmdb_statistikk_url }}" class="nav-link {% if cmdb_statistikk_url in request.path %} active {% endif %}">CMDB</a>
				</li>
			{% endif %}

				<li class="hovedmeny">
					{% url "alle_definisjoner" as alle_definisjoner_url %}
					<a href="{{ alle_definisjoner_url }}" class="nav-link {% if alle_definisjoner_url in request.path %} active {% endif %}">Begreper</a>
				</li>


			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "ubw_home" as url_ubw_home %}
					<a href="{{ url_ubw_home }}" class="nav-link {% if url_ubw_home in request.path %} active {% endif %}">UBW</a>
				</li>
			{% endif %}

			{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url 'logger' as url_logger %}
					<a href="{{ url_logger }}" class="nav-link {% if '/admin/' in request.path %} active {% endif %}">Admin</a>
				</li>
			{% endif %}
			</ul>
		</div>
	</nav>
</header>
