{% load static %}

<header>
	<nav class="navbar navbar-light fixed-top" style="background-color: #2A2859; padding: 0;">
		<div style="position: absolute; right: 8px; top: 8px;">
			<form action="{% url 'alle_systemer' %}" autocomplete="off">
				<div class="form-group form-inline">
					<input style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
					placeholder="System eller programvare" class="form-control form-control-sm">
					<input type="submit" value="Søk" style="background: #007bff; padding: .25rem .5rem; border: 1px solid transparent;" class="btn btn-primary btn-sm">
				</div>
			</form>
		</div>

		<div style="width: 100%; padding-top: 5px; padding-bottom: 5px;">
			<img src="{% static 'standard_oslo-logoi.png' %}" style="float: left; margin-top: 5px; margin-right: 30px; margin-left: 15px; height: 70px;">
			<h4 style="margin-top: 5px; margin-bottom: 5px; padding-bottom: 0px;">Oslo kommune <a href="/">Kartoteket</a></h4>

			{% if user.is_authenticated %}
				{% if TEST_ENV_NAME == 'test' %}
					{% url "logout" as url_logout %}
				{% else %}
					{% url "oidc_logout" as url_logout %}
				{% endif %}

			<span style="font-size: 10pt;">
				Logget inn som <a href="{% url 'minside' %}">{{ user.first_name|default:"Ukjent" }} {{ user.last_name }}</a> og representerer
				<a href="{% url 'bytt_virksomhet' %}">{{ user.profile.virksomhet.virksomhetsforkortelse|default:"Ukjent" }}</a>
				<!--
				<span style="margin-left: 30px;">(<b><a href="{{ url_logout }}">Logg ut</a></b>)</span>
				-->
				<form method="post" action="{{ url_logout }}" style="display: inline; margin-left: 30px;">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button type="submit" class="btn btn-sm btn-danger">Logg ut</button>
				</form>
			</span>

			{% else %}
				{% if TEST_ENV_NAME == 'test' %}
					{% url "login" as url_login %}
				{% else %}
					{% url "oidc_authentication_init" as url_login %}
				{% endif %}

				Du er anonym med lesetilgang til åpen informasjon
				<!--
				<span style="margin-left: 30px;">(<b><a href="{{ url_login }}?next={{ request.path }}">logg inn</a></b>)</span>
				-->
				<form method="get" action="{{ url_login }}" style="display: inline; margin-left: 30px;">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button type="submit" class="btn btn-sm btn-primary">Logg inn</button>
				</form>

			{% endif %}

		</div>

		<div style="width: 100%; min-width: 1200px;">
			<ul class="nav">
				<li class="hovedmeny">
					{% url "alle_virksomheter" as alle_virksomheter_url %}
					<a href="{{ alle_virksomheter_url }}" class="nav-link {% if alle_virksomheter_url in request.path %} active {% endif %}">Virksomheter</a>
				</li>
		{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "alle_ansvarlige" as alle_ansvarlige_url %}
					<a href="{{ alle_ansvarlige_url }}" class="nav-link {% if alle_ansvarlige_url in request.path %} active {% endif %}">Ansvarlige</a>
				</li>
				<li class="hovedmeny">
					{% url "alle_avtaler" as alle_avtaler_url %}
					<a href="{{ alle_avtaler_url }}" class="nav-link {% if alle_avtaler_url in request.path %} active {% endif %}">Avtaler</a>
				</li>
			{% if user.profile.virksomhet %}
				<li class="hovedmeny">
					{% url "dashboard_all" virksomhet=user.profile.virksomhet.pk as dashboard_url %}
					<a href="{{ dashboard_url }}" class="nav-link {% if dashboard_url in request.path %} active {% endif %}">Vårt dashboard</a>
				</li>
			{% endif %}
				<li class="hovedmeny">
					{% url "mine_behandlinger" as mine_behandlinger_url %}
					<a href="{{ mine_behandlinger_url }}" class="nav-link {% if mine_behandlinger_url in request.path %} active {% endif %}">Våre behandlinger</a>
				</li>

				<li class="hovedmeny">
					{% url "alle_driftsmodeller" as alle_driftsmodeller_url %}
					<a href="{{ alle_driftsmodeller_url }}" class="nav-link {% if alle_driftsmodeller_url in request.path %} active {% endif %}">Plattformer</a>
				</li>
				<li class="hovedmeny">
					{% url "alle_cmdbref_main" as alle_cmdbref_url %}
					<a href="{{ alle_cmdbref_url }}" class="nav-link {% if alle_cmdbref_url in request.path %} active {% endif %}">CMDB</a>
				</li>
		{% endif %}
				<li class="hovedmeny">
					{% url "alle_systemer" as alle_systemer_url %}
					<a href="{{ alle_systemer_url }}" class="nav-link {% if alle_systemer_url in request.path %} active {% endif %}">Systemer</a>
				</li>
				<li class="hovedmeny">
					{% url "alle_programvarer" as alle_programvarer_url %}
					<a href="{{ alle_programvarer_url }}" class="nav-link {% if alle_programvarer_url in request.path %} active {% endif %}">Programvarer</a>
				</li>
				<li class="hovedmeny">
					{% url "alle_definisjoner" as alle_definisjoner_url %}
					<a href="{{ alle_definisjoner_url }}" class="nav-link {% if alle_definisjoner_url in request.path %} active {% endif %}">Definisjoner</a>
				</li>
				<li class="hovedmeny">
					{% url "alle_systemurler" as alle_systemurler_url %}
					<a href="{{ alle_systemurler_url }}" class="nav-link {% if alle_systemurler_url in request.path %} active {% endif %}">URL-er</a>
				</li>
		{% if user.is_authenticated %}
				<li class="hovedmeny">
					{% url "ubw_home" as url_ubw_home %}
					<a href="{{ url_ubw_home }}" class="nav-link {% if url_ubw_home in request.path %} active {% endif %}">UBW</a>
				</li>
		{% endif %}
				<li class="hovedmeny">
					<a href="/api/" class="nav-link">API</a>
				</li>
		{% if user.is_authenticated %}
				<li class="hovedmeny">
					<a href="/admin/" class="nav-link {% if '/admin/' in request.path %} active {% endif %}">Admin</a>
				</li>
		{% endif %}
			</ul>
		</div>
	</nav>
</header>
