{% extends "system_index.html" %}
{% load static %}

{% block overskrift %}
	Systemkategorier
{% endblock overskrift %}

{% block hovedinnhold %}

<a class="btn btn-sm btn-link" href="/admin/systemoversikt/systemhovedkategori/add/">{% include 'site_edit_button.html' %} Registrer ny hovedkategori</a>

	<table class="tablesorter excel">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false">Rediger</th>
		{% endif %}
		<th>Hovedkategori</th>
		<th>Subkategorier</th>
		<th>Antall systemer</th>
		<th>Antall programvarer</th>
	</tr>
	</thead>
	<tbody>
	{% for hovedkat in hovedkategorier %}
	<tr>
		{% if user.is_authenticated %}
		<td><a href="/admin/systemoversikt/systemhovedkategori/{{ hovedkat.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		{% endif %}
		<td>{{ hovedkat }}</td>
		<td>
			{% for subkat in hovedkat.subkategorier.all %}
				{% url 'systemkategori' pk=subkat.pk as url_subkat %}
				<a href="{{ url_subkat }}">{{ subkat }}</a><br>
			{% empty%}
				ingen
			{% endfor %}
		</td>
		<td>
			{{ hovedkat.systemteller }}
		</td>
		<td>
			{{ hovedkat.programteller }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	{% if subkategorier_uten_hovedkategori %}
	<h5>Kategorier uten knytning til hovedkategori</h5>
	<ul>
		{% for s in subkategorier_uten_hovedkategori %}
			<li>{{ s }}</li>
		{% empty %}
			<li>ingen</li>
		{% endfor %}
	</ul>
	{% endif %}

{% endblock hovedinnhold %}