{% extends "system_index.html" %}
{% load static %}

{% block overskrift %}
	Systemer og programvare som mangler kategori
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Det er {{ systemer.count }} systemer som mangler kategori</p>
	<hr>
	{% include 'system_include_hurtigvisning.html' with systemer=systemer %}

	<p>Det er {{ programvarer.count }} programvarer som mangler kategori</p>
	<hr>
	{% include 'programvare_include.html' with programvarer=programvarer %}

{% endblock hovedinnhold %}