{% extends "system_index.html" %}

{% block ekstrameny_kategori %}
	{% if user.is_authenticated %}
		<a href="/admin/systemoversikt/systemkategori/add/" class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Registrer ny kategori</a>

		{% url 'uten_systemkategorier' as url_uten_systemkategorier %}
		<a href="{{url_uten_systemkategorier}}" class="btn btn-sm btn-link {% if url_uten_systemkategorier in request.path %}fremhev{% endif %}">Systemer uten kategori</a>
		{% endif %}
{% endblock ekstrameny_kategori %}

{% block overskrift %}
	{{ kategori.kategorinavn }} (Kategori)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>For å legge til et system eller programvare i denne kategorien må du velge kategorien fra systemet/programvarens redigeringsside.</p>

	<h6>Systemer</h6>
	{% include "system_include_hurtigvisning.html" %}

	<hr>

	<h6>Programvarer</h6>
	{% include "programvare_include.html" %}

{% endblock hovedinnhold %}