{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Alle Hovedkategorier
	<p>
		{% if user.is_authenticated %}
			<a class="btn btn-sm btn-primary" target="_blank" href="/admin/systemoversikt/systemhovedkategori/add/">Legg til ny hovedkategori</a>
		{% endif %}
		<a class="btn btn-sm btn-secondary" href="{%url 'alle_systemkategorier' %}">Alle kategorier</a>
	</p>

{% endblock underoverskrift %}

{% block main_content %}

	<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th>Rediger</th>
		{% endif %}
		<th>Hovedkategori</th>
		<th>Subkategorier</th>
		<th>Antall systemer</th>
		<th>Antall programvarer</th>
	</tr>
	</thead>
	<tbody>
	{% for hovedkat in hovedkategorier %}
	<tr>
		{% if user.is_authenticated %}
		<td><a target="_blank" href="/admin/systemoversikt/systemhovedkategori/{{ hovedkat.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		{% endif %}
		<td>{{ hovedkat }}</td>
		<td>
			{% for subkat in hovedkat.subkategorier.all %}
				{% url 'systemkategori' pk=subkat.pk as url_subkat %}
				<a href="{{ url_subkat }}">{{ subkat }}</a><br>
			{% empty%}
				ingen
			{% endfor %}
		</td>
		<td>
			{{ hovedkat.systemteller }}
		</td>
		<td>
			{{ hovedkat.programteller }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% if subkategorier_uten_hovedkategori %}
<h5>Kategorier uten knytning til hovedkategori</h5>
<ul>
	{% for s in subkategorier_uten_hovedkategori %}
		<li>{{ s }}</li>
	{% empty %}
		<li>ingen</li>
	{% endfor %}
</ul>
{% endif %}

{% endblock main_content %}