{% extends "system_index.html" %}
{% load static %}
{% load templatetags %}

{% block overskrift %}
	Leverandører
{% endblock overskrift %}

{% block hovedinnhold %}

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/leverandor/add/">{% include 'site_edit_button.html' %} Registrer ny leverandør</a>
	<p>Det er {{ leverandorer.count }} leverandører.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Leverandørnavn inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<table class="tablesorter excel">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false">Endre</th>
		{% endif %}
		<th>Leverandør</th>
		<th>Land</th>
		<th>{% get_verbose_field_name system_felt_referanse "systemleverandor" %}</th>
		<th>{% get_verbose_field_name system_felt_referanse "basisdriftleverandor" %}</th>
		<th>{% get_verbose_field_name system_felt_referanse "applikasjonsdriftleverandor" %}</th>
		<th>Kontaktpersoner</th>
		<th>Organisasjonsnummer</th>
		<th>Notater</th>
		{% if user.is_authenticated %}
		<th class="filter-false">Slett</th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for item in leverandorer %}
	<tr>
		{% if user.is_authenticated %}
		<td><a href="/admin/systemoversikt/leverandor/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
		{% endif %}
		{% url 'leverandor' pk=item.pk as url_leverandor %}
		<td><a href="{{ url_leverandor }}">{{ item.leverandor_navn }}</a></td>
		<td>{{ item.get_land_display|default:'' }}</td>
		<td>{{ item.antall_systemleverandor }}</td>
		<td>{{ item.antall_basisdriftleverandor }}</td>
		<td>{{ item.antall_applikasjonsdriftleverandor }}</td>
		<td>{{ item.kontaktpersoner|default:'' }}</td>
		<td>{{ item.orgnummer|default:'' }}</td>
		<td>{{ item.notater|default:'' }}</td>
		{% if user.is_authenticated %}
		<td><a href="/admin/systemoversikt/leverandor/{{ item.pk }}/delete/">❌</a></td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}