{% extends "index.html" %}
{% load static %}


{% block underoverskrift %}
	Leverandør: {{ leverandor.leverandor_navn }}
{% endblock underoverskrift %}

{% block main_content %}


<div class="card">
	<div class="card-body">
		<h6>{{ leverandor.notater|default:'Ingen notater' }}</h6>
		<p><b>Organisasjonsnummer</b><br> {{ leverandor.orgnummer|default:'Ukjent' }}</p>
		<p><b>Kontaktpersoner</b><br> {{ leverandor.kontaktpersoner|default:'Ukjent' }}</p>
		<a target="_blank" href="/admin/systemoversikt/leverandor/{{ leverandor.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger">Rediger detaljer</a>
	</div>
</div>

<br>

<h4>Systemleverandør for:</h4>
<b>Systemer</b>
<ul>
{% for item in systemleverandor_for %}
	{% url 'systemdetaljer' pk=item.pk as url_systemdetaljer %}
	<li><a href="{{ url_systemdetaljer }}">{{ item.systemnavn }}</a></li>
{% endfor %}
</ul>

<b>Systembruk</b>
<ul>
{% for item in systemleverandor_bruk_for %}
	{% url 'bruksdetaljer' pk=item.pk as url_bruksdetaljer %}
	<li><a href="{{ url_bruksdetaljer }}">{{ item.system }} ({{ item.brukergruppe.virksomhetsforkortelse }})</a></li>
{% endfor %}


</ul>


<h4>Databehandler for:</h4>
<ul>
{% for item in databehandler_for %}
	{% url 'behandlingsdetaljer' pk=item.pk as url_behandlingsdetaljer %}
	<li><a href="{{ url_behandlingsdetaljer }}">{{ item.behandlingen }} for {{ item.behandlingsansvarlig }}</a></li>
{% endfor %}
</ul>


{% endblock main_content %}