{% extends "system_index.html" %}
{% load static %}

{% block overskrift %}
	Leverandører
{% endblock overskrift %}

{% block hovedinnhold %}

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/leverandor/add/">{% include 'site_edit_button.html' %} Registrer ny leverandør</a>
	<p>Det er {{ leverandorer.count }} leverandører.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Leverandørnavn inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<table class="tablesorter excel">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false">Endre</th>
		{% endif %}
		<th>Leverandør</th>
		{# <th>Programvarer for</th> #}
		{# <th>Systemer for</th> #}
		{# <th>Systembruk for</th> #}
		{# <th>Basisdrift for</th> #}
		{# <th>Applikasjonsdrift for</th> #}
		{# <th>Databehandler for</th> #}
		<th>Kontaktpersoner</th>
		<th>Org.nummer</th>
		<th>Notater</th>
		{% if user.is_authenticated %}
		<th class="filter-false">Slett</th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for item in leverandorer %}
	<tr>
		{% if user.is_authenticated %}
		<td><a href="/admin/systemoversikt/leverandor/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
		{% endif %}
		{% url 'leverandor' pk=item.pk as url_leverandor %}
		<td><a href="{{ url_leverandor }}">{{ item.leverandor_navn }}</a></td>
		{# <td>{{ item.programvare_programvareleverandor.count }}</td> #}
		{# <td>{{ item.system_systemleverandor.count }}</td> #}
		{# <td>{{ item.systembruk_systemleverandor.count }}</td> #}
		{# <td>{{ item.system_systemleverandor.count }}</td> #}
		{# <td>{{ item.system_applikasjonsdriftleverandor.count }}</td> #}
		{# <td>{{ item.behandling_navn_databehandler.count }}</td> #}
		<td>{{ item.kontaktpersoner|default:'' }}</td>
		<td>{{ item.orgnummer|default:'' }}</td>
		<td>{{ item.notater|default:'' }}</td>
		{% if user.is_authenticated %}
		<td><a href="/admin/systemoversikt/leverandor/{{ item.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}