{% extends "index.html" %}
{% load static %}
{% load templatetags %}

{% block underoverskrift %}
	Leverandøren <b>{{ leverandor.leverandor_navn }}</b>
{% endblock underoverskrift %}

{% block main_content %}
{% url "alle_leverandorer" as alle_leverandorer_url %}

<p>
	<a class="btn btn-sm btn-primary" target="_blank" href="/admin/systemoversikt/leverandor/{{ leverandor.pk }}/change/">Rediger detaljer</a>
	<a class="btn btn-sm btn-secondary" href="{{ alle_leverandorer_url }}">Alle leverandører</a>
</p>

<div class="card">
	<div class="card-body">
		<h6>{{ leverandor.notater|default:'Ingen notater' }}</h6>
		<b>{% get_verbose_field_name leverandor "orgnummer" %}:</b> {{ leverandor.orgnummer|default:'Ukjent' }}<br>
		<b>{% get_verbose_field_name leverandor "kontaktpersoner" %}:</b> {{ leverandor.kontaktpersoner|default:'Ukjent' }}<br>
		<b>Avtaler med leverandøren</b>
			<ul>
			{% for avtale in leverandor.databehandleravtale_leverandor.all %}
				{% url 'avtaledetaljer' avtale.pk as url_avtaledetaljer %}
				<li><a href="{{ url_avtaledetaljer }}">{{ avtale }}</a></li>
			{% endfor %}
			</ul>
	</div>
</div>


<table class="table table-sm table-striped tablesorter">
	<thead>
		<tr>
			<th width="15%">Leveranse</th>
			<th>Leverer</th>
		</tr>
	</thead>

	<tbody>
		{% for item in programvareleverandor_for %}
		<tr>
			<td>Programvareleverandør</td>
			<td>
				{% url 'programvaredetaljer' pk=item.pk as url_programvaredetaljer %}
				<a href="{{ url_programvaredetaljer }}">{{ item.programvarenavn }}</a>
			</td>
		</tr>
		{% endfor %}

		{% for item in systemleverandor_for %}
		<tr>
			<td>Systemleverandør</td>
			<td>
				{% url 'systemdetaljer' pk=item.pk as url_systemdetaljer %}
				<a href="{{ url_systemdetaljer }}">{{ item.systemnavn }}</a>
			</td>
		</tr>
		{% endfor %}

		{% for item in basisdriftleverandor_for %}
		<tr>
			<td>
				Basisdriftleverandør
			</td>
			<td>
				{% url 'systemdetaljer' pk=item.pk as url_systemdetaljerdetaljer %}
				<a href="{{ url_systemdetaljerdetaljer }}">{{ item.systemnavn }}</a>
			</td>
		</tr>
		{% endfor %}

		{% for item in applikasjonsdriftleverandor_for %}
		<tr>
			<td>Applikasjonsdriftleverandør</td>
			<td>
				{% url 'systemdetaljer' pk=item.pk as url_systemdetaljerdetaljer %}
				<a href="{{ url_systemdetaljerdetaljer }}">{{ item.systemnavn }}</a>
			</td>
		</tr>
		{% endfor %}

		{% for item in databehandler_for %}
		<tr>
			<td>Databehandler</td>
			<td>
			{% if perms.systemoversikt.view_behandlingerpersonopplysninger %}
				{% url 'behandlingsdetaljer' pk=item.pk as url_behandlingsdetaljer %}
				<a href="{{ url_behandlingsdetaljer }}">{{ item.behandlingen }} for {{ item.behandlingsansvarlig }}</a>
			{% else %}
				<p>Du mangler tilgangen "view_behandlingerpersonopplysninger".</p>
			{% endif %}
			</td>
		</tr>
		{% endfor %}

		{% for item in registrar_for %}
		<tr>
			<td>Domeneregistrar</td>
			<td>
				{% url 'systemurl' pk=item.pk as url_systemurl %}
				<a href="{{ url_systemurl }}">{{ item.domene }}</a>
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>


{% endblock main_content %}