{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Overskrift (viser {{ XXX.count }})
	<h6>
		<a target="_blank" href="/admin/systemoversikt/XXX/add/">Legg til nytt XXX</a> |
	</h6>
{% endblock underoverskrift %}

{% block main_content %}
<p>XXX</p>

<table id="stickyheader" class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th></th>
		<th>XXX</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{% for item in XXX %}
	<tr {% if item.own_domain %} style="background-color: #fffee6;" {% endif %}>
		<td><a target="_blank" href="/admin/systemoversikt/XXX/{{ item.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		<td>
			{% url 'XXX' pk=item.pk as url_XXX %}
			<a href="{{ url_XXX }}">{{ item.XXX }}</a>
		</td>
		<td>
		{% for XXX in item.XXX.all %}
			{% url 'XXX' pk=XXX as url_XXX %}
			<a href="{{ url_XXX }}">{{ XXX }}</a><br>
		{% endfor %}
		</td>
		<td><a target="_blank" href="/admin/systemoversikt/XXX/{{ item.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock main_content %}