{% extends "index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block underoverskrift %}
	XXX for {{ XXX.YYY }}
{% endblock underoverskrift %}

{% block main_content %}

<div class="card">
	<div class="card-body">
		<h6>{{ XXX|linebreaks }}</h6>
		<a target="_blank" href="/admin/systemoversikt/XXX/{{ XXX.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger">Rediger detaljer</a>
	</div>
</div>

<br>

{% if perms.systemoversikt.view_XXX %}
	<p>Noe du kan se som logget inn</p>
{% else %}
	<p>Du mangler tilgang</p>
{% endif %}

<div class="row">
	<div class="col-sm-6">
		<h6>XXX</h6>
		<table class="table table-sm table-striped">
			<tr>
				<td width="30%">{% get_verbose_field_name XXX "sist_oppdatert" %}</td>
				<td>{{ XXX.YYY|date:'Y-m-d' }} ({{ XXX.YYY|naturaltime }})</td>
			</tr>
		</table>
	</div>

	<div class="col-sm-6">
		<h6>XXX</h6>
		<table class="table table-sm table-striped">
			<tr>
				<td width="30%">{% get_verbose_field_name XXX "XXX" %}</td>
				{% url "XXX" XXX.YYY.pk as url_XXX %}
				<td><a href="{{ url_XXX }}">{{ XXX|default:"-" }}</a></td>
			</tr>
		</table>
	</div>
</div>

{% endblock main_content %}