{% extends "index.html" %}

{% block main_content %}

<h4>Administrasjon</h4>

{% url 'ansvarlig' pk=request.user.ansvarlig_brukernavn.pk as url_ansvarlig %}

<div>
	<a class="btn btn-sm btn-secondary" href="{{ OIDC_IDP_URL_BASE }}/auth/realms/{{ OIDC_IDP_REALM }}/account/">Administrer min pålogging</a>
	{% if url_ansvarlig %}
		<a class="btn btn-sm btn-secondary" href="{{ url_ansvarlig }}">Ansvarlig for</a>
	{% else%}
		<a class="btn btn-sm btn-primary" href="/admin/systemoversikt/ansvarlig/add/?brukernavn={{request.user.pk}}">Opprett som ansvarlig</a>
	{% endif %}
	<a class="btn btn-sm btn-secondary" href="{% url 'logger' %}">Se endringslogg</a>
	<a class="btn btn-sm btn-secondary" href="{% url 'logger_audit' %}">Se aktivitetslogg</a>
	<a class="btn btn-sm btn-secondary" href="{% url 'roller' %}">Se grupper og roller</a>
	<a class="btn btn-sm btn-primary" href="/admin/">Gå til admin</a>
</div>

<br>

<p>Hei {{ request.user.first_name }} {{ request.user.last_name }}. Du er logget inn via en av Oslo kommunes identitetstjenere. Ditt brukernavn er <b>{{ request.user.username|default:"Ukjent" }}</b>, og du er medlem i følgende grupper:<br>
<ul>{% for group in user.groups.all %} <li>{{ group.name|slice:"19:"|lower|capfirst }}</li> {% endfor %}</ul>
Disse gruppenavnene er forklart på under grupper og roller.
</p>

<p>Dersom du ønsker å redigere på innhold kan du enten gå direkte til admin-siden eller du kan følge <img style="width: 11px; margin: 3px;" src="/static/open-iconic/svg/pencil.svg" title="rediger"> symbolene rundt omkring på denne portalen. Redigeringssider åpes som standard i nytt vindu. På denne måten kan du lukke admin-siden når du har redigert og lagret og komme tilbake til siden du var på før du startet å redigere. Alle endringer utført via administrasjonssidene blir loggført. På systemer vises det hvem som har utført de siste endringene direkte på detaljesiden. For de fleste typer informasjon lages det en ny versjon av informasjonen for hver gang du lagrer. Gamle versjoner kan gjenopprettes dersom du har nødvendige tilganger via knappen "Historikk" på den enkelte redigeringsside.</p>

{% endblock %}