{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	PRK-tilgangsskjema
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Data fra PRK synkroniseres hver natt.</p>

	<a class="btn btn-sm" href="{% url 'prk_browse' %}">Bla i PRK-skjema</a>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Skjema inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ skjemavalg.count }} PRK-valg</p>

	{% include "prk_skjema_include.html" with valg=skjemavalg %}

{% endblock hovedinnhold %}