{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	PRK-tilgangsskjema på felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<a class="btn btn-sm" href="{% url 'alle_prk' %}">Søk i PRK-skjema</a>

	<hr>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Skjemanavn inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="">Vis alt</a>
		</div>
	</form>

	<table class="table table-sm tablesorter">
		<thead>
			<th>PRK-skjema</th>
			<th>Skjematype</th>
			<th>Antall valg (tilgangsgrupper)</th>
		</thead>
		<tbody>
		{% for s in skjema %}
		{% url 'prk_skjema' skjema_id=s.pk as skjemaurl %}
			<tr>
				<td><a href="{{ skjemaurl }}">{{ s.skjemanavn }}</a></td>
				<td>{{ s.skjematype }}</td>
				<td>{{ s.PRKvalg_skjemanavn.count }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}