{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	PRK-skjema: {{ skjema.skjemanavn }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="For virksomhet (forkortelse).." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="">Vis alle valg</a>
		</div>
	</form>

	<p>Viser {{ valg.count }} PRK-valg</p>

	{% include "prk_skjema_include.html" with valg=valg %}

{% endblock hovedinnhold %}