{% load humanize %}
{% load static %}

{% block main_content %}

	<table id="prk_tilgangsgrupper" class="table table-sm tablesorter excel">
		<thead>
			<th>Skjema</th>
			<th>Skjematype</th>
			<th>Gruppering</th>
			<th>For virksomhet</th>
			<th>Valgnavn</th>
			<th>Beskrivelse</th>
			<th>Aktiv i AD?</th>
			<th>Katalogtilknytning</th>
		</thead>
		<tbody>
		{% for v in valg %}
			<tr>
				<td>
					{% url 'prk_skjema' skjema_id=v.skjemanavn.pk as url_skjema %}
					<a href="{{url_skjema}}?search_term={{v.virksomhet.virksomhetsforkortelse}}">{{v.skjemanavn.skjemanavn}}</a>
				</td>

				<td>{{ v.skjemanavn.skjematype }}</td>
				<td>{{ v.gruppering }}</td>
				<td>
					{% url 'virksomhet' pk=v.virksomhet.pk as virksomhet_url %}
					<a href="{{ virksomhet_url }}">
					{{ v.virksomhet.virksomhetsforkortelse|default:"-" }}</a>
				</td>
				<td>{{ v.valgnavn }}</td>
				<td>{{ v.beskrivelse }}</td>
				<td>{{ v.in_active_directory|yesno:"Ja,Nei,Vet ikke" }}</td>

				<td>
				{% if v.ad_group_ref %}
					{% url 'adgruppe_detaljer' pk=v.ad_group_ref.pk as adgruppe_url %}
					<a href="{{ adgruppe_url }}">
					{{ v.gruppenavn|slice:":-38" }}...</a>
				{% else %}
					{{ v.gruppenavn|slice:":-38" }}...</a>
				{% endif %}
				</td>
				{% comment %} 38 is the fixed part of oslofelles.oslo.kommune.no {% endcomment %}

			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock main_content %}