{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	PRK Maskinadn - Klienter på felles IKT-plattform
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Dagens prosedyre ved anskaffelse av datautstyr som tykke og tynne klienter er registrering i PRK maskinadmin. Der legges et "WS-nummer" inn, samt detaljer om virksomhet, tjenestenivå og hvem utstyret er utlevert til. Det er manuell import til Kartoteket ved behov.</p>

	<p>Denne siden er kun laget for raskt å kunne sjekke differanse mellom Sopra Sterias CMDB og PRK-maskinadmin, samt for å kunne analysere logger fra ASA-boksene (VPN-forbindelser), da konkret sjekk av om WS-nummer som logger på er aktive i PRK-systemadm.</p>

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/cmdbdevice/?kilde_prk__exact=1">Bla i PRK-maskinadmin</a>

	<hr>

	Antall maskiner i MaskinAdm (innmeldt): <h4>{{ antall_maskinadm|intcomma }}</h4>
	Antall maskiner i CMDB (2S): <h4>{{ antal_cmdb|intcomma }}</h4>
	<hr>


{% endblock hovedinnhold %}