{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	PRK Maskinadm: Klienter
{% endblock underoverskrift %}

{% block main_content %}

<a target="_blank" class="btn btn-sm btn-warning" href="/admin/systemoversikt/klientutstyr/">Detaljer</a>

<hr>

Antall maskiner i MaskinAdm: <h4>{{ antall_maskinadm|intcomma }}</h4>
Antall maskiner i CMDB (2S): <h4>{{ antal_cmdb|intcomma }}</h4>
<hr>

<ul style="column-count:5;">
{% for ws in vpn_anomaly %}
<li>{{ws}}</li>
{% endfor %}
</ul>

<hr>

<ul style="column-count:5;">
{% for user in vpn_anomaly_user %}
<li>{{user}}</li>
{% endfor %}
</ul>

<hr>

<h4>Enheter som mangler maskinadm (er i CMDB):</h4>
{{ mangler_maskinadm }}

<hr>

<h4>Enheter som mangler i CMDB (er i maskinadm):</h4>
{{ mangler_cmdb }}

{% endblock main_content %}