{% extends "system_index.html" %}
{% load static %}

{% block ekstrameny_programvare %}
{% endblock ekstrameny_programvare %}


{% block overskrift %}
	{{ overskrift }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>"Programvare" i Kartoteket brukes for å registrere det offisielle navnet til programkode og skrivebordsapplikasjoner. Dette i kontrast med "systemer" som er programvare satt opp på servere og  databaser.</p>

	<p>Det er viktig at du registrerer programvare riktig mot system, da UKE CSIRT bruker oversikten over programvare for å undersøke om kommunen er truffet av sårbarheter i programvare. Du kan huke av/på om en programvare skal sendes til sårbarhetsoversikten.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Programvarenavn inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Kartoteket inneholder {{ programvarer.count }} programvarer.</p>



	<table class="tablesorter excel">
	<thead>
		<tr>
			<th class="filter-false">Endre</th>
			<th>Programvarenavn</th>
			<th>Leverandør</th>
			<th>Systemkobling</th>
			<th>Systemkobling forvalter</th>
			<th>Programvarebruk</th>
			<th>Beskrivelse</th>
			<th>Kategori</th>
			<th>Overføres systemoversikt?</th>
		</tr>
	</thead>
	<tbody>
	{% for prog in programvarer %}
		<tr>
			<td><a href="/admin/systemoversikt/programvare/{{ prog.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>

			<td>
				{% url "programvaredetaljer" prog.pk as url_programvaredetaljer %}
				<a href="{{ url_programvaredetaljer }}">{{ prog.programvarenavn }}</a>
			</td>

			<td>
			{% for lev in prog.programvareleverandor.all %}
				{% url "leverandor" lev.pk as url_leverandor %}
				<a href="{{ url_leverandor }}">{{ lev }}</a><br>
			{% endfor %}
			</td>

			<td>
				{% for system in prog.systemer.all %}
					{% include 'system_include_vis.html' with systemer=system %}
				{% endfor %}
			</td>

			<td>
				{% for system in prog.systemer.all %}
					{{ system.systemforvalter.virksomhetsforkortelse }}<br>
				{% endfor %}
			</td>

			<td>
				{% for bruk in prog.programvarebruk_programvare.all %}
					{{ bruk.brukergruppe.virksomhetsforkortelse }}{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</td>

			<td>{{ prog.programvarebeskrivelse }}</td>

			<td>
				{% for kategori in prog.kategorier.all %}
					{% url "systemkategori" kategori.pk as url_systemkategori %}
					<a href="{{ url_systemkategori }}">{{ kategori }}</a><br>
				{% endfor %}
			</td>

			<td>{{ prog.til_cveoversikt_og_nyheter|yesno:"🟢 Ja,🔴 Nei" }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>


	<div id="accordion-programvare">
		<div class="card">
			<div class="card-header" id="heading-programvare">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapse-prk" aria-expanded="true" aria-controls="collapse-prk">Rå liste
					</button>
				</h5>
			</div>
			<div id="collapse-prk" class="collapse" aria-labelledby="heading-programvare" data-parent="#accordion-programvare">
				<div class="card-body">
				{{ programvare_json }}
				</div>
			</div>
		</div>
	</div>

{% endblock hovedinnhold %}