{% extends "system_index.html" %}
{% load static %}

{% block ekstrameny_programvare %}
{% endblock ekstrameny_programvare %}


{% block overskrift %}
	{{ overskrift }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>"Programvare" i Kartoteket brukes for å registrere det offisielle navnet til programkode og skrivebordsapplikasjoner. Dette i kontrast med "systemer" som er programvare satt opp på servere og  databaser.<br>Det er viktig at du registrerer programvare riktig mot system, da UKE CSIRT bruker oversikten over programvare for å undersøke om kommunen er truffet av sårbarheter i programvare. UKE CSIRT har også andre kilder.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 250px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Programvarenavn inneholder.." class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<p>Viser {{ programvarer.count }} programvarer.</p>

	{% include "programvare_include.html" %}

{% endblock hovedinnhold %}