{% load static %}

<table class="tablesorter excel">
<thead>
	<tr>
		<th class="filter-false">Endre</th>
		<th>Programvareleverandør</th>
		<th>Programvare</th>
		<th>Systemkoblinger</th>
		<th width="30%">Beskrivelse av programvaren</th>
		<th width="15%">Kategori</th>
	</tr>
</thead>
<tbody>
{% for prog in programvarer %}
	<tr>
		<td><a href="/admin/systemoversikt/programvare/{{ prog.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>

		<td>{% for lev in prog.programvareleverandor.all %}
			{% url "leverandor" lev.pk as url_leverandor %}
			<a href="{{ url_leverandor }}">{{ lev }}</a><br>
		{% endfor %}</td>

		<td>{% url "programvaredetaljer" prog.pk as url_programvaredetaljer %}<a href="{{ url_programvaredetaljer }}">{{ prog.programvarenavn }}</a></td>

		<td>
			{% for system in prog.systemer.all %}
				{% include 'system_include_vis.html' with systemer=system %}
			{% endfor %}
		</td>

		<td>{{ prog.programvarebeskrivelse }}</td>


		<td>
			{% for kategori in prog.kategorier.all %}
				{% url "systemkategori" kategori.pk as url_systemkategori %}
				<a href="{{ url_systemkategori }}">{{ kategori }}</a><br>
			{% endfor %}
		</td>

	</tr>
{% endfor %}
</tbody>
</table>