{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	{{ virksomhet.virksomhetsforkortelse }}'s bruk av programvare

{% endblock overskrift %}


{% block hovedinnhold %}

	<p>Det er registret bruk av {{ all_bruk.count }} systemer.</p>

	{% if user.is_authenticated %}
		<a href="/admin/systemoversikt/programvarebruk/add/?brukergruppe={{ virksomhet.pk }}" class="btn btn-sm btn-link">Legg til bruk av programvare</a>
	{% endif %}

	<table class="tablesorter">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false"></th>
		{% endif %}
		<th>Bruksdetaljer</th>
		<th>Antall behandlinger (våre)</th>
		<th>Programvarekategori</th>
		<th>Programvare</th>
		<th>Antall brukere</th>
		<th>Systemeierskapsmodell</th>
		<th>Livsløpstatus</th>
		<th>Teknisk</th>
		<th>Strategisk</th>
		<th>Funksjonell</th>
		{% if user.is_authenticated %}
		<th class="filter-false"></th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for bruk in all_bruk %}
	<tr>
		{% if user.is_authenticated %}
		<td><a target="_blank" href="/admin/systemoversikt/programvarebruk/{{ bruk.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		{% endif %}
		{% url "programvarebruksdetaljer" bruk.pk as url_programvarebruksdetaljer %}
		<td><a href="{{ url_programvarebruksdetaljer }}">{{ bruk.programvare }} ({{ virksomhet.virksomhetsforkortelse }})</a></td>
		<td>{{ bruk.antall_behandlinger }}</td>
		<td>{{ bruk.programvare.get_programvarekategori_display|default:"" }}</td>
		{% url "programvaredetaljer" bruk.programvare.pk as url_programvaredetaljer %}
		<td><b><a href="{{ url_programvaredetaljer }}">{{ bruk.programvare }}</a></b></td>
		<td>{{ bruk.antall_brukere|default:"-" }}</td>
		<td>{{ bruk.programvareeierskap|default:"-" }}</td>
		<td>{{ bruk.get_livslop_status_display|default:"-" }}</td>
		<td>{{ bruk.get_teknisk_egnethet_display|default:"-" }}</td>
		<td>{{ bruk.get_strategisk_egnethet_display|default:"-" }}</td>
		<td>{{ bruk.get_funksjonell_egnethet_display|default:"-" }}</td>
		{% if user.is_authenticated %}
		<td><a target="_blank" href="/admin/systemoversikt/programvarebruk/{{ bruk.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}