{% load static %}

<table class="tablesorter excel">
<thead>
<tr>
	{% if user.is_authenticated %}
	<th class="filter-false">Endre</th>
	{% endif %}
	<th>Programvare</th>
	<th>Antall bruk registrert</th>
	<th>Antall behandlinger registrert</th>
	<th width="15%">Beskrivelse av programvaren</th>
	<th>Programvareleverandør</th>
	<th>Kategori</th>
	<th>Livsløpstatus</th>
	<th>Strategisk knytning</th>
	<th>Funksjonell egnethet</th>
	<th>Teknisk egnethet</th>
	{% if user.is_authenticated %}
	<th class="filter-false"></th>
	{% endif %}
</tr>
</thead>
<tbody>
{% for prog in programvarer %}
<tr>
	{% if user.is_authenticated %}
	<td><a href="/admin/systemoversikt/programvare/{{ prog.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
	{% endif %}
	<td>{% url "programvaredetaljer" prog.pk as url_programvaredetaljer %}<a href="{{ url_programvaredetaljer }}">{{ prog.programvarenavn }}</a></td>
	<td>{{ prog.programvarebruk_programvare.count }}</td>
	<td>{{ prog.behandling_programvarer.count }}</td>
	<td>{{ prog.programvarebeskrivelse }}</td>
	<td>{% for lev in prog.programvareleverandor.all %}
		{% url "leverandor" lev.pk as url_leverandor %}
		<a href="{{ url_leverandor }}">{{ lev }}</a><br>
	{% endfor %}</td>
	<td>
		{% for kategori in prog.kategorier.all %}
			{% url "systemkategori" kategori.pk as url_systemkategori %}
			<a href="{{ url_systemkategori }}">{{ kategori }}</a><br>
		{% endfor %}
	</td>
	<td>{{ prog.get_livslop_status_display|default:"-" }}</td>
	<td>{{ prog.get_strategisk_egnethet_display|default:"-" }}</td>
	<td>{{ prog.get_funksjonell_egnethet_display|default:"-" }}</td>
	<td>{{ prog.get_teknisk_egnethet_display|default:"-" }}</td>
	{% if user.is_authenticated %}
	<td><a href="/admin/systemoversikt/programvare/{{ prog.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
	{% endif %}
</tr>
{% endfor %}
</tbody>
</table>