{# 2026-09-07: Drop unused Chart.js CDN – DevTools source-map fetch was blocked by CSP. #}
{% extends "sikkerhet_index.html" %}
{% load humanize %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Servere uten sårbarheter knyttet til seg
{% endblock overskrift %}

{% block hovedinnhold %}

<a href="{% url 'vulnstats' %}" class="btn btn-sm btn-primary">Tilbake</a>
<hr>

{% include "includes/integrasjon_freshness_banner.html" with label="Sårbarheter ble sist synkronisert" %}

<ol style="column-count: 3;">
{% for server in data.servere_uten_vuln %}
	<li>{{ server }}</li>
{% endfor %}
</ol>
{% endblock hovedinnhold %}