{# 2026-09-07: Drop unused Chart.js CDN – DevTools source-map fetch was blocked by CSP. #}
{% extends "sikkerhet_index.html" %}
{% load humanize %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Sårbarheter fordelt på service offering
{% endblock overskrift %}

{% block hovedinnhold %}

<a href="{% url 'vulnstats' %}" class="btn btn-sm btn-primary">Tilbake</a>
<hr>

{% include "includes/integrasjon_freshness_banner.html" with label="Sårbarheter ble sist synkronisert" %}



<table class="table tablesorter">
<thead>
<tr>
	<th>Offering</th>
	<th>Severity 1</th>
	<th>Severity 2</th>
	<th>Severity 3</th>
	<th>Severity 4</th>
	<th>Severity 5</th>
</tr>
</thead>
<tbody>
{% for line in data.offerings %}
<tr>
	<td><a href="{% url 'vulnstats_offering' pk=line.offering_pk %}">{{ line.offering|default:"Uten kobling" }}</a></td>
	<td>{{ line.counts.0 }}</td>
	<td>{{ line.counts.1 }}</td>
	<td>{{ line.counts.2 }}</td>
	<td>{{ line.counts.3 }}</td>
	<td>{{ line.counts.4 }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<hr>


{% endblock hovedinnhold %}