{# 2026-09-07: Drop unused Chart.js CDN – DevTools source-map fetch was blocked by CSP. #}
{% extends "sikkerhet_index.html" %}
{% load humanize %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Sårbarheter nettverksenheter
{% endblock overskrift %}

{% block hovedinnhold %}

<a href="{% url 'vulnstats' %}" class="btn btn-sm btn-primary">Tilbake</a>
<hr>

{% include "includes/integrasjon_freshness_banner.html" with label="Sårbarheter ble sist synkronisert" %}

<hr>

<table class="table tablesorter">
<thead>
<tr>
	<th>Enhet</th>
	<th>IP</th>
	<th>Sårbarheter</th>
</tr>
</thead>
<tbody>
{% for device in data.nettverksenheter %}
<tr>
	<td>{{ device }}</a></td>
	<td>{{ device.comp_ip_address }}</a></td>
	<td>
		{% for vuln in device.vulnerabilities %}
			<li>Alvorlighet {{ vuln.severity }}: {{vuln.title }}</li>
		{% endfor %}
	</td>
</tr>
{% endfor %}
</tbody>
</table>




{% endblock hovedinnhold %}