{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Sårbarhetsoversikt: Servere ikke funnet i CMDB
{% endblock overskrift %}

{% block hovedinnhold %}


<ol style="column-count: 3;">
{% for unique_source in data.unique_source_no_server %}
	<li>{{ unique_source.source }} ({{ unique_source.count }} sårbarheter)</li>
{% endfor %}
</ol>

<hr>

<table class="table tablesorter">
<thead>
<tr>
	<th>Kilde</th>
	<th>OS</th>
	<th>Sårbarhet</th>
	<th>Alvorlighetsgrad</th>
	<th>Kjent utnyttet?</th>
	<th>Først sett</th>
</tr>
</thead>
<tbody>
{% for vuln in data.vulnerabilies_high_severity %}
<tr>
	<td>{{ vuln.source }}</td>
	<td>{{ vuln.os }}</td>
	<td>{{ vuln.title }}</td>
	<td>{{ vuln.severity }}</td>
	<td>{{ vuln.known_exploited|yesno:"Ja, Nei" }}</td>
	<td>{{ vuln.first_seen|date:"Y-m-d" }}</td>
</tr>
{% endfor %}
</tbody>
</table>






{% endblock hovedinnhold %}