{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Status oppdateringer av CMDB i Kartoteket
{% endblock overskrift %}

{% block hovedinnhold %}

<table class="table table-sm tablesorter excel">
	<thead>
		<th>Scriptnavn</th>
		<th>Informasjon om</th>
		<th>Antall elementer</th>
		<th>Kilde</th>
		<th>Oppdateringsfrekvens</th>
		<th>Sist oppdatert</th>
		<th>Kjøretid (sekunder)</th>
		<th width="30%">Sist status</th>
	</thead>
	<tbody>
	{% for i in integrasjoner %}
		<tr>
			<td>{{ i.script_navn }}</td>
			<td>{{ i.informasjon }}</td>
			<td>{{ i.elementer|default:"-" }}</td>
			<td>{{ i.kilde }}</td>
			<td>{{ i.frekvensangivelse }}</td>
			<td style="background-color: {{ i.color }};">{{i.dato_sist_oppdatert|date:"Ymd Hi"}}<br>{{ i.dato_sist_oppdatert|timesince }}</td>
			<td>{{ i.runtime }}</td>
			<td>
				{% if i.helsestatus == "Vellykket" %}
					{{ i.sist_status }}
				{% else%}
					{{ i.helsestatus }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock hovedinnhold %}