{% extends "rapport_index.html" %}
{% load humanize %}
{# Change log: #}
{# 2026-10-02: Size GeoChart height from width (aspect ratio) to avoid vertical letterboxing. #}
{# 2026-10-02: Make GeoCharts responsive (fluid width + redraw on resize). #}
{# 2026-10-02: Removed unused d3-geomap.css link (404); maps use Google Charts GeoChart. #}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Oversikt over tilkobling fra land
{% endblock overskrift %}

{% block ekstrajavascript %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block hovedinnhold %}

{% include "includes/integrasjon_freshness_banner.html" with label="Named locations ble sist synkronisert" %}

<p>Her finner du oversikt over hvilke land som er grønne, gule, røde og sorte i henhold til artikkelen <a href="https://oslokommune.sharepoint.com/sites/abcff/SitePages/Kommunens-IKT-utstyr-p%C3%A5-reise.aspx">Kommunens IKT-utstyr på reise</a> på SharePoint.</p>

<!-- https://developers.google.com/chart/interactive/docs/gallery/geochart -->

<h5>Hele verden</h5><hr>
<div id="world_div" style="width: 100%;"></div>
<br><br>

<h5>Europa</h5><hr>
<div id="europa_div" style="width: 100%;"></div>
<br><br>

<h5>Asia</h5><hr>
<div id="oceania_div" style="width: 100%;"></div>
<br><br>


<table> <table class="table table-sm tablesorter excel">
  <thead>
  <tr>
    <th>Land</th>
    <th>Fargekode</th>
  </tr>
  </thead>
  <tbody>
  {% for country in color_table_display %}
  <tr>
    <td>{{ country.land }}</td>
    <td>{{ country.farge }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

</table>


<script type="text/javascript" nonce="{{request.csp_nonce}}">
	google.charts.load('current', {
		'packages': ['geochart'],
	});
	google.charts.setOnLoadCallback(drawAllMaps);

	var sharedOptions = {
		colorAxis: {colors: ['#66ff66', '#ffcc00', '#ff4d4d', '#000000']},
		backgroundColor: '#e6f7ff',
		legend: 'none',
		datalessRegionColor: '#adad85',
		keepAspectRatio: true,
	};

	// Width/height ratios close to each GeoChart region's natural projection.
	function drawMap(el, data, options, widthOverHeight) {
		var width = el.clientWidth;
		var height = Math.max(180, Math.round(width / widthOverHeight));
		el.style.height = height + 'px';
		new google.visualization.GeoChart(el).draw(data, Object.assign({}, sharedOptions, options, {
			width: width,
			height: height,
		}));
	}

	function drawAllMaps() {
		var data = google.visualization.arrayToDataTable({{color_table|safe}});
		drawMap(document.getElementById('world_div'), data, {}, 2.0);
		drawMap(document.getElementById('europa_div'), data, {region: '150'}, 1.25); // Western Europe
		drawMap(document.getElementById('oceania_div'), data, {region: '035'}, 1.4); // South-Eastern Asia
	}

	var resizeTimer;
	window.addEventListener('resize', function () {
		clearTimeout(resizeTimer);
		resizeTimer = setTimeout(drawAllMaps, 150);
	});
</script>

{% endblock hovedinnhold %}
