{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	o365-lisenstildeling (faktisk)
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Dette er tildelingen av lisenser per nå. Denne oversikten har tatt over for forslaget brukt under planlegging.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>Beskrivelse</th>
		<th>Antall personer</th>
	</thead>
	<tbody>
	{% for d in data %}
		<tr>
			<td>{{d.tekst}}</td>
			<td>{{d.antall}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

<p>Se detaljer for din virksomhet. Merk at ["UDE", "BYS", "VAV", "INE", "PBE", "BBY", "KRV", "REG"] ikke tildeles lisens på denne måten.</p>
<p>Merk også at det vil ta ganske lang tid å åpne noen av disse rapportene, avhengig av antall ansatte.</p>

<div style="display: grid; grid-template-columns: repeat(3, 1fr)">
{% for v in virksomheter %}
	<li><a href="{% url 'ansatte_virksomhet' pk=v.pk %}">{{ v }}</a></li>
{% endfor %}
</div>


{% endblock hovedinnhold %}