{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrajavascript %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Statistikk over sårbarheter med alvorlighetsgrad {{ severity }}
{% endblock overskrift %}

{% block hovedinnhold %}

<p style="background-color: {{ integrasjonsstatus.color }};">
Sårbarheter ble sist synkronisert {{ integrasjonsstatus.dato_sist_oppdatert|date:"d.M Y"|default:"ukjent" }} ({{integrasjonsstatus.dato_sist_oppdatert|timesince}})</p>

<h4>{{antall}} unike sårbarheter</h4>

<table class="table tablesorter">
<thead>
<tr>
	<th>Tittel</th>
	<th>Akseptert</th>
	<th>Antall</th>
</tr>
</thead>
<tbody>
{% for vuln in data.top_unike_vulns %}
<tr>
	<td><a href="{% url 'vulnstats_whereis' vuln=vuln.title %}">{{ vuln.title }}</a></td>
	<td>{{ vuln.akseptert|yesno:"Ja,Nei" }}</td>
	<td>{{ vuln.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<hr>


{% endblock hovedinnhold %}