{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Oversikt over tilkobling fra land
{% endblock overskrift %}

{% block css_append %}
	<link rel="stylesheet" href="{% static '/d3-geomap/d3-geomap.css' %}">
{% endblock %}

{% block ekstrajavascript %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block hovedinnhold %}

<!-- https://developers.google.com/chart/interactive/docs/gallery/geochart -->

<h5>Hele verden</h5><hr>
<div id="world_div" style="width: 1500px; height: 700px;"></div>
<br><br>

<h5>Europa</h5><hr>
<div id="europa_div" style="width: 1500px; height: 800px;"></div>
<br><br>

<h5>Asia</h5><hr>
<div id="oceania_div" style="width: 1500px; height: 800px;"></div>
<br><br>


<table> <table class="table table-sm tablesorter excel">
  <thead>
  <tr>
    <th>Land</th>
    <th>Fargekode</th>
  </tr>
  </thead>
  <tbody>
  {% for country in color_table_display %}
  <tr>
    <td>{{ country.land }}</td>
    <td>{{ country.farge }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

</table>


<script type="text/javascript" nonce="{{request.csp_nonce}}">
      google.charts.load('current', {
        'packages': ['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable({{color_table|safe}});

        var options = {
        	colorAxis: {colors: ['#66ff66', '#ffcc00', '#ff4d4d', '#000000']},
        	backgroundColor: '#e6f7ff',
        	legend: 'none',
        	datalessRegionColor: '#adad85',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('world_div'));

        chart.draw(data, options);
      }
</script>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
      google.charts.load('current', {
        'packages': ['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable({{color_table|safe}});

        var options = {
        	colorAxis: {colors: ['#66ff66', '#ffcc00', '#ff4d4d', '#000000']},
        	backgroundColor: '#e6f7ff',
        	legend: 'none',
        	datalessRegionColor: '#adad85',
        	region: '150', // Western Europe
        };

        var chart = new google.visualization.GeoChart(document.getElementById('europa_div'));

        chart.draw(data, options);
      }
</script>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
      google.charts.load('current', {
        'packages': ['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable({{color_table|safe}});

        var options = {
          colorAxis: {colors: ['#66ff66', '#ffcc00', '#ff4d4d', '#000000']},
          backgroundColor: '#e6f7ff',
          legend: 'none',
          datalessRegionColor: '#adad85',
          region: '035', // South-Eastern Asia
        };

        var chart = new google.visualization.GeoChart(document.getElementById('oceania_div'));

        chart.draw(data, options);
      }
</script>

{% endblock hovedinnhold %}