{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrajavascript %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Servere uten sårbarheter knyttet til seg
{% endblock overskrift %}

{% block hovedinnhold %}

<a href="{% url 'vulnstats' %}" class="btn btn-sm btn-primary">Tilbake</a>
<hr>

<p style="background-color: {{ integrasjonsstatus.color }};">
Sårbarheter ble sist synkronisert {{ integrasjonsstatus.dato_sist_oppdatert|date:"d.M Y"|default:"ukjent" }} ({{integrasjonsstatus.dato_sist_oppdatert|timesince}}) ({{integrasjonsstatus.script_navn}})</p>

<ol style="column-count: 3;">
{% for server in data.servere_uten_vuln %}
	<li>{{ server }}</li>
{% endfor %}
</ol>
{% endblock hovedinnhold %}