{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	API-er i Kartoteket
{% endblock overskrift %}

{% block hovedinnhold %}

<p>De fleste av API-ene krever API-nøkkel for å kunne brukes</p>

<h6>Vann og avløp-integrasjon</h6>
<ul>
	<li><a href="/api/vav/akva/">/api/vav/akva/</a></li>
</ul>

<h6>Felles behandlingsoversikt</h6>
<ul>
	<li><a href="/systemer/behandlingsoversikt/api/">/systemer/behandlingsoversikt/api/</a></li>
</ul>

<h6>UKE Tjenesteoversikt</h6>
<ul>
	<li><a href="/tjenestekatalogen/systemer/">/tjenestekatalogen/systemer/</a></li>
	<li><a href="/tjenestekatalogen/forvaltere/">/tjenestekatalogen/forvaltere/</a></li>
</ul>

<h6>HEL tilgangsrapportering</h6>
<ul>
	<li><a href="/get-api/tilgangsgrupper/">/get-api/tilgangsgrupper/</a></li>
	<li><a href="/get-api/tilganger/">/get-api/tilganger/</a></li>
</ul>

<h6>Sårbarhetsoversikten</h6>
<ul>
	<li><a href="/api/vulnapp/ipsok/">/api/vulnapp/ipsok/</a></li>
	<li><a href="/api/vulnapp/programvare/">/api/vulnapp/programvare/</a> (åpen, brukes av sårbarhetsoversikten)</li>
	<li><a href="/api/vulnapp/known_exploited/">/api/vulnapp/known_exploited/</a></li>
</ul>

<h6>System- og tjenesteoversikten</h6>
<ul>
	<li><a href="/api/systemer/">/api/systemer/</a></li>
	<li><a href="/api/virksomheter/">/api/virksomheter/</a></li>
	<li><a href="/api/systembruk/">/api/systembruk/</a></li>
	<li><a href="/api/systemtyper/">/api/systemtyper/</a></li>
	<li><a href="/api/programvarer/">/api/programvarer/</a></li>
	<li><a href="/api/driftsplattformer/">/api/driftsplattformer/</a></li>
	<li><a href="/api/leverandorer/">/api/leverandorer/</a></li>
	<li><a href="/api/systemintegrasjoner/">/api/systemintegrasjoner/</a></li>
	<li><a href="/api/los/">/api/los/</a></li>
	<li><a href="/api/kritiske_funksjoner/">/api/kritiske_funksjoner/</a></li>
	<li><a href="/api/kritiske_kapabiliteter/">/api/kritiske_kapabiliteter/</a></li>
</ul>

<h6>Gammelt eller uferdig som utfases</h6>
<ul>
	<li><a href="/cmdb/api/">/cmdb/api/</a></li>
	<li><a href="/cmdb/csirt_api/">/cmdb/csirt_api/</a></li>
	<li><a href="/cmdb/api/kompass/">/cmdb/api/kompass/</a></li>
	<li><a href="/systemer/api/">/systemer/api/</a></li>
	<li><a href="/virksomhet/(?P<virksomhet_pk>\d+)/excelapi/">/virksomhet/(?P<virksomhet_pk>\d+)/excelapi/</virksomhet_pk></a>
	<li><a href="/systemer/iga/api/">/systemer/iga/api/</a></li>
</li>


{% endblock hovedinnhold %}