{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Status oppdateringer av CMDB i Kartoteket
{% endblock overskrift %}

{% block hovedinnhold %}

<table class="table table-sm tablesorter excel">
	<thead>
		<th>Kilde</th>
		<th>Oppdateringsfrekvens</th>
		<th>Sist oppdatert</th>
		<th>Informasjon om</th>
		<th width="30%">Sist status</th>
	</thead>
	<tbody>
	{% for i in integrasjoner %}
		<tr>
			<td>{{ i.kilde }}</td>
			<td>{{ i.frekvensangivelse }}</td>
			<td>{{ i.dato_sist_oppdatert|date:"Ymd" }}<br>{{ i.dato_sist_oppdatert|timesince }}</td>
			<td>{{ i.informasjon }}</td>
			<td>{{ i.sist_status }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock hovedinnhold %}