{% extends "rapport_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrajavascript %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Sårbarheter for <b>{{offering|default:"Ukjent"}}</b>
{% endblock overskrift %}

{% block hovedinnhold %}


<a href="{% url 'vulnstats_offerings' %}" class="btn btn-sm btn-primary">Tilbake</a>
<hr>

<p style="background-color: {{ integrasjonsstatus.color }};">
Sårbarheter ble sist synkronisert {{ integrasjonsstatus.dato_sist_oppdatert|date:"d.M Y"|default:"ukjent" }} ({{integrasjonsstatus.dato_sist_oppdatert|timesince}}) ({{integrasjonsstatus.script_navn}})</p>


<table class="table tablesorter">
<thead>
<tr>
	<th>Tittel</th>
	<th>Alvorlighetsgrad</th>
	<th>Antall</th>
</tr>
</thead>
<tbody>
{% for vuln in data.vulns %}
<tr>
	<td>{{ vuln.title }}</td>
	<td>{{ vuln.severity }}</td>
	<td>{{ vuln.num_vulns }}</td>
</tr>
{% endfor %}
</tbody>
</table>



{% endblock hovedinnhold %}