{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Bestillingsmyndighet for sertifikater
{% endblock underoverskrift %}

{% block main_content %}
<p>Viser status på fullmakter gitt til UKE/2S for å utstede web- og virksomhetssertifikater.</p>

	<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th>Virksomhetsnavn</th>
		<th>Forkortet</th>
		<th>Klientplattform</th>
		<th>Fullmakt web</th>
		<th>Fullmakt virksomhet</th>
		<th>Organisasjonsnummer</th>
		<th>Leder</th>
		<th>Bestillere</th>
	</tr>
	</thead>
	<tbody>
	{% for vir in virksomheter %}
	<tr>
		<td>
			{% if user.is_authenticated %}
			<a target="_blank" href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
			<img style="width: 14px; margin: 3px;"
			src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
			{% endif %}

			{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a>
		</td>

		<td>{{ vir.virksomhetsforkortelse }}</td>

		<td>{{ vir.get_resultatenhet_display }}</td>

		<td>
			<p {% if vir.sertifikatfullmakt_avgitt_web %} style="background-color: #ada" {% endif %}>
				{{ vir.sertifikatfullmakt_avgitt_web|yesno:"Ja,Nei,-" }}
			</p>
		</td>
		<td>
			<p {% if vir.sertifikatfullmakt_avgitt_virksomhet %} style="background-color: #ada" {% endif %}>
				{{ vir.sertifikatfullmakt_avgitt_virksomhet|yesno:"Ja,Nei,-" }}
			</p>
		</td>

		<td>{{ vir.orgnummer|default:"Ukjent" }}</td>
		<td>
			{% for person in vir.leder.all %}
				<a href="{% url 'ansvarlig' person.pk %}">{{ person }}</a>
				<ul>
					<li>E-post: {{ person.brukernavn.email|default:"Ukjent" }}</li>
					<li>Tlf: {{ person.telefon|default:"Ukjent" }}</li>
					<li>Fødselsdato: {{ person.fdato|default:"Ukjent" }}</li>
				</ul><br>
			{% endfor %}
		</td>
		<td>
			{% for autorisertbestiller in vir.autoriserte_bestillere_sertifikater.all %}
				<a href="{% url 'ansvarlig' autorisertbestiller.person.pk %}">{{ autorisertbestiller.person }}</a>
				<ul><li>E-post: {{ autorisertbestiller.person.brukernavn.email|default:"Ukjent" }}</li>
				<li>Tlf: {{ autorisertbestiller.person.telefon|default:"Ukjent" }}</li>
				<li>Fødselsdato: {{ autorisertbestiller.person.fdato|default:"Ukjent" }}</li>
				<li>Rolle: {{ autorisertbestiller.person.kommentar|default:"Ukjent" }}</li>
			</ul><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock main_content %}