{% extends "system_index.html" %}
{% load static %}
{% load templatetags %}

{% block overskrift %}
	Velkommen til Kartoteket
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Kartoteket inneholder Oslo kommunes systemoversikt. I tillegg finner du en del rapporter basert på data fra driftsmiljøet (CMDB) og fra Microsoft 365. I systemoversikten registrerer vi driftsplattformer, systemer og programvare. Brukerdokumentasjonen finner du på <a target="_blank" href="https://oslokommune.sharepoint.com/sites/abcff/SitePages/Systemoversikt-p%C3%A5-felles-IKT-plattform.aspx">SharePoint</a>. For oversikt over behandlinger av personopplysninger må du gå til <a target="_blank" href="https://behandlingsoversikt.k8s.oslo.kommune.no">Behandlingsoversikten</a>.</p>

	{% url 'min_virksomhet' as url_min_virksomhet %}
	<p>	For å finne et system kan du enten <b>søke</b> eller gå til <a href="{{url_min_virksomhet}}" class="btn btn-sm {% if url_min_virksomhet in request.path %}fremhev{% endif %}">👥 min virksomhet</a>. Du kan også se <a href="{% url 'home_chart' %}">oversikt over alle systemer fordelt på virksomhet</a>.</p>

	<p>Det pågår nå et arbeid med å modernisere både IKT-instruksen og systemoversikten i en ny løsning som heter Yggdrasil. For mer informasjon om fremdriften, kan du følge med på <a target="_blank" href="https://engage.cloud.microsoft/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI2NTU0NzAwMTg1NyJ9/all">VI/SAM/System og tjenesteoversikt</a>. Inntil til den nye løsningen formelt er lansert er det her i Kartoteket vi fører systemoversikt.</p>

	<p>Kartoteket er tilgangsstyrt. Du må logge inn med "logg inn"-knappen ved siden av søkefeltet for å aktivere rollene dine. Se <a href="{% url 'roller' %}">rolleoversikt</a> for nærmere beskrivelser av hvordan tilgangsstyringen fungerer.</p>
	
	<hr>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">

				<h6>Antall systemer i Kartoteket</h6>
				<h1>{{ antall_systemer }}</h1>
				<p>De {{nyeste_systemer.count}} nyeste:</p>
				<ol style="column-count: 2;">
				{% for system in nyeste_systemer %}
					{% url "systemdetaljer" system.pk as url_systemdetaljer %}
					<li><a href="{{ url_systemdetaljer }}">{{ system }}</a> ({{ system.systemeier.virksomhetsforkortelse }})</li>
				{% endfor %}
				</ol>

			</div>
			<div class="col-sm-6">

				<h6>Antall programvarer i Kartoteket</h6>
				<h1>{{ antall_programvarer }}</h1>
				<p>De {{nyeste_programvarer.count}} nyeste:</p>
				<ol style="column-count: 2;">
				{% for programvare in nyeste_programvarer %}
					{% url "programvaredetaljer" programvare.pk as url_programvaredetaljer %}
					<li><a href="{{ url_programvaredetaljer }}">{{ programvare.programvarenavn }}</a></li>
				{% endfor %}
				</ol>

			</div>

		</div>
	</div>

	<hr>

	<h6>Finn system eller programvare basert på kategori</h6>
	<ul style="column-count:3;">
		{% for kategori in kategorier %}
			{% url 'systemkategori' pk=kategori.pk as url_systemkategori %}
			<li><a href="{{ url_systemkategori }}">{{ kategori.kategorinavn }}</a>
			{% for hovedkategori in kategori.systemhovedkategori_systemkategorier.all %}
				({{hovedkategori}})
			{% endfor %}
			</li>
		{% endfor %}
	</ul>


	<hr>

	<h6>Endringslogg for Kartoteket</h6>
	{% for nyhet in nyheter %}
		<li>
			<span class="badge badge-light">{{ nyhet.tidspunkt|date:"Y-m-d" }}</span> {{ nyhet.beskrivelse }}
			{% if nyhet.reverse_url %}
				{% url nyhet.reverse_url as url_link %}
				<a href="{{ url_link }}"> Gå til siden.</a>
				{% endif %}
		</li>
	{% empty %}
		<p>Ingen nyheter å vise</p>
	{% endfor %}
	{% if nyheter|length > 0 %}
		<br><a href="{% url 'alle_nyheter' %}">Se arkiv</a>
	{% endif %}

{% endblock hovedinnhold %}