{% extends "admin_index.html" %}

{% block overskrift %}
	Administrasjon
{% endblock overskrift %}

{% block hovedinnhold %}

	{% if TEST_ENV_NAME == 'test' %}
		{% url "logout" as url_logout %}
	{% else %}
		{% url "oidc_logout" as url_logout %}
	{% endif %}


	<p>Du er logget inn som <b>{{ request.user.first_name }} {{ request.user.last_name }}</b> via en av Oslo kommunes identitetstjenere.<br><a class="btn btn-sm btn-link" href="{{ OIDC_IDP_URL_BASE }}/auth/realms/{{ OIDC_IDP_REALM }}/account/">🌍 Administrer pålogging</a></p>

	<div style="width: 100px; text-align: center;">
		<form action="{{ url_logout }}" method="post" style="border: 2px solid #2a2859;">
			{% csrf_token %}
			<input class="btn btn-sm btn-link" type="submit" name="Logg av" value="Logg av" />
		</form>
	</div>

	<p>Ditt brukernavn er <b>{{ request.user.username|default:"Ukjent" }}</b>
	{% url 'bruker_detaljer' pk=request.user.pk as url_user_details %}
	<a href="{{url_user_details}}" class="btn btn-sm btn-link">Informasjon om din bruker</a></p>


	<p>Du representerer <b>{{ user.profile.virksomhet.virksomhetsforkortelse|default:"Ukjent" }}</b>
	<a href="{% url 'bytt_virksomhet' %}" class="btn btn-sm btn-link">Bytt virksomhet jeg representerer</a></p>


	<p>Du er medlem i følgende grupper:<br>
	<ul>{% for group in user.groups.all %} <li>{{ group.name|slice:"19:"|lower|capfirst }}</li> {% endfor %}</ul>
	</p>


	{% url 'ansvarlig' pk=request.user.ansvarlig_brukernavn.pk as url_ansvarlig %}
	{% if url_ansvarlig %}
		<a href="{{ url_ansvarlig }}" class="btn btn-sm btn-link" >Mine ansvarsområder</a>
	{% else%}
		<a href="/admin/systemoversikt/ansvarlig/add/?brukernavn={{request.user.pk}}" class="btn btn-sm btn-link" >{% include 'site_edit_button.html' %} Opprett som ansvarlig</a>
	{% endif %}


	<p>Dersom du ønsker å redigere på innhold kan du enten gå direkte til admin-siden eller du kan følge {% include 'site_edit_button.html' %} symbolene rundt omkring på denne portalen.</p>

	<p>Alle endringer utført via administrasjonssidene blir loggført. På systemer vises det hvem som har utført de siste endringene direkte på detaljesiden. For de fleste typer informasjon lages det en ny versjon av informasjonen for hver gang du lagrer. Gamle versjoner kan gjenopprettes dersom du har nødvendige tilganger via knappen "Historikk" på den enkelte redigeringsside.</p>

	{% if oidctoken %}
	<h6>Debug OIDC-token</h6>
		<p>{{ oidctoken }}</p>
	{% endif %}

{% endblock hovedinnhold %}