{% extends "admin_index.html" %}
{% load static %}

{% block overskrift %}
	Aktivitetslogg (hendelser og feilsituasjoner)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Viser de siste {{ recent_loggs.count }} hendelsene.</p>

	<table class="tablesorter excel">
	<thead>
	<tr>
		<th>Tidspunkt</th>
		<th>Event</th>
		<th>Message</th>
	</tr>
	</thead>
	<tbody>
	{% for entry in recent_loggs %}
	<tr>
		<td width="200">{{ entry.opprettet }}</td>
		<td width="150">{{ entry.event_type }}</td>
		<td>{{ entry.message }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}