{% extends "system_index.html" %}
{% load static %}

{% block overskrift %}
	Søkeresultater
{% endblock overskrift %}

{% block ekstrameny_system %}
{% endblock ekstrameny_system %}

{% block hovedinnhold %}

	<h6>Treff på system- og programvarenavn</h6>

	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">

	{% for system in systemer %}
		{% include "system_include_vis_ikon.html" with system=system %}
	{% endfor %}

	{% if aktuelle_programvarer %}
		{% for p in aktuelle_programvarer %}
		<div style="margin: 10px;">
			<a href="{% url 'programvaredetaljer' pk=p.pk %}">
				<img src="{% static 'programvare.png' %}">

				<br>{{ p.programvarenavn }}</a>
		</div>
		{% endfor %}
	{% endif %}
	</div>

	<hr>
	<h6>Treff på URL-er</h6>
	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">

		{% for d in domenetreff %}
			<div style="margin: 10px; max-width: 150px; overflow-wrap: break-word;">
				<a target="_blank" href="{{d.domene}}"><img src="{% static 'url.png' %}">
				<br>{{d.domene}}</a>
			</div>
		{% endfor %}
	</div>


	<hr>
	<h6>Treff på leverandører</h6>
	<div style="display: grid; grid-template-columns: repeat(6, 1fr);">

		{% for lev in aktuelle_leverandorer %}
			<div style="margin: 10px;">
				<img src="{% static 'leverandor.png' %}">
				<br><a href="{% url 'leverandor' pk=lev.pk %}">{{ lev }}</a>
			</div>
		{% endfor %}

	</div>

	<hr>
	<h6>Treff på tekst i systembeskrivelser</h6>


	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">
	{% for system in potensielle_systemer %}
		{% include "system_include_vis_ikon.html" with system=system %}
	{% endfor %}
	</div>

	<hr>
	<h6>Treff på business service</h6>


	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">
	{% for bs in business_services %}
		<a href="{% url 'cmdb_bss' bs.pk %}">{{bs}}</a>
	{% endfor %}
	</div>


{% endblock hovedinnhold %}