{% extends "system_index.html" %}
{% load static %}

{% block overskrift %}
	Søkeresultater
{% endblock overskrift %}

{% block ekstrameny_system %}
{% endblock ekstrameny_system %}

{% block hovedinnhold %}

	<h6>Treff på system- og programvarenavn</h6>

	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">

	{% for system in systemer %}
		{% url "systemdetaljer" system.pk as url_systemdetaljer %}
		<div style="margin: 10px;">
			<a href="{{ url_systemdetaljer }}">
				{% if system.er_infrastruktur %}
				<img src="{% static 'infra.png' %}">
				{% elif system.er_integrasjon %}
				<img src="{% static 'infra.png' %}">
				{% else %}
				<img src="{% static 'system.png' %}">
				{% endif %}

				<br>{{ system }}</a>
		</div>
	{% endfor %}

	{% if aktuelle_programvarer %}
		{% for p in aktuelle_programvarer %}
		<div style="margin: 10px;">
			<a href="{% url 'programvaredetaljer' pk=p.pk %}">
				<img src="{% static 'programvare.png' %}">

				<br>{{ p.programvarenavn }}</a>
		</div>
		{% endfor %}
	{% endif %}
	</div>

	<hr>
	<h6>Treff på URL-er</h6>
	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">

		{% for d in domenetreff %}
			<div style="margin: 10px; max-width: 150px; overflow-wrap: break-word;">
				<img src="{% static 'url.png' %}">
				<br>{{d.domene}}
			</div>
		{% endfor %}
	</div>


	<hr>
	<h6>Treff på leverandører</h6>
	<div style="display: grid; grid-template-columns: repeat(6, 1fr);">

		{% for lev in aktuelle_leverandorer %}
			<div style="margin: 10px;">
				<img src="{% static 'leverandor.png' %}">
				<br><a href="{% url 'leverandor' pk=lev.pk %}">{{ lev }}</a>
			</div>
		{% endfor %}

	</div>

	<hr>
	<h6>Treff på tekst i systembeskrivelser</h6>


	<div style="display: grid; grid-template-columns: repeat(6, 1fr)">
	{% for system in potensielle_systemer %}
		{% url "systemdetaljer" system.pk as url_systemdetaljer %}
		<div style="margin: 10px;">
			<a href="{{ url_systemdetaljer }}">
				{% if system.er_infrastruktur %}
				<img src="{% static 'infra.png' %}">
				{% elif system.er_integrasjon %}
				<img src="{% static 'infra.png' %}">
				{% else %}
				<img src="{% static 'system.png' %}">
				{% endif %}

				<br>{{ system }}</a>
		</div>
	{% endfor %}
	</div>


{% endblock hovedinnhold %}