{% extends "system_index.html" %}
{% load static %}
{% load templatetags %}

{% block overskrift %}
	Kartoteket
{% endblock overskrift %}

{% block hovedinnhold %}

	<h6>Oslo kommunes systemoversikt. For oversikt over behandlinger, se <a target="_blank" href="https://behandlingsoversikt.k8s.oslo.kommune.no">Behandlingsoversikten</a>.</h6>
	<hr>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">

				<h6>Systemer i Kartoteket</h6>
				<h1>{{ antall_systemer }}</h1>
				<p>De {{nyeste_systemer.count}} nyeste:</p>
				<ol style="column-count: 2;">
				{% for system in nyeste_systemer %}
					{% url "systemdetaljer" system.pk as url_systemdetaljer %}
					<li><a href="{{ url_systemdetaljer }}">{{ system }}</a> ({{ system.systemeier.virksomhetsforkortelse }})</li>
				{% endfor %}
				</ol>

			</div>
			<div class="col-sm-6">

				<h6>Programvarer i Kartoteket</h6>
				<h1>{{ antall_programvarer }}</h1>
				<p>De {{nyeste_programvarer.count}} nyeste:</p>
				<ol style="column-count: 2;">
				{% for programvare in nyeste_programvarer %}
					{% url "programvaredetaljer" programvare.pk as url_programvaredetaljer %}
					<li><a href="{{ url_programvaredetaljer }}">{{ programvare.programvarenavn }}</a></li>
				{% endfor %}
				</ol>

			</div>

		</div>
	</div>


	<hr>
	<a class="btn btn-primary btn-sm" href="{% url 'home_chart' %}">Visualisering av systemansvar fordelt på virksomhet</a>
	<hr>

	<h6>Ny funksjonalitet i Kartoteket</h6>
	{% for nyhet in nyheter %}
		<li>
			<span class="badge badge-light">{{ nyhet.tidspunkt|date:"Y-m-d" }}</span> {{ nyhet.beskrivelse }}
			{% if nyhet.reverse_url %}
				{% url nyhet.reverse_url as url_link %}
				<a href="{{ url_link }}"> Gå til siden.</a>
				{% endif %}
		</li>
	{% empty %}
		<p>Ingen nyheter å vise</p>
	{% endfor %}
	{% if nyheter|length > 0 %}
		<br><a href="{% url 'alle_nyheter' %}">Se arkiv</a>
	{% endif %}
	<hr>

	<h6>Finn system eller programvare basert på kategori</h6>
	<ul style="column-count:3;">
		{% for kategori in kategorier %}
			{% url 'systemkategori' pk=kategori.pk as url_systemkategori %}
			<li><a href="{{ url_systemkategori }}">{{ kategori.kategorinavn }}</a>
			{% for hovedkategori in kategori.systemhovedkategori_systemkategorier.all %}
				({{hovedkategori}})
			{% endfor %}
			</li>
		{% endfor %}
	</ul>

{% endblock hovedinnhold %}