{% extends "admin_index.html" %}
{% load static %}

{% block overskrift %}
	Tabeller og størrelser i databasen
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Størrelsen på databasefilen er {{file_size|filesizeformat|default:"ikke tilgjengelig"}} og antall rader totalt er {{sum_size}}.</p>

	<table class="tablesorter excel">
	<thead>
	<tr>
		<th>Tabell</th>
		<th>Antall rader</th>
	</tr>
	</thead>
	<tbody>
	{% for stat in stats %}
	<tr>
		<td>{{ stat.name }}</td>
		<td>{{ stat.row_count }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}