{% extends "admin_index.html" %}
{% load static %}

{% block overskrift %}
	Grupper og rettigheter
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Via PRK legges brukeridenter (som f.eks. din bruker) inn i ulike AD-sikkerhetsgrupper. Disse sikkerhetsgruppene er speilet i dette systemet og tildelt ulike rettigheter. For eksempel å kunne opprette et system eller endre på en virksomhet. Rollen "virksomhetsadministrator" skal kunne endre på virksomheter, mens en systemforvalter skal kunne endre på systemer.</p>

	<p>Det er ikke lagt opp til eksplisitt eierskap til data (systemer, behandlinger), men eksempelvis behandlinger og systemer er assosiert med en eller flere virksomheter og enkeltpersoner. Det er mulig å begrense mulighet for å endre et enkelt objekt til en virksomhet eller person, men det må veies opp mot de ulemper slik begrensning vil ha. Det er etablert en regel som hindrer virksomheter å endre/slette behandlinger som tilhører andre virksomheter, men ut over dette er det ingen tekniske hindringer.</p>

	<img src="{% static 'kartoteket tilgangsstyring.png' %}">

	<p>Noe forenklet rollebeskrivelse.
	<ul>
		<li>Behandlingsansvarlig: Kan både redigere systemer og behandlinger, men ikke plattformer eller valgmenyer</li>
		<li>Systemforvalter: Kan redigere på systemer, men bare se behandinger registrert på systemer.</li>
		<li>Virksomhetsforvalter (virksomheter): Kan endre på detaljer om virksomhete.</li>
		<li>Systemkategoriforvalter (systemkategori): Kan endre på valgmenyer. Krever godkjenning fra UKE før tildelign.</li>
		<li>Administrator: Kan se og endre det meste. Noen unntak knyttet til behandlinger og systemer.</li>
		<li>Plattformforvalter: kan legge til og lette driftsplattformer.</li>
		<li>Leverandør: Kan se CMDB-data i tillegg til alt som er åpent. (skal fases ut)</li>
		<li>Brukertilgang: Kan se/søke i data fra PRK/AD.</li>
		<li>CMDB: Kan se CMDB-data</li>
		<li>Netcompany: Egen gruppe for utviklere på ITAS, tilsvarende som for "CMDB" (men med egen AD-gruppe)</li>
	</ul>
	</p>

	<hr>

	<a href="{{ url_roller }}?export=json" class="btn btn-sm btn-link {% if url_alle_systemer in request.path %}fremhev{% endif %}" >Eksporter rolleknytning</a>

	{% url 'import_group_permissions' as url_import_group_permissions %}
	<a href="{{ url_import_group_permissions }}" class="btn btn-sm btn-link {% if url_import_group_permissions in request.path %}fremhev{% endif %}" >⚙️ Importer rolleknytning</a>

	<hr>

	<table class="table table-sm tablesorter">
		<thead>
			<tr>
				<th>Rettighet</th>
				{% for h in header %}
					<th>{{h}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for permission, data in matrise.items %}
			<tr>
				<td>{{permission}}</td>
				{% for checkmark in data %}
					<td>
					{% if checkmark %}
						<span style="color: green; font-size: 18px;">✓</span> Ja
					{% else %}
						<span style="color: red; font-size: 18px;">⨉</span> Nei
					{% endif %}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}