{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Logg over endringer i databasen
	<div>
		<a class="btn btn-sm btn-primary" href="/admin/admin/logentry/">Avansert søk og filtrering</a>
	</div>
{% endblock underoverskrift %}

{% block main_content %}

	<table class="table table-sm table-striped">
	<thead>
	<tr>
		<th>Tidspunkt</th>
		<th>Bruker</th>
		<th>Aksjon</th>
		<th>Objekt</th>
		<th>Instans</th>
		<th>Beskrivelse av endring</th>
	</tr>
	</thead>
	<tbody>
	{% for entry in recent_admin_loggs %}
	<tr>
		<td>{{ entry.action_time }}</td>
		<td>{{ entry.user }}</td>
		<td>
			{% if entry.action_flag == 1 %}Ny{% endif %}
			{% if entry.action_flag == 2 %}Endret{% endif %}
			{% if entry.action_flag == 3 %}Slettet{% endif %}
		</td>
		<td>{{ entry.content_type }}</td>
		<td><a target="_blank" href="/admin/{{ entry.content_type.app_label }}/{{ entry.content_type.model }}/{{ entry.object_id }}/change/">{{ entry.object_repr }}</a></td>
		<td>{{ entry.change_message }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock main_content %}