{% extends "admin_index.html" %}
{% load static %}

{% block overskrift %}
	Grupper og rettigheter
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Via PRK legges brukeridenter (som f.eks. din bruker) inn i ulike AD-sikkerhetsgrupper. Disse sikkerhetsgruppene er speilet i dette systemet og tildelt ulike rettigheter. For eksempel å kunne opprette et system eller endre på en virksomhet. Rollen "virksomhetsadministrator" skal kunne endre på virksomheter, mens en systemforvalter skal kunne endre på systemer.</p>

	<p>Det er ikke lagt opp til eksplisitt eierskap til data (systemer, behandlinger), men eksempelvis behandlinger og systemer er assosiert med en eller flere virksomheter og enkeltpersoner. Det er mulig å begrense mulighet for å endre et enkelt objekt til en virksomhet eller person, men det må veies opp mot de ulemper slik begrensning vil ha. Det er etablert en regel som hindrer virksomheter å endre/slette behandlinger som tilhører andre virksomheter, men ut over dette er det ingen tekniske hindringer.</p>

	<p>Noe forenklet rollebeskrivelse
	<ul>
		<li>Systemforvalter kan endre på systemer. Systemforvalter kan se behandinger registrert på sine systemer. En systemeier tildeles i praksis rollen som systemforvalter.</li>
		<li>Behandlingsansvarlige kan gjøre det samme som systemforvalter, og i tillegg endre på behandlinger i virksomhetens behandlingsprotokoll.</li>
		<li>Systemkategori(forvalter) kan endre på systemkategorier og andre valgbare felt som ønskes standardisert.</li>
		<li>Virksomhets(forvalter) kan endre på detaljer om virksomheter.</li>
		<li>Plattformforvalter kan administrere driftsplattformer.</li>
	</ul>
	</p>

	<hr>

	<div class="accordion" id="accordionExample">
	{% for g in groups %}

		<div class="card">
			<div class="card-header" id="heading_{{ forloop.counter }}">
				<h2 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
						{{ g.name|slice:"1:" }}
					</button>
				</h2>
			</div>

			<div id="collapse_{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
			{% for p in g.permissions.all %}
				{{ p.name }} ({{ p.codename }})</br>
			{% endfor %}
				</div>
			</div>
		</div>

	{% endfor %}
	</div>

{% endblock hovedinnhold %}