{% extends "index.html" %}
{% load templatetags %}

{% block underoverskrift %}
	Registrer bruk for {{ system.systemnavn }}
{% endblock underoverskrift %}

{% block main_content %}
<p>Når du krysser av for en ny virksomhet, opprettes det en "tom" men aktiv systembruk. Lokale vurderinger kan legges til i etterkant.
<p>Når du fjerner et kryss, oppdateres informasjonen om bruken med at den ikke lenger er aktiv. Informasjonen beholdes, men vises ikke lenger.
</p>

<h5><a href="{% url 'systemdetaljer' system.pk %}#bruk">Tilbake til systemet</a></h5>

<hr>

<form action="" method="post">{% csrf_token %}
	<input type="button" class="btn btn-sm" value="Inverter valg" id="trigger">
	<input type="submit" class="btn btn-primary btn-sm" value="Utfør endringer">
	<hr>
	{% for item in virksomheter_template %}
		<input id="{{ item.virksomhet.virksomhetsforkortelse }}" type="checkbox" name="virksomheter" value="{{ item.virksomhet.pk }}" {% if item.bruk != None %} checked {% endif %}>
		<label for="{{ item.virksomhet.virksomhetsforkortelse }}">{{ item.virksomhet.virksomhetsnavn }} ({{ item.virksomhet.virksomhetsforkortelse }})</label>
		<br>
	{% endfor %}

</form>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
	function changeCheckboxes(list, value){
		for(var i = list.length - 1 ; i >=0 ; i--){
			list[i].checked = (typeof value === 'boolean') ? value : !list[i].checked ;
		}
	}
	var trigger = document.getElementById("trigger");
	trigger.onclick = function() {
		var inputs = document.getElementsByTagName('input');
		var allCheckboxes = [];
			for (var j = inputs.length-1; j >= 0; j--){
				if (inputs[j].type === 'checkbox'){
					allCheckboxes.push(inputs[j]);
				}
		}
		changeCheckboxes(allCheckboxes)
	}
</script>

{% endblock %}