{% extends "system_index.html" %}

{% block overskrift %}
	{{overskrift}}
{% endblock overskrift %}

{% block ekstrameny_system %}
{% endblock ekstrameny_system %}

{% block hovedinnhold %}


	<p style="color: grey;">Systemklassifisering:

	{% for klasse in kommuneklassifisering %}
		{% url 'systemklassifisering_detaljer' kriterie=klasse.0 as url_systemklassifisering_detaljer %}
		<a href="{{url_systemklassifisering_detaljer}}" class="btn btn-sm btn-link {% if url_systemklassifisering_detaljer in request.path %}fremhev{% endif %}">{{klasse.1}}</a>
	{% endfor %}

		{% url 'systemklassifisering_detaljer' kriterie='__NONE__' as url_systemklassifisering_detaljer %}
		<a href="{{url_systemklassifisering_detaljer}}" class="btn btn-sm btn-link {% if url_systemklassifisering_detaljer in request.path %}fremhev{% endif %}">❌ Mangler</a>
	</p>

	<hr>

	<p style="color: grey;">Grensesnitt {% if perms.systemoversikt.change_systemtype %}(<a href="/admin/systemoversikt/systemtype/">rediger</a>){% endif %}:

	{% for type in systemtyper %}
		{% url 'systemtype_detaljer' pk=type.pk as url_systemtype_detaljer %}
		<a href="{{url_systemtype_detaljer}}" class="btn btn-sm btn-link {% if url_systemtype_detaljer in request.path %}fremhev{% endif %}">{{type}}</a>
	{% endfor %}

		{% url 'systemtype_detaljer_mangler' as url_systemtype_detaljer_mangler %}
		<a href="{{url_systemtype_detaljer_mangler}}" class="btn btn-sm btn-link {% if url_systemtype_detaljer_mangler in request.path %}fremhev{% endif %}">❌ Mangler</a>
	</p>

	<hr>

	<p>{{ systemer.count }} treff i databasen. Symbolet 🔧 indikerer at systemet er en infrastrukturkomponent.</p>

	{% include "system_include_hurtigvisning.html" %}

	{% if potensielle_systemer %}
	<p>Basert på beskrivelser av systemer, kan du ha ment:
	<ul style="column-count:5;">
	{% for system in potensielle_systemer %}
		<li>{% include 'system_include_vis.html' with system=system %}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>

	{% if aktuelle_programvarer %}
	<p>Treff på programvare</p>
	<ul style="column-count:5;">
	{% for p in aktuelle_programvarer %}
		<li><a href="{% url 'programvaredetaljer' pk=p.pk %}">{{p.programvarenavn}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

{% endblock hovedinnhold %}