{% extends "system_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Oversikt over alle systemer
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Her vises alle systemer som Oslo kommune har registrert.</p>

	<table class="table table-sm tablesorter excel">
	<thead>
		<th>System-ID</th>
		<th>Systemnavn</th>
		<th>Bruk</th>
		<th>Avhengigheter</th>
		<th>Forvaltningen</th>
		<th>Livssløpsstatus</th>
		<th>Systemomfang</th>
		<th>Grensesnitt</th>
		<th>Produkt</th>
		<th>Driftsmiljø</th>
		<th>Privat/offentlig sky</th>
		<th>Egenutvikling?</th>
		<th>Basisdriftleverandør</th>
		<th>Applikasjonsdriftleverandør</th>
		<th>Utviklingsleverandør</th>
		<th>Systemdriftsavtale?</th>
		<th>Driftsavtale tjenestenivå</th>
		<th>Driftsavtale kompleksitet</th>
		<th>Driftsavtale kritikalitet</th>
	</thead>
	<tbody>
	{% for system in aktuelle_systemer %}
		<tr>
			<td>{{ system.pk }}</td>
			<td>{{ system }}</td>
			<td>{{ system.systembruk_system.all|length }}</td>
			<td>{{ system.system_integration_source.all|length }}</td>
			<td>{{ system.systemforvalter }}<br><i>{{ system.systemforvalter_avdeling_referanse|default:"Ukjent" }}</i></td>
			<td>{{ system.get_livslop_status_display }}</td>
			<td>{{ system.get_systemeierskapsmodell_display }}</td>
			<td>{% for kat in system.systemtyper.all %}<i>{{ kat }}</i><br>{% endfor %}</td>
			<td>{% for app in system.programvarer.all %}<i>{{ app }}</i> fra {% for applev in app.programvareleverandor.all %} {{ applev }} {% empty %} ukjent leverandør {% endfor %} {% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
			<td>{{ system.driftsmodell_foreignkey.ansvarlig_virksomhet.virksomhetsforkortelse }} {{ system.driftsmodell_foreignkey.navn }} ({{ system.driftsmodell_foreignkey.get_type_plattform_display }})</td>
			<td>{{ system.driftsmodell_foreignkey.get_type_plattform_display }}</td>
			<td>{% if system.driftsmodell_foreignkey.utviklingsplattform %} Egenutvikling {% else %} Generisk {% endif %}</td>
			<td>{% for leverandor in system.basisdriftleverandor.all %}{{ leverandor }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
			<td>{% for leverandor in system.applikasjonsdriftleverandor.all %}{{ leverandor }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
			<td>{% for leverandor in system.systemleverandor.all %}{{ leverandor }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
			<td>{% for offering in system.service_offerings.all %}{{ offering }} ({{offering.get_environment_display}}){% if not forloop.last %}<br>{% endif %}{% empty %} <i>ingen</i> {% endfor %}</td>
			<td>{% for offering in system.service_offerings.all %}{{ offering.u_service_availability_text }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
			<td>{% for offering in system.service_offerings.all %}{{ offering.u_service_complexity_text }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
			<td>{% for offering in system.service_offerings.all %}{{ offering.u_service_operation_factor_text }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}