{% load static %}

<table id="systemoversikt" class="tablesorter">
<thead>
<tr>
	{% if perms.systemoversikt.change_system %}
		<th class="filter-false">Rediger</th>
	{% endif %}
	<th>Systemnavn</th>
	<th>Brukes av</th>
	<th>Systemeier</th>
	<th>Systemforvalter</th>
</tr>
</thead>
<tbody>
{% for item in systemer %}
<tr {% if item.ibruk == False %} style="text-decoration: line-through; opacity: 30%;" {% endif %}
	{% comment %}{% if item.felles_sektorsystem %} style="background-color: #0779002b;" {% endif %}{% endcomment %}
	>
	{% if perms.systemoversikt.change_system %}
		<td><a href="/admin/systemoversikt/system/{{ item.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" title="rediger"></a></td>
	{% endif %}

	<td>
		{% include 'system_include_vis.html' with system=item %}
	</td>

	<td>
		{% if item.systembruk_system.all|length < 1 %}
			Ingen
		{% elif item.systembruk_system.all|length < 5 %}
			{% for b in item.systembruk_system.all %}
				{{ b.brukergruppe.virksomhetsforkortelse }}
			{% endfor %}
		{% else %}
			Flere enn 5
		{% endif %}
	</td>

	<td>
		{% url "virksomhet" item.systemeier.pk as url_systemeier %}
		<b><a href="{{ url_systemeier }}">{{ item.systemeier.virksomhetsforkortelse|default:"?" }}</a></b>
	</td>

	<td>
		{% url "virksomhet" item.systemforvalter.pk as url_systemforvalter %}
		<b><a href="{{ url_systemforvalter }}">{{ item.systemforvalter.virksomhetsforkortelse|default:"?" }}</a></b>
	</td>

</tr>
{% endfor %}
</tbody>
</table>
