{% extends "index.html" %}

{% block sidemeny %}
	<h6>Systemoversikt</h6>
		{% url 'alle_systemer' as url_alle_systemer %}
		<a href="{{url_alle_systemer}}" class="btn btn-sm btn-link {% if url_alle_systemer in request.path %}fremhev{% endif %}">Alle systemer</a>

	{% if request.user.profile.virksomhet %}
		{% url 'all_bruk_for_virksomhet' pk=request.user.profile.virksomhet.pk as url_systembruk %}
		<a href="{{ url_systembruk }}" class="btn btn-sm btn-link {% if url_systembruk in request.path %}fremhev{% endif %}">Vår bruk av systemer</a>
	{% endif %}

	{% if user.is_authenticated %}
		{% url 'systemer_utfaset' as url_systemer_utfaset %}
		<a href="{{url_systemer_utfaset}}" class="btn btn-sm btn-link {% if url_systemer_utfaset in request.path %}fremhev{% endif %}">Utfasede systemer</a>

		{% url 'system_til_programvare_indeks' as url_system_til_programvare_indeks %}
		<a href="{{url_system_til_programvare_indeks}}" class="btn btn-sm btn-link {% if url_system_til_programvare_indeks in request.path %}fremhev{% endif %}">Konverter til programvare</a>
	{% endif %}

	{% block ekstrameny_system %}{% endblock ekstrameny_system %}


	<hr>
	<h6>Programvarer</h6>
		{% url 'alle_programvarer' as url_alle_programvarer %}
			<a href="{{url_alle_programvarer}}" class="btn btn-sm {% if url_alle_programvarer in request.path %}fremhev{% endif %}">Alle programvarer</a>

	{% block ekstrameny_programvare %}{% endblock ekstrameny_programvare %}

	<hr>
	<h6>Leverandører</h6>

		{% url "alle_leverandorer" as alle_leverandorer_url %}
		<a href="{{ alle_leverandorer_url }}" class="btn btn-sm {% if alle_leverandorer_url in request.path %}fremhev{% endif %}">Alle leverandører</a>
	{% block ekstrameny_leverandor %}{% endblock ekstrameny_leverandor %}

	<hr>
	<h6>Kategorier</h6>
		{% url 'alle_systemkategorier' as url_alle_systemkategorier %}
		<a href="{{url_alle_systemkategorier}}" class="btn btn-sm {% if url_alle_systemkategorier in request.path %}fremhev{% endif %}">Alle kategorier</a>

		{% url 'alle_hovedkategorier' as url_alle_hovedkategorier %}
		<a href="{{url_alle_hovedkategorier}}" class="btn btn-sm btn-link {% if url_alle_hovedkategorier in request.path %}fremhev{% endif %}">Alle hovedkategorier</a>

	{% block ekstrameny_kategori %}{% endblock ekstrameny_kategori %}

	<hr>
	<h6>Driftsmiljø</h6>
		{% url "alle_driftsmodeller" as alle_driftsmodeller_url %}
		<a href="{{ alle_driftsmodeller_url }}" class="btn btn-sm btn-link {% if alle_driftsmodeller_url in request.path %}fremhev{% endif %}" >Alle driftsmiljø</a>

	{% block ekstrameny_driftsmiljo %}{% endblock ekstrameny_driftsmiljo %}


{% endblock sidemeny %}

{% block main_content %}
	<h3>{% block overskrift %}{% endblock overskrift %}</h3>
	{% block hovedinnhold %}{% endblock hovedinnhold %}
{% endblock main_content %}