{% load static %}

<table id="systemoversikt" class="table table-sm table-striped">
<thead>
<tr>
	{% if perms.systemoversikt.change_system %}
		<th>Rediger</th>
	{% endif %}
	<th>Systemnavn</th>
	<th>Brukes av</th>
	<th>Systemkategori</th>
	<th>Systemtype</th>
	<th>Systemeier</th>
	<th>Systemforvalter</th>
	<th>Systemklassifisering</th>
</tr>
</thead>
<tbody>
{% for item in systemer %}
<tr {% if item.ibruk == False %} style="text-decoration: line-through; opacity: 30%;" {% endif %}
	{% comment %}{% if item.felles_sektorsystem %} style="background-color: #0779002b;" {% endif %}{% endcomment %}
	>
	{% if perms.systemoversikt.change_system %}
		<td><a target="_blank" href="/admin/systemoversikt/system/{{ item.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" title="rediger"></a></td>
	{% endif %}

	{% url "systemdetaljer" item.pk as url_systemdetaljer %}
	<td>
		{% if item.informasjon_kvalitetssikret is False %}
		<img style="width: 14px;" src="{% static 'open-iconic/svg/warning.svg' %}" title="Kvalitet ikke verifisert">
		{% endif %}

		<a href="{{ url_systemdetaljer }}">{{ item }}</a>
	</td>


	<td>
		{% for b in item.systembruk_system.all %}
			{{ b.brukergruppe.virksomhetsforkortelse }}
		{% endfor %}
	</td>

	<td>
		{% for kategori in item.systemkategorier.all %}
			{% url 'systemkategori' kategori.pk as url_systemkategorier %}
			<a href="{{ url_systemkategorier }}">{{ kategori }}</a><br>
		{% endfor %}
	</td>

	<td>
		{% for systemtype in item.systemtyper.all %}
			{% url 'systemtype_detaljer' systemtype.pk as url_systemtype %}
			<a href="{{ url_systemtype }}">{{ systemtype }}</a><br>
		{% endfor %}
	</td>

	<td>
		{% url "virksomhet" item.systemeier.pk as url_systemeier %}
		<b><a href="{{ url_systemeier }}">{{ item.systemeier.virksomhetsforkortelse|default:"?" }}</a></b>
	</td>

	<td>
		{% url "virksomhet" item.systemforvalter.pk as url_systemforvalter %}
		<b><a href="{{ url_systemforvalter }}">{{ item.systemforvalter.virksomhetsforkortelse|default:"?" }}</a></b>
	</td>

	<td>
		{% url 'systemklassifisering_detaljer' item.systemeierskapsmodell as url_systemeierskapsmodell %}
		<a href="{{ url_systemeierskapsmodell }}">{{ item.get_systemeierskapsmodell_display|default:"" }}</a>
	</td>

</tr>
{% endfor %}
</tbody>
</table>
