{% extends "system_index.html" %}
{% load templatetags %}
{% load static %}

{% block overskrift %}
	Konvertere system til programvare
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Så lenge det er systemer igjen som egentlig er programvare, trenger vi denne funksjonen.
	I tabellen under vises systemer som har "systemtype/menneskelig grensesnitt" satt til "selvstendig klientapplikasjon". Disse kan du med knappen helt til høyre per linje opprette som en programvareinstans. Merk at ikke-kompatibel informasjon går tapt, og at det opprinnelige systemet blir igjen. Det må slettes manuelt etter at du har gjort nødvendige verifikasjoner.</p>

	<table id="systemoversikt" class="tablesorter">
	<thead>
	<tr>
		{% if perms.systemoversikt.change_system %}
			<th class="filter-false">Rediger</th>
		{% endif %}
		<th>Systemnavn</th>
		<th>Brukes av</th>
		<th>Antall behandlinger</th>
		<th>Systemkategori</th>
		<th>Systemtype</th>
		<th>Systemeier</th>
		<th>Systemforvalter</th>
		<th>Systemklassifisering</th>
		<th>Driftsplattform</th>
		<th>Leveransemodell (<a href="https://confluence.oslo.kommune.no/pages/viewpage.action?pageId=86945529">definisjon</a>)</th>
		<th>Konverter</th>

	</tr>
	</thead>
	<tbody>
	{% for item in systemer %}
	<tr {% if item.ibruk == False %} style="text-decoration: line-through; opacity: 30%;" {% endif %}
		{% comment %}{% if item.felles_sektorsystem %} style="background-color: #0779002b;" {% endif %}{% endcomment %}
		>
		{% if perms.systemoversikt.change_system %}
			<td><a href="/admin/systemoversikt/system/{{ item.pk }}/change/"><img style="width: 11px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" title="rediger"></a></td>
		{% endif %}

		{% url "systemdetaljer" item.pk as url_systemdetaljer %}
		<td>
			{% if item.informasjon_kvalitetssikret is False %}
			<img style="width: 14px;" src="{% static 'open-iconic/svg/warning.svg' %}" title="Kvalitet ikke verifisert">
			{% endif %}

			<a href="{{ url_systemdetaljer }}">{{ item }}</a>
		</td>

		<td>{{ item.systembruk_system.count }}</td>

		<td>{{ item.behandling_systemer.count }}</td>


		<td>
			{% for kategori in item.systemkategorier.all %}
				{% url 'systemkategori' kategori.pk as url_systemkategorier %}
				<a href="{{ url_systemkategorier }}">{{ kategori }}</a><br>
			{% endfor %}
		</td>

		<td>
			{% for systemtype in item.systemtyper.all %}
				{% url 'systemtype_detaljer' systemtype.pk as url_systemtype %}
				<a href="{{ url_systemtype }}">{{ systemtype }}</a><br>
			{% endfor %}
		</td>

		<td>
			{% url "virksomhet" item.systemeier.pk as url_systemeier %}
			<b><a href="{{ url_systemeier }}">{{ item.systemeier.virksomhetsforkortelse|default:"?" }}</a></b>
		</td>

		<td>
			{% url "virksomhet" item.systemforvalter.pk as url_systemforvalter %}
			<b><a href="{{ url_systemforvalter }}">{{ item.systemforvalter.virksomhetsforkortelse|default:"?" }}</a></b>
		</td>

		<td>
			{% url 'systemklassifisering_detaljer' item.systemeierskapsmodell as url_systemeierskapsmodell %}
			<a href="{{ url_systemeierskapsmodell }}">{{ item.get_systemeierskapsmodell_display|default:"" }}</a>
		</td>

		{% url 'detaljer_driftsmodell' item.driftsmodell_foreignkey.pk as url_driftsmodell_foreignkey %}
		<td><a href="{{ url_driftsmodell_foreignkey }}">{{ item.driftsmodell_foreignkey|default:"" }}</a></td>

		<td>{{ item.get_leveransemodell_fip_display|default:"-" }}</td>

		<td><a class="btn btn-sm btn-link" href="{% url 'system_til_programvare' system_id=item.pk %}">⚙️ Konverter</a></td>

	</tr>
	{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}