{% extends "index.html" %}
{% load humanize %}

{% block underoverskrift %}
	{{ web_url.domene }}
{% endblock underoverskrift %}

{% block main_content %}



<div class="card">
	<div class="card-body">
		<b>Benytter Https?</b>: {{ web_url.https|yesno:"Ja,Nei" }}<br>
		<b>Dato sist sikkerhetstest</b>: {{ web_url.sist_sikkerhetstestet_dato|naturaltime|default:"Aldri" }}<br>
		<br>
		<a target="_blank" href="/admin/systemoversikt/systemurl/{{ web_url.pk }}/change/">Rediger detaljer</a>
	</div>
</div>

<br>


<h4>Brukes mot følgende systemer:</h4>
<ul>
{% for item in systemer %}
	{% url 'systemdetaljer' pk=item.pk as url_systemdetaljer %}
	<li><a href="{{ url_systemdetaljer }}">{{ item.systemnavn }}</a></li>
{% endfor %}
</ul>


{% endblock main_content %}