{% load static %}

{% url "systemdetaljer" system.pk as url_systemdetaljer %}
<div style="margin: 10px;">
	<a href="{{ url_systemdetaljer }}">
		{% if system.er_infrastruktur %}
		<img src="{% static 'infra.png' %}">
		{% elif system.er_integrasjon %}
		<img src="{% static 'integrasjon.png' %}">
		{% elif system.driftsmodell_foreignkey.type_plattform == 2 %} {% comment %} public cloud {% endcomment %}
		<img src="{% static 'sky.png' %}">
		{% else %}
		<img src="{% static 'system.png' %}">
		{% endif %}
		<br><span style="font-size: 13pt;">{{ system }}</span>
		</a>
		{% if system.driftsmodell_foreignkey %}<br>{{ system.driftsmodell_foreignkey }}{% endif %}
		{% if system.livslop_status == 1 %}<br><span style="color:green;">Innføres</span>{% endif %}
		{% if system.livslop_status == 5 %}<br><span style="color:red;">Skal byttes ut</span>{% endif %}
		{% if system.livslop_status == 6 %}<br><span style="color:red;">Avvikles</span>{% endif %}
		{% if system.livslop_status == 7 %}<br><span style="color:red;">Avviklet</span>{% endif %}
</div>