{% load static %}

	<table class="tablesorter excel">
	<thead>
	<tr>
		<th>Bruksdetaljer</th>
		<th>System</th>
		<th>Ca antall brukere</th>
		<th>Driftsmodell</th>
		<th>Lokal forvalter</th>
		<th>Abonnerer på felles behandlinger?</th>
		<th>Teknisk egnethet</th>
		<th>Strategisk verdi</th>
		<th>Funksjonell egnethet</th>

	</tr>
	</thead>
	<tbody>
	{% for bruk in all_bruk %}
	<tr {% if bruk.ibruk == False %} style="text-decoration: line-through;" {% endif %}>

		<td>
			<a href="/admin/systemoversikt/systembruk/{{ bruk.pk }}/change/">
			{% include 'site_edit_button.html' %}</a>
			{% url "bruksdetaljer" bruk.pk as url_bruksdetaljer %}
			<a href="{{ url_bruksdetaljer }}">{{ virksomhet.virksomhetsforkortelse }} bruk av {{ bruk.system }}</a>
		</td>

		<td>
			{% include 'system_include_vis.html' with system=bruk.system %}<br>
			({{ bruk.system.systemeierskapsmodell }})
		</td>

		<td>{{ bruk.antall_brukere|default:"-" }}
			{% if bruk.system.antall_brukere %}
				({{ bruk.system.antall_brukere|default:"-" }})
			{% endif %}
		</td>

		<td>
			{{ bruk.system.driftsmodell_foreignkey|default:"-" }}
		</td>

		<td>
			{% include "ansvarlig_include_vis.html" with ansvarlige=bruk.systemforvalter_kontaktpersoner_referanse.all %}
		</td>

		<td>
			{% include 'site_janeivetikke.html' with boolean=bruk.del_behandlinger %}
		</td>


		<td>{{ bruk.get_teknisk_egnethet_display|default:"-" }}</td>
		<td>{{ bruk.get_strategisk_egnethet_display|default:"-" }}</td>
		<td>{{ bruk.get_funksjonell_egnethet_display|default:"-" }}</td>



	</tr>
	{% endfor %}
	</tbody>
	</table>
