{% extends "system_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}


{% block overskrift %}
	{{ systemdetaljer }}
{% endblock overskrift %}


{% block ekstrajavascript %}
	<script src="{% static 'cytoscape/cytoscape.min.js@3.9.4' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/numeric.min.js@1.2.6' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/layout-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cose-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-layout-utilities.js@1.0.0' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-fcose.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block hovedinnhold %}


	{% if systemdetaljer.ibruk == False %}
	<div class="alert alert-warning" role="alert">
		Dette systemet er markert som ikke i bruk. Det er enten under innføring eller er avviklet.
	</div>
	{% endif %}

	{% if user.is_authenticated %}
		<a href="/admin/systemoversikt/system/{{ systemdetaljer.pk }}/change/"
		class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Endre informasjon om systemet</a><br>
	{% endif %}

	<hr>

	<h6>
		{{ systemdetaljer.systembeskrivelse|linebreaks }}
		{% if systemdetaljer.inv_konklusjon %}
			<hr>
			{{ systemdetaljer.inv_konklusjon|default:"" }}
			<br>
			{{ systemdetaljer.inv_konklusjon_beskrivelse|default:"" }}
		{% endif %}
	</h6>

	<hr>

	{% if systemdetaljer.alias %}
		Alias: {% for alias in systemdetaljer.alias_oppdelt %} <span class="badge badge-light">{{ alias }}</span> {% endfor %}</li>
	{% endif %}

	<br>
	{% if systemdetaljer.systemeierskapsmodell %}
		{% get_verbose_field_name systemdetaljer "systemeierskapsmodell" %}:
		<span class="badge badge-dark">{{ systemdetaljer.get_systemeierskapsmodell_display|default:"-" }}</span>
	{% endif %}
	{% if systemdetaljer.er_arkiv %}
		<span class="badge badge-light">🗁 Arkivsystem</span>
	{% endif %}

	<br>
	{% if systemdetaljer.systemtyper %}
		{% get_verbose_field_name systemdetaljer "systemtyper" %}:
		{% for systemtype in systemdetaljer.systemtyper.all %}
			<span class="badge badge-light">{{ systemtype }}</span>
		{% endfor %}
	{% endif %}

	<br>
	Status SMART-klienter: {{ systemdetaljer.get_klargjort_ny_sikkerhetsmodell_display }}

	<hr>

	<h5>Systemavhengigheter</h5>
	<a class="btn btn-sm" style="" href="?follow_count=1">+1 nivå</a>
	<a class="btn btn-sm" href="?follow_count=2">+2 nivå</a>
	{% explain_collapsed "Gule er vanlige systemer. Grå er infrastruktur. Grønn er programvare. Hele piler er utlevering av informasjon i pilens retning. Stiplede er systemavhengigheter. Du kan trykke på en runding for å gå til valgte systemdetaljer." %}

	{% if avhengigheter_graf.nodes|length < 2 %}
		<p>Ingen avhengigheter registrert</p>
	{% else %}
		<div id="cy" style="background-color: #f7f7f7; border: 1px solid #d6d4d4; width: 100%; height: {{avhengigheter_chart_size}}px;"></div>
	{% endif %}

	{% if systemdetaljer.avhengigheter_referanser.all|length > 0 %}
		Systemeravhengigheter:
		{% for system in systemdetaljer.avhengigheter_referanser.all %}
			{% url "systemdetaljer" system.pk as url_system %}
			<a class="badge badge-light" href="{{ url_system }}">{{ system.systemnavn }}</a>
		{% endfor %}
		{% for system in avhengigheter_reverse_systemer.all %}
			{% url "systemdetaljer" system.pk as url_system %}
			<a class="badge badge-light" href="{{ url_system }}">{{ system.systemnavn }}</a>
		{% endfor %}
	 {% endif %}

	{% if systemdetaljer.avhengigheter %}
		<br>{{ systemdetaljer.avhengigheter|default:"-"|linebreaks }}
	{% endif %}


	<hr>

	<h5>Om systemet</h5>
	<div class="container-fluid">
		<div class="row">
			<div class="col-5">

				<h6>Kritisk funksjonalitet? (<a target="_blank" href="{% url 'system_kritisk_funksjon' %}">Oversikt</a>)</h6>
				{% for k in systemdetaljer.kritisk_kapabilitet.all %}
					<span class="badge badge-dark">{{ k.navn }}</span>
				{% empty %}
					Ikke kritisk
				{% endfor %}

				<hr>

				<h6>LOS-klassifisering (<a target="_blank" href="{% url 'system_los_struktur_indeks' %}">Oppslagsverk</a>)</h6>
				Kommunale tema:
				{% for b in systemdetaljer.LOSref.all %}
						{% comment %}
						{% if b.kategori_ref.verdi == 'Ord' %}
								{% for p in b.parent_id.all %}
										<a href="{{ p.unik_id }}.html" class="badge badge-light">{{ p.verdi }}</a>
								{% endfor %}
						{% endif %}
						{% endcomment %}
						{% if b.kategori_ref.verdi == 'Tema' %}
								<a href="{{ b.unik_id }}.html" class="badge badge-light">{{ b.verdi }}</a>
						{% endif %}
				{% endfor %}

				<br>Kommunale ord:
				{% for b in systemdetaljer.LOSref.all %}
						{% if b.kategori_ref.verdi == 'Ord' %}
								<a href="{{ b.unik_id }}.html" class="badge badge-light">{{ b.verdi }}</a>
						{% endif %}
				{% endfor %}

				<hr>

				<h6>{% get_verbose_field_name systemdetaljer "systemkategorier" %}:</h6>
				{% for kategori in systemdetaljer.systemkategorier.all %}
					{% url "systemkategori" kategori.pk as url_systemkategori %}
					<li><a class="badge badge-light" href="{{ url_systemkategori }}">{{ kategori.kategorinavn }}</a></li>
				{% endfor %}

				<hr>
				<h6>Vurderinger <a target="_blank" href="https://confluence.oslo.kommune.no/x/ywUfBg">(vurderingskriterier)</a></h6>

				{% get_verbose_field_name systemdetaljer "livslop_status" %}:
				<span class="badge badge-light">{{ systemdetaljer.get_livslop_status_display|default:"-" }}</span>

				<br>
				{% get_verbose_field_name systemdetaljer "dato_etablert" %}:
				<span class="badge badge-light">{{ systemdetaljer.dato_etablert|date:"Y-m-d"|default:"-" }}</span>

				<br>
				{% get_verbose_field_name systemdetaljer "dato_end_of_life" %}:
				<span class="badge badge-light">{{ systemdetaljer.dato_end_of_life|date:"Y-m-d"|default:"-" }}</span>

				<br><br>
				{% get_verbose_field_name systemdetaljer "funksjonell_egnethet" %}:
				<span class="badge badge-light">{{ systemdetaljer.get_funksjonell_egnethet_display|default:"-" }}</span>

				<br>
				{% get_verbose_field_name systemdetaljer "teknisk_egnethet" %}:
				<span class="badge badge-light">{{ systemdetaljer.get_teknisk_egnethet_display|default:"-" }}</span>

				<hr>
				<h6>{% get_verbose_field_name systemdetaljer "arkivkommentar" %}</h6>
				<span class="badge badge-light">{{ systemdetaljer.arkivkommentar|default:"-" }}</span>



			</div>
			<div class="col-4">

				<h6>Systemeier</h6>

				{% url "virksomhet" systemdetaljer.systemeier.pk as url_systemeier %}
				<a href="{{ url_systemeier }}">{{ systemdetaljer.systemeier|default:"-" }}</a>
				<br><br>Kontaktpersoner eier:<br>
				{% include "ansvarlig_include_vis_epost.html" with ansvarlige=systemdetaljer.systemeier_kontaktpersoner_referanse.all %}

				<hr>
				<h6>Systemforvalter</h6>

				{% url "virksomhet" systemdetaljer.systemforvalter.pk as url_systemforvalter %}
				<a href="{{ url_systemforvalter }}">{{ systemdetaljer.systemforvalter|default:"-" }}</a>

				{% if systemdetaljer.systemforvalter_avdeling_referanse %}
					<br>Seksjon: <a href="">{{ systemdetaljer.systemforvalter_avdeling_referanse }}</a>
				{% endif %}

				<br><br>Kontaktpersoner forvalter:<br>
				{% include "ansvarlig_include_vis_epost.html" with ansvarlige=systemdetaljer.systemforvalter_kontaktpersoner_referanse.all %}

				<br>
				{% if systemdetaljer.forvaltning_epost %}
					{% get_verbose_field_name systemdetaljer "forvaltning_epost" %}<br>
					{{ systemdetaljer.forvaltning_epost }}
				{% endif %}

				<hr>
				{% if systemdetaljer.godkjente_bestillere %}
					{% get_verbose_field_name systemdetaljer "godkjente_bestillere" %}
					<br>{% include "ansvarlig_include_vis_epost.html" with ansvarlige=systemdetaljer.godkjente_bestillere.all %}
				{% endif %}

				<hr>

				{% if systemdetaljer.superbrukere %}
					{% get_verbose_field_name systemdetaljer "superbrukere" %}:<br>
					<span class="badge badge-light">{{ systemdetaljer.superbrukere|default:"-"|linebreaks }}</span>
				{% endif %}

				<hr>

				{% if systemdetaljer.nokkelpersonell %}
					{% get_verbose_field_name systemdetaljer "nokkelpersonell" %}:<br>
					<span class="badge badge-light">{{ systemdetaljer.nokkelpersonell|default:"-"|linebreaks }}</span>
				{% endif %}


			</div>
			<div class="col-3">

				<h6>{% get_verbose_field_name systemdetaljer "systemurl" %}</h6>
				{% for url in systemdetaljer.systemurl.all %}
					<div style="margin: 10px; max-width: 350px; overflow-wrap: break-word;">
						<img style="float:left;" src="{% static 'url.png' %}">
						<a target="_blank" href="{{url.domene}}" style="font-size: 75%;">{{url.domene}}</a>
					</div>
					<br>
				{% endfor %}

				{% if systemdetaljer.programvarer %}
					<hr>
					<h6>{% get_verbose_field_name systemdetaljer "programvarer" %}:</h6>
					{% for programvare in systemdetaljer.programvarer.all %}
						{% url "programvaredetaljer" programvare.pk as url_programvare %}
						<a href="{{ url_programvare }}"><img src="{% static 'programvare.png' %}"> {{ programvare }}</a>
						{% if programvare.programvareleverandor.all|length > 0 %}
						levert av
							{% for programvareleverandor in programvare.programvareleverandor.all %}
								{% url 'leverandor' programvareleverandor.pk as url_programvareleverandor %}
								<a href="{{ url_programvareleverandor }}">{{ programvareleverandor }}</a>,
							{% endfor %}
						{% endif %}
						<br>
					{% endfor %}
				{% endif %}


			</div>
		</div>


		<hr>
		<div class="row">
			<div class="col-12">


			<h6>Eksterne ressurser:</h6>
			{% if systemdetaljer.kontaktgruppe_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.kontaktgruppe_url }}">🌍 {% get_verbose_field_name systemdetaljer "kontaktgruppe_url" %}</a>
			{% endif %}

			{% if systemdetaljer.brukerdokumentasjon_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.brukerdokumentasjon_url }}">🌍 {% get_verbose_field_name systemdetaljer "brukerdokumentasjon_url" %}</a>
			{% endif %}

			{% if systemdetaljer.high_level_design_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.high_level_design_url }}">🌍 {% get_verbose_field_name systemdetaljer "high_level_design_url" %}</a>
			{% endif %}

			{% if systemdetaljer.low_level_design_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.low_level_design_url }}">🌍 {% get_verbose_field_name systemdetaljer "low_level_design_url" %}</a>
			{% endif %}

			{% if systemdetaljer.datamodell_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.datamodell_url }}">🌍 {% get_verbose_field_name systemdetaljer "datamodell_url" %}</a>
			{% endif %}

			{% if systemdetaljer.datasett_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.datasett_url }}">🌍 {% get_verbose_field_name systemdetaljer "datasett_url" %}</a>
			{% endif %}

			{% if systemdetaljer.api_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.api_url }}">🌍 {% get_verbose_field_name systemdetaljer "api_url" %}</a>
			{% endif %}

			{% if systemdetaljer.kildekode_url %}
				<a target="_blank" class="btn btn-sm btn-link" href="{{ systemdetaljer.kildekode_url }}">🌍 {% get_verbose_field_name systemdetaljer "kildekode_url" %}</a>
			{% endif %}

			</div>
		</div>

		<hr>


		<div class="row">

			<div class="col-12">

				<br>
				<h5>Virksomheters bruk</h5>
				{% if user.is_authenticated %}
					<p>
						<a class="btn btn-sm btn-link" href="{% url 'registrer_bruk' systemdetaljer.pk %}">Registrer bruk</a>
					</p>
				{% endif %}
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Virksomhet</th>
							<th>Ca. antall brukere</th>
							{% if perms.systemoversikt.view_system %}
							<th>Lokal KIT-vurdering {% explain_collapsed "Konfidensialitet, integritet og tilgjengelighet" %}</th>
							{% endif %}
							<th>Lokalt kontaktpunkt</th>
							<th>Lokale vurderinger</th>
							<th>Lokal RoS</th>
							<th>Kommentar</th>
						</tr>
					</thead>
					<tbody>
						{% for bruk in systembruk %}
						<tr>
							<td style="width: 20%;">
								{% if user.is_authenticated %}
									<a href="/admin/systemoversikt/systembruk/{{ bruk.pk }}/change/">
									{% include 'site_edit_button.html' %}</a>
								{% endif %}
								{% url "bruksdetaljer" bruk.pk as url_bruk %}
								<a href="{{ url_bruk }}">{{ bruk.brukergruppe.virksomhetsforkortelse }}</a>
								{% if user.is_authenticated %}
									<a href="/admin/systemoversikt/systembruk/{{ bruk.pk }}/delete/">
									❌</a>
								{% endif %}
							</td>

							<td>{{ bruk.antall_brukere|default:"Ikke oppgitt" }}</td>

							{% if perms.systemoversikt.view_system %}
							<td>
								K: {{ bruk.get_konfidensialitetsvurdering_display|default:"-" }}<br>
								I: {{ bruk.get_integritetsvurdering_display|default:"-" }}<br>
								T: {{ bruk.get_tilgjengelighetsvurdering_display|default:"-" }}<br>
							</td>
							{% endif %}

							<td>{% include "ansvarlig_include_vis.html" with ansvarlige=bruk.systemforvalter_kontaktpersoner_referanse.all %}</td>

							<td>
								Funksjonelt: {{ bruk.get_funksjonell_egnethet_display|default:"-" }}<br>
								Strategisk knytning: {{ bruk.get_strategisk_egnethet_display|default:"-" }}<br>
								Teknisk vurdering: {{ bruk.get_teknisk_egnethet_display|default:"-" }}
							</td>
							<td>
								{% if bruk.url_risikovurdering %}
									<a href="{{ bruk.url_risikovurdering }}">Link</a><br>
								{% endif %}

								{% if bruk.risikovurdering_tekst %}
									{{ bruk.risikovurdering_tekst }}
								{% endif %}
							</td>
							<td>{{ bruk.kommentar|default:"" }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>


			</div>


		</div>

		<div class="row">
			<div class="col-12">

				<br>
				<h5>Leverandører</h5>

				Utviklingsleverandør:
				{% for lev in systemdetaljer.systemleverandor.all %}
					{% url "leverandor" lev.pk as url_leverandor %}
					<a class="badge badge-light" href="{{ url_leverandor }}">{{ lev }}</a>
					Vedlikeholdsavtale etablert:
					<span class="badge badge-light">{{ systemdetaljer.systemleverandor_vedlikeholdsavtale|yesno:"Ja, Nei, Vet ikke" }}</span>
				{% endfor %}

				<br>Applikasjonsdriftsleverandør:
				{% for lev in systemdetaljer.applikasjonsdriftleverandor.all %}
					{% url "leverandor" lev.pk as url_leverandor %}
					<a class="badge badge-light" href="{{ url_leverandor }}">{{ lev }}</a>
				{% endfor %}

				<br>Driftsplattform:
				<span class="badge badge-dark">{{ systemdetaljer.driftsmodell_foreignkey }}</span>
				ved
				{% for leverandor in systemdetaljer.driftsmodell_foreignkey.leverandor.all %}
					{% url 'leverandor' leverandor.pk as url_leverandor %}
					<a class="badge badge-light" href="{{ url_leverandor }}">{{ leverandor }}</a>
				{% endfor %}


				<br>Driftsplattformleverandør:
				{% for lev in systemdetaljer.basisdriftleverandor.all %}
					{% url "leverandor" lev.pk as url_leverandor %}
					<a class="badge badge-light" href="{{ url_leverandor }}">{{ lev }}</a>
				{% endfor %}

				<hr>
				Avtaler knyttet til dette systemet
				{% if user.is_authenticated %}
					(<a href="/admin/systemoversikt/avtale/add/?for_system={{ systemdetaljer.pk }}">{% include 'site_edit_button.html' %} ny</a>)
				{% endif %}
				:
				{% for avtale in systemdetaljer.avtale_for_system.all %}
					{% url "avtaledetaljer" pk=avtale.pk as url_avtale %}
					<a class="badge badge-light" href="{{ url_avtale }}">{{ avtale.kortnavn }}</a>
				{% endfor %}

				<br>

				Avtaler knyttet til driftsplattformen systemet kjører på:
				{% for avtale in systemdetaljer.driftsmodell_foreignkey.avtaler.all %}
					{% url "avtaledetaljer" pk=avtale.pk as url_avtale %}
					<a class="badge badge-light" href="{{ url_avtale }}">{{ avtale.kortnavn }}</a>
				{% endfor %}


				{% if systemdetaljer.leverandortilgang.all|length > 0 %}
					<hr>
					<p>Leverandørtilganger:</p>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Navn</th>
								<th>Sikkerhetsgruppe</th>
								<th>Antall medlemmer</th>
								<th>Kommentar</th>
							</tr>
						</thead>
						<tbody>
					{% for levtilgang in systemdetaljer.leverandortilgang.all %}
						<tr>
							<td>{{ levtilgang }}</td>
							<td>
								{{ levtilgang.adgruppe.common_name }}
							</td>
							<td>
								{{ levtilgang.adgruppe.membercount }}
							</td>
							<td>{{ levtilgang.kommentar }}</td>
						</tr>
					{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>


		<div class="row">
			<div class="col-12">
				<hr>
				<br>
				<h5>Servere og databaser</h5>
				{% if systemdetaljer.bs_system_referanse %}
				<p>Koblede data mot Sopra Sterias <a href="{% url 'cmdb_statistikk' %}">CMDB</a>. Se <a target="_blank" href="https://confluence.oslo.kommune.no/x/34MWBg">beskrivelse av kritikalitet og tilgjengelighet</a>.</p>
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Business Service</th>
							{% comment %}
							<th>Criticality</th>
							{% endcomment %}
							<th>Tjenestenivå</th>
							<th>Kompleksitet</th>
							<th>Kritikalitet</th>
							<th>Disk allokert</th>
							<th>Disk brukt</th>
							<th>Minne</th>
							<th>Backup</th>
						</tr>
					</thead>
					<tbody>
					{% for cmdbref in systemdetaljer.bs_system_referanse.cmdb_bss_to_bs.all %}
					<tr>
						{% url 'cmdb_bss' pk=cmdbref.pk as url_cmdb %}
						<td><a href="{{ url_cmdb }}">{{ cmdbref.navn }}</a></td>
						{% comment %}
						<td>{{ cmdbref.get_kritikalitet_display|default:"-" }}</td>
						{% endcomment %}
						<td>{{ cmdbref.u_service_availability_text }}</td>
						<td>{{ cmdbref.u_service_complexity_text }}</td>
						<td>{{ cmdbref.u_service_operation_factor_text }}</td>
						<td>{{ cmdbref.san_allocated|filesizeformat }}</td>
						<td>{{ cmdbref.san_used|filesizeformat }}</td>
						<td>{{ cmdbref.ram_allocated|filesizeformat }}</td>
						<td>{{ cmdbref.backup_size|filesizeformat }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				{% endif %}

				<hr>

				{% if systemdetaljer.isolert_drift %}
				<div class="alert alert-warning" role="alert">
					Systemet er plassert på tilpasset (isolert) drift!
				</div>
				{% else %}
					Systemet er under ordinær drift.
				{% endif %}

				{% if systemdetaljer.driftsmodell_foreignkey %}
					<br>
					{% get_verbose_field_name systemdetaljer.driftsmodell_foreignkey "kommentar" %} (fra driftsmodell)
					{{ systemdetaljer.driftsmodell_foreignkey.kommentar|default:"-" }}
				{% endif %}

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-6">

				{% get_verbose_field_name systemdetaljer "database_in_use" %}:<br>
				{% for db in systemdetaljer.database_in_use.all %}
					<span class="badge badge-light">{{ db }}</span>
				{% endfor %}

			</div>
			<div class="col-6">


				{% get_verbose_field_name systemdetaljer "database_supported" %}:<br>
				{% for db in systemdetaljer.database_supported.all %}
					<span class="badge badge-light">{{ db }}</span>
				{% endfor %}


			</div>
		</div>


		<div class="row">
			<div class="col-12">

				<hr>
				<br>
				<h5>Office 365 integrasjoner</h5>
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Applikasjonsnavn (Enterprise application)</th>
							<th>Rettigheter</th>
							<th>Nøkler</th>
						</tr>
					</thead>
					<tbody>
						{% for ea in systemdetaljer.enterprise_applicatons.all %}
							<tr>
								<td>{{ ea.displayName }}</td>
								<td>
									{% for perm in ea.requiredResourceAccess.all %}
										{{ perm.adminConsentDisplayName }}<br>
									{%  endfor %}
								</td>
								<td>
									{% for key in ea.keys.all %}
										{{ key }} utløper {{ key.end_date_time }}<br>
									{%  endfor %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

			</div>
		</div>

		<hr>
		<br>
		<h5>Sikkerhet og personvern</h5>
		<div class="row">
			<div class="col-3">

				<b>{% get_verbose_field_name systemdetaljer "sikkerhetsnivaa" %}</b><br>
				<span class="badge badge-dark">{{ systemdetaljer.get_sikkerhetsnivaa_display|default:"-" }}</span>

				<hr>

				{% for klasse in systemdetaljer.informasjonsklassifisering.all %}
					<span class="badge badge-light">{{ klasse }}</span><br>
				{% endfor %}

			</div>
			<div class="col-3">

				<b>{% get_verbose_field_name systemdetaljer "integritetsvurdering" %}</b><br>
				<span class="badge badge-dark">{{ systemdetaljer.get_integritetsvurdering_display|default:"-" }}</span>


			</div>
			<div class="col-3">


				<b>{% get_verbose_field_name systemdetaljer "tilgjengelighetsvurdering" %}</b><br>
				<span class="badge badge-dark">{{ systemdetaljer.get_tilgjengelighetsvurdering_display|default:"-" }}</span>

				{% if systemdetaljer.tilgjengelighet_periodisk_kritisk == True %}
					<span class="badge badge-light">Periodisk kritisk</span>
				{% else %}
					<span class="badge badge-dark">Alltid kritisk</span>
				{% endif %}

				<hr>
				{% get_verbose_field_name systemdetaljer "kritisk_kapabilitet" %}<br>
				{% for kapabilitet in systemdetaljer.kritisk_kapabilitet.all %}
					<span class="badge badge-light">{{ kapabilitet }}</span>
				{% endfor %}


				{% if systemdetaljer.tilgjengelighet_timer_til_kritisk %}
					<hr>
					Nedetid før kritisk <span class="badge badge-light">{{ systemdetaljer.tilgjengelighet_timer_til_kritisk }} timer</span>
				{% endif %}

				<hr>

				{% get_verbose_field_name systemdetaljer "tilgjengelighet_kritiske_perioder" %}?
				<p style="background-color: #f8f9fa;">{{ systemdetaljer.tilgjengelighet_kritiske_perioder|default:"-" }}</p>

			</div>
			<div class="col-3">

				<b>Risikovurdering</b><br>
				{% if systemdetaljer.url_risikovurdering %}
					<a target="_blank" href="{{ systemdetaljer.url_risikovurdering}}">{{systemdetaljer.systemnavn}}'s risikovurdering</a>

				{% else %}
					Link til risikovurdering mangler!
				{% endif %}
				{% if systemdetaljer.dato_sist_ros %}
					<br>Dato: {{ systemdetaljer.dato_sist_ros|date:'Y-m-d'|default:'-' }}, {{ systemdetaljer.dato_sist_ros|naturaltime|default:'aldri' }}
				{% endif %}

				{% if systemdetaljer.risikovurdering_tekst %}
					<hr>
					<p style="background-color: #f8f9fa;">{{ systemdetaljer.risikovurdering_tekst|default:"-" }}</p>
				{% endif %}

				{% if systemdetaljer.driftsmodell_foreignkey.risikovurdering %}
					<hr>
					<a target="_blank" href="{{ systemdetaljer.driftsmodell_foreignkey.risikovurdering }}">Risikovurdering for {{systemdetaljer.driftsmodell_foreignkey}}</a>
				{% endif %}


			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-4">

				<b>Autentisering / pålogging</b><br>

				{% get_verbose_field_name systemdetaljer "autentiseringsteknologi" %}<br>
				{% for auth in systemdetaljer.autentiseringsteknologi.all %}
					<span class="badge badge-light">{{ auth.navn }}</span>
				{% endfor %}

				{% if systemdetaljer.autentiseringsalternativer %}
					<br><br>
					{% for autentiseringsalternativ in systemdetaljer.autentiseringsalternativer.all %}
						<p style="background-color: #f8f9fa;">{{ autentiseringsalternativ.navn }}</p>
					{% endfor %}
				{% endif %}

				<hr>

				<b>Sårbarhetsoversikt</b><br>
				<a href="https://okcsirt.oslo.kommune.no/qualys_search" target="_blank">Se sårbarhetsoversikten</a>


			</div>
			<div class="col-4">

				<b>Innsyn i personopplysninger</b><br>

				{% get_verbose_field_name systemdetaljer "innsyn_innbygger" %}
				<span class="badge badge-light">{{ systemdetaljer.innsyn_innbygger|yesno:"Ja,Nei" }}</span>


				<br>{% get_verbose_field_name systemdetaljer "innsyn_ansatt" %}
				<span class="badge badge-light">{{ systemdetaljer.innsyn_ansatt|yesno:"Ja,Nei" }}</span>

				<br>{% get_verbose_field_name systemdetaljer "kontaktperson_innsyn" %}<br>
				{% include "ansvarlig_include_vis.html" with ansvarlige=systemdetaljer.kontaktperson_innsyn.all %}

				<hr>

				{% get_verbose_field_name systemdetaljer "datautveksling_avleverer_til" %}
				{% for system in systemdetaljer.datautveksling_avleverer_til.all %}
					{% url "systemdetaljer" system.pk as url_system %}
					<li><a href="{{ url_system }}">{{ system }}</a></li>
				{% endfor %}

				{% for system in datautveksling_avleverer_til %}
					{% url "systemdetaljer" system.pk as url_system %}
					<li><a href="{{ url_system }}">{{ system }}</a></li>
				{% endfor %}

				<hr>

				{% get_verbose_field_name systemdetaljer "datautveksling_mottar_fra" %}
				{% for system in systemdetaljer.datautveksling_mottar_fra.all %}
					{% url "systemdetaljer" system.pk as url_system %}
					<li><a href="{{ url_system }}">{{ system }}</a></li>
				{% endfor %}

				{% for system in datautveksling_mottar_fra %}
					{% url "systemdetaljer" system.pk as url_system %}
					<li><a href="{{ url_system }}">{{ system }}</a></li>
				{% endfor %}



			</div>
			<div class="col-4">


				<b>Sikkerhetstesting</b><br>
				{% if user.is_authenticated %}
					<a href="/admin/systemoversikt/sikkerhetstester/add/?systemer={{ systemdetaljer.pk }}">Registrer sikkerhetstest</a>
				{% endif %}
				<br>
				{% for test in systemdetaljer.sikkerhetstest_systemer.all %}
					<a href="/admin/systemoversikt/sikkerhetstester/{{ test.pk }}/change/">
					{% include 'site_edit_button.html' %}</a>
					{{ test.dato_rapport|date:'Y-m-d' }} ({{ test.dato_rapport|naturaltime }}): {{ test.get_type_test_display }}<br>
				{% endfor %}

				<hr>
				URL-vurderinger<br>
				{% for url in systemdetaljer.systemurl.all %}
					<a href="/admin/systemoversikt/systemurl/{{url.pk}}/change/">{{ url.get_vurdering_sikkerhetstest_display|default:"Ingen vurdering satt" }}</a> for {{ url }}<br>
				{% endfor %}


			</div>

		</div>

		<hr>
		<br>
		<h5>Tilgangsstyring</h5>
		<div class="row">
			<div class="col-4">

				<b>Bekreftede tilgangsgrupper</b><br>
				{% for adgroup in systemdetaljer.tilgangsgrupper_ad.all %}
					{{ adgroup.prkvalg.valgnavn }}
					<a href="{% url 'adgruppe_detaljer' pk=adgroup.pk %}">{{ adgroup.display_name }}</a>
					({{ adgroup.membercount }} medlemmer)<br>
				{% endfor %}

			</div>
			<div class="col-4">

				<b>PRK-valg basert på automatisk søk</b><br>
				{% for prkvalg in systemdetaljer.prkvalg.all %}
					<br><a style="font-size: 85%;" href="{% url 'prk_skjema' skjema_id=prkvalg.skjemanavn.pk %}">📂 {{ prkvalg.valgnavn }}</a>
					({{ prkvalg.ad_group_ref.membercount }} medlemmer)
					<br><span style="font-size: 75%;">{{ prkvalg.ad_group_ref.short }}</span>
				{% endfor %}

			</div>
			<div class="col-4">

				<b>AD-grupper basert på automatisk søk</b><br>
				{% for adgroup in systemdetaljer.adgrupper.all %}
					<a style="font-size: 75%;" href="{% url 'adgruppe_detaljer' pk=adgroup.pk %}">📂 {{ adgroup.short }}</a>
					({{ adgroup.membercount }} medlemmer)<br>
				{% endfor %}

			</div>

		</div>

		<hr>
		<div class="row">
			<br><br>
			<div class="col-6">
			<b>Informasjon sist oppdatert</b><br>
			{{ systemdetaljer.sist_oppdatert|date:'Y-m-d' }} ({{ systemdetaljer.sist_oppdatert|naturaltime }})
			</div>


			<div class="col-6">

			<b>Endringslogg (siste {{ siste_endringer_antall }})</b><br>
			{% for endring in siste_endringer %}
				{{ endring.action_time|date:"Y-m-d" }} av {{ endring.user.get_full_name|default:endring.user }}<br>
			{% endfor %}

		</div>

	</div>

	{% comment %}
	<h5>Behandlinger i systemet</h5>
	{% if user.is_authenticated %}
	<p>
		<a class="btn btn-sm btn-link" href="/admin/systemoversikt/behandlingerpersonopplysninger/add/?systemer={{ systemdetaljer.pk }}">Registrer behandling</a>
		{% url 'behandling_kopier' systemdetaljer.pk as url_behandling_kopier %}

		{% if behandlinger|length > 0 %}
			<a class="btn btn-sm btn-link" href="{{ url_behandling_kopier }}">Kopier behandlinger</a>
		{% endif %}
	</p>
	{% endif %}

	{% if perms.systemoversikt.view_system %}
	<table class="table table-sm">
		<thead>
			<tr>
				<th class="filter-false">Endre</th>
				<th>Fellesbehandling?</th>
				<th>Beskrivelse av behandling</th>
				<th>Av virksomhet</th>
				<th>Opplysninger om</th>
				<th>Krever sikkerhetsnivå</th>
				<th>Krever DPIA</th>
				<th class="filter-false">Slett</th>
			</tr>
		</thead>
		<tbody>
			{% for b in behandlinger %}
			{% url "behandlingsdetaljer" b.pk as url_behandlingsdetaljer %}
			{% url "virksomhet" b.behandlingsansvarlig.pk as url_virksomhet %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ b.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
				<td>
					{% if b.fellesbehandling %}
					<img style="width: 12px; filter: invert(30%) sepia(150%) saturate(500%) hue-rotate(70deg);" src="{% static 'open-iconic/svg/check.svg' %}">
					{% else %}
					<img style="width: 11px; filter: invert(30%) sepia(150%) saturate(500%) hue-rotate(300deg);" src="{% static 'open-iconic/svg/x.svg' %}">
					{% endif %}
					{{ b.fellesbehandling|yesno:"Ja,Nei,Ukjent" }}
				</td>
				<td><a href="{{ url_behandlingsdetaljer }}">{{ b.behandlingen }}</a></td>
				<td><a href="{{ url_virksomhet }}">{{ b.behandlingsansvarlig.virksomhetsforkortelse }}</a></td>
				<td>
					{% for registrerte in b.den_registrerte.all %}
					{{ registrerte }}<br>
					{% endfor %}
				</td>
				<td>{{ b.get_krav_sikkerhetsnivaa_display|default:"-" }}</a></td>
				<td>{{ b.behandling_behovdpia.behovforDPIA|default:"Vet ikke" }}</td>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ b.pk }}/delete/"><img style="width: 8px; margin: 3px;" src="{% static 'open-iconic/svg/x.svg' %}" alt="slett"></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p>Du trenger tilgangen "view_system" (vise systemdetaljer) for å kunne se dette.</p>
	{% endif %}
	{% endcomment %}

	{% comment %}

	{% if perms.systemoversikt.view_system %}
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "kjente_mangler" %}
			{% get_help_text systemdetaljer "kjente_mangler" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.kjente_mangler|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "tjenestenivaa" %}
			{% get_help_text systemdetaljer "tjenestenivaa" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.get_tjenestenivaa_display|default:"-" }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "systemtekniske_sikkerhetstiltak" %}
			{% get_help_text systemdetaljer "systemtekniske_sikkerhetstiltak" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.systemtekniske_sikkerhetstiltak|default:"-" }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "loggingalternativer" %}
			{% get_help_text systemdetaljer "loggingalternativer" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{% for loggingalternativ in systemdetaljer.loggingalternativer.all %}
				{{ loggingalternativ.navn }}<br>
			{% endfor %}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "autorisasjon_differensiering_beskrivelse" %}
			{% get_help_text systemdetaljer "autorisasjon_differensiering_beskrivelse" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.autorisasjon_differensiering_beskrivelse|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "autorisasjon_differensiering_saksalder" %}
			{% get_help_text systemdetaljer "autorisasjon_differensiering_saksalder" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.autorisasjon_differensiering_saksalder|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "dataminimalisering" %}
			{% get_help_text systemdetaljer "dataminimalisering" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.dataminimalisering|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "sletting_av_personopplysninger" %}
			{% get_help_text systemdetaljer "sletting_av_personopplysninger" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.sletting_av_personopplysninger|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "funksjonalitet_kryptering" %}
			{% get_help_text systemdetaljer "funksjonalitet_kryptering" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.funksjonalitet_kryptering|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "anonymisering_pseudonymisering" %}
			{% get_help_text systemdetaljer "anonymisering_pseudonymisering" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.anonymisering_pseudonymisering|default:"-"|linebreaks }}</td>
		</tr>
		<tr>
			<td>{% get_verbose_field_name systemdetaljer "sikkerhetsmessig_overvaaking" %}
			{% get_help_text systemdetaljer "sikkerhetsmessig_overvaaking" as text %}
			{% explain_collapsed text %}
			</td>
			<td>{{ systemdetaljer.sikkerhetsmessig_overvaaking|default:"-"|linebreaks }}</td>
		</tr>
	{% else %}
		<tr>
			<td>Sikkerhetsmessige vurderinger</td>
			<td><p>***<br>Du mangler tilgangen "view_system".</p></td>
		</tr>
	{% endif %}

	{% endcomment%}


	{% comment %}
	<br><br>
	{% if perms.systemoversikt.view_behandlingerpersonopplysninger %}

		{% if hoy_risiko.count < 1 %}
			<p>Det er ikke behov for å utføre DPIA da ingen enkeltbehandling er registrert med høy risiko.</p>
		{% else %}

			{% if systemdetaljer.DPIA_for_system %}
				{% include 'system_dpia.html' %}
			{% else %}
				<p>Det er registrert behandlinger som krever DPIA</p>
				<a class="btn btn-sm btn-primary" href="/admin/systemoversikt/dpia/add/?for_system={{ systemdetaljer.pk }}">Opprett DPIA-dokument</a>
			{% endif %}

		{% endif %}

	{% else %}
		<p>Du trenger tilgangen "view_behandlingerpersonopplysninger" (lese behandlingsprotokoller) for å kunne se dette.</p>
	{% endif %}
	{% endcomment %}

	{% comment %}
	{% if not systemdetaljer.informasjon_kvalitetssikret %}
	<div id="div_message" class="alert alert-warning">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h6 class="alert-heading">Informasjonen er ikke kvalitetssikret</h6>
	</div>
	{% endif %}
	{% endcomment %}


{% endblock hovedinnhold %}


{% block script_append %}
<script type="text/javascript" nonce="{{request.csp_nonce}}">
	var cy = cytoscape({
		zoomingEnabled: true,
		panningEnabled: true,
		wheelSensitivity: 0.1,
		container: document.getElementById('cy'),
		elements: {
			nodes: [
				{% for node in avhengigheter_graf.nodes %} {{ node|safe }},
				{% endfor %}
			],
			edges: [
				{% for edge in avhengigheter_graf.edges %} {{ edge|safe }},
				{% endfor %}
			],
		},
		style: [
			{
				selector: 'node',
				style: {
					'shape': 'data(shape)',
					'background-color': 'data(color)',
					'label': 'data(name)',
					'font-size': '12px',
				},
			},
			{
				selector: 'node:selected',
				style: {
				},
			},
			{
				selector: 'edge',
				style: {
					'target-arrow-shape': 'triangle',
					'curve-style': 'bezier',
					'line-style': 'data(linestyle)',
				},
			},
			{
				selector: 'edge:selected',
				style: {
				},
			},
			{
				selector: ':parent',
				style: {
					'label': 'data(id)',
					'line-style': "solid",
					'background-color': '#ebf5fc',
				}
			},
		],
		layout: {
			name: 'fcose',
			animationDuration: 0, //ms
			idealEdgeLength: 250,
		},
	});
	cy.on('tap', 'node', function(){
		if (this.data('href')) {
			try { // your browser may block popups
				window.open( this.data('href'), "_self" );
			} catch(e){ // fall back on url change
				window.location.href = this.data('href');
			}
		}
	});

</script>
{% endblock script_append %}