{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Systemdetaljer for {{ systemdetaljer.systemnavn }}
{% endblock underoverskrift %}

{% block main_content %}

<div class="card">
	<div class="card-body">
		<h6>{{ systemdetaljer.systembeskrivelse }}</h6>
		<a target="_blank" href="/admin/systemoversikt/system/{{ systemdetaljer.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger">Rediger detaljer</a>
	</div>
</div>

<br>


<div class="row">
	<div class="col-sm-6">

		<table class="table table-sm table-striped">
			<tr>
				<td>Sist oppdatert</td>
				<td style="width:90%">{{ systemdetaljer.sist_oppdatert|date:'Y-m-d' }} ({{ systemdetaljer.sist_oppdatert|naturaltime }})</td>
			</tr>
			<tr>
				<td>Tjenestenivå</td>
				<td>{{ systemdetaljer.get_tjenestenivaa_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Sikkerhetsnivå</td>
				<td>{{ systemdetaljer.get_sikkerhetsnivaa_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Systemeier</td>
				{% url "virksomhet" systemdetaljer.systemeier.pk as url_systemeier %}
				<td><a href="{{ url_systemeier }}">{{ systemdetaljer.systemeier.virksomhetsforkortelse|default:"-" }}</a></td>
			</tr>
			<tr>
				<td>Systemeier kontaktpersoner</td>
				<td>{{ systemdetaljer.systemeier_kontaktpersoner|default:"-" }}</td>
			</tr>
			<tr>
				<td>Systemforvalter</td>
				{% url "virksomhet" systemdetaljer.systemforvalter.pk as url_systemforvalter %}
				<td><a href="{{ url_systemforvalter }}">{{ systemdetaljer.systemforvalter|default:"-" }}</a></td>
			</tr>
			<tr>
				<td>Systemforvalter kontaktpersoner</td>
				<td>{{ systemdetaljer.systemforvalter_kontaktpersoner|default:"-" }}</td>
			</tr>
			<tr>
				<td>Systemleverandør(er)</td>
				<td>
					<ul>
					{% for lev in systemdetaljer.systemleverandor.all %}
						{% url "leverandor" lev.pk as url_leverandor %}
						<li><a href="{{ url_leverandor }}">{{ lev }}</a></li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td>systemtyper</td>
				<td>
					<ul>
					{% for systemtype in systemdetaljer.systemtyper.all %}
						<li>{{ systemtype }}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td>Systemkategorier</td>
				<td><ul>{% for kategori in systemdetaljer.systemkategorier.all %}
					{% url "systemkategori" kategori.pk as url_systemkategori %}
					<li><a href="{{ url_systemkategori }}">{{ kategori }}</a></li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td>Programvarekategori</td>
				<td>{{ systemdetaljer.get_programvarekategori_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Systemets URL (dersom webtjeneste)</td>
				<td><ul>{% for url in systemdetaljer.systemurl.all %}
					{% url "systemurl" url.pk as url_systemkategori %}
					<li><a href="{{ url_systemkategori }}">{{ url.domene }}</a></li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td>Driftsmodell</td>
				<td>{{ systemdetaljer.get_driftsmodell_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Dokumentasjon (URL)</td>
				<td>
					{% if systemdetaljer.high_level_design_url %}
					<a href="{{ systemdetaljer.high_level_design_url }}">Link til dokumentasjon</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Merknad</td>
				<td>{{ systemdetaljer.merknad|default:"-" }}</td>
			</tr>
			<tr>
				<td>Systemeierskapsmodell</td>
				<td>{{ systemdetaljer.get_systemeierskapsmodell_display|default:"-" }}</td>
			</tr>
		</table>


	</div>
	<div class="col-sm-6">
		<table class="table table-sm table-striped">
			<tr>
				<td>Livsløpstatus</td>
				<td>{{ systemdetaljer.get_livslop_status_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Strategisk egnethet</td>
				<td>{{ systemdetaljer.get_strategisk_egnethet_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Funksjonell egnethet</td>
				<td>{{ systemdetaljer.get_funksjonell_egnethet_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Teknisk egnethet</td>
				<td>{{ systemdetaljer.get_teknisk_egnethet_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Konfidensialitet</td>
				<td>{{ systemdetaljer.get_konfidensialitetsvurdering_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Integritet</td>
				<td>{{ systemdetaljer.get_integritetsvurdering_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Tilgjengelighet</td>
				<td>{{ systemdetaljer.get_tilgjengelighetsvurdering_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Selvbetjening</td>
				<td>{{ systemdetaljer.get_selvbetjening_display|default:"-" }}</td>
			</tr>
			<tr>
				<td>Risikovurdering</td>
				<td>{{ systemdetaljer.risikovurdering_tekst|default:"-" }}</td>
			</tr>
			<tr>
				<td>Risikovurdering (URL)</td>
				<td>{% if systemdetaljer.url_risikovurdering %}
				<a href="{{ systemdetaljer.url_risikovurdering}}">Link til risikovurdering</a>
				{% endif %}</td>
			</tr>
			<tr>
				<td>Dato ROS</td>
				<td>{{ systemdetaljer.dato_sist_ros|date:'Y-m-d'|default:'-' }} ({{ systemdetaljer.dato_sist_ros|naturaltime|default:'aldri' }})</td>
			</tr>
			<tr>
				<td>systemtekniske_sikkerhetstiltak</td>
				<td>{{ systemdetaljer.systemtekniske_sikkerhetstiltak|default:"-" }}</td>
			</tr>
		</table>

	</div>
</div>


<h5>Virksomheters bruk av systemet | <a target="_blank" href="/admin/systemoversikt/systembruk/add/?system={{ systemdetaljer.pk }}">Legg til ny bruk</a></h5>
<table class="table table-sm table-striped tablesorter">
	<thead>
		<tr>
			<th></th>
			<th>Virksomhet</th>
			<th>I bruk?</th>
			<th>Brukere</th>
			<th>Konfidensialitet</th>
			<th>Integritet</th>
			<th>Tilgjengelighet</th>
			<th>Funksjonell</th>
			<th>Strategisk</th>
			<th>Teknisk</th>
		</tr>
	</thead>
	<tbody>
		{% for bruk in systembruk %}
		<tr>
			<td><a target="_blank" href="/admin/systemoversikt/systembruk/{{ bruk.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
			<td>{% url "bruksdetaljer" bruk.pk as url_bruk %}
			<a href="{{ url_bruk }}">{{ bruk.brukergruppe }}</a></td>
			<td>{{ bruk.antall_brukere|default:"-" }} av {{ bruk.brukergruppe.ansatte }}</td>
			<td>{{ bruk.get_konfidensialitetsvurdering_display|default:"-" }}</td>
			<td>{{ bruk.get_integritetsvurdering_display|default:"-" }}</td>
			<td>{{ bruk.get_tilgjengelighetsvurdering_display|default:"-" }}</td>
			<td>{{ bruk.get_funksjonell_egnethet_display|default:"-" }}</td>
			<td>{{ bruk.get_strategisk_egnethet_display|default:"-" }}</td>
			<td>{{ bruk.get_teknisk_egnethet_display|default:"-" }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<br>

<h5>Behandlinger i systemet | <a target="_blank" href="/admin/systemoversikt/behandlingerpersonopplysninger/add/?systemer={{ systemdetaljer.pk }}">Legg til behandling</a></h5>
<table class="table table-sm table-striped tablesorter">
	<thead>
		<tr>
			<th></th>
			<th>Av virksomhet</th>
			<th>Beskrivelse av behandling</th>
			<th>Opplysninger om</th>
			<th>Høy risiko</th>
		</tr>
	</thead>
	<tbody>
		{% for b in behandlinger %}
		{% url "behandlingsdetaljer" b.pk as url_behandlingsdetaljer %}
		{% url "virksomhet" b.behandlingsansvarlig.pk as url_virksomhet %}
		<tr>
			<td><a target="_blank" href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ b.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
			<td><a href="{{ url_virksomhet }}">{{ b.behandlingsansvarlig }}</a></td>
			<td><a href="{{ url_behandlingsdetaljer }}">{{ b.behandlingen }}</a></td>
			<td><ul>
				{% for r in b.den_registrerte.all %}
				<li>{{ r }}</li>
				{% endfor %}
			</ul></td>
			<td>{{ b.hoy_personvernrisiko|yesno:"Ja,Nei" }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock main_content %}