{% extends "virksomhet_index.html" %}
{% load static %}
{% load humanize %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Prioriteringer for systemgjenoppretting<br>
	{{virksomhet}} {% if eier %} for {{eier}} {% endif %}
{% endblock overskrift %}


{% block hovedinnhold %}

<p>Her vises systemer {{virksomhet}} har ansvar for applikasjonsdrift av. Prioriteten settes som produktet av tilgjengelighetsvurderingen til forvalter (1-5), tjenestenivået med driftsleverandør (T1-4), kritikalitetsklasse hos driftsleverandør (D1-5) og om systemet er samfunnskritisk (1) eller ikke (2).</p>


<h5>Forenklet liste top {{antall_top_x}}</h5>
<table class="excel table">
	<thead>
		<tr>
			<th class="filter-false">Prioritet</th>
			<th>Systemnavn</th>
			<th>Plassering</th>
			<th>Beskrivelse</th>
		</tr>
	</thead>
	<tbody>
	{% for system in systemer_drifter_top_x %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ system }}</td>
		<td>{{ system.driftsmodell_foreignkey.get_type_plattform_display }}</td>
		<td>{{ system.systembeskrivelse|truncatechars:200 }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<hr>

<h5>Detaljert oversikt</h5>
<table id="systemer" class="tablesorter excel">
	<thead>
		<tr>
			<th class="filter-false"></th>
			<th>Prioritet</th>
			<th>System</th>
			<th>Driftsplattform</th>
			<th>Tilgjengelighetsvurdering</th>
			<th>Tjenestenivå</th>
			<th>Kritikalitetsklasse</th>
			<th>Samfunnskritisk funksjon</th>
			<th>Kompleksitet</th>

		</tr>
	</thead>
	<tbody>
	{% for system in systemer %}
		<tr>
			<td>
				<a href="/admin/systemoversikt/system/{{ system.pk }}/change/">{% include 'site_edit_button.html' %}
			</td>

			<td>
				{{ system.systemprioritet }}
			</td>

			<td>
				{% include 'system_include_vis.html' with system=system %}
				{{ system.get_systemeierskapsmodell_display|default:"-" }}
			</td>

			{% url "detaljer_driftsmodell" system.driftsmodell_foreignkey.pk as url_driftsmodell %}
			<td><a href="{{ url_driftsmodell }}">{{ system.driftsmodell_foreignkey|default:"" }}</a></td>

			<td>
				{{ system.get_tilgjengelighetsvurdering_display|default:"-" }}<br>
				{{ system.tilgjengelighet_kritiske_perioder|linebreaks|default:"-"}}
			</td>

			<td>
			{% for bss in system.service_offerings.all %}
				{% if bss.operational_status == 1 %}
					{% if bss.er_produksjon %}
						{% if bss.environment == 1 %}
							<li>
							{{ bss.navn }}<br>
							{{ bss.u_service_availability_text }}
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</td>

			<td>
			{% for bss in system.service_offerings.all %}
				{% if bss.operational_status == 1 %}
					{% if bss.er_produksjon %}
						{% if bss.environment == 1 %}
							<li>
							{{ bss.navn }}<br>
							{{ bss.u_service_operation_factor_text }}
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</td>

			<td>
				{% for kapabilitet in system.kritisk_kapabilitet.all %}
					<li>{{ kapabilitet }}</li>
				{% endfor %}
			</td>

			<td>
			{% for bss in system.service_offerings.all %}
				{% if bss.operational_status == 1 %}
					{% if bss.environment == 1 %}
						{% if bss.er_produksjon %}
							<li>
							{{ bss.navn }}<br>
							{{ bss.u_service_complexity_text }}
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</td>

		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock hovedinnhold %}