{% load static %}
{% load humanize %}

<p>Koblinger mellom system og business service (2S CMDB) gjøres av plattformforvaltete. Se <a target="_new" href="https://confluence.oslo.kommune.no/pages/viewpage.action?pageId=102138847">definisjoner</a> av tjenestenivå, kritikalitet og kompleksitet på Confluence</p>

<table id="systemer" class="tablesorter excel">
	<thead>
		<tr>
			{% if perms.systemoversikt.change_system %}
				<th class="filter-false"></th>
			{% endif %}
			<th>Systemnavn</th>
			<th>Systemeier</th>
			<th>Infrastruktur?</th>
			<th>Driftsmodell / plattform</th>
			<th>Kobling CMDB: Tjenestenivå</th>
			<th>Kobling CMDB: Kritikalitet</th>
			<th>Kobling CMDB: Kompleksitet</th>
			<th>Tilgjengelighetsvurdering</th>

		</tr>
	</thead>
	<tbody>
	{% for item in systemer %}
		<tr>
		{% if perms.systemoversikt.change_system %}
			<td><a href="/admin/systemoversikt/system/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</td>
		{% endif %}

			<td>
				{% include 'system_include_vis.html' with system=item %}<br>
				{{ item.get_systemeierskapsmodell_display|default:"-" }}<br>
				{% for kategori in item.systemkategorier.all %}
					{% url 'systemkategori' kategori.pk as url_systemkategorier %}
					<a href="{{ url_systemkategorier }}">{{ kategori }}</a><br>
				{% endfor %}
			</td>

			<td>
				{% url 'drift_beredskap_for_eier' 163 item.systemeier.pk as url_beredskap_for_eier %}
				{{ item.systemeier.virksomhetsforkortelse|default:"-" }}<br>
				<a href="{{ url_beredskap_for_eier }}">Vis alt UKE drifter</a>
			</td>

			<td>
				{% include 'site_janeivetikke.html' with boolean=item.er_infrastruktur %}
			</td>

			{% url "detaljer_driftsmodell" item.driftsmodell_foreignkey.pk as url_driftsmodell %}
			<td><a href="{{ url_driftsmodell }}">{{ item.driftsmodell_foreignkey|default:"" }}</a></td>

			<td>
			{% for bss in item.bs_system_referanse.cmdb_bss_to_bs.all %}
				{% if bss.operational_status == 1 %}
					{% if bss.er_produksjon %}
						{% if bss.environment == 1 %}
							<li>
							{{ bss.navn }}<br>
							{{ bss.u_service_availability_text }}
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</td>

			<td>
			{% for bss in item.bs_system_referanse.cmdb_bss_to_bs.all %}
				{% if bss.operational_status == 1 %}
					{% if bss.er_produksjon %}
						{% if bss.environment == 1 %}
							<li>
							{{ bss.navn }}<br>
							{{ bss.u_service_operation_factor_text }}
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</td>

			<td>
			{% for bss in item.bs_system_referanse.cmdb_bss_to_bs.all %}
				{% if bss.operational_status == 1 %}
					{% if bss.environment == 1 %}
						{% if bss.er_produksjon %}
							<li>
							{{ bss.navn }}<br>
							{{ bss.u_service_complexity_text }}
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</td>

			<td>
				{{ item.get_tilgjengelighetsvurdering_display|default:"-" }}<br>
				{{ item.tilgjengelighet_kritiske_perioder|linebreaks|default:"-"}}
			</td>



		</tr>
	{% endfor %}
	</tbody>
</table>
