{% load static %}

<table class="tablesorter excel">
	<thead>
		<tr>
			<th>Systemnavn</th>
			<th>Systemforvalter</th>
			<th>Systemet er i bruk?</th>
			<th>Programvareleverandør</th>
			<th>Applikasjonsdriftleverandør (systemdrift)</th>
			<th>Livsløpstatus</th>
			<th>Sist oppdatering</th>
		</tr>
	</thead>
		<tbody>
		{% for system in systemer %}
		<tr>
			<td><h6>{% include 'system_include_vis.html' with system=system %}</h6></td>
			<td>{{system.systemforvalter|default:""}}</td>
			<td>{{system.er_ibruk|yesno:'Ja, Nei'}}</td>
			<td>{% if system.systemleverandor_vedlikeholdsavtale %}
					<span style="color: #268f26;">Har avtale</span>
				{% else %}
					<span style="color: #c10000;">Mangler avtale</span>
				{% endif %}
				<br>
				{% for lev in system.systemleverandor.all %}
					<li>{{ lev.leverandor_navn }}</li>
					{% empty%} Ingen leverandør oppgitt
				{% endfor %}
			</td>
			<td>
				{% for lev in system.applikasjonsdriftleverandor.all %}
					<li>{{ lev.leverandor_navn }}</li>
					{% empty%} <span style="color: #c10000;">Mangler applikasjonsdriftleverandør</span>
				{% endfor %}
			</td>
			<td>{{system.get_livslop_status_display|default:"" }}</td>
			<td>{{system.sist_oppdatert|date:"Y-m-d"}}<br>{{system.sist_oppdatert|timesince}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>