{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Systemer {{virksomhet.virksomhetsforkortelse}} drifter
{% endblock overskrift %}


{% block hovedinnhold %}

	<p>For å endre på hva som dukker opp i denne listen må du velge det systemet som er feil (eller mangler) og endre på "Driftsmodell / plattform". <br>{{virksomhet.virksomhetsforkortelse}} er ansvarlige for drift på følgende plattformer:</p>

	{% for modell in driftsmodeller %}
		<li><a href="{% url 'detaljer_driftsmodell' pk=modell.pk %}">{{modell}}</a></li>
	{% endfor %}
	<hr>

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/system/add/?systemeier={{ virksomhet.pk }}">{% include 'site_edit_button.html' %} Registrer et nytt system</a>

	<p>Viser {{ systemer.count }} systemer.</p>

	{% include "system_include_drifter.html" with systemer=systemer %}

	{% if potensielle_systemer %}
	<hr>
	<p>Mente du? (basert på systembeskrivelser)</p>
	<ul style="column-count:5;">
	{% for system in potensielle_systemer %}
		<li><a href="{% url 'systemdetaljer' pk=system.pk %}">{{system.systemnavn}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

{% endblock hovedinnhold %}