{% load humanize %}
{% load static %}

<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th>Rediger</th>
		<th>System</th>
		<th>Bruk</th>
		<th>Kvalitetssikret</th>
		<th>Sist oppdatert</th>
		<th>Sist oppdatert av</th>
		<th>Grensesnitt</th>
		<th>Eier org</th>
		<th>Eier navn</th>
		<th>Forvalter org</th>
		<th>Forvalter navn</th>
		<th>Kategori</th>
		<th>Eierskapsmodell</th>
		<th>Driftsmodell</th>
		<th>Systemleverandør</th>
		<th>Risikovurdering dato</th>
		<th>Risikovurdering link</th>
		<th>Behandlinger</th>
		<th>Databehandleravtale system | appdrift</th>
		<th>Databehandleravtale drift</th>
		<th>URL</th>
		<th>Avhengigheter</th>
		<th>Sikkerhetsnivå</th>
		<th>Livsløpstatus</th>
	</tr>
	</thead>
	<tbody>
		{% for system in systemer %}
		<tr>
			<td>
				<a target="_blank" href="/admin/systemoversikt/system/{{ system.pk }}/change/">
				<img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
			</td>
			<td>
				{% url "systemdetaljer" system.pk as url_systemdetaljer %}
				<a href="{{ url_systemdetaljer }}">{{ system }}</a>
			</td>
			<td>
				{{ system.antall_bruk }}
			</td>
			<td>
				{% include 'system_janeivetikke.html' with boolean=system.informasjon_kvalitetssikret %}
			</td>
			<td>
				{{ system.sist_oppdatert|naturaltime }}
			</td>
			<td>
				{{ system.sist_endret_av.user.get_full_name }}
			</td>
			<td>
				{% for type in system.systemtyper.all %}
					{{ type }}<br>
				{% endfor %}
			</td>
			<td>
				{% if system.systemeier %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.systemeier_kontaktpersoner_referanse.all %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.systemforvalter %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.systemforvalter_kontaktpersoner_referanse.all %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.systemkategorier.all %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.systemeierskapsmodell %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.driftsmodell_foreignkey %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.systemleverandor %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.dato_sist_ros or system.risikovurdering_behovsvurdering == 0 %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.url_risikovurdering or system.risikovurdering_tekst or system.risikovurdering_behovsvurdering == 0 %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{{ system.antall_behandlinger }}
			</td>
			<td>
				{% if system.antall_behandlinger > 0 and system.applikasjonsdrift_behov_databehandleravtale %}
					{% if system.databehandleravtaler_system %}
					<span style="color: green; font-size: 18px;">✓</span> Ja
					{% else %}
					<span style="color: red; font-size: 18px;">⨉</span> Nei
					{% endif %}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if system.databehandleravtaler_drift %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.forventet_url %}
					{% if system.systemurl.all %}
					<span style="color: green; font-size: 18px;">✓</span> Ja
					{% else %}
					<span style="color: red; font-size: 18px;">⨉</span> Nei
					{% endif %}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{{ system.antall_avhengigheter }}
			</td>
			<td>
				{% if system.sikkerhetsnivaa %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
			<td>
				{% if system.livslop_status %}
				<span style="color: green; font-size: 18px;">✓</span> Ja
				{% else %}
				<span style="color: red; font-size: 18px;">⨉</span> Nei
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>