{% load static %}

{% url "systemdetaljer" system.pk as url_systemdetaljer %}
<div style="margin: 10px;">
	<a href="{{ url_systemdetaljer }}">
		{% if system.er_infrastruktur %}
		<img src="{% static 'infra.png' %}">
		{% elif system.er_integrasjon %}
		<img src="{% static 'integrasjon.png' %}">
		{% elif system.driftsmodell_foreignkey.type_plattform == 2 %} {% comment %} public cloud {% endcomment %}
		<img src="{% static 'sky.png' %}">
		{% else %}
		<img src="{% static 'system.png' %}">
		{% endif %}

		<br><p>
			{{ system }}<br>
			{{ system.driftsmodell_foreignkey|default:"" }}<br>
			{% if system.livslop_status == 6 %}<span style="color:red;">Avvikles</span>{% endif %}
			{% if system.livslop_status == 7 %}<span style="color:red;">Avviklet</span>{% endif %}
		</p></a>
</div>