{% load static %}
{% load humanize %}


<table id="systemer" class="tablesorter">
	<thead>
		<tr>
			{% if perms.systemoversikt.change_system %}
				<th class="filter-false"></th>
			{% endif %}
			<th>Systemnavn</th>
			<th>Kategorisering</th>
			<th>Driftsmodell / plattform</th>
			<th>2S CMDB (<a target="_new" href="https://confluence.oslo.kommune.no/pages/viewpage.action?pageId=102138847">definisjoner</a>)</th>
			<th>Tilgjengelighetsvurdering</th>

		</tr>
	</thead>
	<tbody>
	{% for item in systemer %}
		<tr>
		{% if perms.systemoversikt.change_system %}
			<td><a href="/admin/systemoversikt/system/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</td>
		{% endif %}

			<td>
				{% include 'system_include_vis.html' with system=item %}<br>
				{{ item.get_systemeierskapsmodell_display|default:"-" }}
			</td>

			<td>
				{% for kategori in item.systemkategorier.all %}
					{% url 'systemkategori' kategori.pk as url_systemkategorier %}
					<a href="{{ url_systemkategorier }}">{{ kategori }}</a><br>
				{% endfor %}
			</td>

			{% url "detaljer_driftsmodell" item.driftsmodell_foreignkey.pk as url_driftsmodell %}
			<td><a href="{{ url_driftsmodell }}">{{ item.driftsmodell_foreignkey|default:"" }}</a></td>

			<td>
				{% for ref in item.cmdbref.all %}
					{% if ref.operational_status == 1 %}
						{% if ref.environment == 1 %}
							{{ ref.navn }}<br>
							<li>Tjenestenivå: {{ ref.u_service_availability_text }}</li>
							<li>Kritikalitet: {{ ref.u_service_operation_factor_text }}</li>
							<li>Kompleksitet: {{ ref.u_service_complexity_text }}</li>
						<br>
						{% endif %}
					{% endif %}
				{% endfor %}
			</td>

			<td>
				{{ item.get_tilgjengelighetsvurdering_display|default:"-" }}<br>
				{{ item.tilgjengelighet_kritiske_perioder|linebreaks|default:"-"}}
			</td>



		</tr>
	{% endfor %}
	</tbody>
</table>
