{% extends "system_index.html" %}

{% block overskrift %}
	{{overskrift}}
{% endblock overskrift %}

{% block ekstrameny_system %}
{% endblock ekstrameny_system %}

{% block hovedinnhold %}

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/system/add/?systemeier={{ virksomhet.pk }}">{% include 'site_edit_button.html' %} Registrer nytt system</a>

	{% if request.user.profile.virksomhet %}
		{% url 'all_bruk_for_virksomhet' pk=request.user.profile.virksomhet.pk as url_systembruk %}
		<a href="{{ url_systembruk }}" class="btn btn-sm btn-link {% if url_systembruk in request.path %}fremhev{% endif %}">👥 Vår bruk av systemer</a>
	{% endif %}

	{% url 'systemer_vurderinger' as url_systemer_vurderinger %}
	<a href="{{ url_systemer_vurderinger }}" class="btn btn-sm btn-link {% if url_systemer_vurderinger in request.path %}fremhev{% endif %}">⚖ Systemvurderinger</a>

	{% url 'alle_systemer_forvaltere' as url_systemforvaltere %}
	<a href="{{ url_systemforvaltere }}" class="btn btn-sm btn-link {% if url_systemforvaltere in request.path %}fremhev{% endif %}">👑 Systemeierskap</a>

	{% url 'systemer_utfaset' as url_systemer_utfaset %}
	<a href="{{url_systemer_utfaset}}" class="btn btn-sm btn-link {% if url_systemer_utfaset in request.path %}fremhev{% endif %}">❌ Utfasede systemer</a>

	<hr>
	<p style="color: grey;">Systemklassifisering:

	{% for klasse in kommuneklassifisering %}
		{% url 'systemklassifisering_detaljer' id=klasse.0 as url_systemklassifisering_detaljer %}
		<a href="{{url_systemklassifisering_detaljer}}" class="btn btn-sm btn-link {% if url_systemklassifisering_detaljer in request.path %}fremhev{% endif %}">{{klasse.1}}</a>
	{% endfor %}

		{% url 'systemklassifisering_detaljer' id='__NONE__' as url_systemklassifisering_detaljer %}
		<a href="{{url_systemklassifisering_detaljer}}" class="btn btn-sm btn-link {% if url_systemklassifisering_detaljer in request.path %}fremhev{% endif %}">❌ Mangler</a>
	</p>

	<hr>

	<p style="color: grey;">Grensesnitt {% if perms.systemoversikt.change_systemtype %}(<a href="/admin/systemoversikt/systemtype/">rediger</a>){% endif %}:

	{% for type in systemtyper %}
		{% url 'systemtype_detaljer' pk=type.pk as url_systemtype_detaljer %}
		<a href="{{url_systemtype_detaljer}}" class="btn btn-sm btn-link {% if url_systemtype_detaljer in request.path %}fremhev{% endif %}">{{type}}</a>
	{% endfor %}

		{% url 'systemtype_detaljer_mangler' as url_systemtype_detaljer_mangler %}
		<a href="{{url_systemtype_detaljer_mangler}}" class="btn btn-sm btn-link {% if url_systemtype_detaljer_mangler in request.path %}fremhev{% endif %}">❌ Mangler</a>
	</p>

	<hr>

	<p>{{ systemer.count }} treff på systemer. <span style="text-decoration: line-through;">Gjennomstreking</span> betyr at systemet er markert som "ikke i bruk". 🔧 indikerer at systemet er infrastruktur.</p>

	{% include "system_include_hurtigvisning.html" %}

	{% if potensielle_systemer %}
	<p>Basert på beskrivelser av systemer, kan du ha ment:
	<ul style="column-count:5;">
	{% for system in potensielle_systemer %}
		<li>{% include 'system_include_vis.html' with system=system %}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>

	{% if aktuelle_programvarer %}
	<p>Treff på programvare</p>
	<ul style="column-count:5;">
	{% for p in aktuelle_programvarer %}
		<li><a href="{% url 'programvaredetaljer' pk=p.pk %}">{{p.programvarenavn}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

{% endblock hovedinnhold %}