{% extends "index.html" %}
{% load templatetags %}

{% block underoverskrift %}
	Registrer bruk for {{ system.systemnavn }}
{% endblock underoverskrift %}

{% block main_content %}
<p>For hver av virksomhetene du velger her, vil det opprettes en "tom" systembruk (vurderinger må legges til i etterkant). Merk at det her kun vises virksomheter som mangler en registrert bruk av dette systemet. Det kan hende det allerede er registrert bruk, men at bruken er satt til "ikke i bruk". Da må du inn på virksomheten, velge den deaktiverte bruken og sette den aktiv igjen.</p>

<h5><a href="{% url 'systemdetaljer' system.pk %}#bruk">Tilbake til systemet</a></h5>

<hr>

{% if virksomheter_uten_bruk|length > 0 %}


	<form action="" method="post">{% csrf_token %}
		<input type="button" class="btn btn-sm" value="Inverter valg" id="trigger">
		<input type="submit" class="btn btn-sm" value="Registrer denne systembruken">
		<hr>
		{% for item in virksomheter_uten_bruk %}
			<input id="{{ item.virksomhetsforkortelse }}" type="checkbox" name="virksomheter" value="{{ item.pk }}">
			<label for="{{ item.virksomhetsforkortelse }}">{{ item.virksomhetsnavn }} ({{ item.virksomhetsforkortelse }})</label>
			<br>
		{% endfor %}

	</form>

	<script type="text/javascript" nonce="{{request.csp_nonce}}">
		function changeCheckboxes(list, value){
			for(var i = list.length - 1 ; i >=0 ; i--){
				list[i].checked = (typeof value === 'boolean') ? value : !list[i].checked ;
			}
		}
		var trigger = document.getElementById("trigger");
		trigger.onclick = function() {
			var inputs = document.getElementsByTagName('input');
			var allCheckboxes = [];
				for (var j = inputs.length-1; j >= 0; j--){
					if (inputs[j].type === 'checkbox'){
						allCheckboxes.push(inputs[j]);
					}
			}
			changeCheckboxes(allCheckboxes)
		}
	</script>

{% else %}
	<p>Alle virksomheter har registrert bruk ("i bruk" kan være satt til "nei", men vil i denne sammenheng vises som "har registrert bruk" fordi systembruk-objektet finnes)</p>
{% endif %}

{% endblock %}