{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Brukere i Active Directory (on-prem)
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Alle brukere synkroniseres hver natt mot AD.</p>

	{% url 'logger_users' as url_logger_users %}
	<a href="{{ url_logger_users }}" class="btn btn-sm btn-link {% if url_logger_users in request.path %}fremhev{% endif %}">Logg over brukerendringer</a>

	<hr>

	<form action="{% url 'bruker_sok' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="55" style="width: 450px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Søk i brukernavn eller navn (minimum 2 tegn)" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	{% for user in users %}
	{% url 'virksomhet' pk=user.profile.virksomhet.pk as url_virk %}
	{% url 'enhet_detaljer' pk=user.profile.org_unit.pk as url_enhet %}
	{% url 'bruker_detaljer' pk=user.profile.org_unit.leder.pk as url_leder %}
	{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}
	{% url 'bruker_detaljer' pk=user.pk as url_bruker_detaljer %}

	<h6><a href="{{url_bruker_detaljer}}">{{user}}</a></h6>
	<em>{{ user.profile.description|default:"Ingen beskrivelse" }}</em><br>
	Jobber i <a href="{{url_virk}}">{{user.profile.virksomhet|default:"Ukjent"}}</a> under <a href="{{url_enhet}}">{{ user.profile.org_unit|default:"Ukjent" }}</a> ({{ user.profile.usertype|default:"Ukjent brukertype" }})<br>
	Nærmeste leder er <a href="{{url_leder}}">{{ user.profile.org_unit.leder.profile.displayName|default:"Ukjent" }}</a><br>
	{% if user.hrorg_leder.count > 0 %}
		Nærmeste leder for:
		{% for org in user.hrorg_leder.all %}
			{% for org_user in org.profile_org_unit.all %}
				<li><a href="{% url 'bruker_detaljer' pk=org_user.user.pk %}">{{org_user.user}}</a> ({{ org }})</li>
			{% endfor %}
		{% endfor %}
	{% endif %}
	{% if user.landesk_login.count > 0 %}
		<br>Klientenheter:
		{% for enhet in user.landesk_login.all %}
			<li><a href="/admin/systemoversikt/cmdbdevice/?q={{enhet.comp_name}}">{{enhet}}</li>
		{% endfor %}
	{% endif %}
	{% if user.ansvarlig_brukernavn %}
		<br><a href="{% url 'ansvarlig' pk=user.ansvarlig_brukernavn.pk %}">Ansvarsområder i Kartoteket</a>
	{% endif %}
	<br><a href="{{ url_ad_exact }}">Direktesøk mot AD</a>

	<hr>
	{% endfor %}

{% endblock hovedinnhold %}