{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Systemer {{ virksomhet.virksomhetsforkortelse }} bruker
{% endblock overskrift %}


{% block hovedinnhold %}
	<p>Merk at det som vises under systemeierskapsmodell her faktisk er det som er satt på bruken, og ikke systemet. Det er derfor ikke nødvendigivs samsvar. Linken under bruksdetaljer er linken til selve bruken av systemet. Klikk på link under system for å komme til systemets detaljeside.<br>
	Det vises {{ all_bruk.count }} systemer i bruk.</p>

	{% if user.is_authenticated %}
		<a class="btn btn-sm btn-link" href="/admin/systemoversikt/systembruk/add/?brukergruppe={{ virksomhet.pk }}">Registrer bruk av system</a>
	{% endif %}

	{% include "systembruk_include.html" %}

{% endblock hovedinnhold %}