{% load humanize %}
{% load static %}
{% load templatetags %}

<h5>Vurdering av personvernkonsekvenser (DPIA)</h5>
<a class="btn btn-sm btn-primary" href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger DPIA-malen</a>

<hr>
{% if not systemdetaljer.DPIA_for_system.informasjon_kvalitetssikret %}
	<div id="div_message" class="alert alert-warning">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h6 class="alert-heading">Denne DPIA-vurderingen er ikke ferdig</h6>
</div>
{% endif %}

<a id="dpia1" class="anchor"></a>
<h6>Trinn 1: Identifisere behovet for en DPIA</h6>

<p>Her vises alle registrerte behandlinger som har "ja" på "krever DPIA".<br>
<table class="tablesorter">
	<thead>
		<tr>
			<th width="20%">Behandling</th>
			<th width="20%">Bakgrunn for behandling / Oppnå</th>
			<th width="15%">Effekt for den registrert</th>
			<th width="15%">Effekt for sammfunnet</th>
			<th width="10%">Vil de registrerte forvente denne bruken?</th>
			<th width="15%">Er det mulig å unngå høy risiko for de registrerte?</th>
		</tr>
	</thead>
	<tbody>
{% for behandling in hoy_risiko %}
	<tr>
		<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
		<td>{{ behandling.formaal }}</td>
		<td>{{ behandling.dpia_effekt_enkelte|default:"-"|linebreaks }}</td>
		<td>{{ behandling.dpia_effekt_samfunnet|default:"-"|linebreaks }}</td>
		<td>{{ behandling.forventet_bruk|default:"-" }}</td>
		<td>{{ behandling.dpia_unnga_hoy_risiko|yesno:"Ja,Nei,Ukjent" }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>


<hr>
<h6>Trinn 2: Beskriv prosessene</h6>

<p>Hvordan skal data samles inn, brukes, lagres og slettes? Informasjonen redigeres på den enkelte behandling.<br>
<table class="tablesorter">
	<thead>
		<tr>
			<th width="25%">Behandling</th>
			<th>Opplysningskilde</th>
			<th>Begrensning av tilganger</th>
			<th>Finnes det oppbevaringsplikt for behandlingen?</th>
			<th>Krav til sletting</th>
			<th>Hva er gjeldende prosedyre for sletting?</th>
		</tr>
	</thead>
	<tbody>
	{% for behandling in hoy_risiko %}
		<tr>
			<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
			<td>{{ behandling.opplysningskilde|default:"-" }}</td>
			<td>{{ behandling.begrensning_tilgang|default:"-" }}</td>
			<td>{{ behandling.oppbevaringsplikt|default:"-" }}</td>
			<td>{{ behandling.krav_slettefrister|default:"-" }}</td>
			<td>{{ behandling.planlagte_slettefrister|default:"-" }}</td>

		</tr>
	{% endfor %}
	</tbody>
</table>

<p>Hvilke IKT systemer er kilder til og mottakere av data? Og hvem er ansvarlig for mottakende systemer?<br>
<span class="redigeringsinfo">Informasjonen hentes automatisk inn fra gjendende system og andre systemer som nevner dette systemet.</span>
	<div class="svarboks">
		Avleverer til:
		<ul>
			{% for system in systemdetaljer.datautveksling_avleverer_til.all %}
				{% url "systemdetaljer" system.pk as url_system %}
				<li><a href="{{ url_system }}">{{ system }}</a> ved {{ systemdetaljer.systemeier }}
					(<b>{% if system.DPIA_for_system %}DPIA er opprettet{% else %}DPIA mangler{% endif %}</b>)
				</li>
			{% endfor %}
			{% for system in datautveksling_avleverer_til %}
				{% url "systemdetaljer" system.pk as url_system %}
				<li><a href="{{ url_system }}">{{ system }}</a> ved {{ systemdetaljer.systemeier }} (registrert eksternt)
					(<b>{% if system.DPIA_for_system %}DPIA er opprettet{% else %}DPIA mangler{% endif %}</b>)
				</li>
			{% endfor %}
		</ul>
		Mottar data fra følgende systemer:
		<ul>
			{% for system in systemdetaljer.datautveksling_mottar_fra.all %}
				{% url "systemdetaljer" system.pk as url_system %}
				<li><a href="{{ url_system }}">{{ system }}</a> ved {{ systemdetaljer.systemeier }}
					(<b>{% if system.DPIA_for_system %}DPIA er opprettet{% else %}DPIA mangler{% endif %}</b>)
				</li>
			{% endfor %}
			{% for system in datautveksling_mottar_fra %}
				{% url "systemdetaljer" system.pk as url_system %}
				<li><a href="{{ url_system }}">{{ system }}</a> ved {{ systemdetaljer.systemeier }} (registrert eksternt)
					(<b>{% if system.DPIA_for_system %}DPIA er opprettet{% else %}DPIA mangler{% endif %}</b>)
				</li>
			{% endfor %}
		</ul>
	</div></p>


<p>Kan informasjonen på noen måte knyttes til identifiserbare personer (enten direkte eller via personnummer eller andre identifikatorer)?</p>
<a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.knyttning_identifiserbare_personer }}</div>


<p>Hvilke databehandlere og databehandleravtaler er etablert? Hvilke kategorier personopplysninger inngår i behandlingsprosessen?</p>
<table class="tablesorter">
	<thead>
		<tr>
			<th width="25%">Behandling</th>
			<th width="12%">Databehandler</th>
			<th width="12%">Hvilke kategorier personopplysninger behandles?</th>
			<th>Sarbare grupper?</th>
			<th>Utdyping av personopplysninger som behandles</th>
			<th>Databehandleravtale med alle?</th>
			<th>Er det inngått databehandleravtale med tredjepart(er)?</th>
		</tr>
	</thead>
	<tbody>
{% for behandling in hoy_risiko %}
	<tr>
		<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
		<td>
			{% for leverandor in behandling.navn_databehandler.all %}
				<li>{{ leverandor }}</li>
			{% endfor %}
		</td>
		<td>
		{% for opplysningskategori in behandling.kategorier_personopplysninger.all %}
			<li>{{ opplysningskategori }}</li>
		{% endfor %}
		</td>
		<th>{{ behandling.den_registrerte_sarbare_grupper|yesno:"Ja,Nei,Ukjent" }}</th>
		<td>{{ behandling.personopplysninger_utdyping|default:"-" }}</td>
		<td>{{ behandling.databehandleravtale_status_boolean|yesno:"Ja,Nei,Ukjent" }}</td>
		<td>{{ behandling.databehandleravtale_status|default:"-" }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>


<p>Eksport av data utenfor EØS-området?</p>
<table class="tablesorter">
	<thead>
		<tr>
			<th width="25%">Behandling</th>
			<th>Skjer det en overføring av opplysninger til land utenfor EU/EØS?</th>
			<th>Garantier for overforing?</th>
		</tr>
	</thead>
	<tbody>
{% for behandling in hoy_risiko %}
	<tr>
		<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
		<td>{{ behandling.utlevering_utenfor_EU|yesno:"Ja,Nei,Ukjent" }}</td>
		<td>{{ behandling.garantier_overforing|default:"-" }}</td>
	</tr>
{% endfor %}
	</tbody>
</table></p>

<p>Innsamlingsprosessen.</p>
<table class="tablesorter">
	<thead>
		<tr>
			<th width="25%">Behandling</th>
			<th>Antall registrerte</th>
			<th>frekvens_automatisert_innsamling</th>
			<th>Frekvens for innsamling manuelt</th>
			<th>Detaljer om den registrerte (geografisk)</th>
			<th>Hvilken relasjon har virksomheten til de registrerte?</th>
			<th>Hvor mye kontroll vil de registrerte ha på den behandlingen som foretas?</th>
		</tr>
	</thead>
	<tbody>
{% for behandling in hoy_risiko %}
	<tr>
		<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
		<td>{{ behandling.get_antall_registrerte_display }}</td>
		<td>{{ behandling.frekvens_automatisert_innsamling|default:"-" }}</td>
		<td>{{ behandling.frekvens_innsamling_manuelt|default:"-" }}</td>
		<td>{{ behandling.den_registrerte_detaljer|default:"-" }}</td>
		<td>
			{% for relasjon in behandling.relasjon_registrerte.all %}
				{{ relasjon }}<br>
			{% endfor %}
		</td>
		<td>{{ behandling.get_valgfriget_registrerte_display|default:"-" }}</td>

	</tr>
{% endfor %}
	</tbody>
</table></p>


<p>Endringer i prosess og tidligere erfaringer.<br>
<span class="redigeringsinfo">Informasjonen redigeres på den enkelte behandling.</span>
<table class="tablesorter">
	<thead>
		<tr>
			<th width="25%">Behandling</th>
			<th>Ny eller endret prosess?</th>
			<th>Tidligere bekymringer eller risikoer?</th>
			<th>Tidligere avdekket sikkerhetsbrudd?</th>
		</tr>
	</thead>
	<tbody>
{% for behandling in hoy_risiko %}
	<tr>
		<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
		<td>{{ behandling.ny_endret_prosess|default:"-" }}</td>
		<td>{{ behandling.dpia_tidligere_bekymringer_risikoer|default:"-" }}</td>
		<td>{{ behandling.dpia_tidligere_avdekket_sikkerhetsbrudd|default:"-" }}</td>
	</tr>
{% endfor %}
	</tbody>
</table></p>



<a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.
<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "innhentet_dpia" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.innhentet_dpia|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "teknologi" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.teknologi|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "ny_endret_teknologi" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.ny_endret_teknologi|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "kjente_problemer_teknologien" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.kjente_problemer_teknologien|default:"-" }}</div></p>

<p>Er leverandørene registrert på en godkjent opptaks- eller sertifiseringsordning?
<table class="tablesorter">
	<thead>
		<tr>
			<th width="15%">Type</th>
			<th width="25%">Leverandør</th>
			<th width="75%">Opptaks- eller sertifiseringsordning?</th>
		</tr>
	</thead>
	<tbody>
	{% for leverandor in systemdetaljer.systemleverandor.all %}
		<tr>
			<td>Systemleverandør</td>
			<td>
				<a href="/admin/systemoversikt/leverandor/{{ leverandor.pk }}/change/">{% include 'site_edit_button.html' %}{{ leverandor }}</a>
			</td>
			<td>{{ leverandor.godkjent_opptaks_sertifiseringsordning|default:"-" }}</td>
		</tr>
	{% endfor %}
	{% for leverandor in systemdetaljer.basisdriftleverandor.all %}
		<tr>
			<td>Basisdriftleverandør</td>
			<td>
				<a href="/admin/systemoversikt/leverandor/{{ leverandor.pk }}/change/">{% include 'site_edit_button.html' %}{{ leverandor }}</a>
			</td>
			<td>{{ leverandor.godkjent_opptaks_sertifiseringsordning|default:"-" }}</td>
		</tr>
	{% endfor %}
	{% for leverandor in systemdetaljer.applikasjonsdriftleverandor.all %}
		<tr>
			<td>Applikasjonsdriftleverandør</td>
			<td>
				<a href="/admin/systemoversikt/leverandor/{{ leverandor.pk }}/change/">{% include 'site_edit_button.html' %}{{ leverandor }}</a>
			</td>
			<td>{{ leverandor.godkjent_opptaks_sertifiseringsordning|default:"-" }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>


<hr>
<h6>Trinn 3: Beskrive konsultasjonsprosessen</h6>
<p><a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.</p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_registrerte" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_registrerte|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_registrerte_oppsummering" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_registrerte_oppsummering|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_internt" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_internt|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_internt_oppsummering" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_internt_oppsummering|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_databehandlere" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_databehandlere|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_databehandlere_oppsummering" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_databehandlere_oppsummering|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_eksterne" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_eksterne|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "konsultasjon_eksterne_oppsummering" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.konsultasjon_eksterne_oppsummering|default:"-" }}</div></p>



<hr>
<h6>Trinn 4 Vurdering av nødvendighet og proporsjonalitet</h6>

<p><i>Her beskrives nærmere de vurderinger som er foretatt i forhold til nødvendighet av behandlingen og proporsjonaliteten mellom behovet for/nødvendigheten av behandlingen og de ulemper/den risiko den kan innebære for de registrerte. Så vel nytteverdi for de registrerte, for virksomheten og for samfunnet som helhet vurderes.Beskrivelsen skjer gjennom å svare på spørsmålene nedenfor. Der det skal svares JA / NEI, må svaret utdypes i notatfeltet. Her må også compliance med personvernregelverket dokumenteres</i></p>

<p>Hvem er hoveddatabehandler?<br>
<a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.hoveddatabehandler|default:"-" }}</div></p>

<p>Hva er det lovlige grunnlaget for behandlingen? (bestemmelser i personopplysningsloven og bestemmelse i særlovgivning).<br>
<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%">Behandling</th>
				<th width="25%">Behandlingsgrunnlag</th>
				<th width="25%">Utdyping</th>
				<th width="25%">Utdyping dersom særlige kategorier</th>
			</tr>
		</thead>
		<tbody>
		{% for behandling in hoy_risiko %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
				<td>{% for grunnlag in behandling.behandlingsgrunnlag_valg.all %}
					{{ grunnlag }}<br>
				{% endfor %}</td>
				<td>{{ behandling.behandlingsgrunnlag_utdyping }}</td>
				<td>{{ behandling.behandlingsgrunnlag_saerlige_kategorier }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</p>

<p>Datakvalitet, data-minimering og informasjon til de registrerte.<br>
<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%">Behandling</th>
				<th width="25%">Dataminimalisering</th>
				<th width="25%">Dekker behandlingsprosessen det faktiske formålet og er det andre måter å oppnå det samme resultatet?</th>
				<th width="25%">Informasjon til registrerte</th>
			</tr>
		</thead>
		<tbody>
		{% for behandling in hoy_risiko %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
				<td>{{ behandling.sikre_dataminimalisering|default:"-" }}</td>
				<td>{{ behandling.dpia_dekker_formal|default:"-" }}</td>
				<td>{{ behandling.informering_til_registrerte|default:"-" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</p>

<p>Leverandører, tjenesteleveranse og prosess for godkjenning av underleverandører.<br>
<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%">Behandling</th>
				<th width="25%">Leverandører og underleverandører</th>
				<th width="25%">Tjenesteleveranse fra land</th>
				<th width="25%">Prosess for godkjennelse av underleverandører</th>
			</tr>
		</thead>
		<tbody>
		{% for behandling in hoy_risiko %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
				<td>{% for leverandor in behandling.navn_databehandler.all %}
					{{ leverandor }}<br>
				{% endfor %}</td>
				<td>{{ behandling.tjenesteleveranse_land|default:"-" }}</td>
				<td>{{ behandling.dpia_prosess_godkjenne_underleverandor|default:"-" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</p>


<p>Databehandleravtaler med person- og sikkerhetskrav. Er Oslo kommunes maler for databehandleravtaler benyttet i avtale(ne) med leverandøren(e)? Hvis Oslo kommunes maler for databehandleravtaler ikke er benyttet, er avtalen gjennomgått av jurist og informasjonssikkerhetsansvarlig i virksomheten? Beskrive resultatet av gjennomgangen. Hvilke krav er stilt til leverandøren(e) til ivaretakelse av personvern og informasjonssikkerhet?<br>
<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%">Behandling</th>
				<th width="18%">Er Oslo kommunes maler benyttet?</th>
				<th width="19%">Hvis nei, resultatet av gjennomgangen</th>
				<th width="18%">Prosess for godkjenning av underleverandører</th>
				<th width="19%">Krav stilt til leverandøren(e)</th>
			</tr>
		</thead>
		<tbody>
		{% for behandling in hoy_risiko %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
				<td>{{ behandling.kommunens_maler|yesno:"Ja,Nei,Ukjent" }}</td>
				<td>{{ behandling.kommunens_maler_hvis_nei|default:"-" }}</td>
				<td>{{ behandling.dpia_prosess_godkjenne_underleverandor|default:"-" }}</td>
				<td>{{ behandling.dpia_dba_ivaretakelse_sikkerhet|default:"-" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</p>


<p>Hvis hovedleverandør, underleverandør eller andre som opptrer på vegne av hovedleverandøren ved utførelse av oppgaver som inngår i avtalen befinner seg utenfor EØS området/land godkjent av EUs datatilsyn, hvilke instrumenter er benyttet for å sikre lovlig overføring. Hvordan beskytter du eventuelle internasjonale overføringer?<br>
<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%">Behandling</th>
				<th width="25%">Utlevering utenfor EU?</th>
				<th width="50%">Garantier for overføring</th>
			</tr>
		</thead>
		<tbody>
		{% for behandling in hoy_risiko %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
				<td>{{ behandling.utlevering_utenfor_EU|yesno:"Ja,Nei,Ukjent" }}</td>
				<td>{{ behandling.garantier_overforing|default:"-" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</p>


<p>Beskriv vurderingen som er foretatt av proporsjonalitet mellom samfunnsgevinst ved behandlingen og potensiell risiko for de registrerte.<br>
<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%">Behandling</th>
				<th width="75%">Proporsjonalitetsvurdering mellom samfunnsgevinst og risiko for de registrerte</th>
			</tr>
		</thead>
		<tbody>
		{% for behandling in hoy_risiko %}
			<tr>
				<td><a href="/admin/systemoversikt/behandlingerpersonopplysninger/{{ behandling.pk }}/change/">{% include 'site_edit_button.html' %}{{ behandling.behandlingen }}</a></td>
				<td>{{ behandling.dpia_proporsjonalitet_enkelte_samfunnet|default:"-" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</p>




<hr>
<h6>Trinn 5 Identifisering og vekting av risiko for individet</h6>

{% if systemdetaljer.url_risikovurdering %}
	<p><i>Risikovurderingen til systemet skal <a href="{{ systemdetaljer.url_risikovurdering }}">linkes til her</a>. Det er viktig at risikovurderingen også identifiserer og vurderer risiko for de registrerte. Eksempler på hendelser kan være:
	<ul>
		<li>Innsamling av informasjon som kan føre til overvåking</li>
		<li>Behandling av informasjon som kan føre til aggregering eller uønsket sekundærbruk</li>
		<li>Spredning av informasjon som kan føre til tap av hemmeligheter eller forfalskning</li>
		<li>Inngrep i de(n) registrertes privatliv.</li>
	</ul></i>
	<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "personvern_i_risikovurdering" %}<br>
	<a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.
	<div class="svarboks">{{ systemdetaljer.DPIA_for_system.personvern_i_risikovurdering|default:"-" }}</div></p>

{% else %}
	<div id="div_message" class="alert alert-danger">
		<a class="close" data-dismiss="alert" href="#">×</a>
		Det er ikke referert til risikovurdering for dette systemet. Start med å få dette på plass.
		<br><a href="/admin/systemoversikt/system/{{ systemdetaljer.pk }}/change/">{% include 'site_edit_button.html' %}Rediger systemdetaljene</a>.
	</div>
{% endif %}


<hr>
<h6>Trinn 6 Identifisering av risikoreduserende tiltak og klassifisering av restrisiko</h6>
<a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.
<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "tiltak_innledende_ros" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.tiltak_innledende_ros|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "tiltak_etter_ytterligere_tiltak" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.tiltak_etter_ytterligere_tiltak|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "tiltak_forhandsdroftelser" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.tiltak_forhandsdroftelser|default:"-" }}</div></p>


<hr>
<h6>Trinn 7 Godkjenning / signering</h6>
<a href="/admin/systemoversikt/dpia/{{ systemdetaljer.DPIA_for_system.pk }}/change/">Rediger</a> informasjonen.

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "godkjenning_personvernombudets_raad" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.godkjenning_personvernombudets_raad|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "godkjenning_tiltak_restrisiko" %}<br>
<div class="svarboks">{{ systemdetaljer.DPIA_for_system.godkjenning_tiltak_restrisiko|default:"-" }}</div></p>

<p>{% get_verbose_field_name systemdetaljer.DPIA_for_system "godkjenning_datatilsynet" %}<br>
<div class="svarboks">
	{% if systemdetaljer.DPIA_for_system.godkjenning_datatilsynet %}<br>
		<a href="{{ systemdetaljer.DPIA_for_system.godkjenning_datatilsynet }}">{{ systemdetaljer.DPIA_for_system.godkjenning_datatilsynet }}</a>
	{% else %}
		Ikke spesifisert / ikke aktuelt
	{% endif %}
</div></p>