{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Søk i AD etter brukere
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="{% url 'bruker_sok' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="55" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Brukernavn, fornavn, etternavn (minimum 4)" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	{% for user in users %}

	<h6>{{user}}</h6>

	<p>
	{% if user.ansvarlig_brukernavn %}
		<a href="{% url 'ansvarlig' pk=user.ansvarlig_brukernavn.pk %}">Ansvarsområder</a> |
	{% endif %}
	{% url 'ad_exact' user.profile.distinguishedname as url_ad_exact %}
	{% url 'bruker_detaljer' pk=user.pk as url_bruker_detaljer %}

	<a href="{{ url_ad_exact }}">Søk i AD</a> | <a href="{{url_bruker_detaljer}}">direktelink</a>

	</p>

	<p><em>{{ user.profile.description|default:"Ingen beskrivelse" }}</em></p>

	{% url 'virksomhet' pk=user.profile.virksomhet.pk as url_virk %}
	{% url 'enhet_detaljer' pk=user.profile.org_unit.pk as url_enhet %}
	<p>Jobber i <a href="{{url_virk}}">{{user.profile.virksomhet|default:"Ukjent"}}</a>
		under <a href="{{url_enhet}}">{{ user.profile.org_unit|default:"Ukjent" }}</a> ({{ user.profile.usertype|default:"Ukjent brukertype" }})</p>

	{% url 'bruker_detaljer' pk=user.profile.org_unit.leder.pk as url_leder %}
	Nærmeste leder er <a href="{{url_leder}}">{{ user.profile.org_unit.leder.profile.displayName|default:"Ukjent" }}</a>

	{% if user.hrorg_leder.count > 0 %}
	<li>Nærmeste leder for:<ul>
	{% for org in user.hrorg_leder.all %}
		{% for org_user in org.profile_org_unit.all %}

			<li><a href="{% url 'bruker_detaljer' pk=org_user.user.pk %}">{{org_user.user}}</a> ({{ org }})</li>

		{% endfor %}
	{% endfor %}
	</ul>
	{% endif %}

	<hr>
	{% endfor %}

{% endblock hovedinnhold %}