{% load static %}

	<table class="tablesorter excel">
	<thead>
	<tr>
		<th class="filter-false">Endre</th>
		<th>Klargjort SMART</th>
		<th>Systemnavn</th>
		<th>Bruksinformasjon</th>
		<th>Systemdetaljer</th>
		<th>Driftsmodell</th>
		<th>Lokale vurderinger</th>

	</tr>
	</thead>
	<tbody>
	{% for bruk in all_bruk %}
	<tr {% if bruk.ibruk == False %} style="text-decoration: line-through;" {% endif %}>

		<td>
			<a href="/admin/systemoversikt/systembruk/{{ bruk.pk }}/change/">
			{% include 'site_edit_button.html' %}</a>
		</td>
		<td>{{ bruk.system.get_klargjort_ny_sikkerhetsmodell_display }}</td>
		<td>
			{% include 'system_include_vis.html' with system=bruk.system %}
			{{ bruk.system.get_systemeierskapsmodell_display|default:"" }}
		</td>
		<td>
			Lokale forvaltere: {% include "ansvarlig_include_vis.html" with ansvarlige=bruk.systemforvalter_kontaktpersoner_referanse.all %}
			Antall brukere: {{ bruk.antall_brukere|default:"-" }}
			{% if bruk.system.antall_brukere %}
				({{ bruk.system.antall_brukere|default:"-" }} totalt)
			{% endif %}<br>
				{% url "bruksdetaljer" bruk.pk as url_bruksdetaljer %}
			<a href="{{ url_bruksdetaljer }}">Flere detaljer</a>
		</td>
		<td>
			Systemeier:
			{% url "virksomhet" bruk.system.systemeier.pk as url_systemeier %}
			<b><a href="{{ url_systemeier }}">{{ bruk.system.systemeier.virksomhetsforkortelse|default:"-" }}</a></b><br>
			{% include "ansvarlig_include_vis.html" with ansvarlige=bruk.system.systemeier_kontaktpersoner_referanse.all %}

			<br>Systemforvalter:
			{% url "virksomhet" bruk.system.systemforvalter.pk as url_systemforvalter %}
			<b><a href="{{ url_systemforvalter }}">{{ bruk.system.systemforvalter.virksomhetsforkortelse|default:"-" }}</a> {% if bruk.system.systemforvalter_avdeling_referanse%} <br>{{ bruk.system.systemforvalter_avdeling_referanse }} {% endif %}</b><br>
			{% include "ansvarlig_include_vis.html" with ansvarlige=bruk.system.systemforvalter_kontaktpersoner_referanse.all %}
		</td>

		<td>
			{{ bruk.system.driftsmodell_foreignkey|default:"-" }}
		</td>


		<td>
			T: {{ bruk.get_teknisk_egnethet_display|default:"-" }}<br>
			S: {{ bruk.get_strategisk_egnethet_display|default:"-" }}<br>
			F: {{ bruk.get_funksjonell_egnethet_display|default:"-" }}
		</td>



	</tr>
	{% endfor %}
	</tbody>
	</table>
