{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}
	{% include 'virksomhet_detaljer_ekstrameny.html' %}
{% endblock ekstrameny %}

{% block overskrift %}
	Systemer og applikasjoner {{ virksomhet.virksomhetsforkortelse }} bruker
{% endblock overskrift %}


{% block hovedinnhold %}
	<p>Her vises systemer {{ virksomhet }} har registrert at vi bruker.<br>For felles- og sektorsystemer er det sentral systemeier og forvalter, men vi registrerer lokal forvalter for hver virksomhet som bruker systemet.<br>For virksomhetssystemer er det kun én virksomhet som bruker systemet, og lokal forvalter settes da (snart) automatisk til systemets forvalter.</p>
	<p>Når du registrerer systembruk, må du velge mellom systemer som allerede finnes. Finner du ikke systemet ditt, kan du opprette et nytt, men husk at alle nye systemer må tildeles en virksomhet.</p>

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/systembruk/add/?brukergruppe={{ virksomhet.pk }}">Registrer bruk av et eksisterende system</a>
	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/system/add/?systemeier={{ virksomhet.pk }}">Registrer et nytt system</a>

	<hr>

	Systemer {{ virksomhet.virksomhetsforkortelse }} eier eller forvalter hvor {{ virksomhet.virksomhetsforkortelse }} ikke har registrert egen bruk.
	<ul style="column-count:5;">
	{% for system in mangler_bruk %}
		<li><a href="{% url 'systemdetaljer' system.pk %}">{{ system }}</a></li>
	{% endfor %}
	</ul>

	<hr>

	<h6>Systemer i bruk</h6>
	{% include "systembruk_include.html" with all_bruk=all_systembruk %}


	{% comment %}
	<h6>Applikasjoner i bruk</h6>
	<table class="tablesorter excel">
	<thead>
	<tr>
		<th class="filter-false">Endre</th>
		<th>Klargjort SMART</th>
		<th>Programvare</th>
		<th>Bruksinformasjon</th>
		<th>Grensesnitt</th>
		<th>Livsløpstatus</th>
		<th>Loakle vurderinger</th>
	</tr>
	</thead>
	<tbody>
	{% for bruk in all_programvarebruk %}
	<tr>
		<td><a href="/admin/systemoversikt/programvarebruk/{{ bruk.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
		<td>{{ bruk.programvare.get_klargjort_ny_sikkerhetsmodell_display }}</td>
		<td>
			{% url "programvaredetaljer" bruk.programvare.pk as url_programvaredetaljer %}
			<a href="{{ url_programvaredetaljer }}">{{ bruk.programvare }}</a>
		</td>
		<td>
			Brukere: {{ bruk.antall_brukere|default:"-" }}<br>
			Lokale forvaltere: {% include "ansvarlig_include_vis.html" with ansvarlige=bruk.lokal_kontakt.all %}
				{% url "programvarebruksdetaljer" bruk.pk as url_programvarebruksdetaljer %}
			<a href="{{ url_programvarebruksdetaljer }}">Flere detaljer</a>
		</td>
		<td>
			{% for type in bruk.programvare.programvaretyper.all %}
				{{ type }}<br>
			{% endfor %}
		</td>
		<td>{{ bruk.get_livslop_status_display|default:"-" }}</td>
		<td>
			T: {{ bruk.get_teknisk_egnethet_display|default:"-" }}<br>
			S: {{ bruk.get_strategisk_egnethet_display|default:"-" }}<br>
			F: {{ bruk.get_funksjonell_egnethet_display|default:"-" }}<br>
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	{% endcomment %}

	<h6>Systemer registrert som benyttet, men som er markert som avviklet. Disse vises ikke i tabellen over.</h6>
	{% include "systembruk_include.html" with all_bruk=ikke_i_bruk %}

{% endblock hovedinnhold %}


