{% extends "index.html" %}

{% block sidemeny %}
	<h6>Registrer nytt</h6>

		<a class="btn btn-sm btn-link" href="/admin/systemoversikt/system/add/?systemeier={{ virksomhet.pk }}">{% include 'site_edit_button.html' %} Nytt system</a>

		<a href="/admin/systemoversikt/programvare/add/" class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Ny programvare</a>

		<hr>

		{% if request.user.profile.virksomhet %}
			{% url 'all_bruk_for_virksomhet' pk=request.user.profile.virksomhet.pk as url_systembruk %}
			<a href="{{ url_systembruk }}" class="btn btn-sm btn-link {% if url_systembruk in request.path %}fremhev{% endif %}">👥 Vår bruk av systemer</a>

			{% url 'all_programvarebruk_for_virksomhet' pk=request.user.profile.virksomhet.pk as url_all_programvarebruk_for_virksomhet %}
			<a href="{{ url_all_programvarebruk_for_virksomhet }}" class="btn btn-sm btn-link">👥 Vår bruk av programvare</a>
		{% endif %}


	<hr>

	<h6>Programvare</h6>
		{% url 'systemer_pakket' as url_systemer_pakket %}
		<a href="{{url_systemer_pakket}}" class="btn btn-sm {% if url_systemer_pakket in request.path %}fremhev{% endif %}">Programvarepakking</a>

	<hr>
	<h6>Systemperspektiver</h6>

		{% url 'alle_systemer' as url_alle_systemer %}
		<a href="{{url_alle_systemer}}" class="btn btn-sm btn-link {% if url_alle_systemer in request.path %}fremhev{% endif %}">Vis alle systemer</a>


		{% url 'alle_hovedkategorier' as url_alle_hovedkategorier %}
		<a href="{{url_alle_hovedkategorier}}" class="btn btn-sm btn-link {% if url_alle_hovedkategorier in request.path %}fremhev{% endif %}">Systemkategorier</a>

		{% url 'alle_systemer_forvaltere' as url_systemforvaltere %}
		<a href="{{ url_systemforvaltere }}" class="btn btn-sm btn-link {% if url_systemforvaltere in request.path %}fremhev{% endif %}">Systemforvaltere</a>

		{% url 'systemer_vurderinger' as url_systemer_vurderinger %}
		<a href="{{ url_systemer_vurderinger }}" class="btn btn-sm btn-link {% if url_systemer_vurderinger in request.path %}fremhev{% endif %}">Systemvurderinger</a>

		{% url 'alle_leverandorer' as alle_leverandorer_url %}
		<a href="{{ alle_leverandorer_url }}" class="btn btn-sm {% if alle_leverandorer_url in request.path %}fremhev{% endif %}">Alle leverandører</a>
		<hr>


		{% url 'system_kritisk_funksjon' as url_system_kritisk_funksjon %}
		<a href="{{url_system_kritisk_funksjon}}" class="btn btn-sm btn-link {% if url_system_kritisk_funksjon in request.path %}fremhev{% endif %}">Kritiske funksjoner</a>

		{% url 'system_informasjonsbehandling' as url_system_informasjonsbehandling %}
		<a href="{{url_system_informasjonsbehandling}}" class="btn btn-sm btn-link {% if url_system_informasjonsbehandling in request.path %}fremhev{% endif %}">Informasjonsbehandling</a>

		{% url 'system_los_struktur_indeks' as url_system_los_struktur %}
		<a href="{{url_system_los_struktur}}" class="btn btn-sm btn-link {% if url_system_los_struktur in request.path %}fremhev{% endif %}">LOS-strukturen</a>


		<hr>

		{% url 'systemer_utfaset' as url_systemer_utfaset %}
		<a href="{{url_systemer_utfaset}}" class="btn btn-sm btn-link {% if url_systemer_utfaset in request.path %}fremhev{% endif %}">Utfasede systemer ❌</a>

		{% url 'systemer_EOL' as url_systemer_EOL %}
		<a href="{{ url_systemer_EOL }}" class="btn btn-sm btn-link {% if url_systemer_EOL in request.path %}fremhev{% endif %}">End of life 💾</a>

	{% block ekstrameny_system %}{% endblock ekstrameny_system %}
	{% block ekstrameny_leverandor %}{% endblock ekstrameny_leverandor %}
	{% block ekstrameny_driftsmiljo %}{% endblock ekstrameny_driftsmiljo %}

{% endblock sidemeny %}

{% block main_content %}
	<h3>{% block overskrift %}{% endblock overskrift %}</h3>
	{% block hovedinnhold %}{% endblock hovedinnhold %}
{% endblock main_content %}