{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Verktøy - Word til HTML-konvertering
{% endblock overskrift %}

{% block hovedinnhold %}

	<h6>Velg docx-fil for konvertering</h6>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input class="" type="file" name="fileupload">
		<input class="btn btn-sm btn-primary" type="submit" name="submit" value="Konverter">
	</form>

	<hr>
	{% if html %} {{html}} {% endif %}

{% endblock hovedinnhold %}