{% extends "cmdb_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny_business_service %}
{% endblock ekstrameny_business_service %}

{% block overskrift %}
	Verktøy - Sammenlikne elementer
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Lim inn elementer i hver boks. Tekst blir splittet opp og sammenliknet. Du får se hva som er unikt for hver boks, samt hva boksene har til felles. Funksjonen bryr seg ikke om det er små eller store bokstaver. Tegn som fjernes: <li>|,:;"'</li></p>

	<form action="{% url 'tool_compare_items' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<textarea style="width: 500px; height: 250px;" name="boks_a"
			placeholder="Boks A" class="form-control form-control-sm">{{ boks_a_raw }}</textarea>
			<textarea style="width: 500px; height: 250px;" name="boks_b"
			placeholder="Boks B" class="form-control form-control-sm">{{ boks_b_raw }}</textarea>
			<input style="margin-left: 10px;" type="submit" value="sammenlikn" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h6>Elementer bare er i boks A</h6>
			{% for item in bare_i_a %}
				{{ item }}<br>
			{% endfor %}
		</div>
		<div class="col-sm">
			<h6>Elementer bare er i boks B</h6>
			{% for item in bare_i_b %}
				{{ item }}<br>
			{% endfor %}
		</div>
		<div class="col-sm">
			<h6>Elementer som er i begge boksene (intersection)</h6>
			{% for item in begge_a_og_b %}
				{{ item }}<br>
			{% endfor %}
		</div>
		<div class="col-sm">
			<h6>Alle unike elementer (union)</h6>
			{% for item in a_og_b %}
				{{ item }}<br>
			{% endfor %}
		</div>
	</div>
</div>
<hr>

{% endblock hovedinnhold %}