{% extends "ubw_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block overskrift %}
	UBW-støtteverktøy
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Verktøy for å importere fakturaer fra UBW, tagge og etterfylle informasjon samt eksportere via API mot f.eks. Excel.</p>

<p><b>Velg enhet:</b></p>

	{% for enhet in enheter %}
		<li><a href="{% url 'ubw_enhet' pk=enhet.pk %}" class="btn btn-sm btn-link">{{ enhet.name }}</a></li>
	{% endfor %}

	<hr>
	<a href="/admin/systemoversikt/ubwrapporteringsenhet/add/" class="btn btn-sm btn-link">Opprett ny</a><br>
{% endblock hovedinnhold %}
