{% extends "ubw_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}
{% load widget_tweaks %}

{% block overskrift %}
	Økonomirapportering for {{ enhet }}
{% endblock overskrift %}

{% block hovedinnhold %}


<p>Tagging av flere poster samtidig. Du har valgt disse fakturaene:</p>

{% for faktura in valgte_fakturaer %}
	<li>{{ faktura }}</li>
{% endfor %}

<hr>
<p>For de valgte fakturaene vist over gjelder følgende:</p>
<ul>
	<li>Dersom det ikke er registrert metadata fra før, opprettes det ny metadata med utfylt informasjon. Samme metadata for alle valgte faktura.</li>
	<li>Dersom det er registrert metadata fra før, oppdateres fakturaene med alle felter som er fylt ut utemom faktisk periode. Faktisk periode blir stående som den var. Du må likevel fylle ut en verdi da dette er et påkrevd felt. Faktisk periode vil da kun bli benyttet for eventuelle valgte faktura uten metadata fra før.</li>
</ul>

	{% if form.is_multipart %}
		<form method="post" action="?submitted=ja" enctype="multipart/form-data">
	{% else %}
		<form method="post" action="?submitted=ja">
	{% endif %}
	{% csrf_token %}
	{% for value in post_data %}
		<input type="hidden" name="selected_items" value="{{ value }}">
	{% endfor %}
		<fieldset>
		{% for field in form %}
		<div class="form-group {% if field.errors %} error {% endif %}">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			<div class="controls">
				{% render_field field class+="form-control" %}
				<span class="help-inline">
				{% if field.errors %}
					{% for error in field.errors %} <p style="color: red;">{{ error }}</p> {% endfor %}
				{% else %} {{ field.help_text }} {% endif %}
				</span>
			</div>
		</div>
		{% endfor %}


		<hr>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Lagre</button>
		</div>
		</fieldset>
	</form>

{% endblock hovedinnhold %}
