{% extends "index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block underoverskrift %}
	Økonomirapportering for {{ enhet }}
{% endblock underoverskrift %}

{% block main_content %}

<table width="100%">
	<tr>
		<td>

<h6>Tilgangsstyring</h6>
<ul> {% for user in enhet.users.all %} <li>{{ user }}</li> {% endfor %}</ul>

		</td>
		<td>

<h6>API-URL</h6>
Krever ikke innlogging per nå..<br>
<a href="{{ domain }}{% url 'ubw_api' pk=enhet.pk %}">{{ domain }}{% url 'ubw_api' pk=enhet.pk %}</a></p>

		</td>
		<td>

<h6>Våre kategorier</h6>
<ul style="column-count:4;">
	{% for k in kategorier %}
	<li>{{ k }}</li>
	{% endfor %}
	<li><a href="{% url 'ubw_kategori' belongs_to=enhet.pk %}">Legg til ny</a></li>
</ul>
	
		</td>
	</tr>
</table>

<hr>
<h6>Importer data fra økonomisystemet </h6>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input class="" type="file" name="fileupload">
	<input class="btn btn-sm btn-primary" type="submit" name="submit" value="Importer">
</form>

<hr>
<h6>Importerte data fra økonomisystemet
	<a class="btn btn-sm btn-primary" href="{% url 'ubw_estimat_list' belongs_to=enhet.pk %}">Mine estimater</a>
</h6>

Viset fakturaer som i UBW gjelder for de siste {{dager_gamle}} dager.
<table class="table table-striped tablesorter">
	<thead>
		<tr>
			<th>{% get_verbose_field_name model "ubw_voucher_date" %}</th>
			<th>{% get_verbose_field_name model "ubw_account" %}</th>
			<th>{% get_verbose_field_name model "ubw_dim_1" %}</th>
			<th>{% get_verbose_field_name model "ubw_dim_4" %}</th>
			<th>{% get_verbose_field_name model "ubw_xapar_id" %}</th>
			<th>{% get_verbose_field_name model "ubw_description" %}</th>
			<th>{% get_verbose_field_name model "ubw_amount" %}</th>
			<th>{% get_verbose_field_name model "ubw_period" %}</th>
			<th>Periode Påløpt (YYYYmm)</th>
			<th>Kategori</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{% for f in fakturaer %}
	<tr>
		<td>{{f.ubw_voucher_date|default:"-"}}</td>
		<td title="{{f.ubw_xaccount}}">{{f.ubw_account|default:"-"}}</td>
		<td title="{{f.ubw_xdim_1}}">{{f.ubw_dim_1|default:"-"}}</td>
		<td title="{{f.ubw_xdim_4}}">{{f.ubw_dim_4|default:"-"}}</td>
		<td>{{f.ubw_xapar_id|default:"-"}}</td>
		<td title="{{f.ubw_description|default:'-'}}">{{f.ubw_description|truncatewords:5|default:"-"}}</td>
		<td>{{f.ubw_amount|default:"-"}}</td>
		<td>{{f.ubw_period|default:"-"}}</td>
	{% if f.metadata_reference %}
		<td>{{ f.metadata_reference.periode_paalopt|date:"Ym" }}</td>
		<td>{{ f.metadata_reference.kategori }}</td>
		<td><a href="{% url 'ubw_ekstra_edit' faktura_id=f.pk pk=f.metadata_reference.pk %}" class="btn btn-sm btn-warning">Endre</a></td>
	{% else %}
		<td></td>
		<td></td>
		<td><a href="{% url 'ubw_ekstra_new' faktura_id=f.pk %}" class="btn btn-sm btn-primary">Opprett</a></td>
	{% endif %}
		</td>
	</tr>
{% endfor %}
	</tbody>
</table>


{% endblock main_content %}
