{% load humanize %}

{% for e in estimat %}
  <tr>
    <td>{{ e.id }}</td>
    <td>{{ e.aktiv|yesno:"Ja,Nei" }}</td>
    <td>{{ e.prognose_kategori }}</td>
    <td>{{ e.ubw_description|default:"-" }}</td>
    <td>{{ e.estimat_account }}</td>
    <td>{{ e.estimat_dim_1 }}</td>
    <td>{{ e.estimat_dim_4 }}</td>
    <td>{{ e.estimat_amount|intcomma }}</td>
    {# <td>{{ e.budsjett_amount|intcomma }}</td> #}
    <td>{{ e.ubw_artsgr2_display|default:"" }} ({{ e.ubw_artsgr2|default:"" }})</td>
    <td>{{ e.ubw_kategori_display|default:"" }} ({{ e.ubw_kategori|default:"" }})</td>

    <td class="ubw_manuell">{{ e.periode_paalopt|date:"Ym" }}</td>
    <td class="ubw_manuell">{{ e.kategori }}</td>
    <td class="ubw_manuell">{{ e.leverandor|default:"-" }}</td>
    <td class="ubw_manuell">{{ e.kommentar|default:"-" }}</td>
    <td style="width: 220px">
      <button type="button"
              class="btn btn-link btn-sm js-update-estimat"
              data-url="{% url 'ubw_estimat_update' belongs_to=e.belongs_to.id pk=e.id %}">
         Rediger
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-estimat"
              data-url="{% url 'ubw_estimat_delete' e.id %}">
         Slett
      </button>
      <button type="button"
              class="btn btn-info btn-sm js-copy-estimat"
              data-url="{% url 'ubw_estimat_copy' e.id %}">
         Kopier
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center">Det finnes ingen aktive estimat</td>
  </tr>
{% endfor %}