{% load humanize %}
{% load templatetags %}

{% for f in fakturaer %}
	<tr>
		<td><input type="checkbox" name="selected_items" value="{{f.pk}}"></td>
		<td>{{f.ubw_voucher_date|default:"-"}}</td>
		<td><a href="/admin/systemoversikt/ubwfaktura/{{f.pk}}/delete/">❌</a>
			{{f.ubw_voucher_no|default:"-"}}-{{f.ubw_sequence_no|default:"-"}}</td>
		<td title="{{f.ubw_xaccount}}">{{f.ubw_account|default:"-"}}</td>
		<td title="{{f.ubw_xdim_1}}">{{f.ubw_dim_1|default:"-"}}</td>
		<td title="{{f.ubw_xdim_4}}">{{f.ubw_dim_4|default:"-"}}</td>
		<td>{{f.ubw_xapar_id|default:"-"}}</td>
		<td title="{{f.ubw_description|default:'-'}}">{{f.ubw_description|default:"-"}}</td>
		<td style="text-align: right;">{{f.ubw_amount|default:"-"}}</td>
		<td>{{f.ubw_period|default:"-"}}</td>
		<td>{{f.ubw_artsgr2_text|default:"-"}}</td>
		<td>{{f.ubw_kategori_text|default:"-"}}</td>


	{% if f.metadata_reference %}
		<td class="ubw_manuell">{{ f.metadata_reference.periode_paalopt|date:"Ym" }}</td>
		{# <td class="ubw_manuell">{{ f.metadata_reference.budsjett_amount|default:"-"|intcomma }}</td> #}
		<td class="ubw_manuell">{{ f.metadata_reference.kategori }}</td>
		<td class="ubw_manuell">{{ f.metadata_reference.leverandor|default:"-" }}</td>
		<td class="ubw_manuell">{{ f.metadata_reference.kommentar|default:"-" }}</td>
		<td><a href="{% url 'ubw_ekstra_edit' faktura_id=f.pk pk=f.metadata_reference.pk %}" class="btn btn-sm btn-info">Endre</a></td>
	{% else %}
		<td class="ubw_manuell"></td>
		{# <td class="ubw_manuell"></td> #}
		<td class="ubw_manuell"></td>
		<td class="ubw_manuell"></td>
		<td class="ubw_manuell"></td>
		<td><a href="{% url 'ubw_ekstra_new' faktura_id=f.pk %}" class="btn btn-sm btn-primary">Opprett</a></td>
	{% endif %}
		</td>
	</tr>
{% endfor %}

