{% load humanize %}
{% load static %}

<table class="table table-sm tablesorter excel">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false"></th>
		{% endif %}
		<th>Domene</th>
		<th>Eier</th>
		<th>Knyttet til system</th>
		<th>Målgruppe</th>
		<th class="filter-select">Sikker transport</th>
		<th class="filter-select">Vurdering sikkerhetstest</th>
		<th>Sikkerhetstestet</th>
		<th>Registrert</th>
		<th>Kommentar</th>
	</tr>
	</thead>
	<tbody>
	{% for item in web_urler %}
	<tr>
		{% if user.is_authenticated %}
		<td><a href="/admin/systemoversikt/systemurl/{{ item.pk }}/change/">{% include 'site_edit_button.html' %}</a></td>
		{% endif %}
		<td>
			<a href="{{ item.domene }}">{% if item.own_domain %}<span style="color: green; font-size: 18px;">✓</span>{% endif %} {{ item.domene }}</a>
		</td>
		<td>
			{% url 'virksomhet' pk=item.eier.pk as url_eier %}
			<a href="{{ url_eier }}">{{ item.eier.virksomhetsforkortelse|default:"-" }}</a>
		</td>
		<td>
		{% for system in item.system_systemurl.all %}
			{% url 'systemdetaljer' pk=system.pk as url_systemdetaljer %}
			<a href="{{ url_systemdetaljer }}">{{ system.systemnavn }}</a> ({{ system.get_livslop_status_display }})<br>
		{% endfor %}
		</td>
		<td>{{ item.get_maalgruppe_display|default:"" }}</td>
		<td>
			{% if item.https %}
				<span style="color: green; font-size: 18px;">✓</span>
			{% else %}
				<span style="color: red; font-size: 18px;">⨉</span>
			{% endif %}
		</td>
		<td>{{ item.get_vurdering_sikkerhetstest_display|default:"-" }}</td>
		<td>
			{% for system in item.system_systemurl.all %}
				{% for test in system.sikkerhetstest_systemer.all %}
					{{ test.dato_rapport|date:'Y-m-d' }} ({{ test.dato_rapport|naturaltime }}): {{ test.get_type_test_display }}<br>
				{% endfor %}
		{% endfor %}
		&zwj;{# zero-width space #}
		</td>
		<td>{{ item.sist_oppdatert|date:'Y-m-d' }}</td>
		<td>{{ item.kommentar }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
