{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}
{% endblock ekstrameny %}

{% block overskrift %}
	Oslo kommunes domener {% if virksomhet %}tilhørende {{virksomhet.virksomhetsforkortelse}}{% endif %}
{% endblock overskrift %}


{% block hovedinnhold %}

	<p>Her vises domener (URL-er) tilknyttet systemer. Viser {{ web_urler.count }} domener. Domener innenfor *.oslo.kommune.no er merket med en grønn hake.</p>

	{% if request.user.profile.virksomhet %}
		<a class="btn btn-sm btn-link" href="/admin/systemoversikt/systemurl/add/">{% include 'site_edit_button.html' %} Legg til nytt domene</a>
	{% endif %}

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/sikkerhetstester/add/">{% include 'site_edit_button.html' %} Registrer sikkerhetstest</a>

	{% include "urler_include.html" %}

{% endblock hovedinnhold %}
