{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}

	{% if not virksomhet %}
		{% if user.is_authenticated %}
		<hr>
		<h6>Domener</h6>
			{% if request.user.profile.virksomhet %}
				<a class="btn btn-sm btn-link" href="{% url 'virksomhet_urler' pk=request.user.profile.virksomhet.pk %}">Våre domener</a>
			{% endif %}

			<a class="btn btn-sm btn-link" href="/admin/systemoversikt/systemurl/add/">Legg til nytt domene</a>

			<a class="btn btn-sm btn-link" href="/admin/systemoversikt/sikkerhetstester/add/">Registrer sikkerhetstest</a>
		<hr>
		{% endif %}
	{% endif %}

	{% if virksomhet %}
		{% include 'virksomhet_detaljer_ekstrameny.html' %}
	{% endif %}

{% endblock ekstrameny %}

{% block overskrift %}
	Oslo kommunes domener {% if virksomhet %}tilhørende {{virksomhet.virksomhetsforkortelse}}{% endif %}
{% endblock overskrift %}


{% block hovedinnhold %}

	<div>

	</div>

	<p>Her vises domener (URL-er) tilknyttet systemer. Viser {{ web_urler.count }} domener. Domener innenfor *.oslo.kommune.no er merket med en grønn hake.</p>

	{% include "urler_include.html" %}

{% endblock hovedinnhold %}
