{% extends "index.html" %}
{% load static %}

{% block underoverskrift %}
	Systemer uten systemkategori ({{ systemer.count }})
{% endblock underoverskrift %}

{% block main_content %}
	<table class="table table-sm table-striped tablesorter">
	<thead>
	<tr>
		<th></th>
		<th>Systemnavn</th>
		<th>Systemkategori</th>
	</tr>
	</thead>
	<tbody>
	{% for sys in systemer %}
	<tr>
		<td><a target="_blank" href="/admin/systemoversikt/system/{{ sys.pk }}/change/"><img style="width: 14px; margin: 3px;" src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a></td>
		{% url 'systemdetaljer' pk=sys.pk as url_systemdetaljer %}
		<td><a href="{{ url_systemdetaljer }}">{{ sys.systemnavn }}</a></td>
		<td><ul>{% for kat in sys.systemkategorier.all %} <li>{{ kat }}</li> {% endfor %}</ul></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock main_content %}