{% extends "index.html" %}
{% load templatetags %}

{% block underoverskrift %}
	Introduksjonsvideoer
{% endblock underoverskrift %}

{% block main_content %}

<p>For å hjelpe deg i gang med systemet har vi laget noen presentasjoner. Vi har her tatt for oss generell bruk av systemet, redigering samt litt om utvikling (for innloggede). Vi ser for oss mer opplæring knyttet til f.eks. registrering av behandlinger samt DPIA.</p>

	<h5>Generell introduksjon som ikke-innlogget bruker (9 min)</h5>
	<p>Objekter, linker og sammenhenger</p>
	<video width="400" controls>
		<source src="/static/video/systemoversikt_del1_vanlig_bruker.mp4" type="video/mp4">
	</video>
	<p>Rettinger: Der det prates om link til plattform vises faktisk link til driftsleverandør for valgt plattform.</p>
	<hr>


	<h5>Introdukjon til innlogging og redigering (11 min)</h5>
	<p>Administrasjonspanelet og tilgangsstyring</p>
	<video width="400" controls>
		<source src="/static/video/systemoversikt_del2_redigering.mp4" type="video/mp4">
	</video>
	<hr>


	{% if user.is_authenticated %}
	<h5>Introduksjon til videreutvikling (16 min)</h5>
	<p>Kildekode og server</p>
	<video width="400" controls>
		<source src="/static/video/systemoversikt_del3_utvikling.mp4" type="video/mp4">
	</video>
	<p>Rettinger: Python blir selvsagt kompilert, men det skjer runtime (fra *.pyc-filer). Poenget rundt kommentarene om kompilering er at det fungerer litt annerledes enn f.eks. C eller Java hvor det er mer vanlig å bygge, for så å flytte bygget (kompilert kode) til produksjon.</p>
	{% endif %}

{% endblock %}