{% extends "virksomhet_index.html" %}
{% load static %}
{% load templatetags %}
{% load humanize %}


{% block ekstrameny %}
	{% include 'virksomhet_detaljer_ekstrameny.html' %}
{% endblock ekstrameny %}

{% block overskrift %}
	Basisinformasjon for systemer {{ virksomhet.virksomhetsforkortelse }} forvalter
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Systemer {{ virksomhet }} er systemeier eller systemforvalter for. Her vises alle unike eiere og forvaltere, samt basisinformasjon på tabellform samlet slik at IKT-hovedkontakt får komplett oversikt.</p>

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/system/add/?systemeier={{ virksomhet.pk }}">{% include 'site_edit_button.html' %} Registrer nytt system</a>

	<hr>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h6>Unike eiere</h6>
				<ul style="font-size: 85%;">
				{% for ansvarlig in unike_ansvarlige_eiere %}
					<li>{{ansvarlig}}</li>
				{% endfor %}
				</ul>
			</div>

			<div class="col-sm">
				<h6>Unike forvaltere</h6>
				<ul style="font-size: 85%;">
				{% for ansvarlig in unike_ansvarlige_forvaltere %}
					<li>{{ansvarlig}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<hr>

	<table id="systemer" class="tablesorter excel">
		<thead>
			<tr>
				<th class="filter-false"></th>
				<th class="filter-false"></th>
				<th>Systemnavn</th>
				<th>Driftsplattform</th>
				<th>Forvaltning</th>
				<th>Livsløp</th>
				<th>Leverandører</th>

			</tr>
		</thead>
	<tbody>
	{% for system in systemer_ansvarlig_for %}
	<tr>
		<td>{{ forloop.counter}}</td>

		<td><a href="/admin/systemoversikt/system/{{ system.pk }}/change/">{% include 'site_edit_button.html' %}</td>

		<td>
		{% include 'system_include_vis.html' with system=system %}
		{% if system.systemeierskapsmodell %}
			{{ system.get_systemeierskapsmodell_display|default:"" }}
		{% else %}
			<span style="background-color: #ffacac">Systemeierskapsmodell mangler</span>
		{% endif %}
		</td>

		<td>
			{% if system.driftsmodell_foreignkey %}
				{% url "detaljer_driftsmodell" system.driftsmodell_foreignkey.pk as url_driftsmodell %}
				<a href="{{ url_driftsmodell }}">{{ system.driftsmodell_foreignkey|default:"" }}</a><br>

				{% if system.isolert_drift %}
					🕹️ På tilpasset drift
				{% endif %}

				{% if system.service_offerings %}
					{% for offering in system.service_offerings.all %}

						<li>{{ offering.navn}} - {{offering.get_environment_display}} - {{ offering.u_service_availability_text }}</li>

					{% endfor %}
				{% endif %}

			{% else %}
				<span style="background-color: #ffacac">Driftsmodell mangler</span>
			{% endif %}

		</td>

		<td>
			Systemeier:
			{% url "virksomhet" system.systemeier.pk as url_systemeier %}
			<b><a href="{{ url_systemeier }}">{{ system.systemeier.virksomhetsforkortelse|default:"-" }}</a></b><br>
			{% include "ansvarlig_include_vis.html" with ansvarlige=system.systemeier_kontaktpersoner_referanse.all %}

			<br>
			Systemforvalter:
			{% url "virksomhet" system.systemforvalter.pk as url_systemforvalter %}
			<b><a href="{{ url_systemforvalter }}">{{ system.systemforvalter.virksomhetsforkortelse|default:"-" }}</a> {% if system.systemforvalter_avdeling_referanse%} <br>{{ system.systemforvalter_avdeling_referanse }} {% endif %}</b><br>
			{% include "ansvarlig_include_vis.html" with ansvarlige=system.systemforvalter_kontaktpersoner_referanse.all %}
		</td>

		<td>{{ system.get_livslop_status_display|default:"" }}</td>

		<td>
		Systemleverandør:
		{% for lev in system.systemleverandor.all %}
			{% url "leverandor" lev.pk as url_leverandor %}
			<li><a href="{{ url_leverandor }}">{{ lev }}</a></li>
		{% empty %}
			<li><span style="background-color: #ffacac">Mangler</span></li>
		{% endfor %}

		Applikasjonsdrift:
		{% for lev in system.applikasjonsdriftleverandor.all %}
			{% url "leverandor" lev.pk as url_leverandor %}
			<li><a href="{{ url_leverandor }}">{{ lev }}</a></li>
		{% empty %}
			<li><span style="background-color: #ffacac">Mangler</span></li>
		{% endfor %}

		Basisdrift:
		{% for lev in system.basisdriftleverandor.all %}
			{% url "leverandor" lev.pk as url_leverandor %}
			<li><a href="{{ url_leverandor }}">{{ lev }}</a></li>
		{% empty %}
			<li><span style="background-color: #ffacac">Mangler</span></li>
		{% endfor %}
		</td>

	</tr>
	{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}