	<h5>{{virksomhet.virksomhetsforkortelse}}</h5>

	{% url 'virksomhet' pk=virksomhet.pk as url_virksomhet %}
		<a href="{{ url_virksomhet }}" class="btn btn-sm btn-link {% if url_virksomhet in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s forside</a>

	{% if virksomhet.intranett_url %} 
		<a class="btn btn-sm btn-link" href="{{ virksomhet.intranett_url }}" target="_blank">{{virksomhet.virksomhetsforkortelse}}s intranettside</a> 
	{% endif %}
	{% if virksomhet.www_url %} 
		<a class="btn btn-sm btn-link" href="{{ virksomhet.www_url }}" target="_blank">{{virksomhet.virksomhetsforkortelse}}s nettside</a> 
	{% endif %}
	{% url 'virksomhet_enheter' pk=virksomhet.pk as url_virksomhet_enheter %}
		<a class="btn btn-sm btn-link {% if url_virksomhet_enheter in request.path %}fremhev{% endif %}" href="{{url_virksomhet_enheter}}">{{virksomhet.virksomhetsforkortelse}}s organisering</a>
	{% url 'dashboard_all' virksomhet=virksomhet.pk as url_dashboard %}
		<a href="{{ url_dashboard }}" class="btn btn-sm btn-link {% if url_dashboard in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s dashboard</a>

	{% if user.is_authenticated %}
	<hr>
	{% url 'passwordexpire' pk=virksomhet.pk as url_passwordexpire %}
		<a class="btn btn-sm btn-link {% if url_passwordexpire in request.path %}fremhev{% endif %}" href="{{url_passwordexpire}}">{{virksomhet.virksomhetsforkortelse}}s Passordutløp</a>
	{% url 'virksomhet_prkadmin' pk=virksomhet.pk as url_prkadmins %}
		<a class="btn btn-sm btn-link {% if url_prkadmins in request.path %}fremhev{% endif %}" href="{{url_prkadmins}}">{{virksomhet.virksomhetsforkortelse}}s PRK-admin</a>
		<a class="btn btn-sm btn-link" href="/admin/systemoversikt/virksomhet/{{ virksomhet.pk }}/change/">Rediger {{virksomhet.virksomhetsforkortelse}}</a>
		<a target="_blank" class="btn btn-sm btn-link" href="/admin/systemoversikt/avtale/add/?virksomhet={{virksomhet.pk}}">Registrer ny avtale</a>
	{% endif %}

	<hr>
	{% url 'all_bruk_for_virksomhet' pk=virksomhet.pk as url_all_bruk_for_virksomhet %}
		<a href="{{ url_all_bruk_for_virksomhet }}" class="btn btn-sm btn-link {% if url_all_bruk_for_virksomhet in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s bruk av systemer</a>
	{% url 'all_programvarebruk_for_virksomhet' pk=virksomhet.pk as url_all_programvarebruk_for_virksomhet %}
		<a href="{{ url_all_programvarebruk_for_virksomhet }}" class="btn btn-sm btn-link {% if url_all_programvarebruk_for_virksomhet in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s bruk av programvare</a>
	{% url 'alle_behandlinger_virksomhet' pk=virksomhet.pk as url_alle_behandlinger_virksomhet %}
		<a href="{{ url_alle_behandlinger_virksomhet }}" class="btn btn-sm btn-link {% if url_alle_behandlinger_virksomhet in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s behandlinger</a>
	{% url 'driftsmodell_virksomhet' pk=virksomhet.pk as url_detaljer_virksomhet %}
		<a href="{{ url_detaljer_virksomhet }}" class="btn btn-sm btn-link {% if url_detaljer_virksomhet in request.path %}fremhev{% endif %}">Systemer {{virksomhet.virksomhetsforkortelse}} drifter</a>
	<hr>
	{% url 'systemkvalitet_virksomhet' pk=virksomhet.pk as url_systemkvalitet_virksomhet %}
		<a href="{{ url_systemkvalitet_virksomhet }}" class="btn btn-sm btn-link {% if url_systemkvalitet_virksomhet in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s datakvalitet</a>
	{% url 'innsyn_virksomhet' pk=virksomhet.pk as url_innsyn_virksomhet %}
		<a href="{{ url_innsyn_virksomhet }}" class="btn btn-sm btn-link {% if url_innsyn_virksomhet in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s innsynsmodul</a>
	{% url 'virksomhet_ansvarlige' pk=virksomhet.pk as url_virksomhet_ansvarlige %}
		<a href="{{ url_virksomhet_ansvarlige }}" class="btn btn-sm btn-link {% if url_virksomhet_ansvarlige in request.path %}fremhev{% endif %}">{{virksomhet.virksomhetsforkortelse}}s ansvarlige</a>