{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Passord utløper aldri for brukere i {{ virksomhet.virksomhetsforkortelse }}
{% endblock overskrift %}


{% block hovedinnhold %}

	<a class="btn btn-sm btn-link" href="?alt=ja">Vis for alle virksomheter</a>

	<hr>

	<p>Brukere satt med "passord utløper aldri" i AD/PRK. Viser {{users.count}} brukere.</p>

	<table id="stickyheader" class="table table-sm tablesorter">
		<thead>
		<tr>
			<th>Sist pålogget (omtrentlig)</th>
			<th>Bruker</th>
			<th>Brukertype</th>
			<th>dont_expire_password</th>
		</tr>
		</thead>
		<tbody>
		{% for u in users %}
		<tr>
			<td {% if u.inactive %} style="background-color: #ffbcbc;" {% endif %}>{{u.profile.lastLogonTimestamp|date:"Y-m-d"|default:"Ukjent"}} ({{u.profile.lastLogonTimestamp|naturaltime|default:"Ukjent"}})</td>
			<td>{{u}}</td>
			<td>{{u.profile.usertype}}</td>
			<td>{{u.profile.dont_expire_password}}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}