{% extends "virksomhet_index.html" %}
{% load static %}
{% load humanize %}
{% load templatetags %}

{% block ekstrajavascript %}
	<script src="{% static 'cytoscape/cytoscape.min.js@3.9.4' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/numeric.min.js@1.2.6' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/layout-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cose-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-layout-utilities.js@1.0.0' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-fcose.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}


{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	{{ virksomhet.virksomhetsnavn }} ({{ virksomhet.virksomhetsforkortelse }})
{% endblock overskrift %}

{% block hovedinnhold %}

	{% if virksomhet.orgnummer %} Organisasjonsnummer {{ virksomhet.orgnummer|intcomma }} {% endif %}<br>
	{% for vir in virksomhet.overordnede_virksomheter.all %}
		{% url 'virksomhet' vir.pk as url_vir %}
		<a href="{{ url_vir }}">{{ vir }}</a>
	{% endfor %}

	<hr>

	<a class="btn btn-sm btn-link" href="/admin/systemoversikt/virksomhet/{{ virksomhet.pk }}/change/">
	{% include 'site_edit_button.html' %} Rediger virksomhetsdetaljer og kontaktpersoner</a>

	<hr>

	{% if virksomhet.intranett_url %}
		<a class="btn btn-sm btn-link" href="{{ virksomhet.intranett_url }}" target="_blank">🌍 {{virksomhet.virksomhetsforkortelse}}s intranettside</a>
	{% endif %}
	{% if virksomhet.www_url %}
		<a class="btn btn-sm btn-link" href="{{ virksomhet.www_url }}" target="_blank">🌍 {{virksomhet.virksomhetsforkortelse}}s nettside</a>
	{% endif %}
	{% if virksomhet.styringssystem %}
		<a class="btn btn-sm btn-link" href="{{ virksomhet.styringssystem }}" target="_blank">🌍 {{virksomhet.virksomhetsforkortelse}}s styringssystem</a>
	{% endif %}

	<hr>

	<h6>Kontaktpersoner</h6>
	<table class="table">
	<thead>
	<tr>
		<th style="width: 200px;">Rolle</th>
		<th>Personer</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Etatsdirektør</td>
		<td>
		{% if virksomhet.leder_hr %}
			<a href="{% url 'bruker_detaljer' pk=virksomhet.leder_hr.pk %}">{{virksomhet.leder_hr.profile.displayName}}</a>
		{% else %}
			{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.leder.all %}
		{% endif %}
		</td>
	</tr>
	<tr>
		<td>Aktitekturkontakter</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.arkitekturkontakter.all %}</td>
	</tr>
	<tr>
		<td>IKT-kontakter</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.ikt_kontakt.all %}</td>
	</tr>
	<tr>
		<td>Personvernkoordinator</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.personvernkoordinator.all %}</td>
	</tr>
	<tr>
		<td>Informasjonvernkoordinator</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.informasjonssikkerhetskoordinator.all %}</td>
	</tr>
	<tr>
		<td>Sikkerhetsrelaterte varsler sendes til</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.varslingsmottak_sikkerhet_ref.all %}</td>
	</tr>
	<tr>
		<td>Kundekontakt i UKE</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.uke_kam_referanse.all %}</td>
	</tr>
	<tr>
		<td>Infotorg autorisert bestiller</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.autoriserte_bestillere_tjenester.all %}</td>
	</tr>
	<tr>
		<td>Folkeregisteradministrator i KS Fiks</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.ks_fiks_admin_ref.all %}</td>
	</tr>
	<tr>
		<td>Autorisert forbestilling av tjenester fra UKE</td>
		<td>{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.autoriserte_bestillere_tjenester_uke.all %}</td>
	</tr>
	</tbody>
	</table>


	<hr>

	<h6>Avdelinger</h6>
	<div class="row" style="width: 800px;">
		<div class="col-sm-12">
			<ul style="column-count: 2;">
			{% for u in enheter %}
				{% url 'enhet_detaljer' pk=u.pk as url_enhet %}
				<li><a href="{{url_enhet}}">{{ u }}</a></li>
			{% empty %}
				<li>Ingen</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<hr>

	<h6>Systemansvar fordelt på seksjoner</h6>
	<table style="width: 800px;">
		<tr>
			<td>
				<a href="{% url 'virksomhet_figur_system_seksjon' pk=virksomhet.pk %}?kilde=tjenester" style="margin-left: 50px;">Tjenester: åpne i større vindu</a>
				<div id="cy_tjenester" style="width: 400px; height: 300px;"></div>
			</td>
			<td>
				<a href="{% url 'virksomhet_figur_system_seksjon' pk=virksomhet.pk %}?kilde=infrastruktur" style="margin-left: 50px;">Infrastruktur: åpne i større vindu</a>
				<div id="cy_infra" style="width: 400px; height: 300px;"></div>
			</td>
		</tr>
	</table>

	<hr>

	<h5>Kritiske funksjoner knyttet til våre systemer</h5>
	<table class="table table-sm excel">
	<thead>
	<tr>
		<th>Område</th>
		<th>Kritisk funksjon</th>
		<th>Systemknytninger</th>
	</tr>
	</thead>
	<tbody>
	{% for funksjon in kritiske_funksjoner %}
	<tr>
		<td>{{funksjon.get_kategori_display}}</td>
		<td>{{funksjon.navn}}</td>
		<td>
			{% for system in funksjon.systemer %}
				{% if system.systemforvalter == virksomhet %}
					<li>{{system}}
						<ul>
						{% for kapabilitet in system.kritisk_kapabilitet.all %}
							<li>{{kapabilitet}}</li>
						{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	<hr>

	<h6>Systemstatistikk</h6>
	Vi benytter <b>{{ant_systemer_bruk}}</b> systemer<br>
	Vi eier <b>{{ant_systemer_eier}}</b> systemer, forvalter <b>{{ant_systemer_forvalter}}</b> systemer og drifter <b>{{systemer_drifter}}</b> systemer<br>
	Vi har <b>{{ antall_brukere }}</b> interne og <b>{{ antall_eksterne_brukere }}</b> ekstern brukere i brukerkatalogen<br>

{% endblock hovedinnhold %}

{% block script_append %}
<script type="text/javascript" nonce="{{request.csp_nonce}}">

var cy_tjenester = cytoscape({
	zoomingEnabled: true,
	userZoomingEnabled: false,
	panningEnabled: true,
	container: document.getElementById('cy_tjenester'),
	elements: {
		nodes: [
			{% for node in nodes_tjenester %}
				{{ node|safe }},
			{% endfor %}
		],
		edges: [
		],
	},
	style: [
		{
			selector: 'node',
			style: {
				'label': 'data(name)',
				'shape': 'data(shape)',
				'background-color': 'data(color)',
				'width': '100',
				'height': '35',
				'font-size': '10',
				'text-valign': 'center',
				'text-halign': 'center',
			},
		},
		{
			selector: 'node:selected',
			style: {
			},
		},
		{
			selector: 'edge',
			style: {
				'target-arrow-shape': 'triangle',
				'curve-style': 'bezier',
				'line-style': 'data(linestyle)',
			},
		},
		{
			selector: 'edge:selected',
			style: {
			},
		},
		{
			selector: ':parent',
			style: {
				'label': 'data(name)',
				'font-size': '12',
				'line-style': "solid",
				'background-color': 'data(color)',
				'text-valign': 'top',
			}
		},
	],
	layout: {
		name: 'fcose',
		fit: true,
		packComponents: true,
		animationDuration: 0, //ms
		idealEdgeLength: 150,
	},
});
cy_tjenester.on('tap', 'node', function(){
	if (this.data('href')) {
		try { // your browser may block popups
			window.open( this.data('href'), "_blank" );
		} catch(e){ // fall back on url change
			window.location.href = this.data('href');
		}
	}
});


var cy_infra = cytoscape({
	zoomingEnabled: true,
	userZoomingEnabled: false,
	panningEnabled: true,
	container: document.getElementById('cy_infra'),
	elements: {
		nodes: [
			{% for node in nodes_infra %}
				{{ node|safe }},
			{% endfor %}
		],
		edges: [
		],
	},
	style: [
		{
			selector: 'node',
			style: {
				'label': 'data(name)',
				'shape': 'data(shape)',
				'background-color': 'data(color)',
				'width': '100',
				'height': '35',
				'font-size': '10',
				'text-valign': 'center',
				'text-halign': 'center',
			},
		},
		{
			selector: 'node:selected',
			style: {
			},
		},
		{
			selector: 'edge',
			style: {
				'target-arrow-shape': 'triangle',
				'curve-style': 'bezier',
				'line-style': 'data(linestyle)',
			},
		},
		{
			selector: 'edge:selected',
			style: {
			},
		},
		{
			selector: ':parent',
			style: {
				'label': 'data(name)',
				'font-size': '12',
				'line-style': "solid",
				'background-color': 'data(color)',
				'text-valign': 'top',
			}
		},
	],
	layout: {
		name: 'fcose',
		fit: true,
		packComponents: true,
		animationDuration: 0, //ms
		idealEdgeLength: 150,
	},
});
cy_infra.on('tap', 'node', function(){
	if (this.data('href')) {
		try { // your browser may block popups
			window.open( this.data('href'), "_self" );
		} catch(e){ // fall back on url change
			window.location.href = this.data('href');
		}
	}
});


</script>

{% endblock script_append %}