{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Arkivplan for {{ virksomhet.virksomhetsforkortelse }}
{% endblock overskrift %}


{% block hovedinnhold %}

	<p>Her vises alle systemer {{ virksomhet }} eier eller forvalter.</p>

	<table class="tablesorter excel">
		<thead>
		<tr>
			<th class="filter-false">Endre</th>
			<th>Systemnavn</th>
			<th>Arkivsystem?</th>
			<th>Etablert</th>
			<th>Livsløpsstatus</th>
			<th>End of life</th>
			<th>Arkivars kommentarer</th>
		</tr>
		</thead>
		<tbody>
		{% for system in systemer %}
			<tr>
				<td><a href="/admin/systemoversikt/system/{{bruk.system.pk}}/change/">{% include 'site_edit_button.html' %}</a></td>
				<td>{{ system }}</td>
				<td>{{ system.er_arkiv|yesno:"Ja, Nei" }}</td>
				<td>{{ system.dato_etablert|default:"-" }}</td>
				<td>{{ system.get_livslop_status_display }}</td>
				<td>{{ system.dato_end_of_life|default:"-" }}</td>
				<td>{{ system.arkivkommentar|default:"-" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}