{% extends "virksomhet_index.html" %}
{% load static %}
{% load templatetags %}

{% block ekstrajavascript %}
	<script src="{% static 'cytoscape/cytoscape.min.js@3.9.4' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/numeric.min.js@1.2.6' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/layout-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cose-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-layout-utilities.js@1.0.0' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-fcose.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}


{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Virksomhet: {{ virksomhet.virksomhetsnavn }} ({{ virksomhet.virksomhetsforkortelse }})
{% endblock overskrift %}

{% block hovedinnhold %}

	{% if virksomhet.intranett_url %}
		<a class="btn btn-sm btn-link" href="{{ virksomhet.intranett_url }}" target="_blank">🌍 {{virksomhet.virksomhetsforkortelse}}s intranettside</a>
	{% endif %}

	{% if virksomhet.www_url %}
		<a class="btn btn-sm btn-link" href="{{ virksomhet.www_url }}" target="_blank">🌍 {{virksomhet.virksomhetsforkortelse}}s nettside</a>
	{% endif %}

	{% if virksomhet.styringssystem %}
		<a class="btn btn-sm btn-link" href="{{ virksomhet.styringssystem }}" target="_blank">🌍 {{virksomhet.virksomhetsforkortelse}}s styringssystem</a>
	{% endif %}


	{% if user.is_authenticated %}
		<a class="btn btn-sm btn-link" href="/admin/systemoversikt/virksomhet/{{ virksomhet.pk }}/change/">{% include 'site_edit_button.html' %} Rediger</a>
	{% endif %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<b>{% get_verbose_field_name virksomhet "orgnummer" %}:</b> {{ virksomhet.orgnummer|default:'-' }}<br>
				<b>{% get_verbose_field_name virksomhet "kan_representeres" %}:</b> {{ virksomhet.kan_representeres|yesno:"Ja,Nei" }}<br>
				<b>{% get_verbose_field_name virksomhet "overordnede_virksomheter" %}:</b>
					{% for vir in virksomhet.overordnede_virksomheter.all %}
						{% url 'virksomhet' vir.pk as url_vir %}
						<li><a href="{{ url_vir }}">{{ vir }}</a></li>
					{% endfor %}
				<br>
				<b>{% get_verbose_field_name virksomhet "resultatenhet" %}:</b> {{ virksomhet.get_resultatenhet_display }}<br>
				<b>{% get_verbose_field_name virksomhet "office365" %}:</b> {{ virksomhet.get_office365_display }}<br>
			</div>
		</div>

		<hr>
		<h6>Avdelinger</h6>
		<div class="row">
			<div class="col-sm-12">
				<ul style="column-count: 3;">
				{% for u in enheter %}
					{% url 'enhet_detaljer' pk=u.pk as url_enhet %}
					<li><a href="{{url_enhet}}">{{ u }}</a></li>
				{% empty %}
					<li>Ingen</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<hr>
		<h6>Systemansvar fordelt på seksjoner</h6>
		<p>Her vises alle systemer hvor {{ virksomhet }} er angitt som systemforvalter. Systemene er videre gruppert på seksjonen systemet er knyttet til, sekundært seksjonen til første oppgitte forvalter.</p>

		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.drift_uke}}; text-align: center;">Driftes av 2S</div>
		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.offentlig_sky}}; text-align: center;">Offentlig sky</div>
		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.infrastruktur}}; text-align: center;">Infrastruktur</div>
		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.integrasjon}}; text-align: center;">Integrasjon</div>
		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.egenutviklet}}; text-align: center;">Egenutviklet</div>
		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.samarbeidspartner}}; text-align: center;">Samarbeidspartner</div>
		<div style="float: left; margin: 5px; padding: 2px; width: 100px; font-size: 10px; background-color: {{system_colors.ukjent}}; text-align: center;">Ukjent</div>

		<br><hr>

		<div id="cy" style="width: {{node_size}}px; height: {{node_size}}px;"></div>

		<hr>
		<h6>Kontaktpersoner</h6>
		<div class="row">
			<div class="col-sm-6">
				<b>Vår virksomhetsleder</b>
				{% if virksomhet.leder_hr %}
					<li><a href="{% url 'bruker_detaljer' pk=virksomhet.leder_hr.pk %}">{{virksomhet.leder_hr.profile.displayName}}</a></li>
				{% else %}
					{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.leder.all %}
				{% endif %}
				<br>

				<b>{% get_verbose_field_name virksomhet "ikt_kontakt" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.ikt_kontakt.all %}
				<br>

				<b>{% get_verbose_field_name virksomhet "personvernkoordinator" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.personvernkoordinator.all %}
				<br>

				<b>{% get_verbose_field_name virksomhet "informasjonssikkerhetskoordinator" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.informasjonssikkerhetskoordinator.all %}
			</div>

			<div class="col-sm-6">
				<b>{% get_verbose_field_name virksomhet "uke_kam_referanse" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.uke_kam_referanse.all %}
				<br>

				<b>{% get_verbose_field_name virksomhet "autoriserte_bestillere_tjenester" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.autoriserte_bestillere_tjenester.all %}
				<br>

				<b>{% get_verbose_field_name virksomhet "ks_fiks_admin_ref" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.ks_fiks_admin_ref.all %}
				<br>

				<b>{% get_verbose_field_name virksomhet "autoriserte_bestillere_tjenester_uke" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.autoriserte_bestillere_tjenester_uke.all %}
				<br>

				<b>{% get_verbose_field_name virksomhet "arkitekturkontakter" %}</b>
				{% include "ansvarlig_include_vis.html" with ansvarlige=virksomhet.arkitekturkontakter.all %}
			</div>
		</div>

		{% comment %}
		<hr>
		<h6>Organisatoriske personverntiltak</h6>
		<div class="row">
			<div class="col-sm-6">
				<b>{% get_verbose_field_name virksomhet "rutine_behandling_personopplysninger" %}:</b> {% if virksomhet.rutine_behandling_personopplysninger %}<a href="{{ virksomhet.rutine_behandling_personopplysninger|default:'' }}">Link</a>{% else %} Ikke oppgitt {% endif %}<br>
				<b>{% get_verbose_field_name virksomhet "rutine_tilgangskontroll" %}:</b> {% if virksomhet.rutine_tilgangskontroll %}<a href="{{ virksomhet.rutine_tilgangskontroll|default:'' }}">Link</a>{% else %} Ikke oppgitt {% endif %}<br>
				<b>{% get_verbose_field_name virksomhet "rutine_klage_behandling" %}:</b> {% if virksomhet.rutine_klage_behandling %}<a href="{{ virksomhet.rutine_klage_behandling|default:'' }}">Link</a>{% else %} Ikke oppgitt {% endif %}<br>
			</div>
		</div>
		{% endcomment %}

		<hr>
		<h6>Statistikk</h6>
		<div class="row">
			<div class="col-sm-12">
				<li>{{ant_systemer_bruk}} systemer i bruk</li>
				<li>{{ant_systemer_eier}} systemer vi er systemeier for ({{ systemeier_ikke_kvalitetssikret }} er ikke kvalitetssikret).</li>
				<li>{{ant_systemer_forvalter}} systemer vi er systemforvalter for ({{ systemforvalter_ikke_kvalitetssikret }} er ikke kvalitetssikret).</li>
				<li>{{ant_behandlinger}} egne behandlinger ({{ behandling_ikke_kvalitetssikret }} er ikke kvalitetssikret). Delte behandlinger telles ikke med.</li>
				<li>{{systemer_drifter}} systemer vi drifter</li>
				<li>{{ deaktiverte_brukere }} ansvarlige som har deaktivert bruker</li>
				<li>{{ antall_brukere }} aktive interne brukere i brukerkatalogen</li>
				<li>{{ antall_eksterne_brukere }} aktive eksterne brukere i brukerkatalogen</li>
			</div>
		</div>

	</div>

{% endblock hovedinnhold %}

{% block script_append %}
<script type="text/javascript" nonce="{{request.csp_nonce}}">
	var cy = cytoscape({
		zoomingEnabled: true,
		panningEnabled: true,
		wheelSensitivity: 0.4,
		container: document.getElementById('cy'),
		elements: {
			nodes: [
				{% for node in nodes %}
					{{ node|safe }},
				{% endfor %}
			],
			edges: [
			],
		},
		style: [
			{
				selector: 'node',
				style: {
					'shape': 'data(shape)',
					'width': '100',
					'height': '35',
					'background-color': 'data(color)',
					'label': 'data(name)',
					'font-size': '10',
					'text-valign': 'center',
					'text-halign': 'center',
				},
			},
			{
				selector: 'node:selected',
				style: {
				},
			},
			{
				selector: 'edge',
				style: {
					'target-arrow-shape': 'triangle',
					'curve-style': 'bezier',
					'line-style': 'data(linestyle)',
				},
			},
			{
				selector: 'edge:selected',
				style: {
				},
			},
			{
				selector: ':parent',
				style: {
					'font-size': '12',
					'label': 'data(id)',
					'line-style': "solid",
					'background-color': 'data(color)',
					'text-valign': 'top',
				}
			},
		],
		layout: {
			name: 'fcose',
			fit: true,
			packComponents: true,
			animationDuration: 0, //ms
			idealEdgeLength: 150,
		},
	});
	cy.on('tap', 'node', function(){
		if (this.data('href')) {
			try { // your browser may block popups
				window.open( this.data('href'), "_self" );
			} catch(e){ // fall back on url change
				window.location.href = this.data('href');
			}
		}
	});

</script>
{% endblock script_append %}