{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Brukere med "passord utløper aldri" for {{ virksomhet.virksomhetsforkortelse }}
{% endblock underoverskrift %}

{% block main_content %}

<a target="_blank" class="btn btn-sm btn-warning" href="?alt=ja">Alle virksomheter</a>

<hr>

<p>Brukere satt med "passord utløper aldri" i AD/PRK. Viser {{users.count}} brukere.</p>

<table id="stickyheader" class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>Sist pålogget (omtrentlig)</th>
		<th>Bruker</th>
		<th>Brukertype</th>
		<th>dont_expire_password</th>
	</tr>
	</thead>
	<tbody>
	{% for u in users %}
	<tr>
		<td {% if u.inactive %} style="background-color: #ffbcbc;" {% endif %}>{{u.profile.lastLogonTimestamp|date:"Y-m-d"|default:"Ukjent"}} ({{u.profile.lastLogonTimestamp|naturaltime|default:"Ukjent"}})</td>
		<td>{{u}}</td>
		<td>{{u.profile.usertype}}</td>
		<td>{{u.profile.dont_expire_password}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock main_content %}