{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}{% endblock ekstrameny %}

{% block overskrift %}
	Alle virksomheter - kontaktinformasjon ISK/PSK
{% endblock overskrift %}

{% block hovedinnhold %}


	<a href="/admin/systemoversikt/virksomhet/add/" class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Ny virksomhet</a>

	{% url 'alle_virksomheter' as alle_virksomheter_url %}
	<a href="{{ alle_virksomheter_url }}" class="btn btn-sm btn-link">Ordinær visning</a>


	<table id="alle_virksomheter" class="tablesorter excel">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false"></th>
		{% endif %}
		<th>Virksomhet</th>
		{% comment %}<th>Antall ansatte</th>{% endcomment %}
		<th>Drift av klientplattform</th>
		<th>Kontorstøtte</th>
		{% comment %}<th>Autoriserte bestillere InfoTorget</th>{% endcomment %}
		{% comment %}<th>Autoriserte bestillere mot intern tjenesteleverandør</th>{% endcomment %}
		<th>Personvernkoordinator (PKO)</th>
		<th>PKO e-post</th>
		<th>Informasjonssikkerhetskoordinator (ISK)</th>
		<th>ISK e-post</th>
	</tr>
	</thead>
	<tbody>
	{% for vir in virksomheter %}
	<tr {% if not vir.ordinar_virksomhet %} style="opacity: 0.33;" {% endif %}>
		{% if user.is_authenticated %}
		<td>
				<a href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
				{% include 'site_edit_button.html' %}</a>
		</td>
		{% endif %}

		{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
		<td>
			{{ vir.virksomhetsforkortelse }} <a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a>
			{% for vir in vir.overordnede_virksomheter.all %}
				<i>{{ vir }}</i><br>
			{% endfor %}
		</td>

		{% comment %}<td>{{ vir.ansatte|default:"-" }}</td>{% endcomment %}
		<td>{{ vir.get_resultatenhet_display|default:"-" }}</td>
		<td>{{ vir.get_office365_display|default:"-" }}</td>
		{% comment %}<td>
			{% for person in vir.autoriserte_bestillere_tjenester.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>{% endcomment %}
		{% comment %}<td>
			{% for person in vir.autoriserte_bestillere_tjenester_uke.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>{% endcomment %}
		<td>
			{% for person in vir.personvernkoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.personvernkoordinator.all %}
				{{ person.brukernavn.email }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.informasjonssikkerhetskoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.informasjonssikkerhetskoordinator.all %}
				{{ person.brukernavn.email }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock hovedinnhold %}