{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Detaljer for personer i virksomheten {{ virksomhet.virksomhetsforkortelse }}
{% endblock overskrift %}


{% block hovedinnhold %}

	<table id="Ansatte_{{virksomhet.virksomhetsforkortelse}}_{{dato}}" class="table table-sm tablesorter excel">
		<thead>
		<tr>
			<th>Type bruker</th>
			<th>Brukernavn</th>
			<th>Navn</th>
			<th>O365-lisens (planlagt)</th>
			<th>Dagens O365-lisens</th>
			<th>E-post</th>
			<th>Avdeling</th>
			<th>Seksjon</th>
		</tr>
		</thead>
		<tbody>
		{% for b in brukere %}
		<tr>
			<td>{{ b.profile.account_type }}</td>
			<td>{{ b.username }}</td>
			<td>{{ b.profile.displayName }}</td>
			<td>{{ b.profile.get_o365lisence_display }}</td>
			<td>{{ b.dagens365lisens }}</td>
			<td>{{ b.email }}</td>
			<td>{{ b.profile.avdeling }}</td>
			<td>{{ b.profile.org_unit }}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}