{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Passordutløp for {{ virksomhet.virksomhetsforkortelse }}
{% endblock overskrift %}


{% block hovedinnhold %}

	<a class="btn btn-sm btn-link" href="{% url 'passwdneverexpire' pk=virksomhet.pk %}">Vis brukere med passord utløper aldri</a>
	<a class="btn btn-sm btn-link" href="?alt=ja">Vis for alle virksomheter</a>

	<hr>

	<p>Som utløper neste {{periode}} dager. Røde har ikke logget på de siste {{innaktiv}} dager.<br>
	Viser bare aktive brukere. Viser bare brukere som er definert som "Ansatt" eller "Ekstern" i PRK. Brukere som ikke er å finne i PRK vises ikke her. Viser {{users.count}} brukere.</p>

	<table id="stickyheader" class="table table-sm tablesorter">
		<thead>
		<tr>
			<th>Sist pålogget (omtrentlig)</th>
			<th>Bruker</th>
			<th>Brukertype</th>
			<th>Passord utløper</th>
			<th>Kan passordet utløpe?</th>
			<th>Passord utløpt?</th>
		</tr>
		</thead>
		<tbody>
		{% for u in users %}
		<tr>
			<td {% if u.inactive %} style="background-color: #ffbcbc;" {% endif %}>{{u.profile.lastLogonTimestamp|date:"Y-m-d"|default:"Ukjent"}} ({{u.profile.lastLogonTimestamp|naturaltime|default:"Ukjent"}})</td>
			<td>{{u}}</td>
			<td>{{u.profile.usertype}}</td>
			<td {% if u.expired %} style="background-color: #ffbcbc;" {% endif %}>{{u.profile.userPasswordExpiry|date:"Y-m-d"|default:"Ukjent"}} ({{u.profile.userPasswordExpiry|naturaltime|default:"Ukjent"}})</td>
			<td>{{u.profile.dont_expire_password|yesno:"Nei, Ja"}}</td>
			<td>{{u.profile.password_expired|yesno:"Ja, Nei"}}</td>
			
		</tr>
		{% endfor %}
	</tbody>
	</table>

{% endblock hovedinnhold %}