{% extends "virksomhet_index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrameny %}

	{% include 'virksomhet_detaljer_ekstrameny.html' %}

{% endblock ekstrameny %}

{% block overskrift %}
	Sikkerhetsrelaterte brukerinnstillinger i PRK for {{ virksomhet }}
{% endblock overskrift %}


{% block hovedinnhold %}


<p>I PRK er det mange skjemavalg som kan benyttes for å unnta enkeltpersoner fra standard sikkerhetskrav. Valg av disse resulterer i at personen blir lagt inn i tilhørende AD-gruppe. Informasjonen på denne siden oppdateres hver natt.</p>
<hr>


<h5>Brukere med utvidet tilgang til hjemme- og fellesområder</h5>
<p>Definert som {{ grupper_filefullcontrol_applomr }}, {{ grupper_filefullcontrol_fellesomr }} og {{ grupper_filefullcontrol_hjemmeomr }}.</p>
<p>Fant {{ brukere_filefullcontrol_applomr.all.count}} + {{brukere_filefullcontrol_fellesomr.all.count}} + {{ brukere_filefullcontrol_hjemmeomr.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Tilgang</th>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="50%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_filefullcontrol_applomr %}
	<tr>
		<td>Applikasjonsområder</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
{% for bruker in brukere_filefullcontrol_fellesomr %}
	<tr>
		<td>Fellesområde (F:)</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
{% for bruker in brukere_filefullcontrol_hjemmeomr %}
	<tr>
		<td>Hjemmeområder (H:)</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<hr>
<h5>Brukere med tilgang til å bli lokal administrator på egen klient</h5>
<p>Definert som {{ grupper_lokal_administrator }}.</p>
<p>Fant {{ brukere_lokal_administrator.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="50%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_lokal_administrator %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<hr>

<h5>Brukere med tilgang til å installere vilkårlige nettleserutvidelser</h5>
<p>Definert som {{ grupper_nettleserutvidelser }}.</p>
<p>Fant {{ brukere_nettleserutvidelser.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="50%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_nettleserutvidelser %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<hr>

<h5>Office365: Brukere uten krav til administrert enhet</h5>
<p>Definert som {{ grupper_uten_administrert_klient }}.</p>
<p>Fant {{ brukere_uten_administrert_klient.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="50%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_uten_administrert_klient %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Office365: Brukere uten krav til multifaktor autentisering</h5>
<p>Definert som {{ grupper_unntak_mfa }}.</p>
<p>Fant {{ brukere_unntak_mfa.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_unntak_mfa %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Office365: Brukere som kan koble til fra gule land</h5>
<p>Definert som {{ grupper_utenfor_eu }}.</p>
<p>Fant {{ brukere_utenfor_eu.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_utenfor_eu %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Office365: Brukere som kan koble til fra røde land</h5>
<p>Definert som {{ grupper_hoyrisikoland }}.</p>
<p>Fant {{ brukere_hoyrisikoland.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_hoyrisikoland %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Brukere med opptak i Teams</h5>
<p>Definert som {{ grupper_med_opptak }}.</p>
<p>Fant {{ brukere_med_opptak.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_med_opptak %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Brukere med tilgang til Live Events</h5>
<p>Definert som {{ grupper_med_liveevent }}.</p>
<p>Fant {{ brukere_med_liveevent.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_med_liveevent %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>



<h5>Office365: Brukere med utvidet sikkerhet (EM+S E5)</h5>
<p>Definert som {{ grupper_med_emse5 }}.</p>
<p>Fant {{ brukere_med_emse5.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_med_emse5 %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<h5>Office365: Områdeadministratorer</h5>
<p>Se <a href="https://oslokommune.sharepoint.com">oversikt</a> i kommunens tenant for oversikt over sharepoint-områder. Under fanen "Områder i min virksomhet".</p>
<p>Definert som {{ grupper_omraadeadm }}.</p>
<p>Fant {{ brukere_omraadeadm.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Avvik administrert enhet?</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_omraadeadm %}
	<tr {% if bruker.avvik_kjent_enhet %} style="color: #ff0000;" {% endif %}>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.avvik_kjent_enhet|yesno:"Ja,Nei,Ukjent" }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Office365: Gjestegodkjennere</h5>
<p>Se <a href="https://oslokommune.sharepoint.com">oversikt</a> i kommunens tenant for oversikt over gjester under fanen "Gjestebrukere".</p>
<p>Definert som {{ grupper_gjestegodk }}.</p>
<p>Fant {{ brukere_gjestegodk.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_gjestegodk %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Office365: Brukere som kan opprette O365-grupper</h5>
<p>Definert som {{ grupper_gruppeadm }}.</p>
<p>Fant {{ brukere_gruppeadm.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_gruppeadm %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h5>Brukere med tilgang til å koble opp BYOD-enheter over VPN mot Oslo kommunes datasenter</h5>
<p>Definert som {{ grupper_byod_vpn }}.</p>
<p>Fant {{ brukere_byod_vpn.all.count }} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="40%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_byod_vpn %}
	<tr>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<hr>


<h5>Brukere med USB/minnepinne aktivert</h5>
<p>Definert som {{ grupper_usb_tykklient }} og {{grupper_usb_tynnklient}}.</p>
<p>Fant {{ brukere_usb_tykklient.all.count }} + {{ brukere_usb_tynnklient.all.count}} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Type klient</th>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="50%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_usb_tykklient %}
	<tr>
		<td>Tykk klient</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
{% for bruker in brukere_usb_tynnklient %}
	<tr>
		<td>Tynn klient</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<hr>

<h5>Brukere med tilgang å benytte lokal printer</h5>
<p>Definert som {{ grupper_lokalskriver_is }} og {{grupper_lokalskriver_ss}}.</p>
<p>Fant {{ brukere_lokalskriver_is.all.count }} + {{brukere_lokalskriver_ss.all.count}} brukere med unntak.</p>
<table class="table table-sm tablesorter excel">
<thead>
	<th>Sone</th>
	<th>Bruker</th>
	<th>Brukertype</th>
	<th width="50%">Beskrivelse</th>
	<th>Organisatorisk tilhørighet</th>
</thead>
<tbody>
{% for bruker in brukere_lokalskriver_is %}
	<tr>
		<td>Intern Sone</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
{% for bruker in brukere_lokalskriver_ss %}
	<tr>
		<td>Ekstern Sone</td>
		<td>{{ bruker }}</td>
		<td>{{ bruker.profile.usertype }}</td>
		<td>{{ bruker.profile.description }}</td>
		<td>{{ bruker.profile.org_unit }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock hovedinnhold %}
