{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	Brukerkatalog Oslo kommune
{% endblock overskrift %}

{% block hovedinnhold %}

<p>Her finner du informasjon om organisering, brukeridenter og tilganger.<p>

<p>Det er <b>{{ antall_aktive_brukere|intcomma }} aktive brukere</b> og <b>{{ antall_deaktive_brukere|intcomma }} inaktive</b> brukere i brukerkatelogen (AD). AD synkroniserer til Entra ID. Disse tallene kan avvike noe fra AD grunnet at de synkroniseres nattlig, og at Kartoteket ikke sletter brukere som er knyttet til en rolle før rollen er gitt til en ny person. Sistnevnte påvirker bare antall inaktive brukere.<br>

Det er <b>{{antall_organisasjonsledd|intcomma}}</b> organisasjonsledd. Data om organisatoriske enheter synkroniseres hver natt mot HR via grunndatabasen.<br>
Det er <b>{{antall_adgrupper|intcomma}}</b> tilgangsgrupper i AD.</p>



	<form action="{% url 'virksomhet_enhetsok' %}" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<input size="40" style="width: 250;" type="search" value="{{ search_term_org }}" name="search_term_org"
			placeholder="Seksjoner, avdelinger, team" class="form-control form-control-sm">
			<input type="submit" value="Organisasjonssøk" class="btn btn-primary btn-sm">
		</div>
	</form>

	{% if not units %}

	<form action="{% url 'bruker_sok' %}" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<input size="40" style="width: 250px;" type="search" value="{{ search_term_user }}" name="search_term_user"
			placeholder="Brukernavn, navn, e-post, SID" class="form-control form-control-sm">
			<input type="submit" value="Brukersøk Active Directory" class="btn btn-primary btn-sm">
		</div>
	</form>

	<form action="{% url 'entra_id_oppslag' %}" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<input size="40" style="width: 250px;" type="search" value="{{ search_term_user_entraId }}" name="search_term_user_entraId"
				placeholder="E-postadresse, brukernavn" class="form-control form-control-sm">
			<input type="submit" value="Brukersøk Entra ID" class="btn btn-primary btn-sm">
		</div>
	</form>

	<form action="{% url 'alle_adgrupper' %}" autocomplete="off">
		{% csrf_token %}
		<div class="form-group form-inline">
			<input size="40" style="width: 350px;" type="search" value="{{ search_term_adgrp }}" name="search_term_adgrp"
			placeholder="Gruppenavn" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	{% endif %}


	{% if units %}

	<p>Viser {{ units.count }} enheter</p>
	<hr>


	<table class="table table-sm tablesorter">
		<thead>
			<tr>
				<th width="20%">Navn</th>
				<th>Virksomhet</th>
				<th>Direkte underliggende</th>
				<th>Nivå</th>
				<th>Leder</th>
			</tr>
		</thead>
		<tbody>
		{% for u in units %}
			<tr>
				<td><a href="{% url 'enhet_detaljer' pk=u.pk %}">{{ u.ou }}</a></td>
				<td>{{ u.virksomhet_mor }}</td>
				<td>{{ u.direkte_mor }}</td>
				<td>{{ u.level }}</td>
				<td>{{ u.leder|default:"-" }}</td>
		{% endfor %}
		</tbody>
	</table>

	{% endif %}

{% endblock hovedinnhold %}