{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}

{% endblock ekstrameny %}

{% block overskrift %}
	Bestillingsmyndighet for sertifikater
{% endblock overskrift %}


{% block hovedinnhold %}

	<p>Viser status på fullmakter gitt av virksomheter til Buypass for at Sopra Steria skal kunne utstede web- og virksomhetssertifikater.</p>

		<table class="tablesorter">
		<thead>
		<tr>
			<th>Virksomhetsnavn</th>
			<th>Driftsmodell</th>
			<th>Fullmakt gitt?</th>
			<th>Organisasjonsnummer</th>
			<th>Virksomhetsleder</th>
			<th>Godkjente bestillere</th>
		</tr>
		</thead>
		<tbody>
		{% for vir in virksomheter %}
		<tr>
			<td>
				{% if user.is_authenticated %}
				<a href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
				<img style="width: 14px; margin: 3px;"
				src="{% static 'open-iconic/svg/pencil.svg' %}" alt="rediger"></a>
				{% endif %}

				{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
				<a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a> ({{ vir.virksomhetsforkortelse }})
			</td>

			<td>{{ vir.get_resultatenhet_display }}</td>

			<td>
				<p {% if vir.sertifikatfullmakt_avgitt_web %} style="background-color: #ada" {% endif %}>
					{{ vir.sertifikatfullmakt_avgitt_web|yesno:"Ja,Nei,-" }}
				</p>
			</td>

			<td>{{ vir.orgnummer|default:"Ukjent" }}</td>

			<td>
				{% if vir.leder_hr %}
					<a href="{% url 'bruker_detaljer' pk=vir.leder_hr.pk %}">{{vir.leder_hr.profile.displayName}}</a>
				{% else %}
					{% include "ansvarlig_include_vis.html" with ansvarlige=vir.leder.all %}
				{% endif %}
			</td>

			<td>
				{% for autorisertbestiller in vir.autoriserte_bestillere_sertifikater.all %}
					<a href="{% url 'ansvarlig' autorisertbestiller.person.pk %}">{{ autorisertbestiller.person }}</a>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock hovedinnhold %}