{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}{% endblock ekstrameny %}

{% block overskrift %}
	Alle virksomheter
{% endblock overskrift %}

{% block hovedinnhold %}


	<a href="/admin/systemoversikt/virksomhet/add/" class="btn btn-sm btn-link">{% include 'site_edit_button.html' %} Ny virksomhet</a>

	{% url 'alle_virksomheter_kontaktinfo' as kontaktinfo_url %}
	<a href="{{ kontaktinfo_url }}" class="btn btn-sm btn-link">Vis kontaktinfo ISK/PSK</a>

	<p>Virksomheter er her definert som organisatoriske enheter fra Active Directory, og kan derfor ha noen flere registreringer enn i offisielle organisasjonskart. Det er {{ virksomheter.count }} virksomheter registrert.</p>

	<p>Rollene ISK og PKO er knyttet til sikkerhet og personvern. Rollen "arkitekturkontakt" er nå endret til "arkitektur hovedkontakt", og brukes ved innkalling til arkitekturforum for IKT og digitalisering, sammen med rollen IKT-hovedkontakt.</p>

	<table id="alle_virksomheter" class="tablesorter excel">
	<thead>
	<tr>
		<th class="filter-false"></th>
		<th>Virksomhet</th>
		<th>Byråd</th>
		<th>Nettverk lokasjoner</th>
		<th>Forvalter for systemer</th>
		<th>Antall brukeridenter</th>
		<th>Antall klienter</th>
		<th>Klientplattform</th>
		<th>Kontorstøtte</th>
		<th>Leder</th>
		<th>Personvernkoordinator (PKO)</th>
		<th>Informasjonssikkerhetskoordinator (ISK)</th>
		<th>IKT-hovedkontakt</th>
		<th>Arkitektur hovedkontakt</th>
		<th>Kundeansvarlig hos intern tjenesteleverandør</th>
	</tr>
	</thead>
	<tbody>
	{% for vir in virksomheter %}
	<tr {% if not vir.ordinar_virksomhet %} style="opacity: 0.33;" {% endif %}>
		<td>
			<a href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
			{% include 'site_edit_button.html' %}</a>
		</td>
		<td>{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
			<a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a> ({{ vir.virksomhetsforkortelse }})
		</td>
		<td>
			{% for vir in vir.overordnede_virksomheter.all %}
				{{ vir.virksomhetsforkortelse }}<br>
			{% endfor %}
		</td>
		{% url 'lokasjoner_hos_virksomhet' pk=vir.pk as url_lokasjoner %}
		<td><a href="{{url_lokasjoner}}">{{ vir.antall_lokasjoner }}</a></td>
		<td>{{ vir.systemer_systemforvalter.all.count }}</td>
		<td>{{ vir.antall_brukeridenter|default:"-" }}</td>
		<td>{{ vir.antall_klienter }}</td>
		<td>
			{{ vir.get_resultatenhet_display|default:"-" }}
		</td>
		<td>
			{{ vir.get_office365_display|default:"-" }}
		</td>
		<td>
			{% if vir.leder_hr %}
				<a href="{% url 'bruker_detaljer' pk=vir.leder_hr.pk %}">{{vir.leder_hr.profile.displayName}}</a>
			{% else %}
				{% include "ansvarlig_include_vis.html" with ansvarlige=vir.leder.all %}
			{% endif %}
		</td>
		<td>
			{% for person in vir.personvernkoordinator.all %}
				<a href="{% url 'bruker_detaljer' pk=person.brukernavn.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.informasjonssikkerhetskoordinator.all %}
				<a href="{% url 'bruker_detaljer' pk=person.brukernavn.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.ikt_kontakt.all %}
				<a href="{% url 'bruker_detaljer' pk=person.brukernavn.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.arkitekturkontakter.all %}
				<a href="{% url 'bruker_detaljer' pk=person.brukernavn.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.uke_kam_referanse.all %}
				<a href="{% url 'bruker_detaljer' pk=person.brukernavn.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}>
				{{ person }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock hovedinnhold %}