{% extends "virksomhet_index.html" %}
{% load static %}

{% block ekstrameny %}{% endblock ekstrameny %}

{% block overskrift %}
	Alle virksomheter
{% endblock overskrift %}

{% block hovedinnhold %}

	<p>Virksomhet definert som organisatorisk enhet med unikt organisasjonsnummer. Det vises {{ virksomheter.count }} virksomheter.</p>

	<form action="" autocomplete="off">
		<div class="form-group form-inline">
			<input size="30" style="width: 140px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Virksomhet.." class="form-control form-control-sm">
			<input type="submit" value="Filtrer" class="btn btn-primary btn-sm">
			<a class="btn btn-sm" href="?search_term=__all__">Vis alt</a>
		</div>
	</form>

	<table id="alle_virksomheter" class="tablesorter excel">
	<thead>
	<tr>
		{% if user.is_authenticated %}
		<th class="filter-false"></th>
		{% endif %}
		<th>Virksomhet</th>
		<th>Forkortelse</th>
		<th>Leder</th>
		<th>Antall systemer i bruk</th>
		{% comment %}<th>Antall ansatte</th>{% endcomment %}
		<th>Drift av klientplattform</th>
		{% comment %}<th>Autoriserte bestillere InfoTorget</th>{% endcomment %}
		{% comment %}<th>Autoriserte bestillere mot intern tjenesteleverandør</th>{% endcomment %}
		<th>Koordinator personvern</th>
		<th>Koordinator informasjonssikkerhet</th>
		<th>IKT-hovedkontakt</th>
		<th>Kundeansvarlig hos intern tjenesteleverandør</th>
	</tr>
	</thead>
	<tbody>
	{% for vir in virksomheter %}
	<tr {% if not vir.ordinar_virksomhet %} style="opacity: 0.33;" {% endif %}>
		{% if user.is_authenticated %}
		<td>
				<a href="/admin/systemoversikt/virksomhet/{{ vir.pk }}/change/">
				{% include 'site_edit_button.html' %}</a>
		</td>
		{% endif %}
		{% url 'virksomhet' pk=vir.pk as url_virksomhet %}
		<td>
			<a href="{{ url_virksomhet }}">{{ vir.virksomhetsnavn|truncatewords:6 }}</a>
		</td>
		<td>{{ vir.virksomhetsforkortelse }}</td>

		<td>
			{% if vir.leder_hr %}
				<a href="{% url 'bruker_detaljer' pk=vir.leder_hr.pk %}">{{vir.leder_hr.profile.displayName}}</a>
			{% else %}
				{% include "ansvarlig_include_vis.html" with ansvarlige=vir.leder.all %}
			{% endif %}
		</td>
		<td>{{ vir.systembruk_brukergruppe.all.count }}</td>
		{% comment %}<td>{{ vir.ansatte|default:"-" }}</td>{% endcomment %}
		<td>{{ vir.get_resultatenhet_display|default:"-" }}</td>
		{% comment %}<td>
			{% for person in vir.autoriserte_bestillere_tjenester.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>{% endcomment %}
		{% comment %}<td>
			{% for person in vir.autoriserte_bestillere_tjenester_uke.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>{% endcomment %}
		<td>
			{% for person in vir.personvernkoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.informasjonssikkerhetskoordinator.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.ikt_kontakt.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for person in vir.uke_kam_referanse.all %}
				<a href="{% url 'ansvarlig' person.pk %}"
				{% if person.brukernavn.is_active == False  %}
					style="text-decoration: line-through;"
				{% endif %}
				>
				{{ person }}</a><br>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock hovedinnhold %}