{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	{{ unit }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<form style="float: right;" action="{% url 'virksomhet_enhetsok' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="35" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Søk på avdeling, seksjon eller team" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	{% url 'bruker_detaljer' pk=unit.leder.pk as url_leder %}
	{% url 'enhet_detaljer' pk=unit.direkte_mor.pk as url_enhet %}

	<p>{{ unit }} ledes av <a href="{{url_leder}}">{{ unit.leder.profile.displayName|default:"Ukjent" }}</a>, og ligger under <a href="{{url_enhet}}">{{unit.direkte_mor|default:"Ukjent"}}</a></p>

	{% if sideenheter %}
	{{ unit }} er igjen organisert i:
		<ul style="column-count:3;">
		{% for sideenhet in sideenheter %}
			{% url 'enhet_detaljer' pk=sideenhet.pk as url_enhet %}
			<li><a href="{{url_enhet}}">{{ sideenhet }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}


	{% if systemer_ansvarfor %}
	<hr>
	<h5>Systemansvar for {{ unit }}</h5>
	<table class="tablesorter excel">
	<thead>
		<tr>
			<th>System</th>
			<th>Tilhørende programvare</th>
			<th>Forvalter</th>
			<th>Klassifisering</th>
			<th>Livsløp</th>
		</tr>
	</thead>
	<tbodt>
	{% for system in systemer_ansvarfor %}
		<tr>
			<td>{% include 'system_include_vis.html' with system=system %}</td>
			<td>
				{% for programvare in system.programvarer.all %}
					{{ programvare }} {% if not forloop.last %} og {% endif %}
				{% endfor %}
			</td>
			<td>
				{% for person in system.systemforvalter_kontaktpersoner_referanse.all %}
					{{ person }} {% if not forloop.last %} og {% endif %}
				{% endfor %}
			</td>
			<td>
				{{ system.get_systemeierskapsmodell_display|default:"-" }}
			</td>
			<td>
				{{ system.get_livslop_status_display }}
			</td>
		</tr>
	{% endfor %}
	</tbodt>
	</table>
	{% endif %}

	<hr>

	<h5>Medarbeidere i {{ unit }}</h5>
	<table id="Ansatte_{{virksomhet.virksomhetsforkortelse}}_{{dato}}" class="table table-sm tablesorter excel">
		<thead>
		<tr>
			<th>Type bruker</th>
			<th>Brukernavn</th>
			<th>Navn</th>
			<th>O365-lisens</th>
			<th>Autentiseringsmetoder</th>
			<th>E-post</th>
			{% comment %}<th>Avdeling</th>{% endcomment %}
			<th>Seksjon</th>
		</tr>
		</thead>
		<tbody>
		{% for b in brukere %}
		<tr>
			<td>{{ b.profile.account_type }}</td>
			<td>{{ b.username }}</td>
			<td>{{ b.profile.displayName }}</td>
			<td>{{ b.profile.ny365lisens|default:"Ingen" }}</td>
			<td>{% for method in b.profile.entra_id_auth %}<li>{{method}}</li>{% endfor %}</td>
			<td>{{ b.email }}</td>
			{% comment %}<td>{{ b.profile.avdeling|default:"-" }}</td>{% endcomment %}
			<td>{{ b.profile.org_unit|default:"-" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>


{% endblock hovedinnhold %}

