{% extends "index.html" %}
{% load humanize %}
{% load static %}

{% block underoverskrift %}
	Passordutløp for {{ virksomhet.virksomhetsforkortelse }}
{% endblock underoverskrift %}

{% block main_content %}

<p>Som utløper neste {{periode}} dager</p>

<table id="stickyheader" class="table table-sm tablesorter">
	<thead>
	<tr>
		<th>Bruker</th>
		<th>Passord utløper</th>
	</tr>
	</thead>
	<tbody>
	{% for u in users %}
	<tr>
		<td>{{u}}</td>
		<td>{{u.profile.userPasswordExpiry|naturaltime}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock main_content %}