{% extends "brukere_index.html" %}
{% load humanize %}
{% load static %}

{% block overskrift %}
	{{ unit }}
{% endblock overskrift %}

{% block hovedinnhold %}

	<form action="{% url 'virksomhet_enhetsok' %}" autocomplete="off">
		<div class="form-group form-inline">
			<input size="35" style="width: 350px;" type="search" value="{{ search_term }}" name="search_term"
			placeholder="Søk på avdeling, seksjon eller team" class="form-control form-control-sm">
			<input type="submit" value="Søk" class="btn btn-primary btn-sm">
		</div>
	</form>

	<hr>

	{% url 'bruker_detaljer' pk=unit.leder.pk as url_leder %}
	{% url 'enhet_detaljer' pk=unit.direkte_mor.pk as url_enhet %}

	Ledes av <a href="{{url_leder}}">{{ unit.leder.profile.displayName|default:"Ukjent" }}</a><br>
	Overordnet ledd er <a href="{{url_enhet}}">{{unit.direkte_mor|default:"Ukjent"}}</a><br>
	{% if sideenheter %}
	Underliggende ledd:
		<ul style="column-count:4;">
		{% for sideenhet in sideenheter %}
			{% url 'enhet_detaljer' pk=sideenhet.pk as url_enhet %}
			<li><a href="{{url_enhet}}">{{ sideenhet }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}


	<hr>
	<h5>Systemansvar</h5>

<table class="tablesorter excel">
<thead>
	<tr>
		<th>System</th>
		<th>Forvalter</th>
		<th>Klassifisering</th>
		<th>Livsløp</th>
	</tr>
</thead>
<tbodt>
{% for system in systemer_ansvarfor %}
	<tr>
		<td>{% include 'system_include_vis.html' with system=system %}</td>
		<td>
			{% for person in system.systemforvalter_kontaktpersoner_referanse.all %}
				{{ person }} {% if not forloop.last %} og {% endif %}
			{% endfor %}
		</td>
		<td>
			{{ system.get_systemeierskapsmodell_display|default:"-" }}
		</td>
		<td>
			{{ system.get_livslop_status_display }}
		</td>
	</tr>
{% endfor %}
</tbodt>
</table>



	<hr>

	<h5>Medarbeidere</h5>
	<ul style="column-count:4;">
	{% for u in personer %}
		{% url 'bruker_detaljer' pk=u.pk as url_person %}
		<li><a href="{{url_person}}">{{ u }}</a></li>
	{% empty %}
		<li>Ingen</li>
	{% endfor %}
	</ul>

{% endblock hovedinnhold %}

