{% extends "index.html" %}
{% load humanize %}
{% load static %}
{% load templatetags %}

{% block ekstrajavascript %}
	<script src="{% static 'cytoscape/cytoscape.min.js@3.9.4' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/numeric.min.js@1.2.6' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/layout-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cose-base.js@1.0.1' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-layout-utilities.js@1.0.0' %}" nonce="{{request.csp_nonce}}"></script>
	<script src="{% static 'cytoscape/cytoscape-fcose.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock ekstrajavascript %}

{% block underoverskrift %}
	Grafisk fremstilling av {{virksomhet.virksomhetsforkortelse}}'s organisatoriske enheter
{% endblock underoverskrift %}

{% block main_content %}

<div>
	<div id="cy" style="width: 100%; height: 800px"></div>
	<p>
</div>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
var cy = cytoscape({
	zoomingEnabled: true,
	panningEnabled: true,
	wheelSensitivity: 0.25,
	container: document.getElementById('cy'),
	elements: {
		nodes: [
			{% for node in avhengigheter_graf.nodes %} {{ node|safe }},
			{% endfor %}
		],
		edges: [
			{% for edge in avhengigheter_graf.edges %} {{ edge|safe }},
			{% endfor %}
		],
	},
	style: [
		{
			selector: 'node',
			style: {
				'shape': 'data(shape)',
				'background-color': 'data(color)',
				'label': 'data(name)',
				'font-size': '12px',
				'width': 'data(size)',
				'height': 'data(size)',
			},
		},
		{
			selector: 'node:selected',
			style: {
			},
		},
		{
			selector: 'edge',
			style: {
				'target-arrow-shape': 'triangle',
				'curve-style': 'bezier',
				'line-style': 'data(linestyle)',
			},
		},
		{
			selector: 'edge:selected',
			style: {
			},
		},
		{
			selector: ':parent',
			style: {
				'label': 'data(id)',
				'line-style': "solid",
				'background-color': '#ffffff',
			}
		},
	],
	layout: {
		name: 'breadthfirst',
		animationDuration: 2000, //ms
	},
});
cy.on('tap', 'node', function(){
	if (this.data('href')) {
		try { // your browser may block popups
			window.open( this.data('href'), "_self" );
		} catch(e){ // fall back on url change
			window.location.href = this.data('href');
		}
	}
});
</script>

</div>



{% endblock main_content %}